<div id="color-calibration-modal" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup large popup-module-calibration" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <div id="popup-label">{{getLanguageText "Module Calibration"}}</div>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <form>
                    <div class="module-wrap">
                        <div class="module-inner" id="inner-modules">
                            <!--<div class="module-area">
                                <fieldset>
                                    <legend class="module-title">Modules 1</legend>
                                    <div class="module-list">
                                        <div class="field field-flex">
                                            <label for="modules-red-01" class="field-label">Red</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-01" id="modules-red-01" value="0" minlength="0" maxlength="255" aria-label="from 0 to 255 red 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 53%, rgb(241, 241, 241) 53%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-green-01" class="field-label">Green</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-01" id="modules-green-01" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 green 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 65%, rgb(241, 241, 241) 65%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-blue-01" class="field-label">Blue</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-01" id="modules-blue-01" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 blue 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 27%, rgb(241, 241, 241) 27%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="module-area">
                                <fieldset>
                                    <legend class="module-title">Modules 2</legend>
                                    <div class="module-list">
                                        <div class="field field-flex">
                                            <label for="modules-red-02" class="field-label">Red</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-02" id="modules-red-02" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 red 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 42%, rgb(241, 241, 241) 42%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-green-02" class="field-label">Green</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-02" id="modules-green-02" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 green 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 50%, rgb(241, 241, 241) 50%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-blue-02" class="field-label">Blue</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-02" id="modules-blue-02" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 blue 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 71%, rgb(241, 241, 241) 71%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="module-area">
                                <fieldset>
                                    <legend class="module-title">Modules 3</legend>
                                    <div class="module-list">
                                        <div class="field field-flex">
                                            <label for="modules-red-03" class="field-label">Red</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-03" id="modules-red-03" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 red 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 43%, rgb(241, 241, 241) 43%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-green-03" class="field-label">Green</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-03" id="modules-green-03" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 green 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 72%, rgb(241, 241, 241) 72%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-blue-03" class="field-label">Blue</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-03" id="modules-blue-03" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 blue 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 29%, rgb(241, 241, 241) 29%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="module-area">
                                <fieldset>
                                    <legend class="module-title">Modules 4</legend>
                                    <div class="module-list">
                                        <div class="field field-flex">
                                            <label for="modules-red-04" class="field-label">Red</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-04" id="modules-red-04" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 red 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 55%, rgb(241, 241, 241) 55%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-green-04" class="field-label">Green</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-04" id="modules-green-04" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 green 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 22%, rgb(241, 241, 241) 22%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-blue-04" class="field-label">Blue</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-04" id="modules-blue-04" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 blue 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 74%, rgb(241, 241, 241) 74%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="module-area">
                                <fieldset>
                                    <legend class="module-title">Modules 5</legend>
                                    <div class="module-list">
                                        <div class="field field-flex">
                                            <label for="modules-red-05" class="field-label">Red</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-05" id="modules-red-05" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 red 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 40%, rgb(241, 241, 241) 40%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-green-05" class="field-label">Green</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-05" id="modules-green-05" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 green 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 91%, rgb(241, 241, 241) 91%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                        <div class="field field-flex">
                                            <label for="modules-blue-05" class="field-label">Blue</label>
                                            <div class="field-form slide-bar-wrap">
                                                <div class="slide-color-bar">
                                                    <input type="range" name="module-05" id="modules-blue-05" value="0" minlength="0" maxlength="255" aria-label="0부터 255 사이의 blue 값을 입력하세요" style="background: linear-gradient(to right, rgb(165, 0, 52) 0%, rgb(165, 0, 52) 18%, rgb(241, 241, 241) 18%, rgb(241, 241, 241) 100%);">
                                                </div>
                                                <span class="slide-label">255</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>-->
                        </div>
                    </div>

                    <div class="button-wrap">
                        <button type="button" id="moduleCalibReset" class="btn btn-small" aria-labelledby="{{getLanguageText "Reset"}}">{{getLanguageText "Reset"}}</button>
                    </div>
                </form>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="moduleCalibCancel" class="btn btn-large btn-cancel">{{getLanguageText "Cancel"}}</button>
                    <button type="button" id="moduleCalibOK" class="btn btn-large btn-primary">{{getLanguageText "OK"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>