<style type="text/css">
    #ctrl-controller {
        display: none;
    }
</style>

<!--<script src='/js/design/ledSignage/control_controller.js'></script>-->

<div id="ctrl-controller" class="ctrl-info">
    <!-- Remote controller -->
    <div class="remote-controller">
        <img src="../../assets/images/remote_bg_img.svg" alt="controller">
        <div class="ctrl-area-top">
            <button type="button" class="ctrl-btn icon-home remo" value="home">{{getLanguageText "Home"}}</button>
            <button type="button" class="ctrl-btn icon-hdmi remo" value="inputKey">{{getLanguageText "Input"}}</button>
        </div>
        <div class="ctrl-area-middle">
            <button type="button" class="ctrl-btn icon-setting remo" value="menu">{{getLanguageText "RESET"}}</button>
            <button type="button" class="ctrl-btn icon-install remo" value="signage">{{getLanguageText "Installation Menu"}}</button>

            <button type="button" class="ctrl-btn icon-top remo" value="up">{{getLanguageText "Top"}}</button>
            <button type="button" class="ctrl-btn icon-bottom remo" value="down">{{getLanguageText "Bottom"}}</button>
            <button type="button" class="ctrl-btn icon-left remo" value="left">{{getLanguageText "Left"}}</button>
            <button type="button" class="ctrl-btn icon-right remo" value="right">{{getLanguageText "Right"}}</button>

            <button type="button" class="ctrl-btn icon-ok remo" value="ok">{{getLanguageText "Confirm"}}</button>

            <button type="button" class="ctrl-btn icon-prev remo" value="back">{{getLanguageText "Prev."}}</button>
            <button type="button" class="ctrl-btn icon-exit remo" value="exit">{{getLanguageText "Exit"}}</button>
        </div>
        <div class="ctrl-area-number">
            <button type="button" class="ctrl-btn icon-01 remo" value="1" title="입력">1</button><!-- 숫자: 1 , 소문자: j , 대문자: J -->
            <button type="button" class="ctrl-btn icon-02 remo" value="2" title="입력">2</button><!-- 숫자: 2 , 소문자: abc , 대문자: ABC -->
            <button type="button" class="ctrl-btn icon-03 remo" value="3" title="입력">3</button><!-- 숫자: 3 , 소문자: def , 대문자: DEF -->
            <button type="button" class="ctrl-btn icon-04 remo" value="4" title="입력">4</button><!-- 숫자: 4 , 소문자: ghi , 대문자:  -->
            <button type="button" class="ctrl-btn icon-05 remo" value="5" title="입력">5</button><!-- 숫자: 5 , 소문자: jkl , 대문자:  -->
            <button type="button" class="ctrl-btn icon-06 remo" value="6" title="입력">6</button><!-- 숫자: 6 , 소문자: mno , 대문자:  -->
            <button type="button" class="ctrl-btn icon-07 remo" value="7" title="입력">7</button><!-- 숫자: 7 , 소문자: pqrs , 대문자:  -->
            <button type="button" class="ctrl-btn icon-08 remo" value="8" title="입력">8</button><!-- 숫자: 8 , 소문자: tuv , 대문자:  -->
            <button type="button" class="ctrl-btn icon-09 remo" value="9" title="입력">9</button><!-- 숫자: 9 , 소문자: wxyz , 대문자:  -->
            <button type="button" class="ctrl-btn icon-00 remo" value="0" title="입력">0</button><!-- 숫자: 0 , 특수문자: _*# -->

            <!-- 리모컨 설정에 따라 위 .ctrl-btn 입력 내용이 숫자/소문자/대문자에 따라 변경 -->
            <button type="button" class="ctrl-btn icon-translate remo" value="." title="리모컨 설정 숫자/소문자/대문자 선택">현재 설정 숫자 선택</button>
            <button type="button" class="ctrl-btn icon-clear remo" value="delete">CLEAR</button>
        </div>
    </div>
</div>