<style type="text/css">
#ctrl-external {
    display: none;
}
</style>

<div id="ctrl-external" class="ctrl-info">
    <!--<div class="checkbox">
        <input type="checkbox" name="external-checkbox-type" id="hdmi-01" checked="">
        <label for="hdmi-01">HDMI</label>
    </div>-->
</div>