<!--<style type="text/css">
    #ctrl-picture {
        display: block;
    }
</style>-->

<form>
    <fieldset>
        <!-- 페이지 타이틀 대체 텍스트 -->
        <legend>{{getLanguageText "Control Item"}} {{getLanguageText "Expert"}}</legend>

        <div id="ctrl-picture" class="ctrl-info">
            <!-- 영상모드 -->
            <div class="field field-type-dropdown field-flex field-viedo">
                <div id="label-field-video" class="field-label">{{getLanguageText "Picture Mode"}}</div>
                <div class="field-form">
                    <div id="picture-mode-dropdown" class="dropdown type-c">
                        <button id="picture-mode-dropdown-btn" type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-field-video picture-mode-dropdown-btn" aria-activedescendent="picture-mode-dropdown-0">Standard</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="label-field-video">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">표준 영상</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <span class="field-text" id="pictureUser">(사용자)</span>
                </div>
            </div>

            <!-- 절전모드 -->
            <div class="field field-type-dropdown field-flex field-mode">
                <div id="lable-field-save" class="field-label">{{getLanguageText "Energy Saving"}}</div>
                <div class="field-form">
                    <div id="saving-mode-dropdown" class="dropdown type-c">
                        <button type="button" id="saving-mode-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="lable-field-save saving-mode-btn" aria-activedescendent="saving-mode-dropdown-0">꺼짐</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="lable-field-save">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 명암 -->
            <div class="field field-type-slide field-flex field-contrast" id="contrast-container">
                <label for="contrast" class="field-label">{{getLanguageText "Contrast"}}</label>
                <div class="field-form slide-bar-wrap">
                    <div class="slide-color-bar">
                        <input type="range" name="contrast" id="contrast" value="0" minlength="0" maxlength="100" aria-label="Input contrast from 0 to 100">
                    </div>
                    <span class="slide-label" id="contrastVal">48</span>
                </div>
            </div>

            <!-- 밝기 -->
            <div class="field field-type-slide field-flex field-brightness" id="brightness-container">
                <label for="brightness" class="field-label">{{getLanguageText "Brightness"}}</label>
                <div class="field-form slide-bar-wrap">
                    <div class="slide-color-bar">
                        <input type="range" name="brightness" id="brightness" value="0" minlength="0" maxlength="100" aria-label="Input brightness from 0 to 100">
                    </div>
                    <span class="slide-label" id="brightnessVal">50</span>
                </div>
            </div>

            <!-- 전문가 start 그 외 일반 공통 -->
            <!-- 수평 선명도 -->
            <div class="field field-type-slide field-flex field-horizontal" id="hSharpness-container">
                <label for="hSharpness" class="field-label">{{getLanguageText "H Sharpness"}}</label>
                <div class="field-form slide-bar-wrap">
                    <div class="slide-color-bar">
                        <input type="range" name="hSharpness" id="hSharpness" value="0" minlength="0" maxlength="50" aria-label="Input horizontal sharpness from 0 to 50">
                    </div>
                    <span class="slide-label" id="hSharpnessVal">0</span>
                </div>
            </div>

            <!-- 수직 선명도 -->
            <div class="field field-type-slide field-flex field-vertical" id="vSharpness-container">
                <label for="vSharpness" class="field-label">{{getLanguageText "V Sharpness"}}</label>
                <div class="field-form slide-bar-wrap">
                    <div class="slide-color-bar">
                        <input type="range" name="vSharpness" id="vSharpness" value="0" minlength="0" maxlength="50" aria-label="Input vertical sharpness from 0 to 50">
                    </div>
                    <span class="slide-label" id="vSharpnessVal">50</span>
                </div>
            </div>
            <!-- 전문가 end -->

            <!-- 선명도 -->
            <div class="field field-type-slide field-flex field-definition" id="sharpness-container">
                <label for="sharpness" class="field-label">{{getLanguageText "sharpness"}}</label>
                <div class="field-form slide-bar-wrap">
                    <div class="slide-color-bar">
                        <input type="range" name="sharpness" id="sharpness" value="0" minlength="0" maxlength="100" aria-label="Input sharpness from 0 to 100">
                    </div>
                    <span class="slide-label" id="sharpnessVal">0</span>
                </div>
            </div>

            <!-- 색 -->
            <div class="field field-type-slide field-flex field-color-01" id="color-container">
                <label for="color" class="field-label">{{getLanguageText "Color"}}</label>
                <div class="field-form slide-bar-wrap">
                    <div class="slide-color-bar">
                        <input type="range" name="color" id="color" value="0" minlength="0" maxlength="100" aria-label="Input color from 0 to 100">
                    </div>
                    <span class="slide-label" id="colorVal">50</span>
                </div>
            </div>

            <!-- 색상 -->
            <div class="field field-type-slide field-flex field-color-02" id="tint-container">
                <label for="tint" class="field-label">{{getLanguageText "Tint"}}</label>
                <div class="field-form slide-bar-wrap">
                    <div class="slide-color-bar">
                        <input type="range" name="tint" id="tint" value="0" minlength="-50" maxlength="50" aria-label="Input tint from -50 to 50">
                    </div>
                    <span class="slide-label" id="tintVal">50</span>
                </div>
            </div>

            <!-- 감마 -->
            <div class="field field-type-dropdown field-flex field-gamma">
                <div id="label-field-gamma" class="field-label">{{getLanguageText "Gamma"}}</div>
                <div class="field-form">
                    <div id="gamma-dropdown" class="dropdown type-c">
                        <button type="button" id="gamma-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-field-gamma gamma-dropdown-btn" aria-activedescendent="gamma-dropdown-0">Normal</button>
                        <div class="dropdown-menu">
                            <ul class="lists"  role="listbox" aria-labelledby="label-field-gamma">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {{#supportLedFilm}}
            {{else}}
                <div class="field field-type-dropdown field-flex field-black-label">
                    <div id="label-colorTempSelect" class="field-label">{{getLanguageText "Color Temperature"}}</div>
                    <div class="field-form">
                        <div id="colorTempSelect" class="dropdown type-c">
                            <button type="button" id="colorTempSelect-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-black colorTempSelect-btn" aria-activedescendent="colorTempSelect-0">{{getLanguageText "Low"}}</button>
                            <div class="dropdown-menu">
                                <ul class="lists" role="listbox" aria-labelledby="label-colorTempSelect">
                                    <li class="list" >
                                        <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                    </li>
                                    <li class="list" >
                                        <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                    </li>
                                    <li class="list" >
                                        <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {{/supportLedFilm}}

            <!-- 블랙라벨 -->
            <div class="field field-type-dropdown field-flex field-black-label">
                <div id="label-black-level-dropdown" class="field-label">{{getLanguageText "Black Level"}}</div>
                <div class="field-form">
                    <div id="black-level-dropdown" class="dropdown type-c">
                        <button type="button" id="black-level-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-black black-level-dropdown-btn" aria-activedescendent="black-level-dropdown-0">{{getLanguageText "Low"}}</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="label-black-level-dropdown">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{#supportLedFilm}}
                <!-- 밝기 스케줄 -->
                <div class="field field-type-switch field-flex field-brightness-schedule">
                    <div class="field-label">{{getLanguageText "Brightness Scheduling"}}</div>
                    <div class="field-form">
                        <div class="switch">
                            <label for="brightnessScheduleEnable" class="switch-controller" >{{getLanguageText "Brightness Scheduling"}}</label>
                            <input type="checkbox" id="brightnessScheduleEnable" name="brightnessScheduleEnable" role="switch" aria-checked="true" checked="">
                            <span class="slider"></span>
                        </div>
                    </div>
                    <!-- 밝기 스케줄이 ON 인 경우 노출 -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-small" aria-haspopup="true" id="brightnessScheduleAdd">{{getLanguageText "ADD"}}</button>
                        <button type="button" class="btn btn-small" id='brightnessScheduleDelAll'>{{getLanguageText "Delete All"}}</button>
                    </div>
                </div>
            {{/supportLedFilm}}
        </div>


    </fieldset>
</form>

