<form>
    <fieldset>
        <!-- 페이지 타이틀 대체 텍스트 -->
        <legend>{{getLanguageText "Control Item"}} {{getLanguageText "Time"}}</legend>

        <div class="ctrl-info">
            <!-- 자동설정 -->
            <div class="field field-type-switch field-flex">
                <div class="field-label">{{getLanguageText "Set Automatically"}}</div>
                <div class="field-form">
                    <div class="switch">
                        <label for="time-switch" class="switch-controller" >활성화</label>
                        <input type="checkbox" id="time-switch" name="time-switch" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                </div>
            </div>
            <!-- 날짜 , 자동설정 OFF 일때 노출 -->
            <div class="field field-flex field-date-group" id="time-date-group">
                <div id="label-field-date" class="field-label">{{getLanguageText "Date"}}</div>
                <div class="field-form flex">
                    <div id="year-dropdown" class="dropdown type-c">
                        <button type="button" id="year-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-field-date year-dropdown-btn" aria-activedescendent="year-dropdown-0">2021</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="label-field-date">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                        <span id="name-year" class="unit">{{getLanguageText "year"}}</span>
                    </div>

                    <!--
                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                    -->
                    <div id="month-dropdown" class="dropdown type-c">
                        <button type="button" id="month-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-field-date month-dropdown-btn" aria-activedescendent="month-dropdown-0">5</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="label-field-date">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                        <span id="name-month" class="unit">{{getLanguageText "Mon"}}</span>
                    </div>

                    <!--
                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                    -->
                    <div id="day-dropdown" class="dropdown type-c">
                        <button type="button" id="day-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-field-date day-dropdown-btn" aria-activedescendent="day-dropdown-0">14</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="label-field-date">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                        <span id="name-day" class="unit">{{getLanguageText "Days"}}</span>
                    </div>

                </div>
            </div>

            <!-- 시간 , 자동설정 OFF 일때 노출 -->
            <div class="field field-flex field-time-group" id="time-group">
                <div id="label-field-time" class="field-label">{{getLanguageText "Time"}}</div>
                <div class="field-form flex">
                    <div id="hour-dropdown" class="dropdown type-c">
                        <button type="button" id="hour-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-field-time hour-dropdown-btn" aria-activedescendent="hour-dropdown-0">3</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="label-field-time">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                        <span id="name-hour" class="unit">{{getLanguageText "Hour"}}</span>
                    </div>

                    <!--
                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                    -->
                    <div id="min-dropdown" class="dropdown type-c">
                        <button type="button" id="min-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-field-time min-dropdown-btn">46</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="label-field-time">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                        <span id="name-min" class="unit">{{getLanguageText "Mins"}}</span>
                    </div>

                </div>
            </div>
        </div>

    </fieldset>
</form>
