<style type="text/css">
    #ctrl-network {
        display: none;
    }
</style>

<form>
    <fieldset>
        <!-- 페이지 타이틀 대체 텍스트 -->
        <legend>{{getLanguageText "Control Item"}} {{getLanguageText "Network"}}</legend>

        <div id="ctrl-network" class="ctrl-info">
            <!-- 자동설정 -->
            <div class="field field-type-switch field-flex">
                <div class="field-label">{{getLanguageText "Set Automatically"}}</div>
                <div class="field-form">
                    <div class="switch">
                        <label for="network-switch" class="switch-controller" >{{getLanguageText "Set Automatically"}}</label>
                        <input type="checkbox" id="network-switch" name="network-switch" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                </div>
            </div>
            <!-- 형식 -->
            <div class="field field-type-input field-flex">
                <div id="lable-field-type" class="field-label">{{getLanguageText "Type"}}</div>
                <div class="field-form">
                    <div id="type-dropdown" class="dropdown type-c">
                        <button type="button" id="type-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="lable-field-type type-dropdown-btn" aria-activedescendent="type-dropdown-0">{{getLanguageText "Off"}}</button>
                        <div class="dropdown-menu">
                            <ul class="lists" role="listbox" aria-labelledby="lable-field-type">
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="true">option</a>
                                </li>
                                <li class="list" >
                                    <a href="javascript:void(0);" role="option" aria-selected="false">option</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAC주소 , 자동설정 ON 일때 input readonly -->
            <div class="field field-type-input field-flex">
                <label for="network-mac" class="field-label">{{getLanguageText "MAC Address"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <input type="text" id="network-mac" name="network-mac" value="DA:33:67:9E:12:4E" readonly />
                    </div>
                </div>
            </div>
            <!-- IP , 자동설정 ON 일때 input readonly -->
            <div class="field field-type-input field-flex">
                <label for="network-ip" class="field-label">{{getLanguageText "IP Address"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <input type="text" id="network-ip" name="network-ip" value="1.231.226.54" />
                    </div>
                </div>
            </div>
            <!-- 서브넷 마스크 , 자동설정 ON 일때 input readonly -->
            <div class="field field-type-input field-flex">
                <label for="network-subnet" class="field-label subnetMaskTxt">{{getLanguageText "Subnet Mask"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <input type="text" id="network-subnet" name="network-subnet" value="255.255.255.0" />
                    </div>
                </div>
            </div>
            <!-- 게이트웨이 , 자동설정 ON 일때 input readonly -->
            <div class="field field-type-input field-flex">
                <label for="network-gateway" class="field-label">{{getLanguageText "Gateway"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <input type="text" id="network-gateway" name="network-gateway" value="1.231.226.1" />
                    </div>
                </div>
            </div>
            <!-- DNS 서버 , 자동설정 ON 일때 input readonly -->
            <div class="field field-type-input field-flex">
                <label for="network-dns" class="field-label">{{getLanguageText "DNS Server"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <input type="text" id="network-dns" name="network-dns" value="210.220.163.82" />
                    </div>
                </div>
            </div>

        </div>

    </fieldset>
</form>

