<!--<script src='/js/modal/colorFilmLayout.js'></script>-->

<div id="layoutEditorModal" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup large popup-edit-layout popup-test-pattern" role="dialog" aria-labelledby="layoutEditorModalTitle" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="layoutEditorModalTitle">{{getLanguageText "Layout Editor"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <div class="layout-edit-wrap">
                    <div class="left edit-view">
                        <!-- 버튼 -->
                        <div class="eit-top-area">
                            <div class="button-container senderSetting">
                                <button id="addSenderBtn" type="button" class="btn btn-small btn-item-add">{{getLanguageText "Add Sender"}}</button>
                                <button id="removeSenderBtn" type="button" class="btn btn-small btn-item-delete disabled" disabled>{{getLanguageText "Delete"}}</button>

                                <button id="patternAllOn" type="button" class="btn btn-small btn-test-pattern disabled" disabled>{{getLanguageText "Test Pattern"}}</button>
                            </div>
                            <div class="button-container unitSetting" style="display: none">
                                <button type="button" id="addUnitBtn" class="btn btn-small btn-item-add">{{getLanguageText "Add Unit"}}</button>
                                <button type="button" id="removeUnitBtn" class="btn btn-small btn-item-delete">{{getLanguageText "Delete"}}</button>
                            </div>
                        </div>
                        <!-- 센더 영역 -->
                        <div class="edit-view-list senderSetting" id="layoutEditorCanvasWraper" style="position: relative">
                            <img id='backgroundImg' style="position: absolute; left: 0px; top: 0px; width:824px; height:464px;" alt="background"  src="/assets/images/blank_white.gif" />
                            <!--<div class="view-item draggable ui-widget-content" id="sender-1">
                                <div class="title">센더 1</div>
                                &lt;!&ndash; 이 영역에 센더 삽입 &ndash;&gt;
                                <img src="../../assets/images/sample//thumb_sample_01.png" alt="">
                            </div>
                            <div class="view-item draggable ui-widget-content" id="sender-2">
                                <div class="title">센더 2</div>
                                &lt;!&ndash; 이 영역에 센더 삽입 &ndash;&gt;
                            </div>
                            <div class="view-item draggable ui-widget-content" id="sender-3">
                                <div class="title">센더 3</div>
                                &lt;!&ndash; 이 영역에 센더 삽입 &ndash;&gt;
                            </div>
                            <div class="view-item draggable ui-widget-content" id="sender-4">
                                <div class="title">센더 4</div>
                                &lt;!&ndash; 이 영역에 센더 삽입 &ndash;&gt;
                            </div>-->
                        </div>

                        <div class="edit-view-list unitSetting" id="unitEditWraper" style="display: none;overflow: hidden;position: relative;">
                            <img class="unit-area" id="unitBackgroundImg" style="width: 824px; height:464px;" alt="background" src="/assets/images/blank_white.gif" />
                        </div>

                    </div>
                    <div class="right edit-contents senderSetting" id="layoutControlPanel">
                        <div class="eidt-items">
                            <!-- 속성 -->
                            <div class="field field-flex field-item-01">
                                <div id="label-property" class="field-label">{{getLanguageText "property"}}</div>
                                <div class="field-form flex">
                                    <div id="senderSelect" class="dropdown type-c">
                                        <button type="button" id="senderSelect-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-property senderSelect-btn" aria-activedescendent="senderSelect-0">{{getLanguageText "Sender"}}3</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" role="listbox" aria-labelledby="label-property">
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                                </li>
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                                </li>
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 입력 방향 -->
                            <div class="field field-flex field-item-02">
                                <div id="label-direction" class="field-label">{{getLanguageText "Input Direction"}}</div>
                                <div class="field-form flex">
                                    <div id="inputSelect" class="dropdown type-c">
                                        <button type="button" id="inputSelect-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-direction inputSelect-btn" aria-activedescendent="inputSelect-0">{{getLanguageText "Bottom"}}</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists">
                                                <!--
                                                  선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                                -->
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                                </li>
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                                </li>
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 위치 -->
                            <div class="field field-flex field-item-03">
                                <div class="field-label">{{getLanguageText "Position"}}</div>
                                <div class="field-form flex">
                                    <label for="senderX" class="item-x">X</label>
                                    <div class="input-box">
                                        <input type="number" id="senderX" name="left" value="0" placeholder="0">
                                    </div>

                                    <label for="senderY" class="item-y">Y</label>
                                    <div class="input-box">
                                        <input type="number" id="senderY" name="top" value="0" placeholder="0">
                                    </div>
                                </div>
                            </div>
                            <!-- 해상도 -->
                            <div class="field field-flex field-item-04">
                                <div class="field-label">{{getLanguageText "Resolution"}}</div>
                                <div class="field-form flex">
                                    <div class="input-box">
                                        <input type="number" id="senderW" name="width" value="960" aria-label={{getLanguageText "Landscape"}} disabled>
                                    </div>

                                    <div class="item-middle"></div>

                                    <div class="input-box">
                                        <input type="number" id="senderH" name="height" value="540" aria-label={{getLanguageText "Portrait"}} disabled>
                                    </div>
                                </div>
                            </div>
                            <!-- 컴포넌트 -->
                            <div class="field field-flex field-item-05">
                                <label for="unitCount" class="field-label">{{getLanguageText "Component"}}</label>
                                <div class="field-form flex">
                                    <div class="input-box">
                                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                        <input type="text" id="unitCount" name="unitCount" class="readonly" readonly value={{getLanguageText "X Units"}}>
                                        <button type="button" class="btn-input-remove hide" >input delete</button>
                                    </div>
                                    <div class="button-container">
                                        <button id="unitSetting" type="button" class="btn btn-small btn-unit-setting disabled" disabled>{{getLanguageText "Unit Settings"}}</button>
                                        <!-- 활성화 시 .disabled 삭제 -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layout-ctrl-wrap">
                            <!-- 물리적 레이아웃 -->
                            <div class="field field-layout">
                                <div class="field-label">
                                    <span>{{getLanguageText "Physical Layout"}}</span>
                                    <span class="sub-label">{{getLanguageText "Pixel Pitch"}} : <span id="pixelPitchTxt">5nm</span></span>
                                </div>
                            </div>
                            <!-- 주화면까지 거리 -->
                            <div class="field gray-box">
                                <div class="field-label">{{getLanguageText "Distance to main screen"}}</div>
                                <div class="field-form flex">
                                    <label for="physicalX" class="item-x">X</label>
                                    <div class="input-box">
                                        <input type="number" id="physicalX" min="0" placeholder="0">
                                    </div>
                                    <div class="item-cm">(cm)</div>

                                    <label for="physicalY" class="item-y">Y</label>
                                    <div class="input-box">
                                        <input type="number" id="physicalY" min="0" placeholder="0">
                                    </div>

                                    <div class="item-cm">(cm)</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="right edit-contents unitSetting" style="display:none;">
                        <form>
                            <fieldset>
                                <legend aria-labelledby="popup-label"></legend>
                                <div class="eidt-items">
                                    <!-- 위치 -->
                                    <div class="field field-flex field-item-location">
                                        <div id="label-position" class="field-label">{{getLanguageText "Position"}}</div>
                                        <div class="field-form flex">
                                            <label for="unitX" class="item-x">X</label>
                                            <div class="input-box">
                                                <input type="text" id="unitX" name="unitX" value="0" placeholder="0" aria-describedby="label-position">
                                                <button type="button" class="btn-input-remove hide">input delete</button>
                                            </div>

                                            <label for="unitY" class="item-y">Y</label>
                                            <div class="input-box">
                                                <input type="text" id="unitY" name="unitY" value="0" placeholder="0" aria-describedby="label-position">
                                                <button type="button" class="btn-input-remove hide">input delete</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Port Selection -->
                                    <div class="field field-flex field-item-port">
                                        <div class="field-label">{{getLanguageText "Port Selection"}}</div>
                                        <div class="field-form flex">
                                            <div id="portSelect" class="dropdown type-c">
                                                <button type="button" id="port-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="portSelect port-btn" aria-activedescendent="port-0101" aria-expanded="false">
                                                    -
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="portSelect">
                                                        <li class="list" role="option" id="port-0101" aria-selected="true">option</li>
                                                        <li class="list" role="option" id="port-0102" aria-selected="false">option</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Rows -->
                                    <div class="field field-flex field-item-rows">
                                        <div class="field-label">{{getLanguageText "Rows"}}</div>
                                        <div class="field-form flex">
                                            <div id="rowSelect" class="dropdown type-c">
                                                <button type="button" id="rows-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="rowSelect rows-btn" aria-activedescendent="rows-0101" aria-expanded="false">
                                                    2
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="rowSelect">
                                                        <li class="list" role="option" id="rows-0101" aria-selected="true">option</li>
                                                        <li class="list" role="option" id="rows-0102" aria-selected="false">option</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Trimming -->
                                    <div class="field field-flex field-item-trim">
                                        <div id="label-trim" class="field-label">{{getLanguageText "Trimming"}}</div>
                                        <div class="field-form">
                                            <div class="field-row">
                                                <div class="input-box">
                                                    <input type="text" id="trim-01" name="trim-01" class="readonly" readonly="" value="Left Port" aria-describedby="label-trim">
                                                    <button type="button" class="btn-input-remove hide">input delete</button>
                                                </div>
                                                <div class="button-container">
                                                    <button type="button" class="btn btn-small" disabled="" aria-describedby="trim-01">{{getLanguageText "Cut Edge"}}</button>
                                                </div>
                                            </div>
                                            <div class="field-row">
                                                <div class="input-box">
                                                    <input type="text" id="trim-02" name="trim-02" class="readonly" readonly="" value="Right Port" aria-describedby="label-trim">
                                                    <button type="button" class="btn-input-remove hide">input delete</button>
                                                </div>
                                                <div class="button-container">
                                                    <button type="button" class="btn btn-small" disabled="" aria-describedby="trim-02">{{getLanguageText "Cut Edge"}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Test Pattern -->
                                    <div class="field field-flex field-item-pattern">
                                        <div id="label-pattern" class="field-label">{{getLanguageText "Test Pattern"}}</div>
                                        <div class="field-form">
                                            <div class="button-container">
                                                <button type="button" class="btn btn-small" disabled="" aria-describedby="label-pattern">{{getLanguageText "Test Pattern On"}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    
                    <!-- 테스트 위한- -->
                    <div class="right edit-contents trimPanel" id="cuttingPanel" style="display: none">
                        <div style='width:90%; color:white; margin-left: 15px;'>
                            <h3 style='margin-top: 15px;'><span id='cuttingSubject'></span><hr style='margin: 3px;'></h3>
                        </div>

                        <div style='width:200px; margin:20px 0px 20px 40px;'>
                            <input class=custom id='cuttingRange' type=range min=0 max=27 value=0 step=1>
                        </div>

                        <table id='edgeTable' style='width: 200px; height: 200px; margin-left:40px; background-color: white;'>
                        </table>
                        <button id="cutCancelBtn">Cancel</button>
                        <button id="cutOKBtn">OK</button>
                    </div>
                    <!-- 테스트 위한- -->
                    <div class="right edit-contents" id="patternPanel" style="display: none">
                        <form>
                            <fieldset>
                                <legend aria-labelledby="pattern-id"></legend>

                                <div class="layout-ctrl-wrap">
                                    <!-- 물리적 레이아웃 -->
                                    <div class="field field-flex field-testpattern">
                                        <div id="pattern-id" class="field-label" aria-hidden="true">Test Pattern</div>
                                        <div class="field-form flex">
                                            <div class="color-title" aria-hidden="true">Color</div>
                                            <div class="pattern-chip printPattern" style="background-color: rgb(0,0,0);">
                                                <span class="ir" id="preview-id" >Test Pattern color preview</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field gray-box">
                                        <div class="field-form">
                                            <div class="field field-flex">
                                                <label for="patternRangeR" class="field-label">Red</label>
                                                <div class="field-form slide-bar-wrap">
                                                    <div class="slide-color-bar">
                                                        <input type="range" name="patternRangeR" id="patternRangeR" value="0" min="0" max="255" aria-label="input red value from 0 to 255">
                                                    </div>
                                                    <span id="patternRangeRVal" class="slide-label patternVal">255</span>
                                                </div>
                                            </div>
                                            <div class="field field-flex">
                                                <label for="patternRangeG" class="field-label">Green</label>
                                                <div class="field-form slide-bar-wrap">
                                                    <div class="slide-color-bar">
                                                        <input type="range" name="patternRangeG" id="patternRangeG" value="0" min="0" max="255" aria-label="input green value from 0 to 255">
                                                    </div>
                                                    <span id="patternRangeGVal" class="slide-label">125</span>
                                                </div>
                                            </div>
                                            <div class="field field-flex">
                                                <label for="patternRangeB" class="field-label">Blue</label>
                                                <div class="field-form slide-bar-wrap">
                                                    <div class="slide-color-bar">
                                                        <input type="range" name="patternRangeB" id="patternRangeB" value="0" min="0" max="255" aria-label="input blue value from 0 to 255">
                                                    </div>
                                                    <span id="patternRangeBVal" class="slide-label">0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <button id="patternDone">Done</button>
                    </div>
                </div>


            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="btn-layout-cancel" class="btn btn-large btn-cancel">{{getLanguageText "Cancel"}}</button>
                    <button type="button" id="btn-layout-save" class="btn btn-large btn-primary">{{getLanguageText "Save"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>