<!-- popup wrapper -->
<div id="firstUseModal" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup popup-first-user" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <div id="popup-label">First User</div>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <form>
                    <fieldset>
                        <legend aria-labelledby="popup-label"></legend>
                        <div class="field-wapper">
                            <div class="field field-general">
                                <div class="field-label">{{getLanguageText "general"}}</div>
                                <div class="field-form">
                                    <div class="field field-flex general-name">
                                        <label for="signageName" class="field-label">{{getLanguageText "Signage Name"}}</label>
                                        <div class="field-form">
                                            <div class="input-box">
                                                <input type="text" id="signageName" name="general-name-id" value="LG SIGNAGE LCLG002" />
                                                <button type="button" class="btn-input-remove hide">input delete</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-flex general-language">
                                        <div id="general-language-id" class="field-label">{{getLanguageText "Language"}}</div>
                                        <div class="field-form">
                                            <div id="languageSelect" class="dropdown type-c">
                                                <button type="button" id="language-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="general-language-id language-btn" aria-activedescendent="language-0101" aria-expanded="false">
                                                    English
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="general-language-id">
                                                        <li class="list" role="option" id="language-0101" aria-selected="true">English</li>
                                                        <li class="list" role="option" id="language-0102" aria-selected="false">Korea</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-flex general-pitch">
                                        <div id="general-pitch-id" class="field-label">{{getLanguageText "Pitch"}}</div>
                                        <div class="field-form">
                                            <div id="ledPitchSelect" class="dropdown type-c">
                                                <button type="button" id="pitch-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="general-pitch-id pitch-btn" aria-activedescendent="pitch-0101" aria-expanded="false">
                                                    English
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="general-pitch-id">
                                                        <li class="list" role="option" id="pitch-0101" aria-selected="true">English</li>
                                                        <li class="list" role="option" id="pitch-0102" aria-selected="false">Korea</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-flex general-input">
                                        <div id="general-input-id" class="field-label">{{getLanguageText "Input"}}</div>
                                        <div class="field-form">
                                            <div id="inputSelect" class="dropdown type-c">
                                                <button type="button" id="input-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="general-input-id input-btn" aria-activedescendent="input-0101" aria-expanded="false">
                                                    HDMI1
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="general-input-id">
                                                        <li class="list" role="option" id="input-0101" aria-selected="true">HDMI1</li>
                                                        <li class="list" role="option" id="input-0102" aria-selected="false">HDMI2</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field field-flex general-led" style="display: none;">
                                        <div id="general-pitch-id" class="field-label">{{getLanguageText "SELECT TRANSPARENT LED TYPE"}}</div>
                                        <div class="field-form">
                                            <div id="ledTypeSelect" class="dropdown type-c">
                                                <button type="button" id="led-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="general-led-id led-btn" aria-activedescendent="led-0101" aria-expanded="false">
                                                    English
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="general-led-id">
                                                        <li class="list" role="option" id="led-0101" aria-selected="true">Mono</li>
                                                        <li class="list" role="option" id="led-0102" aria-selected="false">Color</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //General -->
                            <div class="field field-timedate">
                                <div class="field-label">{{getLanguageText "Time & Date"}}</div>
                                <div class="field-form">
                                    <div class="field field-flex timedate-continent">
                                        <label for="timedate-continent-id" class="field-label">{{getLanguageText "Continent"}}</label>
                                        <div class="field-form">
                                            <div id="continentSelect" class="dropdown type-c">
                                                <button type="button" id="continent-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="timedate-continent-id continent-btn" aria-activedescendent="continent-0101" aria-expanded="false">
                                                    North America
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="timedate-continent-id">
                                                        <li class="list" role="option" id="continent-0101" aria-selected="true">English</li>
                                                        <li class="list" role="option" id="continent-0102" aria-selected="false">Korea</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-flex timedate-country">
                                        <div id="timedate-country-id" class="field-label">{{getLanguageText "Country/Territory"}}</div>
                                        <div class="field-form">
                                            <div id="countrySelect" class="dropdown type-c">
                                                <button type="button" id="country-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="timedate-country-id country-btn" aria-activedescendent="country-0101" aria-expanded="false">
                                                    English
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="timedate-country-id">
                                                        <li class="list" role="option" id="country-0101" aria-selected="true">United States of America</li>
                                                        <li class="list" role="option" id="country-0102" aria-selected="false">United States of America</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-flex timedate-city">
                                        <div id="timedate-city-id" class="field-label">{{getLanguageText "City"}}</div>
                                        <div class="field-form">
                                            <div id="citySelect" class="dropdown type-c">
                                                <button type="button" id="city-btn" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="timedate-city-id city-btn" aria-activedescendent="city-0101" aria-expanded="false">
                                                    English
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="lists" role="listbox" aria-labelledby="timedate-city-id">
                                                        <li class="list" role="option" id="city-0101" aria-selected="true">English</li>
                                                        <li class="list" role="option" id="city-0102" aria-selected="false">Korea</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //Time & Date -->
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="modalActionBtn" class="btn btn-large btn-primary"
                            onclick="togglePopup('btn-forgot-password', 'popup-default')">{{getLanguageText "Save"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
<!-- popup wrapper -->