<script src='/js/design/modal/log.js'></script>

<div id="log-popup" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup large popup-log-report" role="dialog" aria-labelledby="log-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="log-label">{{getLanguageText "Log Report"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <!-- Data List Container : LED Controller ID -->
                <div class="filter-container space-between">
                    <div class="left-side">
                        <!-- Date picker -->
                        <div class="field">
                            <div class="field-form flex">
                                <div id="row-dropdown" class="dropdown type-c">
                                    <button id="row-dropdown-label" type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="log-label row-dropdown-label" aria-activedescendent="row-dropdown-0">30 {{getLanguageText "Row"}}</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists" role="listbox" aria-labelledby="row-dropdown-id">
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="filter-dropdown" class="dropdown type-c">
                                    <button type="button" id="filter-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="log-label filter-dropdown-btn" aria-activedescendent="filter-dropdown-0">ALL</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists" role="listbox" aria-labelledby="row-dropdown-id">
                                            <li class="list" ><a href="javascript:void(0);" role="option"
                                                                                         aria-selected="false">Option1</a>
                                            </li>
                                            <li class="list" ><a href="javascript:void(0);" role="option"
                                                                                         aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" ><a href="javascript:void(0);" role="option"
                                                                                         aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Date picker -->
                    </div>

                    <div class="right-side">
                        <div class="button-container">
                            <button id="btn-log-download" type="button" class="btn btn-download-icon">Download</button>
                        </div>
                    </div>
                </div>

                <div class="log-table">
                    <!-- Data list bottom -->
                    <div class="table">
                        <div class="table-wrapper no-scroll">
                            <div class="table-box">
                                <table id="log-table">
                                    <caption>Consists of {{getLanguageText "Log Report"}} - {{getLanguageText "Date"}}, {{getLanguageText "Sensor"}}, {{getLanguageText "Event"}}, {{getLanguageText "Status"}}</caption>
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="text-block">{{getLanguageText "Date"}}</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-block">{{getLanguageText "Sensor"}}</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-block">{{getLanguageText "Event"}}</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-block">{{getLanguageText "Status"}}</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody style="overflow: auto">
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>SIGNAL</td>
                                        <td>Input</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>LEDUNIT</td>
                                        <td>Power S#1</td>
                                        <td>NG</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>SIGNAL</td>
                                        <td>Input</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>LEDUNIT</td>
                                        <td>Power S#1</td>
                                        <td>NG</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>SIGNAL</td>
                                        <td>Input</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>LEDUNIT</td>
                                        <td>Power S#1</td>
                                        <td>NG</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>SIGNAL</td>
                                        <td>Input</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>LEDUNIT</td>
                                        <td>Power S#1</td>
                                        <td>NG</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>SIGNAL</td>
                                        <td>Input</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>2021-02-17 20:18</td>
                                        <td>LEDUNIT</td>
                                        <td>Power S#1</td>
                                        <td>NG</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="convert-table-to-list">
                            <div class="table-header">
                                <div class="row">
                                    <div class="thead">{{getLanguageText "Date"}}</div>
                                    <div class="thead">{{getLanguageText "Sensor"}}</div>
                                </div>
                            </div>

                            <ul class="table-body" id="log-table-reflow">
                                <li class="table-row">
                                    <div class="summary-data">
                                        <div class="row">
                                            <div class="table-cell">
                                                2021-06-15
                                            </div>
                                            <div class="table-cell">
                                                <button type="button" role="listbox" class="btn btn-expand" aria-expanded="false">Data</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-data-box">
                                        <ul class="all-data">
                                            <li>
                                                <span class="field-label">{{getLanguageText "Event"}}</span>
                                                <span class="field-content">Data</span>
                                            </li>
                                            <li>
                                                <span class="field-label">{{getLanguageText "Status"}}</span>
                                                <span class="field-content">Data</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="table-row">
                                    <div class="summary-data">
                                        <div class="row">
                                            <div class="table-cell">
                                                2021-06-15
                                            </div>
                                            <div class="table-cell">
                                                <button type="button" role="listbox" class="btn btn-expand" aria-expanded="false">2021-06-15</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-data-box">
                                        <ul class="all-data">
                                            <li>
                                                <span class="field-label">{{getLanguageText "Event"}}</span>
                                                <span class="field-content">Data</span>
                                            </li>
                                            <li>
                                                <span class="field-label">{{getLanguageText "Status"}}</span>
                                                <span class="field-content">Data</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Pagination -->
                        <div class="pagination long-pagination">
                            <a href="javascript:void(0);" type="button" class="page go-before" aria-label="First" title="First"></a>
                            <a href="javascript:void(0);" type="button" class="page go-prev" title="Before"></a>

                            <div class="pager">
                                <a href="javascript:void(0);" type="button" class="page page-1 current" data-num=1
                                   aria-label="1 page."><span>1</span></a>
                                <a href="javascript:void(0);" type="button" class="page page-2" data-num=2
                                   aria-label="2 page."><span>2</span></a>
                                <a href="javascript:void(0);" type="button" class="page page-3" data-num=3
                                   aria-label="3 page."><span>3</span></a>
                                <a href="javascript:void(0);" type="button" class="page page-4" data-num=4
                                   aria-label="4 page."><span>4</span></a>
                                <a href="javascript:void(0);" type="button" class="page page-5" data-num=5
                                   aria-label="5 page."><span>5</span></a>
                                <!-- <button type="button" class="page page-ellipsis"><span>...</span></button> -->
                            </div>

                            <a href="javascript:void(0);" type="button" class="page go-next" title="Next"></a>
                            <a href="javascript:void(0);" type="button" class="page go-after" title="Last"></a>
                        </div>

                        <!-- mini-pagination은 400% 확대 시에만 출력됩니다. -->
                        <div class="pagination mini-pagination">
                            <a href="javascript:void(0);" type="button" class="page go-before" title="First"></a>
                            <a href="javascript:void(0);" type="button" class="page go-prev" title="Before"></a>

                            <div class="pager">
                                <a href="javascript:void(0);" type="button" class="page page-1 current" data-num=1
                                   aria-label="1 page."><span>1</span></a>
                                <a href="javascript:void(0);" type="button" class="page page-2" data-num=2
                                   aria-label="2 page."><span>2</span></a>
                                <a href="javascript:void(0);" type="button" class="page page-3" data-num=3
                                   aria-label="3 page."><span>3</span></a>
                                <!-- <button type="button" class="page page-ellipsis"><span>...</span></button> -->
                            </div>

                            <a href="javascript:void(0);" type="button" class="page go-next" title="Next"></a>
                            <a href="javascript:void(0);" type="button" class="page go-after" title="Last"></a>
                        </div>
                    </div>
                    <!-- Data list bottom -->
                </div>
                <!-- Data List Container : System Controller -->
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="btn-log-cancel" class="btn btn-cancel">{{getLanguageText "Cancel"}}</button>
                    <button type="button" id="btn-log-ok" class="btn btn-large btn-primary">{{getLanguageText "Confirm"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>