<!-- popup wrapper -->
<div id="ntp-server-popup" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup popup-ntp-server" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="popup-label">기본 NTP 서버</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <!-- 기본 NTP 서버 설정 -->
                <div class="field field-flex field-type-switch field-ntp">
                    <div class="field-label">기본 NTP 서버 설정</div>
                    <div class="field-form flex">
                        <div class="switch">
                            <label for="ntp-server-switch" class="switch-controller" >기본 NTP 서버 설정</label>
                            <input type="checkbox" id="ntp-server-switch" name="ntp-server-switch" role="switch"
                                   aria-checked="true" />
                            <span class="slider"></span>
                        </div>
                    </div>
                </div>

                <div class="gray-box">
                    <!-- 형식 -->
                    <div class="field field-flex field-type">
                        <div class="field-label">{{getLanguageText "Type"}}</div>
                        <div class="field-form flex">
                            <div class="checkbox">
                                <input type="checkbox" name="ntpServerType" id="ipv4" checked="">
                                <label for="ipv4">IPv4</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" name="ntpServerType" id="url">
                                <label for="url">URL</label>
                            </div>
                        </div>
                    </div>
                    <!-- 주소 -->
                    <div class="field field-flex field-adress">
                        <label for="ntpServerAddr" class="field-label">주소</label>
                        <div class="field-form flex">
                            <div class="input-box">
                                <input type="text" id="ntpServerAddr" name="ntpServerAddr" placeholder="0.0.0.0">
                                <button type="button" class="btn-input-remove hide" >input delete</button>
                            </div>
                            <div class="button-container">
                                <button type="button" class="btn btn-small btn-now-update" id="btn-now-update">지금 업데이트</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="ntpManualSettingModalCancel" class="btn btn-large btn-cancel"
                            onclick="_closePopup('ntp-server-popup')">{{getLanguageText "Cancel"}}</button>
                    <button type="button" id="ntpManualSettingModalOK" class="btn btn-large btn-primary">{{getLanguageText "Save"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
<!-- popup wrapper -->