<!-- popup wrapper -->
<div id="proxy-popup" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup popup-si-server-proxy" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="popup-label">{{getLanguageText "Proxy"}} {{getLanguageText "Setting"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <!-- SI 서버 IP -->
                <div class="field field-flex field-si">
                    <label for="proxyIPAddr" class="field-label">{{getLanguageText "SI Server IP"}}</label>
                    <div class="field-form">
                        <div class="input-box">
                            <input type="text" id="proxyIPAddr" name="proxyIPAddr" placeholder="0.0.0.0">
                            <button type="button" class="btn-input-remove hide" >input delete</button>
                        </div>
                    </div>
                </div>
                <!-- 포트 번호 (0~65535) -->
                <div class="field field-flex field-port-01">
                    <label for="proxyPortNum" class="field-label">{{getLanguageText "Port Number"}} (0~65535)</label>
                    <div class="field-form">
                        <div class="input-box">
                            <input type="text" id="proxyPortNum" name="proxyPortNum" placeholder="0" maxlength="5" min="0"
                                   max="65535" step="1" value="0" pattern="[0-9]{5}" />
                            <button type="button" class="btn-input-remove hide" >input delete</button>
                        </div>
                    </div>
                </div>
                <!-- IP 주소 -->
                <div class="field field-flex field-ip">
                    <label for="userName" class="field-label">{{getLanguageText "User Name"}}</label>
                    <div class="field-form">
                        <div class="input-box">
                            <input type="text" id="userName" name="userName">
                            <button type="button" class="btn-input-remove hide" >input delete</button>
                        </div>
                    </div>
                </div>
                <!-- 포트 번호 (0~65535) -->
                <div class="field field-flex field-port-02">
                    <label for="proxyPassword" class="field-label">{{getLanguageText "Port Number"}} (0~65535)</label>
                    <div class="field-form">
                        <div class="input-box">
                            <input type="password" id="proxyPassword" name="proxyPassword" />
                            <button type="button" class="btn-input-remove hide" >input delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="btn-cancel" class="btn btn-large btn-cancel"
                            onclick="_closePopup('proxy-popup')">{{getLanguageText "Cancel"}}</button>
                    <button type="button" id="btn-proxy-confirm" class="btn btn-large btn-primary">{{getLanguageText "Confirm"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
    </div>
</div>
<!-- popup wrapper -->