<!-- popup wrapper -->
<div id="schedule-popup" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup popup-schedule" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="popup-label">{{getLanguageText "Schedule Time"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <form>
                    <fieldset>
                        <legend aria-labelledby="popup-label"></legend>
                        <!-- 시간 -->
                        <div class="field field-flex field-time">
                            <div id="lable-time" class="field-label">{{getLanguageText "Time"}}</div>
                            <div class="field-form flex">
                                <div id="schedule-hour-dropdown" class="dropdown type-c">
                                    <button type="button" id="time-hour" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="lable-time time-hour name-hour" aria-activedescendent="schedule-hour-dropdown-0">3</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists" role="listbox" aria-labelledby="lable-time name-hour">
                                            <li class="list">
                                                <a href="javascript:void(0);" role="button" id="option-0101">00</a>
                                            </li>
                                            <li class="list">
                                                <a href="javascript:void(0);" role="button" id="option-0102">00</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span id="name-hour" class="unit">{{getLanguageText "Hour"}}</span>
                                </div>
                                <div id="schedule-min-dropdown" class="dropdown type-c">
                                    <button type="button" id="time-min" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="lable-time time-min name-min" aria-activedescendent="schedule-min-dropdown-0">30</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists" role="listbox" aria-labelledby="lable-time name-min">
                                            <li class="list">
                                                <a href="javascript:void(0);" role="button" id="option-0101">00</a>
                                            </li>
                                            <li class="list">
                                                <a href="javascript:void(0);" role="button" id="option-0102">00</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span id="name-min" class="unit">{{getLanguageText "min"}}</span>
                                </div>

                            </div>
                        </div>

                        <!-- 색 -->
                        <div class="field field-flex field-slide-color">
                            <label for="schBrightness" class="field-label">{{getLanguageText "Color"}}</label>
                            <div class="field-form slide-bar-wrap">
                                <div class="slide-color-bar">
                                    <input type="range" name="schBrightness" id="schBrightness" value="0" minlength="0"
                                           maxlength="100" aria-label="Input backlight value from 0 to 100">
                                </div>
                                <span class="slide-label" id="schBrightnessVal">50</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="btn-schedule-cancel" class="btn btn-cancel">{{getLanguageText "Cancel"}}</button>
                    <button type="button" id="btn-schedule-ok" class="btn btn-primary">{{getLanguageText "ADD"}}</button>
                    <!--<button type="button" id="btn-schedule-ok" class="btn btn-large btn-primary">확인</button>-->
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
<!-- popup wrapper -->