<script src='/js/design/modal/system.js'></script>

<div id="system-popup" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup large popup-system-info" role="dialog" aria-labelledby="system-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="system-label">{{getLanguageText "System Information"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <!-- 일반 -->
                <div class="field-wapper">
                    <div class="field field-flex">
                        <div class="field-label">{{getLanguageText "general"}}</div>
                        <div class="field-form">
                            <button id="goFirstUseBtn" type="button" class="btn btn-small">{{getLanguageText "Go To First Use"}}</button>
                        </div>
                    </div>
                    <!-- 테이블 -->
                    <div class="table table-row">
                        <table class="has-not-header">
                            <caption>{{getLanguageText "general"}} {{getLanguageText "Information"}} - Signage {{getLanguageText "Name"}}, {{getLanguageText "Model Name"}}, {{getLanguageText "Serial Number"}} Data</caption>
                            <tbody>
                            <tr>
                                <th scope="row">Signage {{getLanguageText "Name"}}</th>
                                <td id="modalSignageName">LG SIGNAGE WEBOS3</td>
                            </tr>
                            <tr>
                                <th scope="row">{{getLanguageText "Model Name"}}</th>
                                <td id="modalModelName">WEBOS3</td>
                            </tr>
                            <tr>
                                <th scope="row">{{getLanguageText "Serial Number"}}</th>
                                <td id="modalSerialNumber">SKJY1107</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 버전 -->
                <div class="field-wapper">
                    <div class="field field-flex">
                        <div class="field-label">{{getLanguageText "Version"}}</div>
                        <div class="field-form">
                            <button type="button" id="goUpdateBtn" class="btn btn-small">{{getLanguageText "Update"}}</button>
                        </div>
                    </div>
                    <!-- 테이블 -->
                    <div class="table table-row">
                        <table class="has-not-header">
                            <caption>{{getLanguageText "Version"}} {{getLanguageText "Information"}} - {{getLanguageText "webOS Version"}}, {{getLanguageText "S/W Ver."}}, {{getLanguageText "Micom Version"}}, {{getLanguageText "Bootloader Version"}}, {{getLanguageText "FPGA Version"}} Data</caption>
                            <tbody>
                            <tr>
                                <th scope="row">{{getLanguageText "webOS Version"}}</th>
                                <td id="modalWebosVersion">3.3.0-35 (dreadlocks-deua)</td>
                            </tr>
                            <tr>
                                <th scope="row">{{getLanguageText "S/W Ver."}}</th>
                                <td id="modalFirmwareVersion">05.63.40</td>
                            </tr>
                            <tr>
                                <th scope="row">{{getLanguageText "Micom Version"}}</th>
                                <td id="modalMicomVersion">V3.33.5</td>
                            </tr>
                            <tr>
                                <th scope="row">{{getLanguageText "Bootloader Version"}}</th>
                                <td id="modalBootLoaderVersion">4.02.31/4.02.31</td>
                            </tr>
                            <tr>
                                <th scope="row">{{getLanguageText "FPGA Version"}}</th>
                                <td id="FPGAVersion"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="btn-system-ok" class="btn btn-large btn-primary">{{getLanguageText "OK"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>