<script src='/js/design/modal/temperature.js'></script>

<div id="temperature-popup" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup large popup-temperature" role="dialog" aria-labelledby="temp-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="temp-label">{{getLanguageText "Temperature"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <!-- graph filter -->
                <div class="graph-filter">
                    <div class="filter-title">{{getLanguageText "System Box"}}</div>
                    <div class="field field-type-dropdown field-flex">
                        <div id="label-systembox" class="field-label">{{getLanguageText "Temperature Unit"}}</div>
                        <div class="field-form">
                            <div id="temp-select-dropdown" class="dropdown type-c">
                                <button type="button" id="temp-select-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-systembox temp-select-dropdown-btn" aria-activedescendent="temp-select-dropdown-0">℃</button>
                                <div class="dropdown-menu">
                                    <ul class="lists" role="listbox" aria-labelledby="label-systembox">
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--
                            현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                            드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                            -->
                            <div id="time-select-dropdown" class="dropdown type-c">
                                <button type="button" id="time-select-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-systembox time-select-dropdown-btn" aria-activedescendent="time-select-dropdown-0">10{{getLanguageText "min"}}</button>
                                <div class="dropdown-menu">
                                    <ul class="lists" role="listbox" aria-labelledby="label-systembox">
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="button" class="btn btn-refresh" id="chart-modal-refresh">{{getLanguageText "Refresh"}}</button>
                            <!--
                              테이블 출력시 버틑명 : 차트 보기
                              차트 출력시 버튼명 : 도표 보기
                            -->
                            <button type="button" class="btn btn-small" id="btn-temp-modal-more" data-name="chart">Table</button>
                        </div>
                    </div>
                </div>

                <div class="graph-box" style="height:243px;" id="temperature-modal-chart">
                    <canvas id="myTempModal-chart" aria-label="temperature-modal-chart" aria-labelledby="chart-description-2" role="img"></canvas>
                </div>
                <div class="temperature-box" style="display: none" id="temperature-modal-table">
                    <div class="table-temperature">
                        <div class="table-inner">
                            <table id="myTempModal-table">
                                <caption>온도 센서(섭씨/화씨) 데이터</caption>
                                <colgroup>
                                    <col style="width: 58px;">
                                    <col style="width: 58px;">

                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">

                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">

                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">

                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">

                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                    <col style="width: 60px;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col" class="bg-th">{{getLanguageText "Division"}}</th>
                                    <th scope="col">{{getLanguageText "Time"}}</th>

                                    <th scope="col"><div class="text-block">22:09</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>

                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>

                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>

                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>

                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                    <th scope="col"><div class="text-block">22:10</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" colspan="2">{{getLanguageText "Top"}}</th>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="2">{{getLanguageText "Bottom"}}</th>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>

                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                    <td>-40℉</td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="2">{{getLanguageText "Main"}}</th>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>

                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>

                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>

                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>

                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                    <td>35℃</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- controller -->
                <div class="grap-controller">
                    <div class="grap-date" id="chartDate">2021-05-14</div>
                    <button type="button" class="btn-prev" id="prevChartBtn">{{getLanguageText "Prev DAY"}}</button>
                    <button type="button" class="btn-next" id="nextChartBtn">{{getLanguageText "PM"}}</button>
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="btn-temp-ok" class="btn btn-large btn-primary">{{getLanguageText "OK"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
