<!-- popup wrapper -->
<div id="applyTimeZoneModal" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="popup-label">{{getLanguageText "Apply?"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <div class="text-content" role="alert">
                    <P>
                        {{getLanguageText "Changing Time may cause you to be logged out."}}
                    </P>
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer" id="reboot-btn-container">
                <div class="button-container">
                    <button type="button" id="timezone-btn-cancel" class="btn btn-cancel" onclick="timeZoneModalCancel()">{{getLanguageText "NO"}}</button>
                    <button type="button" id="timezone-btn-yes" class="btn btn-yes btn-primary" onclick="timeZoneModalOK()">{{getLanguageText "YES"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
<!-- popup wrapper -->