<script src='/js/design/modal/update.js'></script>

<div id="update-popup" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup large popup-update" role="dialog" aria-labelledby="system-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <!-- Popup header -->
            <div class="popup-header">
                <h1 id="system-label">{{getLanguageText "System Information"}}</h1>
            </div>
            <!-- Popup header -->

            <!-- Popup content -->
            <div class="popup-content">
                <div class="tab-wrap">
                    <div class="current-tab-menu">
                        <a href="javascript:void(0)" class="current-selected-tab">{{getLanguageText "Upload secured S/W Update file (XXX GB available)"}}</a>
                    </div>
                    <div class="tab-group" role="tablist">
                        <div class="tab active">
                            <!-- 활성화된 탭은 aria-selected 속성을 true로 설정합니다. -->
                            <a id="update-sw" href="javascript:void(0);" role="tab" aria-selected="true">{{getLanguageText "Upload secured S/W Update file (XXX GB available)"}}</a>
                        </div>
                        <div class="tab">
                            <a id="update-fpga" href="javascript:void(0);" role="tab" aria-selected="false">{{getLanguageText "Upload FPGA Update file (XXX GB available)"}}</a>
                        </div>
                    </div>
                </div>

                <!-- 보안 S/W 업데이트 파일(3.79 GB 사용 가능) 업로드 -->
                <div class="tab-panel panel-update-sw" role="tabpanel">
                    <div class="field field-flex">
                        <div class="field-label" id="update-fileName"></div>
                        <div class="field-form">
                            <div class="field-type-file">
                                <div class="file-area"><input class="upload_disable" type="file" id="update-file-find"/></div>
                            </div>
                            <button type="button" class="btn btn-small" onclick="fileThis('update-file-find')">{{getLanguageText "File Select"}}</button>
                        </div>
                    </div>
                    <!-- 테이블 -->
                    <div class="table">
                        <div class="table-wrapper">
                            <div id="update1-wrapper" class="table-box">
                                <table id="updateFileTable">

                                    <caption>{{getLanguageText "Upload secured S/W Update file (XXX GB available)"}} Data</caption>
                                    <thead>
                                    <tr>
                                        <th scope="col"><div class="text-block">{{getLanguageText "File Name"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Update"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Delete"}}</div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>signage-secured-m16pp-gld4signage-858-01.08.58_usb_V3_SECURED.epk ...</td>
                                        <td>03.23.20</td>
                                        <td>
                                            <button type="button" class="btn btn-delete">{{getLanguageText "Delete"}}</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Reflow table -->
                    <div class="convert-table-to-list" id="updateFileTable-reflow">
                        <div class="table-header">
                            <div class="row">
                                <div class="thead">{{getLanguageText "File Name"}}</div>
                                <div class="thead">{{getLanguageText "Update"}}</div>
                            </div>
                        </div>
                        <ul class="table-body">
                            <li class="table-row">
                                <div class="summary-data">
                                    <div class="row">
                                        <div class="table-cell center">signage-secured-m16pp-gld4signage-858-01.08.58_usb_V3_SECURED.epk ...</div>
                                        <div class="table-cell">
                                            <button type="button" role="listbox" class="btn btn-expand" aria-expanded="false">03.23.20</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="all-data-box">
                                    <ul class="all-data">
                                        <li>
                                            <span class="field-label">{{getLanguageText "Delete"}}</span>
                                            <span class="field-content align-center">
                                                <button type="button" class="btn btn-delete">{{getLanguageText "Delete"}}</button>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- FPGA 업데이트 파일 (3.79 GB 사용 가능) 업로드 -->
                <div class="tab-panel panel-update-fpga hide" role="tabpanel">
                    <div class="field field-flex">
                        <div class="field-label" id="FPGAfileName"></div>
                        <div class="field-form">
                            <div class="field-type-file">
                                <div class="file-area"><input class="upload_disable" type="file" id="update-fpga-file-find"/></div>
                            </div>
                            <button type="button" class="btn btn-small" onclick="fileThis('update-file-find')">{{getLanguageText "File Select"}}</button>
                        </div>
                    </div>
                    <!-- 테이블 -->
                    <div class="table">
                        <div class="table-wrapper nodata-table">
                            <div class="table-box">
                                <table id="FPGAFileTable">
                                    <caption>{{getLanguageText "Upload FPGA Update file (XXX GB available)"}} Data</caption>
                                    <thead>
                                    <tr>
                                        <th scope="col"><div class="text-block">{{getLanguageText "File Name"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Update"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Delete"}}</div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="nodata-text">
                                                {{getLanguageText "Select a file to upload"}} (EPK 파일)
                                            </div>
                                        </td>
                                        <td ></td>
                                        <td ></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Reflow table -->
                    <div class="convert-table-to-list" id="FPGAFileTable-reflow">
                        <div class="nodata-text">
                            {{getLanguageText "Select a file to upload"}} (EPK 파일)
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="btn-update-cancel" class="btn btn-large btn-cancel">{{getLanguageText "Cancel"}}</button>
                    <button type="button" id="btn-update-upload" class="btn btn-large btn-primary">{{getLanguageText "Upload"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>