<script src="/js/socket.io.js"></script>
<!--<script src="/js/Chart.min.js"></script>-->
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<!--<script src="/js/page/charts.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>-->
<script src="/assets/js/table_common.js"></script>
<script src="/assets/js/table_ui_loader.js"></script>
<script src="/js/design/charts.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">
        <div class="field-top-content" id="sensor-error-field">
            <p>{{getLanguageText "Check Temperature sensors. -40 means errors when reading Temperature sensors"}} ({{getLanguageText "Top"}} {{getLanguageText "Bottom"}})</p>
            <button type="button" class="btn btn-small" id="chart-refresh-btn">{{getLanguageText "Refresh"}}</button>
        </div>

        <div class="chart-wrap">
            <div class="list-inner">
                <!-- 온도(℃/℉) -->
                <div class="list-box">
                    <div class="title-box">
                        <h3 id="temp-title" class="section-title">{{getLanguageText "Temperature"}}(<span id="celsius">°C</span>/<span id="fahrenheit" class="color-gary">°F</span>)</h3>
                    </div>
                    <div class="chart-box">
                        <!--
                          퍼블 산출물 예시 그래프로서 개발 적용 해야 할 버젼과 다릅니다.
                          * 그래프는 pc 1920px 기준으로 가로값 고정하여 작업 바랍니다.
                          Reflow시 가로 100%로 되면 그래프가 축소되어 식별이 어렵습니다.
                        -->
                        <!--
                          범례 사용 아이콘 color , image
                            상단 컬러 : #4b5fcc
                            상단 아이콘 : icon_index_circle.svg

                            하단 : #a50034
                            하단 아이콘 : icon_index_triangle.svg

                            메인 : #298026
                            메인 아이콘 : icon_index_square.svg
                        -->
                        <canvas id="myChart1" aria-label="Temperature sensor chart" aria-labelledby="chart-description-1" role="img"></canvas>
                    </div>
                    <!-- title -->
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Temperature"}} {{getLanguageText "Sensor"}} {{getLanguageText "Charts"}}</h3>
                    </div>
                    <div class="table-chart">
                        <div class="table-inner">
                            <table id="chart-description-1">

                            </table>
                        </div>

                        <div class="convert-table-to-list">
                            <div class="table-header">
                                <div class="row">
                                    <div class="thead">{{getLanguageText "Division"}}</div>
                                </div>
                            </div>
                            <ul class="table-body" id="chart-reflow-1"></ul>
                        </div>
                    </div>
                </div>
                <!-- 온도(℃/℉) -->

                {{#checkToSupportChart "fanRpm"}}
                <!-- 팬 RPM -->
                <div class="list-box">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Fan RPM"}}</h3>
                    </div>
                    <div class="chart-box">
                        <!--
                          퍼블 산출물 예시 그래프로서 개발 적용 해야 할 버젼과 다릅니다.
                          * 그래프는 pc 1920px 기준으로 가로값 고정하여 작업 바랍니다.
                          Reflow시 가로 100%로 되면 그래프가 축소되어 식별이 어렵습니다.
                        -->
                        <!--
                          범례 사용 아이콘 color , image
                            보통1 컬러 : #4b5fcc
                            보통1 아이콘 : icon_index_circle.svg

                            보통2 : #a50034
                            보통2 아이콘 : icon_index_triangle.svg
                        -->
                        <canvas id="myChart2" aria-label="{{getLanguageText "Fan RPM"}}" aria-labelledby="chart-description-2" role="img"></canvas>
                    </div>
                    <!-- title -->
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Fan RPM"}} Table</h3>
                    </div>
                    <div class="table-chart">
                        <div class="table-inner">
                            <table id="chart-description-2">

                            </table>
                        </div>

                        <div class="convert-table-to-list">
                            <div class="table-header">
                                <div class="row">
                                    <div class="thead">{{getLanguageText "Division"}}</div>
                                </div>
                            </div>
                            <ul class="table-body" id="chart-reflow-2"></ul>
                        </div>
                    </div>
                </div>
                <!-- 팬 RPM -->
                {{/checkToSupportChart}}

                {{#checkToSupportChart "backlight"}}
                <!-- 백라이트/EyeQ 센서 -->
                <div class="list-box">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Brightness"}}/{{getLanguageText "EyeQ sensor"}}</h3>
                    </div>
                    <div class="chart-box">
                        <!--
                          퍼블 산출물 예시 그래프로서 개발 적용 해야 할 버젼과 다릅니다.
                          * 그래프는 pc 1920px 기준으로 가로값 고정하여 작업 바랍니다.
                          Reflow시 가로 100%로 되면 그래프가 축소되어 식별이 어렵습니다.
                        -->
                        <!--
                          범례 사용 아이콘 color , image
                            백라이트(%) 컬러 : #4b5fcc
                            백라이트(%) 아이콘 : icon_index_circle.svg

                            EyeQ 센서 : #a50034
                            EyeQ 센서 아이콘 : icon_index_triangle.svg
                        -->
                        <canvas id="myChart3" aria-label="{{getLanguageText "Brightness"}}/{{getLanguageText "EyeQ sensor"}}" aria-labelledby="chart-description-3" role="img"></canvas>
                    </div>
                    <!-- title -->
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Brightness"}}/{{getLanguageText "EyeQ sensor"}} {{getLanguageText "Charts"}}</h3>
                    </div>
                    <div class="table-chart">
                        <div class="table-inner">
                            <table id="chart-description-3">

                            </table>
                        </div>

                        <div class="convert-table-to-list">
                            <div class="table-header">
                                <div class="row">
                                    <div class="thead">{{getLanguageText "Division"}}</div>
                                </div>
                            </div>
                            <ul class="table-body" id="chart-reflow-3"></ul>
                        </div>
                    </div>
                </div>
                <!-- 백라이트/EyeQ 센서 -->
                {{/checkToSupportChart}}
                {{#env.supportBrighness}}
                    <div class="list-box">
                        <div class="title-box">
                            <h3 class="section-title">{{getLanguageText "Brightness"}}</h3>
                        </div>
                        <div class="chart-box">
                            <!--
                              퍼블 산출물 예시 그래프로서 개발 적용 해야 할 버젼과 다릅니다.
                              * 그래프는 pc 1920px 기준으로 가로값 고정하여 작업 바랍니다.
                              Reflow시 가로 100%로 되면 그래프가 축소되어 식별이 어렵습니다.
                            -->
                            <!--
                              범례 사용 아이콘 color , image
                                백라이트(%) 컬러 : #4b5fcc
                                백라이트(%) 아이콘 : icon_index_circle.svg

                                EyeQ 센서 : #a50034
                                EyeQ 센서 아이콘 : icon_index_triangle.svg
                            -->
                            <canvas id="myChart4" aria-label="{{getLanguageText "Brightness"}}" aria-labelledby="chart-description-4" role="img"></canvas>
                        </div>
                        <!-- title -->
                        <div class="title-box">
                            <h3 class="section-title">{{getLanguageText "Brightness"}} {{getLanguageText "Charts"}}</h3>
                        </div>
                        <div class="table-chart">
                            <div class="table-inner">
                                <table id="chart-description-4">

                                </table>
                            </div>

                            <div class="convert-table-to-list">
                                <div class="table-header">
                                    <div class="row">
                                        <div class="thead">{{getLanguageText "Division"}}</div>
                                    </div>
                                </div>
                                <ul class="table-body" id="chart-reflow-4"></ul>
                            </div>
                        </div>
                    </div>
                {{/env.supportBrighness}}
                {{#env.supportAcCurrent}}
                    <div class="list-box">
                        <div class="title-box">
                            <h3 class="section-title">{{getLanguageText "AC Current"}}</h3>
                        </div>
                        <div class="chart-box">
                            <!--
                              퍼블 산출물 예시 그래프로서 개발 적용 해야 할 버젼과 다릅니다.
                              * 그래프는 pc 1920px 기준으로 가로값 고정하여 작업 바랍니다.
                              Reflow시 가로 100%로 되면 그래프가 축소되어 식별이 어렵습니다.
                            -->
                            <!--
                              범례 사용 아이콘 color , image
                                백라이트(%) 컬러 : #4b5fcc
                                백라이트(%) 아이콘 : icon_index_circle.svg

                                EyeQ 센서 : #a50034
                                EyeQ 센서 아이콘 : icon_index_triangle.svg
                            -->
                            <canvas id="myChart5" aria-label="{{getLanguageText "AC Current"}}" aria-labelledby="chart-description-5" role="img"></canvas>
                        </div>
                        <!-- title -->
                        <div class="title-box">
                            <h3 class="section-title">{{getLanguageText "AC Current"}} {{getLanguageText "Charts"}}</h3>
                        </div>
                        <div class="table-chart">
                            <div class="table-inner">
                                <table id="chart-description-5">

                                </table>
                            </div>

                            <div class="convert-table-to-list">
                                <div class="table-header">
                                    <div class="row">
                                        <div class="thead">{{getLanguageText "Division"}}</div>
                                    </div>
                                </div>
                                <ul class="table-body" id="chart-reflow-5"></ul>
                            </div>
                        </div>
                    </div>
                {{/env.supportAcCurrent}}
                {{#env.supportSolarVoltage}}
                    <div class="list-box">
                        <div class="title-box">
                            <h3 class="section-title">{{getLanguageText "Solar"}}</h3>
                        </div>
                        <div class="chart-box">
                            <!--
                              퍼블 산출물 예시 그래프로서 개발 적용 해야 할 버젼과 다릅니다.
                              * 그래프는 pc 1920px 기준으로 가로값 고정하여 작업 바랍니다.
                              Reflow시 가로 100%로 되면 그래프가 축소되어 식별이 어렵습니다.
                            -->
                            <!--
                              범례 사용 아이콘 color , image
                                백라이트(%) 컬러 : #4b5fcc
                                백라이트(%) 아이콘 : icon_index_circle.svg

                                EyeQ 센서 : #a50034
                                EyeQ 센서 아이콘 : icon_index_triangle.svg
                            -->
                            <canvas id="myChart6" aria-label="{{getLanguageText "Solar"}}" aria-labelledby="chart-description-6" role="img"></canvas>
                        </div>
                        <!-- title -->
                        <div class="title-box">
                            <h3 class="section-title">{{getLanguageText "Solar"}} {{getLanguageText "Charts"}}</h3>
                        </div>
                        <div class="table-chart">
                            <div class="table-inner">
                                <table id="chart-description-6">

                                </table>
                            </div>

                            <div class="convert-table-to-list">
                                <div class="table-header">
                                    <div class="row">
                                        <div class="thead">{{getLanguageText "Division"}}</div>
                                    </div>
                                </div>
                                <ul class="table-body" id="chart-reflow-6"></ul>
                            </div>
                        </div>
                    </div>
                {{/env.supportSolarVoltage}}
            </div>
        </div>

        <!-- pagination -->
        <div class="pagination long-pagination">
            <a href="javascript:void(0);" role="button" class="page go-before" aria-label="First" title="First"></a>
            <a href="javascript:void(0);" role="button" class="page go-prev" title="Before"></a>

            <div class="pager">
                <a href="javascript:void(0);" role="button" data-num=1 class="page page-1 current" aria-pressed="true" aria-label="1 page."><span>1</span></a>
                <a href="javascript:void(0);" role="button" data-num=2 class="page page-2" aria-pressed="false" aria-label="2 page."><span>2</span></a>
                <a href="javascript:void(0);" role="button" data-num=3 class="page page-3" aria-pressed="false" aria-label="3 page."><span>3</span></a>
                <a href="javascript:void(0);" role="button" data-num=4 class="page page-4" aria-pressed="false" aria-label="4 page."><span>4</span></a>
                <a href="javascript:void(0);" role="button" data-num=5 class="page page-5" aria-pressed="false" aria-label="5 page."><span>5</span></a>
                <a href="javascript:void(0);" role="button" data-num=6 class="page page-6" aria-pressed="false" aria-label="6 page."><span>6</span></a>
                <a href="javascript:void(0);" role="button" data-num=7 class="page page-7" aria-pressed="false" aria-label="7 page."><span>7</span></a>
                <a href="javascript:void(0);" role="button" data-num=8 class="page page-8" aria-pressed="false" aria-label="8 page."><span>8</span></a>
                <a href="javascript:void(0);" role="button" data-num=9 class="page page-9" aria-pressed="false" aria-label="9 page."><span>9</span></a>
                <a href="javascript:void(0);" role="button" data-num=10 class="page page-10" aria-pressed="false" aria-label="10 page."><span>10</span></a>
                <!-- <button type="button" class="page page-ellipsis"><span>...</span></button> -->
            </div>

            <a href="javascript:void(0);" role="button" class="page go-next" title="Before"></a>
            <a href="javascript:void(0);" role="button" class="page go-after" title="Last"></a>
        </div>
        <!-- mini-pagination은 400% 확대 시에만 출력됩니다. -->
        <div class="pagination mini-pagination">
            <a href="javascript:void(0);" role="button" class="page go-before" title="First"></a>
            <a href="javascript:void(0);" role="button" class="page go-prev disabled" title="Before"></a>

            <div class="pager">
                <a href="javascript:void(0);" role="button" data-num=1 class="page page-1 current" aria-pressed="true" aria-label="1 page."><span>1</span></a>
                <a href="javascript:void(0);" role="button" data-num=2 class="page page-2" aria-pressed="false" aria-label="2 page."><span>2</span></a>
                <a href="javascript:void(0);" role="button" data-num=3 class="page page-3" aria-pressed="false" aria-label="3 page."><span>3</span></a>
                <!-- <button type="button" class="page page-ellipsis"><span>...</span></button> -->
            </div>

            <a href="javascript:void(0);" role="button" class="page go-next" title="Next"></a>
            <a href="javascript:void(0);" role="button" class="page go-after" title="Last"></a>
        </div>
        <!-- pagination -->
    </div>
    <!-- Detail Container -->
</div>
<!-- Content middle right -->

<script>
    var env = {{{json env}}};
    {{#checkToSupportChart "fanRpm"}}
    env.supportFan = true;
    {{else}}
    env.supportFan = false;
    {{/checkToSupportChart}}

    {{#checkToSupportChart "backlight"}}
    env.supportBacklight = true;
    {{else}}
    env.supportBacklight = false;
    {{/checkToSupportChart}}

    init(env, {{page}});
</script>
