<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/range.js"></script>
<!--<script src="/js/page/device.js"></script>-->
<script src="/js/design/device.js"></script>
{{#if env.outdoor}}
<script src="/js/design/picture.js"></script>
{{/if}}

<div class="content-middle-right">

    <!-- Detail Container -->
    <div class="control-container">
        <form>

            <!-- 사진 설정 -->
            {{#if env.outdoor}}
                <fieldset>
                    <legend aria-labelledby="legend-01">{{getLanguageText "Picture Settings"}}</legend>

                    <div class="list-box list-photo-setting">
                        <div class="title-box">
                            <h3 id="legend-01" aria-hidden="true" class="section-title">{{getLanguageText "Picture Settings"}}</h3>
                        </div>

                        <div class="field field-type-dropdown field-flex">
                            <div id="field-label-video" class="field-label">{{getLanguageText "Picture Mode"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="picture-mode-dropdown" class="dropdown type-c">
                                    <!--                        <a id="picture-mode-label" href="javascript:void(0);" role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-video">쇼핑몰/QSR</a>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field field-type-dropdown field-flex">
                            <div id="field-label-save" class="field-label">{{getLanguageText "Energy Saving"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="energy-saving-dropdown" class="dropdown type-c">
                                    <!--                        <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-save">꺼짐</a>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 최소 백라이트 -->
                        <div id="min-backlight" class="field field-type-dropdown field-flex">
                            <div id="field-label-save" class="field-label">{{getLanguageText "Min Backlight"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="min-backlight-dropdown" class="dropdown type-c">
                                    <!--                        <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-save">꺼짐</a>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 최대 백라이트 -->
                        <div id="max-backlight" class="field field-type-dropdown field-flex">
                            <div id="field-label-save" class="field-label">{{getLanguageText "Max Backlight"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="max-backlight-dropdown" class="dropdown type-c">
                                    <!--                        <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-save">꺼짐</a>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
            {{/if}}
            <!-- 사진 설정 -->

            <!-- 백라이트 -->
            {{#unless env.hideMenus.backlight}}
                <fieldset>
                    <legend aria-labelledby="legend-02">{{getLanguageText "Backlight"}}</legend>

                    <div class="list-box list-backlight">
                        <div class="title-box">
                            <h3 id="legend-02" aria-hidden="true" class="section-title">{{getLanguageText "Backlight"}}</h3>
                        </div>

                        {{#if env.supportScreenOnOff}}
                            <div class="field field-flex field-type-switch">
                                <div class="field-label">{{getLanguageText "Screen"}}</div>
                                <div class="field-form">
                                    <div class="switch">
                                        <label for="btnScreen" class="switch-controller">{{getLanguageText "Screen"}}</label>
                                        <input type="checkbox" id="btnScreen" name="btnScreen" role="switch" aria-checked="false">
                                        <span class="slider"></span>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        <div class="field field-flex">
                            <label for="field-slide-backlight" class="field-label">{{getLanguageText "Backlight"}}</label>
                            <div class="field-form slide-bar-wrap">
                                <div id="field-slide-bar" class="slide-color-bar">
                                    <input type="range" name="field-slide-backlight" id="field-slide-backlight" value="0" minlength="0" maxlength="100" aria-label="">
                                </div>
                                <span id="backlightVal" class="slide-label">100%</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            {{/unless}}
            <!-- 백라이트 -->

            <!-- 전원 꺼짐 관리 -->
            {{#notSupportLedSignage}}
                <fieldset>
                    <legend aria-labelledby="legend-03">{{getLanguageText "Power Off Management"}}</legend>

                    <div class="list-box list-onoff">
                        <div class="title-box">
                            <h3 id="legend-03" aria-hidden="true" class="section-title">{{getLanguageText "Power Off Management"}}</h3>
                        </div>

                        <div class="field field-type-dropdown field-flex">
                            <div id="field-label-dpm" class="field-label">{{getLanguageText "DPM (Standby Mode)"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="dpm-dropdown" class="dropdown type-c">
                                    <!--                        <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-dpm">꺼짐</a>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{#env.pmMode.visible}}
                            <div class="field field-type-dropdown field-flex">
                                <div id="field-label-pm" class="field-label">{{getLanguageText "PM Mode"}}</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="pm-mode-dropdown" class="dropdown type-c">
                                        <!--                        <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-pm">전원끄기(기본)</a>-->
                                        <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists">
                                                <!--
                                                  선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                                -->
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                                </li>
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                                </li>
                                                <li class="list" >
                                                    <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/env.pmMode.visible}}
                    </div>
                </fieldset>
            {{/notSupportLedSignage}}
            <!-- 전원 꺼짐 관리 -->

            <!-- 소리 컨트롤 -->
            {{#unless env.hideMenus.sound}}
                <fieldset>
                    <legend aria-labelledby="legend-04">{{getLanguageText "Sound Control"}}</legend>

                    <div class="list-box list-sound">
                        <div class="title-box">
                            <h3 id="legend-04" aria-hidden="true" class="section-title">{{getLanguageText "Sound Control"}}</h3>
                        </div>

                        <div class="field field-flex">
                            <label for="field-slide-backlight02" class="field-label">{{getLanguageText "Volume"}}</label>
                            <div class="field-form slide-bar-wrap">
                                <div class="slide-color-bar">
                                    <input type="range" name="field-slide-backlight02" id="field-slide-backlight02" value="0" minlength="0" maxlength="100" aria-label="">
                                </div>
                                <span id="volumn-val" class="slide-label">100%</span>
                            </div>
                        </div>

                        <div class="field field-flex field-type-switch">
                            <label for="muted" class="field-label">{{getLanguageText "Mute"}}</label>
                            <div class="field-form">
                                <div class="switch">
                                    <span class="switch-controller"></span>
                                    <input type="checkbox" id="muted" name="muted" role="switch" aria-checked="false">
                                    <span class="slider"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            {{/unless}}
            <!-- 소리 컨트롤 -->

            <!-- 입력소스 선택 -->
            <fieldset>
                <legend aria-labelledby="legend-05">{{getLanguageText "Select Input Source"}}</legend>

                <div class="list-box list-inputs">
                    <div class="title-box">
                        <h3 id="legend-05" aria-hidden="true" class="section-title" id="input-source-title">{{getLanguageText "Select Input Source"}}<span class="title-label color-point"></span></h3>
                    </div>

                    <div class="field field-type-radio">
                        <div id="inputList" class="field-form flex">
                            <!--<div class="radio">
                                <input type="radio" name="radio-type" id="HDMI-1" checked="">
                                <label for="HDMI-1">HDMI 1</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radio-type" id="HDMI-2">
                                <label for="HDMI-2">HDMI 2</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radio-type" id="HDMI-3">
                                <label for="HDMI-3">HDMI 3</label>
                            </div>-->
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- 입력소스 선택 -->

            {{#if env.outdoor}}
                <!-- 회전 -->
                <fieldset>
                    <legend aria-labelledby="legend-06">{{getLanguageText "Rotation"}}</legend>

                    <div class="list-box list-rotate">
                        <div class="title-box">
                            <h3 id="legend-06" aria-hidden="true" class="section-title">{{getLanguageText "Rotation"}}</h3>
                        </div>

                        <div class="field field-type-dropdown field-flex">
                            <div id="field-label-rotate" class="field-label">{{getLanguageText "Screen Rotation"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="portrait-dropdown" class="dropdown type-c">
                                    <!--                        <button href="javascript:void(0);" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-rotate">꺼짐</button>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field field-type-dropdown field-flex">
                            <div id="field-label-external" class="field-label">{{getLanguageText "External Input Rotation"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="rotation-dropdown" class="dropdown type-c">
                                    <!--                        <button href="javascript:void(0);" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-external">꺼짐</button>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field field-type-dropdown field-flex">
                            <div id="field-label-rate" class="field-label">{{getLanguageText "Aspect Ratio when rotated"}}</div>
                            <div class="field-form">
                                <!--
                                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                -->
                                <div id="aspect-ratio-dropdown" class="dropdown type-c" disabled="true">
                                    <!--                        <button class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-rate">꺼짐</button>-->
                                    <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">-</button>
                                    <div class="dropdown-menu">
                                        <ul class="lists">
                                            <!--
                                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                            -->
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                            </li>
                                            <li class="list" >
                                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- 회전 -->

                <!-- 화면 회전 상태 -->
                <fieldset>
                    <legend aria-labelledby="label-view-rotate">{{getLanguageText "Screen Rotation Status"}}</legend>
                    <div class="list-box list-view-rotate">
                        <div class="title-box">
                            <h3 id="label-view-rotate" aria-hidden="true" class="section-title">{{getLanguageText "Screen Rotation Status"}}</h3>
                        </div>

                        <div class="field field-rotate-radio">
                            <div class="field-form flex" aria-labelledby="label-view-rotate">
                                <div class="radio rotates rotate-off">
                                    <input type="radio" name="rotate-type" id="rotate-1" checked="">
                                    <label for="rotate-1">{{getLanguageText "OFF"}}</label>
                                </div>
                                <div class="radio rotates rotate-90">
                                    <input type="radio" name="rotate-type" id="rotate-2">
                                    <label for="rotate-2">90°</label>
                                </div>
                                <div class="radio rotates rotate-180">
                                    <input type="radio" name="rotate-type" id="rotate-3">
                                    <label for="rotate-3">180°</label>
                                </div>
                                <div class="radio rotates rotate-270">
                                    <input type="radio" name="rotate-type" id="rotate-4">
                                    <label for="rotate-4">270°</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- 화면 회전 상태 -->

                <!-- 외부 입력 회전 상태 -->
                <fieldset>
                    <legend aria-labelledby="legend-08">{{getLanguageText "External Input Rotation Status"}}</legend>

                    <div class="list-box list-out-rotate">
                        <div class="title-box">
                            <h3 id="legend-08" aria-hidden="true" class="section-title">{{getLanguageText "External Input Rotation Status"}}</h3>
                            <button id="rebootModal-btn" type="button" class="btn">{{getLanguageText "Reboot"}}</button>
                        </div>

                        <div class="field field-rotate-image">
                            <div class="rotate-image">
                                <img id="rotate-img" src="/assets/images/img_external_input_off.png" alt="{{getLanguageText 'External Input Rotation Status'}}" style="transform: rotate(0deg);">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- 외부 입력 회전 상태 -->
            {{/if}}
        </form>
    </div>
    <!-- Detail Container -->
</div>

<script>
    var env = {{{json env}}};

    $(".txt_backlight").text(getLanguageText(languageTable, $(".txt_backlight").text()));
    var wordsList = {{{json wordsList}}};
    {{#supportFan}}
        env.supportFan = true;
    {{/supportFan}}
    initMyDevice(env, wordsList);
    {{#if env.outdoor}}
        initPicture();
    {{/if}}
</script>
