<link href="/css/failover.css" rel="stylesheet">
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/utils.js"></script>
<!--<script src="/js/page/failover.js"></script>-->
<script src="/js/design/failOver.js"></script>

<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">
        <form>
            <!-- 기본 설정 -->
            <fieldset>
                <legend>{{getLanguageText "Basic Setting"}}</legend>

                <div class="list-box">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Basic Setting"}}</h3>
                    </div>

                    <div class="field field-flex field-type-switch">
                        <label for="btnFailover" class="field-label">{{getLanguageText "Fail Over"}}</label>
                        <div class="field-form">
                            <div class="switch">
                                <span class="switch-controller" aria-labelledby="label-auto-input"></span>
                                <input type="checkbox" id="btnFailover" name="btnFailover" role="switch" aria-checked="false">
                                <span class="slider"></span>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend aria-labelledby="input-rank-1"></legend>

                        <div id="failOverTable">
                            <!-- 자동입력전환 활성화 시 출력 : 입력 우선 순위 기본값 '자동' -->
                            <div class="field field-flex field-type-radio inner-field">
                                <div id="input-rank-1" class="field-label">{{getLanguageText "Input Priority"}}</div>
                                <div class="field-form flex">
                                    <div class="radio">
                                        <input type="radio" name="failOverPriority" value="auto" id="failOverPriorityauto" aria-labelledby="input-rank-1 input-level-01-auto">
                                        <label for="failOverPriorityauto" id="input-level-01-auto">{{getLanguageText "Auto"}}</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="failOverPriority" value="manual" id="failOverPrioritymanual" aria-labelledby="input-rank-1 input-level-02-manual">
                                        <label for="failOverPrioritymanual" id="input-level-02-manual" aria-labelledby="input-rank-1">{{getLanguageText "Manual"}}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 자동입력전환 활성화 시 출력 : 입력 우선 순위 -->

                            <!-- 입력 우선 순위 '수동' 체크 시 출력 -->
                            <div id="failOverPriorityInfo" class="control-input-auto control-basic" aria-describedby="input-rank-1 input-level-02-manual" tabindex="0">

                                <ol class="field-list" aria-labelledby="input-rank-1 input-level-02-manual">
                                    <li>
                                        <div class="field-label">DISPLAYPORT</div>
                                    </li>
                                    <li>
                                        <div class="field-label">DISPLAYPORT</div>
                                    </li>
                                    <li>
                                        <div class="field-label">DISPLAYPORT</div>
                                    </li>
                                </ol>
                                <div class="setting-btn">
                                    <button id="failover-setting-btn" type="button" class="btn btn-large" aria-labelledby="input-rank-1 input-level-02-manual"
                                            aria-describedby="input-rank-1 input-level-02-manual failover-setting-btn" aria-haspopup="true">{{getLanguageText "Setting"}}</button>
                                </div>

                            </div>
                            <!-- 입력 우선 순위 '수동' 체크 시 출력 -->
                        </div>
                    </fieldset>

                </div>
            </fieldset>
            <!-- 기본 설정 -->

            <!-- 고급 설정 -->
            <fieldset>
                <legend>{{getLanguageText "Advanced Setting"}}</legend>

                <div id="advancedSetting" class="list-box">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Advanced Setting"}}</h3>
                    </div>

                    <div class="field field-flex field-type-switch">
                        <label for="btnBackup" class="field-label">{{getLanguageText "Backup via storage"}}</label>
                        <div class="field-form">
                            <div class="switch">
                                <span class="switch-controller" aria-labelledby="label-backup"></span>
                                <input type="checkbox" id="btnBackup" name="btnBackup" role="switch" aria-checked="false">
                                <span class="slider"></span>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend aria-labelledby="input-rank-2"></legend>
                        <div id="advancedSettingTable">
                            <!-- 자동입력 활성화 시 출력 : 입력 우선 순위 기본값 '자동' -->
                            <div class="field field-flex field-type-radio inner-field">
                                <div id="input-rank-2" class="field-label">{{getLanguageText "Input Priority"}}</div>
                                <div class="field-form flex">
                                    <div class="radio">
                                        <input type="radio" name="playViaStorage" value="auto" aria-labelledby="input-rank-2 playViaStorageauto" id="playViaStorageauto" checked="">
                                        <label for="playViaStorageauto">{{getLanguageText "Auto"}}</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="playViaStorage" value="manual" aria-labelledby="input-rank-2 playViaStoragemanual" id="playViaStoragemanual">
                                        <label for="playViaStoragemanual">{{getLanguageText "Manual"}}</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="playViaStorage" value="supersign" aria-labelledby="input-rank-2 playViaStoragesupersign" id="playViaStoragesupersign">
                                        <label for="playViaStoragesupersign">{{getLanguageText "SuperSign Contents"}}</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="playViaStorage" value="siapp" aria-labelledby="input-rank-2 playViaStoragesiapp" id="playViaStoragesiapp">
                                        <label for="playViaStoragesiapp">{{getLanguageText "SI App / Play via URL"}}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 자동입력 활성화 시 출력 : 입력 우선 순위 -->

                            <!-- 입력 우선 순위 자동 체크 시 출력 -->
                            <div id="intervalTable" class="control-input-auto">
                                <div class="field field-type-dropdown field-flex">
                                    <div id="label-field-capture" class="field-label">{{getLanguageText "Capture time Interval"}}</div>
                                    <div class="field-form">
                                        <!--
                                        현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                        드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                        -->
                                        <div id="interval-dropdown" class="dropdown type-c">
                                            <!--                            <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="input-level-01 label-field-capture">30분</a>-->
                                            <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">option</button>
                                            <div class="dropdown-menu">
                                                <ul class="lists">
                                                    <!--
                                                      선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                                    -->
                                                    <li class="list" >
                                                        <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                                                    </li>
                                                    <li class="list" >
                                                        <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                                                    </li>
                                                    <li class="list" >
                                                        <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 입력 우선 순위 자동 체크 시 출력 -->

                            <!-- 입력 우선 순위 수동 체크 시 출력 -->
                            <div id="BackupImage" class="control-input-manual">
                                <div class="input-manual">
                                    <div class="title-box">
                                        <h3 class="section-title">{{getLanguageText "Backup Media Upload"}}</h3>
                                    </div>

                                    <div class="field field-type-file field-flex">
                                        <label for="file-find" class="field-label">{{getLanguageText "Select File"}}</label>
                                        <div class="field-form">
                                            <div class="file-wrap">
                                                <!-- 파일찾기 인풋 -->
                                                <div class="file-area">
                                                    <span id="fileName"></span>
                                                    <input class="upload_disable" type="file" id="file-find"/>
                                                </div>

                                                <!-- 버튼 클릭시 파일찾기(#file-find) 인풋 클릭 -->
                                                <button type="button" class="btn" aria-labelledby="label-backup-upload label-find-file" onclick="fileThis('file-find')">{{getLanguageText "Browse"}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-button">
                                        <button id="upload-btn" type="button" aria-labelledby="label-backup-upload" class="btn btn-large">{{getLanguageText "upload"}}</button>
                                    </div>
                                </div>

                                <div class="input-manual">
                                    <div class="title-box">
                                        <h3 class="section-title">{{getLanguageText "Backup file Thumbnail Image"}}</h3>
                                    </div>

                                    <div class="image-backup-box">
                                        <div class="image-wrap">
                                            <img aria-describedby="reduction-dec" id="failoverImage" src="/assets/images/sample/thumb_sample_sm_01.png" alt="Thumbnail">
                                        </div>
                                        <img id="failoverImagetype" style="background-color:#CDCDCD;border: 1px solid #CDCDCD;">
                                        <p id="failoverImageName" class="image-file-name">% FileName %</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 입력 우선 순위 수동 체크 시 출력 -->
                        </div>
                    </fieldset>


                </div>
            </fieldset>
            <!-- 고급 설정 -->
        </form>

    </div>
    <!-- Detail Container -->
    <!-- Button box -->
    <div class="button-container">
        <button id="apply" type="button" class="btn btn-primary btn-submit">{{getLanguageText "Apply"}}</button>
    </div>
    <!-- Button box -->
</div>

<script>
    var env = {{{json env}}};

    // $(document).ready(function () {
        // initFailOver();
    // });
</script>