<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/language.js"></script>

<!-- Content middle -->
        <!-- Content middle right -->
<div class="content-middle-right">
            <!-- Detail Container -->
            <div class="control-container">

                <!-- 메뉴 언어 -->
                <div class="list-box">
                    <div class="title-box">
                        <h3 id="menu-language" class="section-title">{{getLanguageText "Menu Language"}}</h3>
                    </div>

                    <div class="field field-type-dropdown field-type-language">
                        <div class="field-form">
                            <!--
                            현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                            드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                            -->
                            <div id="lang-dropdown" class="dropdown type-c">
                                <button type="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false">
                                    <img src="../../assets/images/icon_langue_korea.svg" alt="" />
                                    한국어
                                </button>
                                <div class="dropdown-menu">
                                    <ul class="lists">
                                        <!--
                                          선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                        -->
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_netherland.svg" alt="" />
                                                <span>Netherlands</span>
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_hongkong.svg" alt="" />
                                                繁体中文 (香港)
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_italy.svg" alt="" />
                                                Italiano
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_japan.svg" alt="" />
                                                日本語
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_france.svg" alt="" />
                                                Français
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_china.svg" alt="" />
                                                简体中文
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_greece.svg" alt="" />
                                                Ελληνική γλώσσα
                                            </a>
                                        </li>
                                        <!--
                                          선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                                        -->
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="true">
                                                <img src="../../assets/images/icon_langue_korea.svg" alt="" />
                                                한국어
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_spain.svg" alt="" />
                                                Español
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_turkey.svg" alt="" />
                                                Türkçe
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_us.svg" alt="" />
                                                English (US)
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_uk.svg" alt="" />
                                                English (UK)
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_finland.svg" alt="" />
                                                Suomi
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_deutsch.svg" alt="" />
                                                Deutsch
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_russia.svg" alt="" />
                                                Русский
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_denmark.svg" alt="" />
                                                Dansk
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_brazil.svg" alt="" />
                                                Português(Brasil)
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_czech.svg" alt="" />
                                                Čeština
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_portugal.svg" alt="" />
                                                Português(Portugal)
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_norway.svg" alt="" />
                                                Norsk
                                            </a>
                                        </li>
                                        <li class="list" >
                                            <a href="javascript:void(0);" role="option" aria-selected="false">
                                                <img src="../../assets/images/icon_langue_arabic.svg" alt="" />
                                                العربية
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 메뉴 언어 -->


            </div>
            <!-- Detail Container -->
            <div class="button-container">
                <button id="languageDone" type="button" class="btn btn-primary">{{getLanguageText "Apply"}}</button>
            </div>
        </div>
        <!-- Content middle right -->


<script>
	init({{{json env}}})
</script>
