<html lang="en">
<head>
    <title>{{getLanguageText "Dashboard"}} | LG Electronics Signage > {{getLanguageText "Control Manager"}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />

    <link rel="stylesheet" type="text/css" href="/assets/default/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/assets/default/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/side_bar.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/filter.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lang_rtl.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/control_manager/control_common.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/control_manager/my_control_common.css" />-->

    <script type="text/javascript" src="/assets/lib/jquery-3.6.0.min.js"></script>

    <script src="/assets/lib/index.umd.js"></script>
    <script src="/assets/lib/focus-trap.umd.js"></script>

    <!-- set languageTable value -->
    <script>
        var languageTable = {{{json languageTable}}};
    </script>

    <!-- <script src="/js/page/common.js"></script>-->
    <script type="text/javascript" src="/js/design/common.js"></script>
</head>

<body>
<div class="loading">
    <div class="loading-icon"></div>
</div>
    <!-- ByPass --> <a href="#go-content" class="bypass">{{getLanguageText "Go to content"}}</a> <!-- ByPass -->
    <!-- Scripts -->
    <div id="ROOT_CONTAINER" class="wrapper">
        <!--
            header를 로드하기 위한 컨테이너 입니다.
            이곳에 header.html의 <div class="header-container"> 가 로드 됩니다.
            개발 시 해당 컨테이너는 무시하시고,
            header-container를 컴포넌트로 개발하시면 됩니다.
          -->
        <div class="header-box">
            <!-- Begin Header Container -->
            <div class="header-container">
                <header>
                    <!-- Left side -->
                    <div class="left-side">
                        <button type="button" class="btn btn-hamburger"><span class="ir">open menu</span></button>
                        <div class="side-logo">
                            <img src="/assets/images/header_lgs_logo.svg" alt="LG webOS Signage logo">
                        </div>
                    </div>
                    <!-- Left side -->

                    <!-- Right side -->
                    <div class="right-side">
                        <ul class="features">
                            <!--
                            <li>
                              <span class="enable-time">10:00</span>
                              <button type="button" class="btn btn-small btn-primary btn-expand" title="클릭하면 웹사이트 사용 가능시간을 연장합니다.">Expand</button>
                            </li>
                            -->
                            <!-- Account -->
                            <li>
                                <button type="button" class="btn-account" title="select account">{{getLanguageText "manager"}}</button>
                                <div class="user-menu">
                                    <ul role="menu">
                                        <li >
                                            <a href="/language" role="menuitem">{{getLanguageText "Language"}}</a>
                                        </li>
                                        <li >
                                            <a href="/changePasswd" role="menuitem">{{getLanguageText "Change Password"}}</a>
                                        </li>
                                        <li >
                                            <a href="/logout" role="menuitem">{{getLanguageText "Logout"}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Right side -->
                </header>
            </div>
            <!-- End Header Container -->
        </div>

        <!-- Content Container -->
        <div class="content-container control-manager">
            <!--
              GNB를 로드하기 위한 컨테이너 입니다.
              이곳에 gnb_content.html의 <div class="side-bar"> 가 로드 됩니다.
              개발 시 해당 컨테이너는 무시하시고,
              side-bar를 컴포넌트로 개발하시면 됩니다.
            -->
            <div class="gnb-box">
                <!-- Side Bar -->
                <div class="side-bar">
                    <!-- Side Top -->
                    <div class="side-top">
                        <!--
                            side-bar Collapsed 일 때 햄버거 버튼 title : 메인 메뉴를 펼칩니다.
                            side-bar Expand 일 때 햄버거 버튼 title : 메인 메뉴를 접습니다.
                          -->
                        <button type="button" class="btn-hamburger" title="All menu">
                            <div class="menu-tooltip">Menu Extension</div>
                        </button>
                        <div class="side-logo">
                            <img src="/assets/images/menu_lgs_logo.svg" alt="LG webOS Signage logo">
                        </div>

                    </div>
                    <!-- Side Top -->

                    <!-- Side Bottom -->
                    <div class="side-bottom">
                        <nav>
                            <!-- Main menu Depth 1 -->
                            <ul id="main-menu" class="main-menu" role="menu">

                                <li class="menu-dashboard parent-menu" >
                                    <!-- 활성화된 메뉴 aria-selected 속성을 true로 설정합니다. -->
                                    <button type="button" class="btn-main-menu" role="menuitem" aria-selected="false">{{getLanguageText "Dashboard"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Dashboard"}}</div>
                                </li>

                                <li class="menu-devicecontrol parent-menu" >
                                    <!-- 활성화된 메뉴 aria-selected 속성을 false로 설정합니다. -->
                                    <button type="button" class="btn-main-menu" role="menuitem" aria-selected="false">{{getLanguageText "Device Control"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Device Control"}}</div>
                                </li>

                                <li class="menu-vitualcontrol parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem" aria-selected="false">{{getLanguageText "Virtual Controller"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Virtual Controller"}}</div>
                                </li>

                                <li class="menu-information parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem" aria-selected="false">{{getLanguageText "Information"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Information"}}</div>
                                </li>

                                <li class="menu-medialibrary parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem" aria-selected="false">{{getLanguageText "Media Library"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Media Library"}}</div>
                                </li>

                            </ul>
                            <!-- Main menu Depth 1 -->
                        </nav>

                        <!-- 전역 아이콘 -->
                        <nav class="global-nav">
                            <!-- Main menu Depth 1 -->
                            <ul id="manager-list" class="main-menu" role="menu">

                                <li class="menu-contentsmanager parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem">{{getLanguageText "Content Manager"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Content Manager"}}</div>
                                </li>

                                <li class="menu-groupmanager parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem">{{getLanguageText "Group Manager 2.0"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Group Manager 2.0"}}</div>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!-- Side Bottom -->
                </div>
                <!-- Side Bar -->
            </div>

            <!-- 좌측 네비게이션 -->
            <!--
              LNB를 로드하기 위한 컨테이너 입니다.
              이곳에 lnb.html에 <div class="child-container"> 가 로드 됩니다.
              개발 시 해당 컨테이너는 무시하시고,
              child-container를 컴포넌트로 개발하시면 됩니다.
            -->
            <div class="lnb-box">
                <div class="child-container">
                    <div class="header header-site">
                        <button type="button" class="btn btn-back">Back</button>
                        <div class="title">{{getLanguageText "Content Manager"}}</div>
                    </div>

                    <div class="child-menu-container">

                        <!-- Child Menu -->
                        <ul>
                            <!-- .active : 하위 메뉴 활성화 추가 클래스 -->
                            <li id="menu-2-1" class="child-menu has-child active" >
                                <a href="/device" class="has-child" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Player">
                                    {{getLanguageText "Device Control"}}
                                </a>
                                <!-- Grand child menu -->
                                <ul aria-labelledby="page-title">
                                    <li id="menu-2-1-1" class="grand-child-menu" >
                                        <a href="/device">{{getLanguageText "Display & Sound"}}</a>
                                    </li>
                                    <!--
                                      .active: grand-child-menu 메뉴 선택 활성화 추가 클래스
                                    -->
                                    <li id="menu-2-1-2" class="grand-child-menu" >
                                        <a href="/time">{{{getLanguageText "Time & Date"}}}</a>
                                    </li>
                                    <li id="menu-2-1-3" class="grand-child-menu" >
                                        <a href="/network">{{getLanguageText "Network"}}</a>
                                    </li>
                                    {{#if env.tileMode.visible}}
                                    <li id="menu-2-1-4" class="grand-child-menu" >
                                        <a href="/tileMode">{{getLanguageText "Tile Mode"}}</a>
                                    </li>
                                    {{/if}}
                                    <li id="menu-2-1-5" class="grand-child-menu" >
                                        <a href="/failOver">{{getLanguageText "Fail Over"}}</a>
                                    </li>
                                    <li id="menu-2-1-6" class="grand-child-menu" >
                                        <a href="/playViaUrl">{{getLanguageText "Play via URL"}}</a>
                                    </li>
                                    <li id="menu-2-1-7" class="grand-child-menu" >
                                        <a href="/update">{{getLanguageText "S/W Update"}}</a>
                                    </li>
                                    {{#env.outdoor}}
                                    <li id="menu-2-1-8" class="grand-child-menu" >
                                        <a href="/remocon">{{getLanguageText "Virtual Controller"}}</a>
                                    </li>
                                    {{/env.outdoor}}
                                </ul>
                                <!-- Grand child menu -->
                            </li>

                            <li id="menu-2-2" class="child-menu has-child" >
                                <a href="/charts" class="has-child" role="menuitem" aria-haspopup="true" aria-expanded="false" aria-label="Player">
                                    {{getLanguageText "Information"}}
                                </a>
                                <!-- Grand child menu -->
                                <ul role="menu">
                                    <li id="menu-2-2-1" class="grand-child-menu" >
                                        <a href="/charts">{{getLanguageText "Charts"}}</a>
                                    </li>
                                    <!--
                                      .active: grand-child-menu 메뉴 선택 활성화 추가 클래스
                                    -->
                                    <li id="menu-2-2-2" class="grand-child-menu" >
                                        <a href="/fan">{{getLanguageText "Fan"}}</a>
                                    </li>
                                    <li id="menu-2-2-3" class="grand-child-menu" >
                                        <a href="/logFile">{{getLanguageText "Log"}}</a>
                                    </li>
                                    <li id="menu-2-2-4" class="grand-child-menu" >
                                        <a href="/system">{{getLanguageText "System Information"}}</a>
                                    </li>
                                </ul>
                                <!-- Grand child menu -->
                            </li>

                        </ul>
                        <!-- Child Menu -->

                    </div>
                </div>
            </div>

            <!-- Content Box -->
            <div id="go-content" role="main" class="content-box">
                <!-- Content top -->
                <div class="content-top">
                    <!-- 좌측 네비게이션 있을 경우 .btn-lnb 추가클래스 하면 리플로우시 버튼 아이콘이 활성화가 됩니다. -->
                    <div id="bread-head" class="top-left btn-lnb">
                        <h2 class="icon-navigation-devicecontrol">
                            <button type="button" class="btn btn-open-child" id="toggle-btn" aria-labelledby="main-title toggle-btn" aria-expanded="false">
                                <span class="ir">All Menu</span>
                            </button>
                            <span id="main-title">{{getLanguageText "Control Manager"}}</span>
                        </h2>

                        <!-- BreadCrumb -->
                        <div class="breadcrumb">
                        </div>
                        <!-- BreadCrumb -->
                    </div>

                </div>
                <!-- Content top -->

                <!-- Content middle -->
                <div class="content-middle">
                    <!--
                        Breadcrumb for Reflow 400%
                        Reflow 400%를 대응하기 위한 브레드크럽과 Site, Tag 설정 기능입니다.
                      -->
                    <!--<div class="breadcrumb-for-400 mobile-only">
                        &lt;!&ndash; drowpdown A type &ndash;&gt;
                        <div class="field field-type-dropdown">
                            &lt;!&ndash; <label class="field-label">Type</label> &ndash;&gt;
                            <div class="field-form">
                                &lt;!&ndash;
                                      현재 선택된 언어는 aria-selected 속성 값을 true로 설정해주세요.
                                    &ndash;&gt;
                                <div class="dropdown dropdown-type-a no-selected">
                                    <a href="javascript:void(0);" role="listbox" aria-haspopup="listbox" class="btn-dropdown"
                                       aria-selected="false" title="Please Select option">Site</a>
                                    <div class="dropdown-menu">
                                        <ul class="lists" role="listbox" aria-expanded="true">
                                            <li class="list" ><a href="javascript:void(0);" role="option"
                                                                                         aria-selected="true">Site</a>
                                            </li>
                                            <li class="list" ><a href="javascript:void(0);" role="option"
                                                                                         aria-selected="false">Tag</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash; drowpdown A type &ndash;&gt;

                        &lt;!&ndash; Breadcrumb &ndash;&gt;
                        <div class="breadcrumb-box">
                            <div class="icon">
                            </div>
                            <div class="breadcrumb">
                                <span class="bread">breadcrumb</span>
                                <span class="bread">breadcrumb</span>
                                <span class="bread">breadcrumb</span>
                            </div>
                        </div>
                        &lt;!&ndash; Breadcrumb &ndash;&gt;
                    </div>-->
                    <!-- Breadcrumb for Reflow 400% -->

                    <div class="content-middle-box">
                        {{{ body }}}
                    </div>
                </div>
                <!-- Content middle -->
            </div>
            <!-- Content Box -->
        </div>
        <!-- Content Container -->

        <!-- Footer Container -->
        <div class="footer-container">

        </div>
        <!-- Footer Container -->
    </div>

<!--    <script type="text/javascript" src="/js/design/ui_common.js"></script>-->
    <script src="/assets/lib/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/ui_loader.js"></script>
</body>

<script>

    // $(".txt_display").text(getLanguageText(languageTable, $(".txt_display").text()));
    // var imageIndex = (Math.floor(Math.random() * 10) % 4) + 1;
    // var imageSrc = '/images/image_0' + imageIndex + '.png';
    // $('#navbar-background').attr('src', imageSrc);
    <!--$('.title.dropdown-li:first-child').css('margin-top', {{env.outdoor}} ? '20px' : '40px');-->
</script>

</html>
