{{#supportLedSignage}}
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/range.js"></script>
<script src="/js/page/ledGrid.js"></script>
<link href="/css/led.css" rel="stylesheet">

<div class="row">
	<div class="col-lg-12">
        <!-- Basic Status Here -->
		<div class="panel panel-default panel-wide">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title UnitStatusTxt">
				</h4>
				<hr>
			</div>

			<div class=row id=topContainer>
				<div class='panel-body col-xs-12' id=topInfoPanel>
					<div class=col-xs-9>
						<table class='table unit-status'>
							<tr>
								<th class=NormalTxt>
									Normal
								</th>
								<td>
									<span id=okUnits>0</span> <!--<span class=UnitsTxt></span>-->
								</td>
								<td>
									<div style='width: 40px; height: 10px; background-color:#2dc4ac;'></div>
								</td>
								<td><font color=#ccc>|</font></td>
								<th class=NgTxt>
									NG
								</th>
								<td>
									<span id=ngUnits>0</span> <!--<span class=UnitsTxt></span>-->
								</td>
								<td>
									<div style='width: 40px; height: 10px; background-color:#ff4a4a;'></div>
								</td>
								<td><font color=#ccc>|</font></td>
								<th class=PowerOffTxt>
									Power Off
								</th>
								<td>
									<span id=offUnits>0</span> <!--<span class=UnitsTxt></span>-->
								</td>
								<td>
									<div style='width: 40px; height: 10px; background-color:#cccccc;'></div>
								</td>
							</tr>
						</table>
					</div>
					<div class=col-xs-3>
						<button id=patternBtn class='img-button xsmall smallTxt TestPatternTxt' style='margin: 0 0 7px 0;'>Test Pattern</button>
					</div>
				</div>

				<div class='panel-body col-xs-12' id=topPatternPanel>
					<div class=col-xs-12>
						<h5 style='font-size: 18px'>
						<button class='img-button cancel' id='patternClose'>&nbsp;</button>
						<b><span class='TestPatternTxt'></span></b>
						</h5>
					</div>
				</div>
 
				<div class='panel-body'>
					<div class='row col-xs-12' id='gridPanel' style='margin-left: 0px;'>
						<div class='col-xs-1 grid vrule'>
							<div class='grid vrule infoPanel' id=gridVRule>
							</div>
						</div>
						<div class='col-xs-11 grid'>
							<div class='col-xs-12 grid infoPanel' id=gridHRule>
							</div>
							<div class='col-xs-12 grid editPanel' align=center>
							</div>
							<div class='col-xs-12 grid' id=unitGrid>
							</div>
						</div>
					</div>
				</div>
	
				<div class=panel-body id=bottomPatternPanel>
					<div class=panel-body>
						<table class=table>
							<tr>
								<td class='first TestColorTxt' width=100px>Test Color</td>
								<td style='vertical-align: middle;' width=50px><div id=patternColor style='border-style:solid; border-width:1px;width:40px;height:15px'>&nbsp;</div></td>
								<td width=400px>&nbsp;</td>
								<td class='first AllUnitsTxt' width=100px>All Units</td>
								<td width=150px><input type=checkbox class=grey id=patternAll><label for=patternAll>&nbsp;</label></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class=second>R</td>
								<td colspan=2><input type=range class=custom-red min=0 max=1023 value=0 id=colorR></td>
								<td><input type=number class=pattern min=0 max=1023 value=0 id=colorRNum></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class=second>G</td>
								<td colspan=2><input type=range class=custom-green min=0 max=1023 value=0 id=colorG></td>
								<td><input type=number class=pattern min=0 max=1023 value=0 id=colorGNum></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class=second>B</td>
								<td colspan=2><input type=range class=custom-blue min=0 max=1023 value=0 id=colorB></td>
								<td><input type=number class=pattern min=0 max=1023 value=0 id=colorBNum></td>
							</tr>
						</table>
					</div>
				</div>

				<div class='panel-body' id=infoDiv>
   					<div class="panel col-xs-12">
						<div class=col-xs-8>
							<h5 style='font-size: 18px'>
							<button id=infoCloseBtn class='img-button cancel'>&nbsp;</button>
							<b><span class='DetailUnitTxt'></span> <span id='unitID'></span></b>
							</h5>
						</div>
						<div class=col-xs-4>
							<button id=calibUnitBtn class='img-button small smallTxt CalibrateUnitTxt'>Calibrate Unit</button>
						</div>
          					<table class='table'>
							<tbody>
								<tr>
									<td class="first PowerTxt">Power</td>
									<td class="second" colspan=2><span id=unitPower class=led-status>-</span></td>
								</tr>
								<tr>
									<td class="first SignalTxt">Signal</td>
									<td class="second" colspan=2><span id=unitSignal class=led-status>-</span></td>
								</tr>
								<tr>
									<td class="first UnitTempTxt">Unit Temperature</td>
									<td class="second led-status">
										<span id=unitTemp>-</span><span class='tempUnit'>-</span>
										<!--
										<a href="javascript:void(0);" id="toggle-temperature" style="text-decoration:none; color:#6f6f6f;">
											(<span id="celsius">°C</span>/<span id="fahrenheit">°F</span>)
										</a>
										-->
									</td>
									<td class='third'><button id=celButton class=unitButton>°C</button><button id=fahrButton class=unitButton>°F</button></td>
								</tr>
							</tbody>				
						</table>
						<br>
						<table class='table gamut'>
							<tr bgcolor='#f2f2f2'>
								<th class='ModuleTxt'>Module</th>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
							</tr>
							<tr>
								<td class=TemperatureTxt>Temperature</td>
								<td class=led-status>
									<span id=moduleTemp1>-</span><span class='tempUnit'>-</span>
								</td>
								<td class=led-status>
									<span id=moduleTemp2>-</span><span class='tempUnit'>-</span>
								</td>
								<td class=led-status>
									<span id=moduleTemp3>-</span><span class='tempUnit'>-</span>
								</td>
								<td class=led-status>
									<span id=moduleTemp4>-</span><span class='tempUnit'>-</span>
								</td>
							</tr>
							<tr>
								<td class=CurrentTxt>Current</th>
								<td class=led-status>
									<span id=moduleCurrent1>-</span><span>mA</span>
								</td>
								<td class=led-status>
									<span id=moduleCurrent2>-</span><span>mA</span>
								</td>
								<td class=led-status>
									<span id=moduleCurrent3>-</span><span>mA</span>
								</td>
								<td class=led-status>
									<span id=moduleCurrent4>-</span><span>mA</span>
								</td>
							</tr>
							<!--
							<tr>
								<td>LED Open Detection</th>
								<td><span id=moduleLOD1 class=led-status>-</span></td>
								<td><span id=moduleLOD2 class=led-status>-</span></td>
								<td><span id=moduleLOD3 class=led-status>-</span></td>
								<td><span id=moduleLOD4 class=led-status>-</span></td>
							</tr>
							-->
						</table>
   					</div>
				</div>
			
				<div class='panel-body' id=calUnitDiv>
					<div class="col-xs-12">
       					<div class=col-xs-12>
           					<h5 style='font-size: 18px'>
								<button class='img-button cancel' id='calUnitClose'>&nbsp;</button> <b><span class=LedUnitTxt></span> <span id=unitID>-</span></b>
           					</h5>
						</div>
						<!--
						<div class=panel id='calUnitInner'>
							<div class=col-xs-5>
								<h4>
									<span class=UnitCalibTxt></span> <span id='unitReturn'></span>
								</h4>
							</div>
							<div class=col-xs-4>
								<input type=checkbox class=grey id=allUnits><label for=allUnits>&nbsp;</label><span class=ApplyAllTxt></span>
							</div>
							<div class=col-xs-3>
								<button class='img-button xsmall ApplyTxt' style='margin: 0 0 0 0;' disabled id=applyUnitConfig>Apply</button>
							</div>
							<div class=col-xs-12>
								<hr style='margin-top: 0px;'>
							</div>
           					<table class='table gamut'>
								<tr>
									<td rowspan=6 class='first GamutMatTxt'>Gamut Matrix</td>
									<td>
										<table class=table style='width: 70%;'>
											<tr>
												<th>&nbsp;</th>
												<th>R</th>
												<th>G</th>
												<th>B</th>
											</tr>
											<tr>
												<th>R</th>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=1.0 class='gamut' id=gamut00></td>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=0.0 class='gamut' id=gamut01></td>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=0.0 class='gamut' id=gamut02></td>
											</tr>
											<tr>
												<th>G</th>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=0.0 class='gamut' id=gamut10></td>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=1.0 class='gamut' id=gamut11></td>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=0.0 class='gamut' id=gamut12></td>
											</tr>
											<tr>
												<th>B</th>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=0.0 class='gamut' id=gamut20></td>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=0.0 class='gamut' id=gamut21></td>
												<td><input type=number step=0.01 min=-1.99 max=1.99 value=1.0 class='gamut' id=gamut22></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<div class=col-xs-12>
								<center>
									<button id='unitReset' class='img-button small ResetTxt'>Reset</button>
								</center>
								<hr>
							</div>
							-->
							<div class=col-xs-3>
								<h4 class='ModuleCalibTxt'>
									Module Calibration
								</h4>
							</div>
							<div class=col-xs-6>
								<h4>
									<span id='moduleReturn'></span>
								</h4>
							</div>

							<div class=col-xs-3>
								<button id=applyModule class='img-button xsmall ApplyTxt' style='margin: 0 0 0 0;' disabled>Apply</button>
							</div>
							<div class=col-xs-12>
								<hr style='margin-top: 0px;'>
							</div>
           					<table class='table table-bordered gamut'>
								<tbody>
									<tr bgcolor=#f1f1f1>
										<th width=8%>
											<span class=ModuleTxt></span>
										</th>
										<th colspan=2 width=23%>1</th>
										<th colspan=2 width=23%>2</th>
										<th colspan=2 width=23%>3</th>
										<th colspan=2 width=23%>4</th>
									</tr>
									<tr>
										<td width=8% class='BrightnessTxt'>
											Brightness
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC1 type=range min=0 max=1 value=1>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC1Num min=0 max=1 value=1 tabindex=1></input>
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC2 type=range min=0 max=1 value=1>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC2Num min=0 max=1 value=1 tabindex=5></input>
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC3 type=range min=0 max=1 value=1>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC3Num min=0 max=1 value=1 tabindex=9></input>
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC4 type=range min=0 max=1 value=1>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC4Num min=0 max=1 value=1 tabindex=13></input>
										</td>
									</tr>
									<tr>
										<td>
											R
										</td>
										<td>
											<input class=custom-red id=ccR1 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccR1Num min=0 max=511 value=256 tabindex=2></input>
										</td>
										<td>
											<input class=custom-red id=ccR2 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccR2Num min=0 max=511 value=256 tabindex=6></input>
										</td>
										<td>
											<input class=custom-red id=ccR3 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccR3Num min=0 max=511 value=256 tabindex=10></input>
										</td>
										<td>
											<input class=custom-red id=ccR4 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccR4Num min=0 max=511 value=256 tabindex=14></input>
										</td>
									</tr>
									<tr>
										<td>
											G
										</td>
										<td>
											<input class=custom-green id=ccG1 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccG1Num min=0 max=511 value=256 tabindex=3></input>
										</td>
										<td>
											<input class=custom-green id=ccG2 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccG2Num min=0 max=511 value=256 tabindex=7></input>
										</td>
										<td>
											<input class=custom-green id=ccG3 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccG3Num min=0 max=511 value=256 tabindex=11></input>
										</td>
										<td>
											<input class=custom-green id=ccG4 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccG4Num min=0 max=511 value=256 tabindex=15></input>
										</td>
									</tr>
									<tr>
										<td>
											B
										</td>
										<td>
											<input class=custom-blue id=ccB1 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccB1Num min=0 max=511 value=256 tabindex=4></input>
										</td>
										<td>
											<input class=custom-blue id=ccB2 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccB2Num min=0 max=511 value=256 tabindex=8></input>
										</td>
										<td>
											<input class=custom-blue id=ccB3 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccB3Num min=0 max=511 value=256 tabindex=12></input>
										</td>
										<td>
											<input class=custom-blue id=ccB4 type=range min=0 max=511 value=256>
										</td>
										<td>
											<input class=side type=number id=ccB4Num min=0 max=511 value=256 tabindex=16></input>
										</td>
									</tr>

								</tbody>				
							</table>
							<div class=col-xs-12>
								<center>
									<button id='moduleReset' class='img-button small ResetTxt'>Reset</button>
								</center>
								<hr>
							</div>
       					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var env = {{{json env}}};
var curConfig;
var isEditMode = false;
var curUnit = -1;
var curUnitTimer = undefined;
var allUnitTimer = undefined;
var modifiedUnit = false;
var modifiedModule = false;
var isCelsius = true;


setupRangeUI('colorR', 0, 1023);
setupRangeUI('colorG', 0, 1023);
setupRangeUI('colorB', 0, 1023);
setupRangeUI('globalBC', 0, 7);

for (var i = 0; i != 4; ++i) {
	setupRangeUI('moduleBC' + (i + 1), 0, 1);
	setupRangeUI('ccR' + (i + 1), 0, 511);
	setupRangeUI('ccG' + (i + 1), 0, 511);
	setupRangeUI('ccB' + (i + 1), 0, 511);
}

function convertTemp(temp) {
	if (!isCelsius) {
		return (Number(temp) * 1.8 + 32).toFixed(1);
	} 
	return temp
}

function sensorTimerHandler() {
	getLedTemperature(curUnit * 2, function(msg) {
		if (!msg || !msg.temperature) {
			$('#unitTemp').html('-');
			$('[id^=moduleTemp]').html('-');
			return;
		}

		$('#unitTemp').html(convertTemp(msg.temperature[0])).next().show().parent()
			.toggleClass('ng', !msg.isOk[0]);

		if (msg.temperature[0] <= -128) {
			$('#unitTemp').html(Locale.getText('NG')).next().hide();
		}

		for (var i = 1; i != 5; ++i) {
			$('#moduleTemp' + i).html(convertTemp(msg.temperature[i])).next().show().parent()
				.toggleClass('ng', !msg.isOk[i]);

			if (msg.temperature[i] <= -128) {
				$('#moduleTemp' + i).html(Locale.getText('NG')).next().hide();
			}
		}
	});
	
	getLedCurrent(curUnit * 2, function(msg) {
		if (!msg || !msg.current) {
			$('[id^=moduleCurrent]').html('-');
			return;
		}

		for (var i = 0; i != 4; ++i) {
			$('#moduleCurrent' + (i + 1)).html(msg.current[i].toFixed(2)).next().show().parent()
				.toggleClass('ng', !msg.isOk[i]);

			if (msg.current[i] <= -128) {
				$('#moduleCurrent' + (i + 1)).html(Locale.getText('NG')).next().hide();
			}
		}
	});

	getLedSignalStatus(curUnit * 2, function(msg) {
		$('#unitSignal').html(msg.isSignalOk ? 'OK' : Locale.getText('NG'))
			.toggleClass('ok', msg.isSignalOk)
			.toggleClass('ng', !msg.isSignalOk);
	});

	getLedPowerStatus(curUnit * 2, function(msg) {
		$('#unitPower').html(msg.isPowerOk ? 'OK' : Locale.getText('NG'))
			.toggleClass('ok', msg.isPowerOk)
			.toggleClass('ng', !msg.isPowerOk);
	});

	/*
	getLedLOD(curUnit * 2, function(msg) {
		if (!msg || !msg.isOk) {
			$('[id^=moduleLOD]').html('-');
			return;
		}

		for (var i = 0; i != 4; ++i) {
			$('#moduleLOD' + (i + 1)).html(msg.isOk[i] ? "OK" : Locale.getText("NG"))
				.toggleClass('ok', msg.isOk[i])
				.toggleClass('ng', !msg.isOk[i]);
		}
	});
	*/
}

function unitClickHandler() {
	var unitID = $(this).attr('unitID');
	if (!unitID) {
		return;
	}

	if ($(this).hasClass('off')) {
		return;
	}

	curUnit = Number(unitID);
	$('[id=unitID]').html(unitID);
	$('#infoDiv').animate({left:'0px', width: 'toggle'}, 200);
	$('#patternBtn').prop('disabled', true);

	sensorTimerHandler();
	curUnitTimer = setInterval(sensorTimerHandler, 5 * 1000);
}

$('#infoCloseBtn').click(function() {
	$('#infoDiv').animate({left:'100%', width: 'toggle'}, 200);
	$('#patternBtn').prop('disabled', false);
	clearInterval(curUnitTimer);
});

function getPatternColor() {
	function pad(str) {
		if (str.length < 2) {
			str = '0' + str;
		}
		return str;
	}

	function getColor(val, max) {
		return Math.round(val * 255 / max);
	}

	var R = getColor($('#colorR').val(), 1023);
	var G = getColor($('#colorG').val(), 1023);
	var B = getColor($('#colorB').val(), 1023);

	var color = '#' + pad(R.toString(16)) + pad(G.toString(16)) + pad(B.toString(16));

	return color;
}

$('#colorR,#colorG,#colorB').change(function() {
	var color = getPatternColor();
	$('#patternColor').css('background-color', color);

	for (var i = 0; i != curConfig.size.h * curConfig.size.v; ++i) {
		if (!isOn(i + 1, curConfig)) {
			continue;
		}
		var id = 'patternCheck' + (i + 1);
		changePatternColor(id);
		$('#' + id).change();
	}
});

function loadBC_CC() {
	for (var i = 0; i != 4; ++i) {
		(function() {
			var bank = i;
			getBC_CC(curUnit * 2, bank, function(msg) {
				$('#moduleBC' + (bank + 1)).unbind('change', bc_ccHandler).val(msg.bc).change().change(bc_ccHandler);
				$('#ccR' + (bank + 1)).unbind('change', bc_ccHandler).val(msg.r).change().change(bc_ccHandler);
				$('#ccG' + (bank + 1)).unbind('change', bc_ccHandler).val(msg.g).change().change(bc_ccHandler);
				$('#ccB' + (bank + 1)).unbind('change', bc_ccHandler).val(msg.b).change().change(bc_ccHandler);
			});
		})();
	}
}

function loadGamut() {
	getGamut(curUnit * 2, function(msg) {
		for (var i = 0; i != 3; ++i) {
			for (var j = 0; j != 3; ++j) {
				var gamut = Number(msg[i][j]).toFixed(2);
				$('#gamut' + i + j).val(gamut);
			}
		}
	});
}

$('#calibUnitBtn').click(function() {
	$('#calibUnitModal').modal();
});

function calibCloseHandler() {
	$('#calUnitDiv').animate({left:'100%', width: 'toggle'}, 200);
	for (var i = 0; i != 4; ++i) {
		$('#moduleBC' + (i + 1)).unbind('change', bc_ccHandler);
		$('#ccR' + (i + 1)).unbind('change', bc_ccHandler);
		$('#ccG' + (i + 1)).unbind('change', bc_ccHandler);
		$('#ccB' + (i + 1)).unbind('change', bc_ccHandler);
	}
	$('#applyUnitConfig').attr('disabled', true);
	$('#applyModule').attr('disabled', true);
	
	if (modifiedUnit) {
		loadConfig(curUnit * 2);
	}
	if (modifiedModule) {
		overlayControl(true, Locale.getText('Loading'));
		loadCalibrationData(curUnit * 2, 'user', function() {
			overlayControl(false);
		});
	}
	curUnitTimer = setInterval(sensorTimerHandler, 5 * 1000);
}

$('#calUnitClose').click(function() {
	if (modifiedUnit) {
		$('#closeUnitModal').modal();
		return;
	}
	if (modifiedModule) {
		$('#closeModuleModal').modal();
		return;
	}

	calibCloseHandler();
});

function getGamutMatrix() {
	var arr = [];
	for (var i = 0; i != 3; ++i) {
		var subArr = [];
		for (var j = 0; j != 3; ++j) {
			subArr.push(Number($('#gamut' + i + j).val()));
		}
		arr.push(subArr);
	}

	return arr;
}

$('[id^=gamut]').change(function() {
	if ($(this).val() >= 2.0) {
		$(this).val(1.99);
	}

	if ($(this).val() <= -2.0) {
		$(this).val(-1.99);
	}

	var arr = getGamutMatrix();

	modifiedUnit = true;
	$('#applyUnitConfig').attr('disabled', false);
	setGamut(curUnit * 2, arr);
});

$('#applyUnitConfig').click(function() {
	var arr = getGamutMatrix();
	modifiedUnit = false;
	$(this).attr('disabled', true);
	var allUnits = $('#allUnits').prop('checked');
	var slave = allUnits ? 0 : curUnit * 2;
	setGamut(slave, arr);
	setTimeout(function() {
		saveConfig(slave);
	}, 500);
});

$('#allUnits').change(function() {
	$('#applyUnitConfig').attr('disabled', false);
});

function setUserAsDefaultMemory(slave) {
	getI2C(slave, 0x12, function(msg) {
		var val = msg.result.bytes[0];
		val |= 0x08;
		setI2C(slave, 0x12, val);
		getI2C(slave, 0x7e, function(msg2) {
			var val = msg2.result.bytes[0];
			val |= 0x80;
			setI2C(slave, 0x7e, val);
		});
	});
}

$('#applyModule').click(function() {
	modifiedModule = false;
	$(this).attr('disabled', true);
	overlayControl(true, Locale.getText('Apply') + '....');
	saveCalibrationData(curUnit * 2, -1, function(ret) {
		setUserAsDefaultMemory(curUnit * 2);
		overlayControl(false);
	});
});

function bc_ccHandler() {
	var id = $(this).attr('id');
	var module = id.substring(id.length - 1);

	var bc = $('#moduleBC' + module).val();
	var ccR = $('#ccR' + module).val();
	var ccG = $('#ccG' + module).val();
	var ccB = $('#ccB' + module).val();

	setBC_CC(curUnit * 2, module - 1, bc, ccR, ccG, ccB);

	modifiedModule = true;
	$('#applyModule').attr('disabled', false);
}

function changePatternColor(checkID) {
	var color = getPatternColor();
	var id = '#gridCol' + checkID.substring('patternCheck'.length);
	var checked = $('#' + checkID).prop('checked');
	if (checked) {
		$(id).css('background-color', color);
	} else {
		$(id).css('background-color', '');
		$(id).addClass('off');
	}
}

function removeStatusClass(grid) {
	grid.removeClass('ok');
	grid.removeClass('ng');
	grid.removeClass('off');
}

function changeStatusClass(grid, classStr) {
	if (grid.hasClass(classStr)) {
		return;
	}
	removeStatusClass(grid);
	grid.addClass(classStr);
}

var unitStatus = {
	ok: 0,
	ng: 0,
	off: 0
};

function showNumUnits() {
	$('#okUnits').html(unitStatus.ok);
	$('#ngUnits').html(unitStatus.ng);
	$('#offUnits').html(unitStatus.off);
}

function checkUnitOk(unitID, gridID) {
	getLedPowerStatus(unitID * 2, function(msg) {
		var grid = $('[unitid=' + unitID + ']');
		if (!msg.isPowerOk) {
			changeStatusClass(grid, 'off');
			unitStatus.off++;
			showNumUnits();
			return;
		}
		getLedOverallStatus(unitID * 2, function(msg) {
			changeStatusClass(grid, msg.isOverallOk ? 'ok' : 'ng');
			unitStatus[msg.isOverallOk ? 'ok' : 'ng']++;
			showNumUnits();
		});
	});
}

function checkUnitStatusHandler() {
	var h = curConfig.size.h;
	var v = curConfig.size.v;

	unitStatus.ok = 0;
	unitStatus.ng = 0;
	unitStatus.off = 0;

	for (var i = 0; i != h * v; ++i) {
		if (curConfig.regular == 0) {
			checkUnitOk(i + 1, i + 1);
		} else if (isOn(i + 1, curConfig)) {
			var id = curConfig.onUnits[i + 1];
			checkUnitOk(id, i + 1);
		}
	}
}

getUnitConfig(function(msg) {
	curConfig = msg;
	var h = curConfig.size.h;
	var v = curConfig.size.v;
	var outWinDelta = getOutputWindowDelta(curConfig);
	changeGridConfig(h, v, curConfig.resolution, outWinDelta);

	for (var i = 0; i != h * v; ++i) {
		var grid = $('#gridCol' + (i + 1));
		if (!isOn(i + 1, curConfig)) {
			grid.addClass('none');
			continue;
		}
		var patternBox = $('<p class=control id=unitIDBox' + (i + 1) + '><span></span></p>');
		patternBox.append('<br><input type=checkbox class=grey id=patternCheck' + (i + 1) + '>'
			+ '<label id=patternCheckLabel' + (i + 1) + ' for=patternCheck' + (i + 1) + '>&nbsp;</label>');
		grid.append(patternBox);
		grid.addClass('ok');
	}

	setUnitID(curConfig, curConfig.regular == 0);

	checkUnitStatusHandler();
	allUnitTimer = setInterval(checkUnitStatusHandler, 10 * 1000);

	$('[id^=patternCheck]').hide();

	$('.unit').click(unitClickHandler);
	$('#config').html(curConfig.size.h + ' x ' + curConfig.size.v);

	$('[id^=patternCheck]').change(function() {
		var id = $(this).attr('id');
		var checked = $(this).prop('checked');
		var R = Number($('#colorR').val());
		var G = Number($('#colorG').val());
		var B = Number($('#colorB').val());

		changePatternColor(id);
		var allCheck = true;
		for (var i = 0; i != h * v; ++i) {
			var unitID = $('#gridCol' + (i + 1)).attr('unitID');

			if (unitID == undefined) {
				continue;
			}

			if (!$('#patternCheck' + (i + 1)).prop('checked')) {
				allCheck = false;
				break;
			}
		}
		$('#patternAll').prop('checked', allCheck);
		var numID = Number(id.substring('patternCheck'.length));
		var unitID = $('#gridCol' + numID).attr('unitID');
		showPattern(unitID * 2, checked, R, G, B);
	});

	$('#patternAll').change(function() {
		for (var i = 0; i != h * v; ++i) {
			if (!$('#gridCol' + (i + 1)).attr('unitID')) {
				continue;
			}
			var id = 'patternCheck' + (i + 1);
			$('#' + id).prop('checked', $(this).prop('checked'));
			changePatternColor(id);
		}
		var R = Number($('#colorR').val());
		var G = Number($('#colorG').val());
		var B = Number($('#colorB').val());
		var checked = $(this).prop('checked');
		showPattern(0, checked, R, G, B);
	});
});

$(':input[type="number"]').keypress(function(e) {
	var allowed = ['.', '-'];
	var keyCode = e.keyCode ? e.keyCode : e.which;
	if (keyCode) {
		if (keyCode >= '0'.charCodeAt(0) && keyCode <= '9'.charCodeAt(0)) {
			return true;
		}

		// tab backspace
		if (keyCode == 9 || keyCode == 8) {
			return true;
		}

		// enter
		if (keyCode == 13) {
			$(this).blur().change();
			return false;
		}

		for (var i = 0; i != allowed.length; ++i) {
			if (keyCode == allowed[i].charCodeAt(0)) {
				return true;
			}
		}
	}
	return false;
});

$('#topPatternPanel').hide();
$('#bottomPatternPanel').hide();

$('#patternBtn').click(function() {
	clearInterval(allUnitTimer);
	$('[id^=patternCheck]').show();
	$('#topInfoPanel').hide();
	$('#topPatternPanel').show();
	$('#bottomPatternPanel').show();
	$('.unit').unbind('click', unitClickHandler);

	$('.unit').each(function() {
		if (!$(this).hasClass('none')) {
			removeStatusClass($(this));
			$(this).addClass('off');
		}
	});
});

$('#patternClose').click(function() {
	checkUnitStatusHandler();
	allUnitTimer = setInterval(checkUnitStatusHandler, 10 * 1000);

	$('[id^=patternCheck]').hide();
	$('#topInfoPanel').show();
	$('#topPatternPanel').hide();
	$('#bottomPatternPanel').hide();
	$('.unit').click(unitClickHandler);
	//$('#patternAll').prop('checked', false).change();

	// reload unit OK/NG status
	
	$('.unit').each(function() {
		if (!$(this).hasClass('none')) {
			$(this).css('background-color', '');
			$(this).removeClass('off');
			$(this).addClass('ok');
		}
	});
});

$('#patternColor').css('background-color', 'black');

$('#unitReset').click(function() {
	modifiedUnit = true;
	$('#applyUnit').attr('disabled', false);
	for (var i = 0; i != 3; ++i) {
		for (var j = 0; j != 3; ++j) {
			var gamut = i == j ? 1.0 : 0.0;
			$('#gamut' + i + j).val(gamut.toFixed(2)).change();
		}
	}
});

$('#moduleReset').click(function() {
	modifiedModule = true;
	$('#applyModule').attr('disabled', false);
	overlayControl(true, Locale.getText('Loading'));
	loadCalibrationData(curUnit * 2, 'factory', function() {
		setTimeout(function() {
			loadBC_CC();
			overlayControl(false);
		}, 2 * 1000);
	});
});

function confirmExit() {
	// turn off pattern
	$('#patternAll').prop('checked', false).change();
}

window.onbeforeunload = confirmExit;

function initTempUnit() {

	function unitButtonHandler() {
		if(!isCelsius){
			$('.tempUnit').html('°F');
			$('#fahrButton').addClass('sel');
			$('#celButton').removeClass('sel');
		}else{
			$('.tempUnit').html('°C');
			$('#celButton').addClass('sel');
			$('#fahrButton').removeClass('sel');
		}
		writeTempType(isCelsius);
		sensorTimerHandler();
	}
	$('#celButton').click(function(){
		isCelsius = true;
		unitButtonHandler();
	});

	$('#fahrButton').click(function(){
		isCelsius = false;
		unitButtonHandler();
	});


	readTempType(function(tempType){
		if (tempType.isCelsius) {
			$('.tempUnit').html('°C');
			$('#celButton').addClass('sel');
			$('#fahrButton').removeClass('sel');
		}else{
			$('.tempUnit').html('°F');
			$('#fahrButton').addClass('sel');
			$('#celButton').removeClass('sel');
		}
		isCelsius = tempType.isCelsius;
	});
}


initTempUnit();

Locale.callback = function() {
	$('.UnitStatusTxt').text(Locale.getText("Unit Status"));
	$('.NormalTxt').text(Locale.getText("Normal"));
	$('.NgTxt').text(Locale.getText("NG"));
	$('.PowerOffTxt').text(Locale.getText("Power Off"));
	$('.TestPatternTxt').text(Locale.getText("Test Pattern"));
	$('.UnitsTxt').text(Locale.getText("Units"));
	$('.LedUnitTxt').text(Locale.getText("LED Unit"));
	$('.TestColorTxt').text(Locale.getText("Test Color"));
	$('.AllUnitsTxt').text(Locale.getText("All Units"));
	$('.DetailUnitTxt').text(Locale.getText("Details of Unit"));
	$('.CalibrateUnitTxt').text(Locale.getText("Calibrate Unit"));
	$('.PowerTxt').text(Locale.getText("Power"));
	$('.SignalTxt').text(Locale.getText("Signal"));
	$('.UnitTempTxt').text(Locale.getText("Unit Temperature"));
	$('.ModuleTxt').text(Locale.getText("Modules"));
	$('.TemperatureTxt').text(Locale.getText("Temperature"));
	$('.CurrentTxt').text(Locale.getText("Current "));
	$('.UnitCalibTxt').text(Locale.getText("Unit Calibration"));
	$('.GamutMatTxt').text(Locale.getText("Gamut Matrix"));
	$('.ApplyTxt').text(Locale.getText("Apply"));
	$('.ResetTxt').text(Locale.getText("Reset"));
	$('.ApplyAllTxt').text(Locale.getText("Apply to All Units"));
	$('.ModuleCalibTxt').text(Locale.getText("Module Calibration"));
	$('.BrightnessTxt').text(Locale.getText("Brightness"));

	addConfirmModal('calibUnitModal', '', Locale.getText('Are you sure to change the calibration settings of this unit?'), function() {
		clearInterval(curUnitTimer);
		$('#calUnitDiv').animate({left:'0px', width: 'toggle'}, 200);

		modifiedUnit = false;
		modifiedModule = false;

		loadGamut();
		loadBC_CC();
	});

	addConfirmModal('closeUnitModal', '', Locale.getText('Unit Calibration is modified. Exit without saving?'), function() {
		if (modifiedModule) {
			$('#closeModuleModal').modal();
			return;
		}
		calibCloseHandler();
	});

	addConfirmModal('closeModuleModal', '', Locale.getText('Module Calibration is modified. Exit without saving?'), function() {
		calibCloseHandler();
	});

	$("#pageTitle").html(Locale.getText('System Control'));
}

Locale.init(env);

</script>
{{/supportLedSignage}}
