{{#supportLedSignage}}
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-ledFilm.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/range.js"></script>
<script src="/js/page/ledFilmGrid.js"></script>
<link href="/css/led.css" rel="stylesheet">

<div class="row">
	<div class="col-lg-12">
        <!-- Basic Status Here -->
		<div class="panel panel-default panel-wide">
			<div class="panel-heading col-md-12" role="tab" id="headingOne">
				<h4 class="panel-title">
                   	<span class='UNIT_CONFIG'></span>
				</h4>
				<hr>
			</div>
 
			<div class='panel-body'>
				<div class='col-xs-12 infoPanel infoTitle'>
					<div class=col-xs-3>
						<span class='editTitle UNIT_RESOLUTION'></span>
					</div>
					<div class=col-xs-2>
						<span id=resolText class=editTitle></span>
					</div>
					<div class=col-xs-7 align=right>
						<button class='img-button xsmall' id=gridEdit style='margin: 0 0 7 0;'><span class=EDIT></span></button>
					</div>
				</div>
				<div class='col-xs-12 editPanel infoTitle'>
					<div class=col-xs-2 align=left>
						<button class='img-button cancel' id=gridRevert>&nbsp;</button>
						<span class='editTitle EditTxt'><b>Edit</b></span>
					</div>
					<div class=col-xs-10 align=right>
						<button class='img-button xsmall' id=gridSave style='margin: 0 0 7 0;'><span class=SaveTxt>Save</span></button>
					</div>
				</div>
				<div class='col-xs-12 editPanel'>
					<div class=col-xs-3>
						<span class='editTitle Layout'></span>
					</div>
					<div class=col-xs-3>
						<select class='form-control' id=regular>
							<option value=0 class=RegularTxt>Regular</option>
							<option value=1 class=IrregularTxt>Irregular</option>
						</select>
					</div>

					<div class=col-xs-3>
						<span class='editTitle UnitResolution'></span>
					</div>
					<div class=col-xs-3>
						<select class='form-control' id=resolution disabled>
						</select>
					</div>
					<div class=col-xs-3>
						<span class='editTitle DaisyStartby'></span>
					</div>
					<div class=col-xs-3>
						<select class='form-control' id=from>
							<option value=0 class=TopLeftTxt>Top Left</option>
							<option value=1 class=TopRightTxt>Top Right</option>
							<option value=2 class=BottomLeftTxt>Bottom Left</option>
							<option value=3 class=BottomRightTxt>Bottom Right</option>
						</select>
					</div>
					<div class=col-xs-3>
						<span class='edittitle Daisydirection'></span>
					</div>
					<div class=col-xs-3>
						<select class='form-control' id=direction>
							<option value=0 class=HorizontalTxt></option>
							<option value=1 class=VerticalTxt></option>
						</select>
					</div>
					<div class=col-xs-3>
						<span class=edittitle><span class='RowTxt'></span> x <span class='ColumnTxt'></span></span>
					</div>
					<div class=col-xs-3>
						<select id=numV class=form-control style='display: inline; width: 46%;'>
						</select>
						x
						<select id=numH class=form-control style='display: inline; width: 46%;'>
						</select>
					</div>
				</div>
				<div class='col-xs-12' id='gridPanel'>
					<div class='col-xs-1 grid vrule'>
						<div class='grid vrule infoPanel' id=gridVRule>
						</div>
					</div>
					<div class='col-xs-11 grid' id="gridSpace">
						<div class='col-xs-12 grid infoPanel' id=gridHRule>
						</div>
						<div class='col-xs-12 grid editPanel' align=center>
						</div>
						<div class='col-xs-12 grid' id=unitGrid>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
        <div class="panel panel-default panel-wide">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class=SCREEN_CONFIG></span>
					<span id='systemSettingsReturn'></span>
                </h4>
                <hr>
            </div>
            <table class="table">
				<tbody>
					<tr>
						<td class="first"><span class=GAMMA></span></td>
						<td class="second">
							<select id=gamma class=form-control>
								<option value=low class=LowTxt></option>
								<option value=medium class=MediumTxt></option>
								<option value=high1 class=High1Txt></option>
								<option value=high2 class=High2Txt></option>
							</select>
						</td>
						<td class="third">
						</td>
					</tr>
				</tbody>				
			</table>
        </div>
    </div>
</div>

<script>
var env = {{{json env}}}

var curConfig;

var isEditMode = false;

var fromText = ['Top Left', 'Top Right', 'Bottom Left', 'Bottom Right'];
var directionText = ['Horizontal', 'Vertical'];
var minGridSize = 40;

$('#resolution').change(function() {
	setupSizeSelect(getGUIConfig().size.h, true);
	setupSizeSelect(getGUIConfig().size.v, false);
	responseGridConfig();
});

function setupSizeSelect(curVal, isH) {
	var resArr = getResolution($('#resolution').val());
	var max = isH ? Math.floor(1920 / resArr[0]) : Math.floor(1080 / resArr[1]);
	var id = isH ? "numH" : "numV";

	if (curVal > max) {
		curVal = max;
	}

	$('#' + id).find('option').remove();

	for (var i = 0; i <= max; ++i) {
		$('#' + id).append($('<option>', {
			value: i,
			text: i,
			selected: i == curVal
		}));
	}
}

function refreshSelect(){
		var curVal = $('#numV').val();
		var targetVal = $('#numH').val();
		var max = 127/curVal;

		if(max > 60)
			max = 60;

		$('#numH').find('option').remove();
		for (var i = 0; i <= max; ++i) {
			$('#numH').append($('<option>', {
				value: i,
				text: i,
				selected: i == targetVal
			}));
		}
}

function getOnUnits() {
	var units = $('.unit');
	var size = units.length;
	var ret = {};
	var numOn = 0;
	for (var i = 0; i != size; ++i) {
		var gridID = $(units[i]).attr('gridID');
		var unitID = $(units[i]).attr('unitID');
		if ($('#regular').val() == 0 || $('#switchSelect' + gridID).val() != -1) {
			ret[Number(gridID)] = unitID;
			++numOn;
		}
	}

	ret.numOn = numOn;
	return ret;
}

function getGUIConfig() {
	var ret = {
		resolution: $('#resolution').val(),
		size: {
			h: Number($('#numH').val()),
			v: Number($('#numV').val())
		},
		direction: Number($('#direction').val()),
		from: Number($('#from').val()),
		regular: Number($('#regular').val()),
		onUnits: getOnUnits()
	};

	return ret;
}

function checkConfigError(config) {
	var exist = {};

	for (var key in config.onUnits) {
		if (key == 'numOn') {
			continue;
		}
		var val = config.onUnits[key];
		if (val in exist) {
			return val;
		}
		exist[val] = true;
	}

	return 0;
}

$('#gridSave').click(function() {
	var config = getGUIConfig();

	var dupl = checkConfigError(config);
	if (dupl != 0) {
		showWarning(Locale.getText('Duplicated Unit ID') + '\u202A "' + dupl + '" \u202C', 5 * 1000);
		return;
	}

	isEditMode = false
	$('#gridEdit').show();
	$('#gridSave').hide();
	$('#gridRevert').hide();

	curConfig = config;

	$('.editPanel').hide();
	$('.infoPanel').show();
	$('#resolText').html(curConfig.resolution);
	$('#fromText').html(fromText[curConfig.from]);
	$('#directionText').html(directionText[curConfig.direction]);

	responseGridConfig(false);

	setUnitConfig(curConfig);
	$('[id^=switchSelect]').hide();
	var numUnits = setUnitID(curConfig, $('#regular').val() == 0);

	setSlaveAddr(numUnits, function(msg) {
		var resArr = getResolution($('#resolution').val());
		for (var x = 0; x != curConfig.size.h; ++x) {
			for (var y = 0; y != curConfig.size.v; ++y) {
				var id = y * curConfig.size.h + x + 1;
				var unitID = $('#gridCol' + id).attr('unitID');
				if (unitID > 0) {
					setPosition(unitID * 2, x * resArr[0], y * resArr[1], function(msg){
						saveConfigAllFpga();
					});
				}
			}
		}
	});

	$('#gridPanel').css('overflow', 'visible');
});

$('#gridRevert').click(function() {
	setupValue(curConfig);	
	isEditMode = false;
	startConfigPage();
	$('.editPanel').hide();
	$('.infoPanel').show();

	$('#gridEdit').show();
	$('#gridSave').hide();
	$('#gridRevert').hide();

	$('[id^=switchSelect]').hide();
	setUnitID(curConfig, $('#regular').val() == 0);
});

function addSwitchSelectOption(select, cur, max) {

		var optionText = new Array();
		optionText.push('<option value=-1 class=NoneTxt>None</option>');
		optionText.push('<option value=0 selected class=AutoTxt>Auto</option>');
		for (var i = 1; i <= max; ++i) {
			optionText.push('<option value='+i+'>'+i+'</option>');
		}
		var end = new Date().getTime();

		setTimeout(function(){
			$('#switchSelect'+(cur)).append(optionText.join(''));
		},0);
		Locale.init(env);
}

function responseGridConfig(initial, resetGrid) {
	var v = $('#numV').val();
	var h = $('#numH').val();
	var resolution = $('#resolution').val();

	initial = initial == undefined ? false : initial;
	resetGrid = resetGrid == undefined ? false : resetGrid;

	var config = initial ? curConfig : getGUIConfig();

	changeGridConfig(h, v, resolution, isEditMode);

	var units = $('.unit');
	var size = units.length;
	var regular = $('#regular').val();
	var optionText = new Array();

	optionText.push('<option value=-1 class=NoneTxt>None</option>');
	optionText.push('<option value=0 selected class=AutoTxt>Auto</option>');
	for (var j = 1; j <= size; ++j) {
		optionText.push('<option value='+j+'>'+j+'</option>');
	}

	for (var i = 0; i != size; ++i) {
		var id = $(units[i]).attr('gridID');
		if (!id) {
			continue;
		}
		var grid = $('#gridCol' + (i + 1));
		var patternBox = '<p class=control id=unitIDBox' + (i + 1) + '><span></span></p>';
		if (regular == 1) {
			var switchSelect = '<select id=switchSelect' + (i + 1) + '>'
			switchSelect += optionText.join()+"</select>";
			var patternBox = '<p class=control id=unitIDBox' + (i + 1) + '><span></span>'+switchSelect+'</p>';

			if (!isOn(i + 1, config) && !resetGrid) {
				grid.addClass('none');
			}
		}
		grid.append(patternBox);
	}

	setUnitID(config, regular == 0 || resetGrid);

	var widthString = $('#gridCol1').css('width');
	if(widthString){
		var gridWidth = Number(widthString.match(/\d+/));
		if(gridWidth < minGridSize){
			$('[id^=unitIDBox]').hide();
		}
	}

	$('[id^=switchSelect]').change(function() {
		var checkID = $(this).attr('id');
		var val = $(this).val();
		var id = '#gridCol' + checkID.substring('switchSelect'.length);

		if (val <= 0) {
			setUnitID(getGUIConfig(), true);
		} else {
			$(id).attr('unitID', val);
		}

		$(id).toggleClass('off', val != -1);
		$(id).toggleClass('none', val == -1);
	});
}

function setupValue(config) {
	$('#regular').val(config.regular);
	$('#resolution').val(config.resolution);
	$('#resolText').html(config.resolution);
	setupSizeSelect(config.size.h, true);
	setupSizeSelect(config.size.v, false);
	$('#fromText').html(fromText[config.from]);
	$('#directionText').html(directionText[config.direction]);
	$('#from').val(config.from);
	$('#direction').val(config.direction);
}

function startConfigPage() {
	function optionEventHandler() {
		var regular = $('#regular').val();

		if (regular == 0) {
			responseGridConfig();
			return;
		}

		var last = undefined;
		$('[id^=switchSelect]').each(function(index) {
			var val = $(this).val();
			if ($(this).val() == -1) {
				return;
			}
			last = $(this);
		});

		last.val(0).change();
	}

	$('#numH').change(function() {
		responseGridConfig(false, true);
	});
	$('#numV').change(function() {
		refreshSelect();
		responseGridConfig(false, true);
	});

	$('#direction').change(optionEventHandler);
	$('#resolution').change(optionEventHandler);
	$('#from').change(optionEventHandler);
	$('#regular').change(function() {
		responseGridConfig();
	});

	responseGridConfig(true);
	$('[id^=switchSelect]').hide();
}

$('#gridEdit').click(function() {

	var gridWidth = $('#gridCol1').css("width");

	var visibleSelect = gridWidth ? Number( gridWidth.match(/\d+/) ) > 60 : true;
	isEditMode = true;
	responseGridConfig(false);

	$(this).hide();
	$('.infoPanel').hide();
	$('.editPanel').show();
	if ($('#regular').val() == 1) {
		if(visibleSelect){
			$('[id^=switchSelect]').show(isEditMode);
		}
		$('[id^=unitIDBox] span').toggle(!isEditMode);
	}
	$('#gridSave').show();
	$('#gridRevert').show();

	$('#gridPanel').css('overflow', 'scroll');

	refreshSelect();
});

$('#gridSave').hide();
$('#gridRevert').hide();

$(document).ready(function() {
	getUnitResolutionList(function(resList) {
		resList.filmUnitResolution.forEach(function(res) {
			$('#resolution').append('<option>' + res + '</option>');
		});

		getFilmUnitConfig(function(msg) {
			curConfig = msg;
			setupValue(msg);	

			startConfigPage();
		});
	});

	getPictureDBVal(['gamma'], function(msg) {
		$('#gamma').val(msg.gamma).change();
		
		$('#gamma').change(function() {
			var val = $(this).val();
			setPictureDBVal({ gamma: val }, 'systemSettings');
		});
	});

	var colorTemp;

	getSystemSettings("commercial", ["ledColorTemp"], function(ret) {
		colorTemp = ret.ledColorTemp;
		var curTemp = colorTemp.curTemp;
		if (curTemp == undefined) {
			curTemp = 9300;
		}
		for (var key in colorTemp) {
			if (Number(key)) {
				$('#colorTemp').append('<option value="' + key + '" ' + (key == curTemp ? 'selected' : '') + '>' + key + 'K</option>');
			}
		}
	});

	$('#colorTemp').change(function() {
		var temp = $(this).val();
		overlayControl(true, 'Color Temperature ' + temp + 'K');
		ccVal = colorTemp[temp];

		setBC_CC(0, -1, 4, ccVal.R, ccVal.G, ccVal.B);

		colorTemp.curTemp = temp;
		setSystemSettings("commercial", {
			ledColorTemp: colorTemp
		});

		setTimeout(function() {
			saveCalibrationData(0, -1);
			setTimeout(function() {
				overlayControl(false);
			}, 2000);
		}, 1000);
	});

});

Locale.callback = function() {
	$('.UNIT_CONFIG').text(Locale.getText("Unit Configuration"));
	$('.UNIT_RESOLUTION').text(Locale.getText("Unit Resolution"));
	$('.EDIT').text(Locale.getText("Edit"));
	$('.SCREEN_CONFIG').text(Locale.getText("Screen Configuration"));
	$('.COLOR_TEMP').text(Locale.getText("Color Temperature"));
	$('.GAMMA').text(Locale.getText("Gamma"));
	$('.Layout').text(Locale.getText("Layout"));
	$('.UnitResolution').text(Locale.getText("Unit Resolution"));
	$('.DaisyStartby').text(Locale.getText("Daisy Start by"));
	$('.Daisydirection').text(Locale.getText("Daisy Direction"));
	$('.RowTxt').text(Locale.getText("Row"));
	$('.ColumnTxt').text(Locale.getText("Column"));
	$('.EditTxt').text(Locale.getText("Edit"));
	$('.SaveTxt').text(Locale.getText("Save"));

	$('.RegularTxt').text(Locale.getText("Regular"));
	$('.IrregularTxt').text(Locale.getText("Irregular"));
	$('.AutoTxt').text(Locale.getText("Auto"));
	$('.NoneTxt').text(Locale.getText("None"));
	$('.HorizontalTxt').text(Locale.getText("Horizontal"));
	$('.VerticalTxt').text(Locale.getText("Vertical"));
	$('.High1Txt').text(Locale.getText("High") + 1);
	$('.High2Txt').text(Locale.getText("High") + 2);
	$('.MediumTxt').text(Locale.getText("Medium"));
	$('.LowTxt').text(Locale.getText("Low"));
	$('.TopLeftTxt').text(Locale.getText("Top Left"));
	$('.TopRightTxt').text(Locale.getText("Top Right"));
	$('.BottomLeftTxt').text(Locale.getText("Bottom Left"));
	$('.BottomRightTxt').text(Locale.getText("Bottom Right"));
	$("#pageTitle").html(Locale.getText("Screen Configuration"));
}

Locale.init(env);
</script>
{{/supportLedSignage}}
