{{#supportLedSignage}}
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-ledFilm.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/range.js"></script>
<script src="/js/page/ledFilmGrid.js"></script>
<link href="/css/led.css" rel="stylesheet">

<div class="row">
	<div class="col-lg-12">
        <!-- Basic Status Here -->
		<div class="panel panel-default panel-wide">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title UnitStatusTxt">
				</h4>
				<hr>
			</div>

			<div class=row id=topContainer>
				<div class='panel-body col-xs-12' id=topInfoPanel>
					<div class=col-xs-9>
						<table class='table unit-status'>
							<tr>
								<th class=NormalTxt>
									Normal
								</th>
								<td>
									<span id=okUnits>0</span> <!--<span class=UnitsTxt></span>-->
								</td>
								<td>
									<div style='width: 40px; height: 10px; background-color:#2dc4ac;'></div>
								</td>
								<td><font color=#ccc>|</font></td>
								<th class=NgTxt>
									NG
								</th>
								<td>
									<span id=ngUnits>0</span> <!--<span class=UnitsTxt></span>-->
								</td>
								<td>
									<div style='width: 40px; height: 10px; background-color:#ff4a4a;'></div>
								</td>
								<td><font color=#ccc>|</font></td>
								<th class=PowerOffTxt>
									Power Off
								</th>
								<td>
									<span id=offUnits>0</span> <!--<span class=UnitsTxt></span>-->
								</td>
								<td>
									<div style='width: 40px; height: 10px; background-color:#cccccc;'></div>
								</td>
							</tr>
						</table>
					</div>
					<div class=col-xs-3>
						<button id=patternBtn class='img-button xsmall smallTxt TestPatternTxt' style='margin: 0 0 7px 0;'>Test Pattern</button>
					</div>
					<div class=col-xs-6>
						<div style='float:left'>
							<span class="zoomTxt" style='font-weight:bold;font-size:15px;'></span>
						</div>
						<div style='float:left; width:200px; margin-left:20px;margin-top:-5px'>
							<select class='form-control' id=zoom>
								<option value="small" class="zoomSmallTxt"></option>
								<option value="original" class="zoomOriginalTxt"></option>
							</select>
						</div>
					</div>
				</div>

				<div class='panel-body col-xs-12' id=topPatternPanel>
					<div class=col-xs-12>
						<h4>
						<button class='img-button cancel' id='patternClose'>&nbsp;</button>
						<b><span class='TestPatternTxt'></span></b>
						</h4>
					</div>
				</div>
				<div class='panel-body'>
					<div class='row col-xs-12' id='gridPanel' style='margin-left: 0px;'>

						<table>
							<tr>
								<td>
									<div class='col-xs-1 grid vrule' style='margin-bottom:0px;'>
										<div class='grid vrule infoPanel' id=gridVRule>
										</div>
									</div>
								</td>
								<td>
									<div class='col-xs-11 grid' id="gridSpace" style='margin-bottom:0px;'>
										<div class='col-xs-12 grid infoPanel' id=gridHRule>
										</div>
										<div class='col-xs-12 grid editPanel' align=center>
										</div>
										<div class='col-xs-12 grid' id=unitGrid>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class=panel-body id=bottomPatternPanel>
					<div class=panel-body>
						<table class=table>
							<tr>
								<td class='first TestColorTxt' width=100px>Test Color</td>
								<td style='vertical-align: middle;' width=50px><div id=patternColor style='border-style:solid; border-width:1px;width:40px;height:15px'>&nbsp;</div></td>
								<td width=400px>&nbsp;</td>
								<td class='first AllUnitsTxt' width=100px>All Units</td>
								<td width=150px><input type=checkbox class=grey id=patternAll><label for=patternAll>&nbsp;</label></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class='second BrightnessTxt'>Brightness</td>
								<td colspan=2><input type=range class=custom-grey min=0 max=1023 value=0 id=colorR></td>
								<td><input type=number class=pattern min=0 max=1023 value=0 id=colorRNum></td>
							</tr>
						</table>
					</div>
				</div>

				<div class='panel-body' id=infoDiv>
   					<div class="panel col-xs-12">
						<div class=col-xs-8>
							<h4>
							<button id=infoCloseBtn class='img-button cancel'>&nbsp;</button>
							<b><span class='DetailUnitTxt'></span> <span id='unitID'></span></b>
							</h4>
						</div>
						<div class=col-xs-4>
							<button id=calibUnitBtn class='img-button small smallTxt CalibrateUnitTxt'>Calibrate Unit</button>
						</div>
          					<table class='table'>
							<tbody>
								<tr>
									<td class="first PowerTxt">Power</td>
									<td class="second" colspan=2><span id=unitPower class=led-status>NG</span></td>
								</tr>
								<tr>
									<td class="first SignalTxt">Signal</td>
									<td class="second" colspan=2><span id=unitSignal class=led-status>NG</span></td>
								</tr>
								<tr>
									<td class="first UnitTempTxt">Unit Temperature</td>
									<td class="second led-status">
										<span id=unitTemp>-</span><span class='tempUnit'>-</span>
										<!--
										<a href="javascript:void(0);" id="toggle-temperature" style="text-decoration:none; color:#6f6f6f;">
											(<span id="celsius">°C</span>/<span id="fahrenheit">°F</span>)
										</a>
										-->
									</td>
									<td class='third'><button id=celButton class=unitButton>°C</button><button id=fahrButton class=unitButton>°F</button></td>
								</tr>
							</tbody>				
						</table>
   					</div>
				</div>
			
				<div class='panel-body' id=calUnitDiv>
					<div class="col-xs-12">
       					<div class=col-xs-12>
           					<h4>
								<button class='img-button cancel' id='calUnitClose'>&nbsp;</button> <b><span class=UnitCalibTxt></span> <span id=unitID>-</span></b>
           					</h4>
						</div>
						<div class=panel id='calUnitInner'>
							<div class=col-xs-5>
								<h4>
									<span class=UnitCalibTxt></span> <span id='unitReturn'></span>
								</h4>
							</div>
							<div class=col-xs-4>
								<input type=checkbox class=grey id=allUnits><label for=allUnits>&nbsp;</label><span class=ApplyAllTxt></span>
							</div>
							<div class=col-xs-3>
								<button class='img-button xsmall ApplyTxt' style='margin: 0 0 0 0;' disabled id=applyUnitConfig>Apply</button>
							</div>
							<div class=col-xs-12>
								<hr style='margin-top: 0px;'>
							</div>

							<div class=col-xs-3>
								<h4 class='BrightnessTxt'>
									Brightness
								</h4>
							</div>
							<div class=col-xs-6>
								<input class=custom-grey id=globalBC type=range min=0 max=4 value=4>
							</div>
							<div class=col-xs-3>
								<input class=side type=number id=globalBCNum min=0 max=4 value=4 tabindex=1></input>
							</div>
							<div class=col-xs-12>
								<center>
									<button id='unitReset' class='img-button small ResetTxt'>Reset</button>
								</center>
								<hr>
							</div>
							<div class=col-xs-3>
								<h4 class='ModuleCalibTxt'>
									Module Calibration
								</h4>
							</div>
							<div class=col-xs-6>
								<h4>
									<span id='moduleReturn'></span>
								</h4>
							</div>

							<div class=col-xs-3>
								<button id=applyModule class='img-button xsmall ApplyTxt' style='margin: 0 0 0 0;' disabled>Apply</button>
							</div>
							<div class=col-xs-12>
								<hr style='margin-top: 0px;'>
							</div>
           					<table class='table table-bordered gamut'>
								<tbody>
									<tr bgcolor=#f1f1f1>
										<th width=8% class='ModuleTxt'>
											Module
										</th>
										<th colspan=2 width=23%>1</th>
										<th colspan=2 width=23%>2</th>
										<th colspan=2 width=23%>3</th>
										<th colspan=2 width=23%>4</th>
									</tr>
									<tr>
										<td width=8% class='BrightnessTxt'>
											Brightness
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC1 type=range min=0 max=15 value=15>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC1Num min=0 max=15 value=15 tabindex=1></input>
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC2 type=range min=0 max=15 value=15>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC2Num min=0 max=15 value=15 tabindex=5></input>
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC3 type=range min=0 max=15 value=15>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC3Num min=0 max=15 value=15 tabindex=9></input>
										</td>
										<td width=18%>
											<input class=custom-grey id=moduleBC4 type=range min=0 max=15 value=15>
										</td>
										<td width=5%>
											<input class=side type=number id=moduleBC4Num min=0 max=15 value=15 tabindex=13></input>
										</td>
									</tr>
								</tbody>				
							</table>
							<div class=col-xs-12>
								<center>
									<button id='moduleReset' class='img-button small ResetTxt'>Reset</button>
								</center>
								<hr>
							</div>
       					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var env = {{{json env}}};

var curConfig;
var isEditMode = false;
var curUnit = -1;
var curUnitTimer = undefined;
var allUnitTimer = undefined;
var modifiedUnit = false;
var beforeGlobalBC = 4;
var beforeModuleBC = new Array(15, 15, 15, 15);
var modifiedModule = false;
var isCelsius = true;
var useZoom = false;
var minGridSize = 40;
var patternUnit = new Array();
var numOfUnits = 0;

setupRangeUI('colorR', 0, 1023);
setupRangeUI('globalBC', 0, 4);

for (var i = 0; i != 4; ++i) {
	setupRangeUI('moduleBC' + (i + 1), 0, 15);
}

function convertTemp(temp) {
	if (!isCelsius) {
		return (Number(temp) * 1.8 + 32).toFixed(1);
	} 
	return temp;
}

function sensorTimerHandler() {

	getLedFilmTempHumidity( (curUnit-1), function(msg){
		$('#unitTemp').html(convertTemp( Math.floor(msg.temperature) )).next().show().parent()
			.toggleClass('ng', !msg.state);

		if (msg.temperature <= -128) {
			$('#unitTemp').html('NG').next().hide();
		}
	});

	getLedPowerState( (curUnit-1), function(msg) {
		$('#unitPower').html(msg.powerState ? 'OK' : 'NG')
			.toggleClass('ok', msg.powerState)
			.toggleClass('ng', !msg.powerState);
	});

	getLedSignalState( (curUnit-1), function(msg) {
		$('#unitSignal').html(msg.signalState ? 'OK' : 'NG')
		.toggleClass('ok', msg.signalState)
		.toggleClass('ng', !msg.signalState);
	});
}

function unitClickHandler() {
	var unitID = $(this).attr('unitID');
	if (!unitID) {
		return;
	}

	if ($(this).hasClass('off')) {
		return;
	}

	curUnit = Number(unitID);
	$('[id=unitID]').html(unitID);
	$('#infoDiv').animate({left:'0px', width: 'toggle'}, 200);
	$('#patternBtn').prop('disabled', true);

	sensorTimerHandler();
	curUnitTimer = setInterval(sensorTimerHandler, 5 * 1000);
}

$('#infoCloseBtn').click(function() {
	$('#infoDiv').animate({left:'100%', width: 'toggle'}, 200);
	$('#patternBtn').prop('disabled', false);
	clearInterval(curUnitTimer);
});

function getPatternColor() {
	function pad(str) {
		if (str.length < 2) {
			str = '0' + str;
		}
		return str;
	}

	function getColor(val, max) {
		return Math.round(val * 255 / max);
	}

	var R = getColor($('#colorR').val(), 1023);
	var G = getColor($('#colorG').val(), 1023);
	var B = getColor($('#colorB').val(), 1023);

	var color = '#' + pad(R.toString(16)) + pad(R.toString(16)) + pad(R.toString(16));

	return color;
}

$('#zoom').change(function() {

	useZoom = $('#zoom').val() == 'original' ? true : false;

	getFilmUnitConfig(function(msg) {
		curConfig = msg;
		getFilmUnitConfigCallback();
		$('#gridPanel').css('overflow', useZoom? 'scroll' : 'visible');
	});
});

$('#colorR,#colorG,#colorB').change(function() {
	var color = getPatternColor();
	$('#patternColor').css('background-color', color);

	for (var i = 0; i != curConfig.size.h * curConfig.size.v; ++i) {
		if (!isOn(i + 1, curConfig)) {
			continue;
		}
		var id = 'patternCheck' + (i + 1);
		changePatternColor(id);
		$('#' + id).change();
	}
});

function loadBC() {

	$('#globalBC').change(function(){
		if( $('#globalBC').val() != beforeGlobalBC){
			$('#applyUnitConfig').attr('disabled', false);
		}
		bcHandler();
	});

	getGlobalBC(curUnit * 2, function(msg){
		$('#globalBC').val(msg.bc);
		$('#globalBCNum').val(msg.bc);
		beforeGlobalBC = msg.bc;
	});

	var index = 0;

	for(var i=0; i<4; i++){
		var row = i/2;
		var col = i%2;
		getModuleCalibration(curUnit*2, row, col, function(msg){
			index++;
			$('#moduleBC' + index).unbind('change', setModuleBC).val(msg.value).change().change(setModuleBC);
			$('#moduleBC' + index +'Num').val(msg.value);
		})
	}

	$('[id^=moduleBC]').change(setModuleBC);
}

function setModuleBC(){
	modifiedModule = true;
	$('#applyModule').attr('disabled', false);
	var id = $(this).attr('id');
	if( id.indexOf('Num') < 0 ){
		var bank = id.substring(id.length - 1);
		var bc = $(this).val();
		var row = Math.floor( (bank-1)/2 );
		var col = (bank-1)%2;
		setModuleCalibration(curUnit*2, row, col, bc);
	}
}

$('#calibUnitBtn').click(function() {
	$('#calibUnitModal').modal();
});

function calibCloseHandler() {
	$('#calUnitDiv').animate({left:'100%', width: 'toggle'}, 200);
	$('#applyUnitConfig').attr('disabled', true);
	$('#applyModule').attr('disabled', true);
	$('#allUnits').prop('checked', false);
	
	if (modifiedUnit) {
		$('#globalBC').val(beforeGlobalBC).change();
	}
	if (modifiedModule) {
		reloadModuleCalibration(curUnit * 2);
	}
	curUnitTimer = setInterval(sensorTimerHandler, 5 * 1000);
}

$('#calUnitClose').click(function() {
	if (modifiedUnit) {
		$('#closeUnitModal').modal();
		return;
	}
	if (modifiedModule) {
		$('#closeModuleModal').modal();
		return;
	}

	calibCloseHandler();
});

$('#applyUnitConfig').click(function() {
	modifiedUnit = false;
	beforeGlobalBC = $('#globalBC').val();
	$(this).attr('disabled', true);
	var allUnits = $('#allUnits').prop('checked');

	if(allUnits){
		for(var i=0; i< numOfUnits; i++){
			setGlobalBC((i+1) * 2, beforeGlobalBC);
		}
	}

	setTimeout(function() {
		saveConfigAllFpga();
	}, 500);
});

$('#allUnits').change(function() {
	$('#applyUnitConfig').attr('disabled', false);
});

$('#applyModule').click(function() {
	modifiedModule = false;
	$(this).attr('disabled', true);
	saveModuleCalibration(curUnit * 2);
});

function bcHandler() {

	var bc = Number($('#globalBC').val());
	setGlobalBC(curUnit * 2, bc);
	modifiedUnit = true;

}

function changePatternColor(checkID) {
	var color = getPatternColor();
	var id = '#gridCol' + checkID.substring('patternCheck'.length);
	var checked = $('#' + checkID).prop('checked');
	if (checked) {
		$(id).css('background-color', color);
	} else {
		$(id).css('background-color', '');
		$(id).addClass('off');
	}
}

function removeStatusClass(grid) {
	grid.removeClass('ok');
	grid.removeClass('ng');
	grid.removeClass('off');
}

function changeStatusClass(grid, classStr) {
	if (grid.hasClass(classStr)) {
		return;
	}
	removeStatusClass(grid);
	grid.addClass(classStr);
}

var unitStatus = {
	ok: 0,
	ng: 0,
	off: 0
};

function showNumUnits() {
	$('#okUnits').html(unitStatus.ok);
	$('#ngUnits').html(unitStatus.ng);
	$('#offUnits').html(unitStatus.off);
}

function checkUnitOk(unitID, gridID) {
	getLedPowerState((unitID-1), function(msg) {
		var grid = $('[unitid=' + unitID + ']');
		if (!msg.powerState) {
			changeStatusClass(grid, 'off');
			unitStatus.off++;
			showNumUnits();
			return;
		}
		getLedOverallStatus(unitID * 2, function(msg) {
			changeStatusClass(grid, msg.isOverallOk ? 'ok' : 'ng');
			unitStatus[msg.isOverallOk ? 'ok' : 'ng']++;
			showNumUnits();
		});
	});
}

function checkUnitStatusHandler() {
	var h = curConfig.size.h;
	var v = curConfig.size.v;

	unitStatus.ok = 0;
	unitStatus.ng = 0;
	unitStatus.off = 0;

	getSystemSettings('commercial', ['numOfUnits'], function(msg){
		numOfUnits = msg.numOfUnits;
	});

	for (var i = 0; i != h * v; ++i) {
		if (curConfig.regular == 0) {
			checkUnitOk(i + 1, i + 1);
		} else if (isOn(i + 1, curConfig)) {
			var id = curConfig.onUnits[i + 1];
			checkUnitOk(id, i + 1);
		}
	}
}

getFilmUnitConfig(function(msg) {
	curConfig = msg;
	var h = curConfig.size.h;
	var v = curConfig.size.v;
	changeGridConfig(h, v, curConfig.resolution, useZoom);

	var gridWidth = Number($('#gridCol1').css('width').match(/\d+/));

	for (var i = 0; i != h * v; ++i) {
		var grid = $('#gridCol' + (i + 1));
		if (!isOn(i + 1, curConfig)) {
			grid.addClass('none');
			continue;
		}
		var patternBox = $('<p class=control id=unitIDBox' + (i + 1) + '><span class="unitIDNumber"></span></p>');
		patternBox.append('<br><input type=checkbox class=grey id=patternCheck' + (i + 1) + '>'
			+ '<label id=patternCheckLabel' + (i + 1) + ' for=patternCheck' + (i + 1) + '>&nbsp;</label>');
		grid.append(patternBox);
		grid.addClass('ok');
	}

	if(gridWidth < minGridSize){
		$('[id^=unitIDBox]').hide();
	}

	if(gridWidth < 96){
		$('#zoom').val('small');
	}else{
		$('#zoom').val('original');
		$('#zoom').attr('disabled', true);
	}

	setUnitID(curConfig, curConfig.regular == 0);

	checkUnitStatusHandler();

	allUnitTimer = setInterval(checkUnitStatusHandler, 10 * 1000);

	$('[id^=patternCheck]').hide();

	$('.unit').click(unitClickHandler);
	$('#config').html(curConfig.size.h + ' x ' + curConfig.size.v);

	$('[id^=patternCheck]').change(function() {
		var id = $(this).attr('id');
		var checked = $(this).prop('checked');
		var R = Number($('#colorR').val());
		//var G = Number($('#colorG').val());
		//var B = Number($('#colorB').val());

		changePatternColor(id);
		var allCheck = true;

		var tempPatternArray = new Array();

		for (var i = 0; i != h * v; ++i) {
			var unitID = $('#gridCol' + (i + 1)).attr('unitID');

			if (unitID == undefined) {
				continue;
			}

			if (!$('#patternCheck' + (i + 1)).prop('checked')) {
				allCheck = false;
				//break;
			}else{
				tempPatternArray.push(i + 1);
			}
		}

		patternUnit = tempPatternArray;

		$('#patternAll').prop('checked', allCheck);
		var numID = Number(id.substring('patternCheck'.length));
		var unitID = $('#gridCol' + numID).attr('unitID');
		showPattern(unitID * 2, checked, R, R, R);
	});

	$('#patternAll').change(function() {
		var unitCount = 0;
		for (var i = 0; i != h * v; ++i) {
			if (!$('#gridCol' + (i + 1)).attr('unitID')) {
				continue;
			}
			unitCount++;
			var id = 'patternCheck' + (i + 1);
			$('#' + id).prop('checked', $(this).prop('checked'));
			changePatternColor(id);
		}
		var R = Number($('#colorR').val());
		var G = Number($('#colorG').val());
		var B = Number($('#colorB').val());
		var checked = $(this).prop('checked');
		//showPattern(0, checked, R, G, B);

		for (var i = 0; i != unitCount; ++i) {
			showPattern( ((i + 1)*2), checked, R, G, B);
		}
		
	});
});

function getFilmUnitConfigCallback(){
	var h = curConfig.size.h;
	var v = curConfig.size.v;
	changeGridConfig(h, v, curConfig.resolution, useZoom);

	var gridWidth = Number($('#gridCol1').css('width').match(/\d+/));

	for (var i = 0; i != h * v; ++i) {
		var grid = $('#gridCol' + (i + 1));
		if (!isOn(i + 1, curConfig)) {
			grid.addClass('none');
			continue;
		}
		var patternBox = $('<p class=control id=unitIDBox' + (i + 1) + '><span class="unitIDNumber"></span></p>');
		patternBox.append('<br><input type=checkbox class=grey id=patternCheck' + (i + 1) + '>'
			+ '<label id=patternCheckLabel' + (i + 1) + ' for=patternCheck' + (i + 1) + '>&nbsp;</label>');
		grid.append(patternBox);
		grid.addClass('ok');
	}

	if(gridWidth < minGridSize){
		$('[id^=unitIDBox]').hide();
	}

	if(gridWidth < 96){
		$('#zoom').val('small');
	}else{
		$('#zoom').val('original');
	}

	setUnitID(curConfig, curConfig.regular == 0);

	checkUnitStatusHandler();

	if(allUnitTimer>0){
		clearInterval(allUnitTimer);
	}
	allUnitTimer = setInterval(checkUnitStatusHandler, 10 * 1000);

	$('[id^=patternCheck]').hide();

	$('.unit').click(unitClickHandler);
	$('#config').html(curConfig.size.h + ' x ' + curConfig.size.v);

	$('[id^=patternCheck]').change(function() {
		var id = $(this).attr('id');
		var checked = $(this).prop('checked');
		var R = Number($('#colorR').val());
		var G = Number($('#colorG').val());
		var B = Number($('#colorB').val());

		changePatternColor(id);
		var allCheck = true;

		var tempPatternArray = new Array();

		for (var i = 0; i != h * v; ++i) {
			var unitID = $('#gridCol' + (i + 1)).attr('unitID');

			if (unitID == undefined) {
				continue;
			}

			if (!$('#patternCheck' + (i + 1)).prop('checked')) {
				allCheck = false;
				//break;
			}else{
				tempPatternArray.push(i + 1);
			}
		}

		patternUnit = tempPatternArray;

		$('#patternAll').prop('checked', allCheck);
		var numID = Number(id.substring('patternCheck'.length));
		var unitID = $('#gridCol' + numID).attr('unitID');
		showPattern(unitID * 2, checked, R, R, R);
	});
}


$(':input[type="number"]').keypress(function(e) {
	var allowed = ['.', '-'];
	var keyCode = e.keyCode ? e.keyCode : e.which;
	if (keyCode) {
		if (keyCode >= '0'.charCodeAt(0) && keyCode <= '9'.charCodeAt(0)) {
			return true;
		}

		// tab backspace
		if (keyCode == 9 || keyCode == 8) {
			return true;
		}

		// enter
		if (keyCode == 13) {
			$(this).blur().change();
			return false;
		}

		for (var i = 0; i != allowed.length; ++i) {
			if (keyCode == allowed[i].charCodeAt(0)) {
				return true;
			}
		}
	}
	return false;
});

$('#topPatternPanel').hide();
$('#bottomPatternPanel').hide();

$('#patternBtn').click(function() {

	useZoom = true;
	getFilmUnitConfig(getFilmUnitConfigCallback());

	var h = curConfig.size.h;
	var v = curConfig.size.v;
	clearInterval(allUnitTimer);
	$('[id^=patternCheck]').show();
	$('#topInfoPanel').hide();
	$('#topPatternPanel').show();
	$('#bottomPatternPanel').show();
	$('.unit').unbind('click', unitClickHandler);

	$('.unit').each(function() {
		if (!$(this).hasClass('none')) {
			removeStatusClass($(this));
			$(this).addClass('off');
		}
	});

	if(patternUnit){
		patternUnit.forEach(function(index){
			$('#patternCheck'+index).prop('checked', true);
		});
	}

	$('#gridPanel').css('overflow', 'scroll');
});

$('#patternClose').click(function() {

	useZoom = false;
	getFilmUnitConfig(getFilmUnitConfigCallback());

	//checkUnitStatusHandler();
	//allUnitTimer = setInterval(checkUnitStatusHandler, 10 * 1000);

	$('[id^=patternCheck]').hide();
	$('#topInfoPanel').show();
	$('#topPatternPanel').hide();
	$('#bottomPatternPanel').hide();
	//$('.unit').click(unitClickHandler);
	//$('#patternAll').prop('checked', false).change();

	// reload unit OK/NG status
	
	$('.unit').each(function() {
		if (!$(this).hasClass('none')) {
			$(this).css('background-color', '');
			$(this).removeClass('off');
			$(this).addClass('ok');
		}
	});

	$('#gridPanel').css('overflow', 'visible');
});

$('#patternColor').css('background-color', 'black');

$('#unitReset').click(function() {
	beforeGlobalBC = 4;
	$('#globalBC').val(beforeGlobalBC).change();
	$('#applyUnitConfig').attr('disabled', true);
	modifiedUnit = false;
});

$('#moduleReset').click(function() {
	modifiedModule = true;
	$('#applyModule').attr('disabled', false);
	for (var i = 0; i != 4; ++i) {
		$('#moduleBC'+(i+1)).val(15).change();
	}
});

function confirmExit() {
	// turn off pattern
	$('#patternAll').prop('checked', false).change();
	$('#globalBC').val(beforeGlobalBC).change();

	reloadModuleCalibration(curUnit * 2);

	setTimeout(function() {
		saveConfigAllFpga();
	}, 500);
}

window.addEventListener('beforeunload', confirmExit, false);

function initTempUnit() {

	function unitButtonHandler() {
		if(!isCelsius){
			$('.tempUnit').html('°F');
			$('#fahrButton').addClass('sel');
			$('#celButton').removeClass('sel');
		}else{
			$('.tempUnit').html('°C');
			$('#celButton').addClass('sel');
			$('#fahrButton').removeClass('sel');
		}
		writeTempType(isCelsius);
		sensorTimerHandler();
	}
	$('#celButton').click(function(){
		isCelsius = true;
		unitButtonHandler();
	});

	$('#fahrButton').click(function(){
		isCelsius = false;
		unitButtonHandler();
	});


	readTempType(function(tempType){
		if (tempType.isCelsius) {
			$('.tempUnit').html('°C');
			$('#celButton').addClass('sel');
			$('#fahrButton').removeClass('sel');
		}else{
			$('.tempUnit').html('°F');
			$('#fahrButton').addClass('sel');
			$('#celButton').removeClass('sel');
		}
		isCelsius = tempType.isCelsius;
	});
}

initTempUnit();

Locale.callback = function() {
	$('.UnitStatusTxt').text(Locale.getText("Unit Status"));
	$('.NormalTxt').text(Locale.getText("Normal"));
	$('.NgTxt').text(Locale.getText("NG"));
	$('.PowerOffTxt').text(Locale.getText("Power Off"));
	$('.zoomTxt').text(Locale.getText("Zoom In/Out"));
	$('.zoomSmallTxt').text(Locale.getText("Small"));
	$('.zoomOriginalTxt').text(Locale.getText("Original"));
	$('.TestPatternTxt').text(Locale.getText("Test Pattern"));
	$('.UnitsTxt').text(Locale.getText("Units"));
	$('.TestColorTxt').text(Locale.getText("Test Color"));
	$('.AllUnitsTxt').text(Locale.getText("All Units"));
	$('.DetailUnitTxt').text(Locale.getText("Details of Unit"));
	$('.CalibrateUnitTxt').text(Locale.getText("Calibrate Unit"));
	$('.PowerTxt').text(Locale.getText("Power"));
	$('.SignalTxt').text(Locale.getText("Signal"));
	$('.UnitTempTxt').text(Locale.getText("Unit Temperature"));
	$('.ModuleTxt').text(Locale.getText("Modules"));
	$('.TemperatureTxt').text(Locale.getText("Temperature"));
	$('.CurrentTxt').text(Locale.getText("Current "));
	$('.UnitCalibTxt').text(Locale.getText("Unit Calibration"));
	$('.GamutMatTxt').text(Locale.getText("Gamut Matrix"));
	$('.ApplyTxt').text(Locale.getText("Apply"));
	$('.ResetTxt').text(Locale.getText("Reset"));
	$('.ApplyAllTxt').text(Locale.getText("Apply to All Units"));
	$('.ModuleCalibTxt').text(Locale.getText("Module Calibration"));
	$('.BrightnessTxt').text(Locale.getText("Brightness"));

	addConfirmModal('calibUnitModal', '', Locale.getText('Are you sure to change the calibration settings of this unit?'), function() {
		clearInterval(curUnitTimer);
		$('#calUnitDiv').animate({left:'0px', width: 'toggle'}, 200);

		modifiedUnit = false;
		modifiedModule = false;
		loadBC();
	});

	addConfirmModal('closeUnitModal', '', Locale.getText('Unit Calibration is modified. Exit without saving?'), function() {
		if (modifiedModule) {
			$('#closeModuleModal').modal();
			return;
		}
		calibCloseHandler();
	});

	addConfirmModal('closeModuleModal', '', Locale.getText('Module Calibration is modified. Exit without saving?'), function() {
		calibCloseHandler();
	});

	$("#pageTitle").html(Locale.getText('System Control'));
}

Locale.init(env);

</script>
{{/supportLedSignage}}
