<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/update.js"></script>

<div class="">
    <div class="col-lg-12">
        <!-- Basic Status Here -->
        <div class="panel panel-default panel-wide">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title" id=uploadTitle>
                </h4>
				<hr>
            </div>
            <div class="panel-body" id='parentDiv'>
				<div class='announce SelectFileTxt'>
				</div>
				<div class='col-md-12'>
					<form method='post' action='/upload' enctype="multipart/form-data" name="uploadForm">
					<span class='btn btn-default btn-file'>
						<span class=BrowseTxt></span><input type='file' name='upload' id='upload'>
					</span>
					<span id=fileName></span>
					<span>
						<input type=submit class='btn btn-default' value='Upload' id='submit' disabled>
					</span>
					</form>
				</div>
				<div id='upload-prog' class='col-md-12'>
					<div class='col-md-3'>
						<span class=UploadTxt></span> Progress
					</div>
					<div class='col-md-9'>
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id='uploadProgress'>
							-
							</div>
						</div>
					</div>
				</div>
				<div id='update-prog' class='col-md-12'>
					<div class='col-md-3'>
						<span class='UpdateTxt'></span> Progress
					</div>
					<div class='col-md-9'>
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id='updateProgress'>
							-
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
        <div class="panel panel-default panel-wide">
            <div class="panel-heading col-md-12" role="tab" id="headingOne">
                <h4 class="panel-title UpdateFileListTxt">
                </h4>
				<hr>
            </div>
				{{#if files}}
					<table class='table table-update-file'>
						<tr>
							<th class=FileNameTxt></th>
							<th class=UpdateTxt></th>
							<th class=DeleteTxt></th>
						</tr>
						{{#each files }}
						<tr class='file-list'>
							<td>
								<p class="file-info" name='{{this}}'>
									{{this}} ({{fileSize (lookup ../size @index)}})
								</p>
							</td>
							<td><button class='btn img-button-update update' name='{{this}}' disabled></button></td>
							<td><button class='btn img-button-delete delete fpga' name='{{this}}'></button></td>
						</tr>
						{{/each}}
					</table>
				{{/if}}
        </div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
var env = {{{json env}}}
var supportExt = ['hexout'];
$(document).ready(function(){
	env.uploadedFiles = [];
	{{#each files}}
		env.uploadedFiles.push("{{this}}");
	{{/each}}

	env.maxSize = {{maxSize}};

	Locale.callback = function() {
		$('.SelectFileTxt').text(Locale.getText("Select a file to upload"));
		$('.BrowseTxt').text(Locale.getText("Browse"));
		$('.UpdateFileListTxt').text(Locale.getText("LED FPGA Update file list"));
		$('.MicomUpdateTxt').text(Locale.getText("Micom Update"));
		$('.FileNameTxt').text(Locale.getText("File Name"));
		$('.UpdateTxt').text(Locale.getText("Update"));
		$('.UploadTxt').text(Locale.getText("upload"));
		$('.DeleteTxt').text(Locale.getText("Delete"));

		var title = Locale.getText("Upload LED FPGA update file");
		title = title.replace('XXXGB', '{{fileSize maxSize}}');
		$('#uploadTitle').text(title);
		$('#submit').attr('value', Locale.getText('upload'));
		init(env);
		$('#pageTitle').html('FPGA ' + Locale.getText('Update'));
	};

	Locale.init(env);

	$('#upload').attr('accept', '.hexout');
});
</script>
