<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title class='LgControlMgrTxt'></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" type="text/css" href="/assets/default/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/assets/default/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/side_bar.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/filter.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/control_led_w3/control_led_w3_login.css" />

</head>

<body>
<div id="ROOT_CONTAINER" class="wrapper">
    <div class="login">
        <!--
            header를 로드하기 위한 컨테이너 입니다.
            이곳에 header.html의 <div class="header-container"> 가 로드 됩니다.
            개발 시 해당 컨테이너는 무시하시고,
            header-container를 컴포넌트로 개발하시면 됩니다.
          -->
        <div class="header-box">
            <!-- Begin Header Container -->
            <div class="header-container control-led-w3">
                <header>
                    <!-- Left side -->
                    <div class="left-side">
                        <!--
                          D : 로그인 화면에서는 btn-hamburger 버튼 삭제 바랍니다.
                        -->
                        <button type="button" class="btn btn-hamburger mobile-only" title="메인메뉴를 펼칩니다."></button>
                        <a href="/" class="logo">
                            <img src="../../assets/images/header_ctrlmngr_logo.svg" alt="LED Control Manager logo" />
                        </a>
                    </div>
                    <!-- Left side -->

                    <!-- Right side -->
                    <div class="right-side">
                        <ul class="features">
                            <!-- Account -->
                            <li>
                                <!--
                                  D : 로그인 화면에서는 Sign Out 버튼 삭제 바랍니다.
                                -->
<!--                                <button type="button" class="btn-signout">Sign Out</button>-->
                            </li>
                        </ul>
                    </div>
                    <!-- Right side -->
                </header>
            </div>
            <!-- End Header Container -->
        </div>

        <!-- Content Container -->
        <div class="content-container">
            <!-- Content Box -->
            <div id="go-content" role="main" class="content-box">
                <div class="login-container">
                    <form id="login">
                        <fieldset class="login-form">
                            <legend>로그인</legend>
                            <div class="login-content">
                                <div class="field field-type-input field-password">
                                    <label for="password" class="password-label">비밀번호</label>
                                    <!--
                                        validation 결과가 fail일 경우 aria-invalid 값을 true로 입력합니다. (기본값 : false)
                                      -->
                                    <div class="field-form">
                                        <div class="input-box">
                                            <input type="password" class="custom" id="password" name="password" placeholder="비밀번호" aria-invalid="true" />
                                            <button type="button" class="btn-input-remove hide">input delete</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <button type="button" class="btn btn-primary btn-large btn-login" id="loginButton">로그인</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Content Box -->
        </div>
        <!-- Content Container -->

        <!-- Footer Container -->
        <footer class="copyright">Copyright © LG Electronics. All Rights Reserved.</footer>
        <!-- Footer Container -->
    </div>
</div>
<!-- popup wrapper -->
<div id="login-error-modal" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup popup-alert" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <h1 id="popup-label" class="ir">information message</h1>

            <!-- Popup content -->
            <div class="popup-content">
                <div id="login-failed-text" class="alet-text">
                    시간을 다시 입력해주세요
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="login-error-ok" class="btn btn-large btn-primary btn-select">확인</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
<!-- popup wrapper -->

<!-- jQuery -->
<script type="text/javascript" src="/assets/lib/jquery-3.6.0.min.js"></script>
<!--<script src="/js/jquery.min.js"></script>-->

<!-- Bootstrap Core JavaScript -->

</body>

</html>
<script src="/js/locale.js"></script>
<script>
    var env = {{{json env}}};
    // if (window.innerWidth <= 800) {
    //     $('#device').val("mobile");
    // } else {
    //     $('#device').val("pc");
    // }
    //
    // console.log('loginPage here')
    //
    Locale.callback = function () {
        // $('.LoginReqTxt').text(Locale.getText("Login is required."));
        $('.btn-login').text(Locale.getText("Login"));
        $('.LgControlMgrTxt').text(Locale.getText("LG Control Manager"));
        $('.password-label').text(Locale.getText("Password"));
        $('[name=password]').attr('placeholder', Locale.getText("Input Password"));
        $('#popup-label').text(Locale.getText("information message"));
        $('#login-error-ok').text(Locale.getText("OK"));

        if (($('#device').val() == 'mobile') && env.supportLedSignage20) {
            $('.LoginReqTxt').text(Locale.getText("Does Not Support Mobile"));
            $('[name=password]').css('display', 'none');
            $('.LoginTxt').css('display', 'none');
        }
    };
    Locale.init(env);
</script>
<script src="/js/design/loginPage.js"></script>
