<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/picture.js"></script>

<div class="row">
    <div  class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class=PictureSettingsTxt></span> <span id='pictureReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tr>
					<td class="first PictureModeTxt"> </td>
					<td class="second">
						<div id='pictureModeSelect'></div>
					</td>
					<td class="third">
						<span id='modified'></span>
					</td>
				</tr>
				<tr>
					<td  class="first EnergySavingTxt"> </td>
					<td  class="second">
						<div id='energySavingSelect'></div>
					</td>
					<td  class="third">
					</td>
				</tr>
			</table>
			{{#supportMinMaxBacklight}}
			<table class='table' id="min-max-table">
				<tr>
					<td class="first">
						<span class='MinBacklightTxt'></span>
					</td>
					<td class="second">
						<div id='MinBacklightSelect'></div>
					</td>
					<td class="third">
					</td>
				</tr>
				<tr>
					<td  class="first">
						<span class='MaxBacklightTxt'></span>
					</td>
					<td  class="second">
						<div id='MaxBacklightSelect'></div>
					</td>
					<td  class="third">
					</td>
				</tr>
			</table>
			{{/supportMinMaxBacklight}}
		</div>
	</div>
</div>

{{#supportLedSignage}}
{{else}}
<div class="row">
    <div  class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
					<span class='PortraitModeTxt'></span> <span id='portraitReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tbody>
					<tr>
						<td class="first"><span class='OSDPortraitModeTxt'></span></td>
						<td class="second">
							<div id='portrait'></div>
						</td>
						<td class="third"></td>
					</tr>
					<tr>
						<td class="first"><span class='ContentRotationTxt'></span></td>
						<td class="second">
							<div id='rotation'></div>
						</td>
						<td class="third"></td>
					</tr>
					<tr>
						<td class="first"><span class='AspectRatioTxt'></span></td>
						<td class="second">
							<div id='aspectRatio'></div>
						</td>
						<td class="third"></td>
					</tr>
					<tr>
						<td class="first"><span class='OSDStatusTxt'></span></td>
						<td class="second">
						<div class="wrapper-portrait">
							<img id="rotation_off" src="../images/rotation_off_n.png">
							<img id="rotation_90" src="../images/rotation_90_n.png">
							<img id="rotation_180" src="../images/rotation_180_n.png">
							<img id="rotation_270" src="../images/rotation_270_n.png">
						</div>
						</td>
						<td class="third"></td>
					</tr>
					<tr>
						<td class="first"><span class='ContentStatusTxt'></span></td>
						<td class="second">
						<div class="wrapper-rotation">
							<img src="../images/picture_image_01.png" id="rotate_img">
						</div>
						</td>
						<td class="third"></td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
{{/supportLedSignage}}

<script>
	var env = {{{json env}}}
	Locale.callback = function() {
		$('.PictureSettingsTxt').text(Locale.getText("Picture Settings"));
		$('.PictureModeTxt').text(Locale.getText("Picture Mode"));
		$('.EnergySavingTxt').text(Locale.getText("Energy Saving"));
		$('.MinBacklightTxt').text(Locale.getText("Min Backlight"));
		$('.MaxBacklightTxt').text(Locale.getText("Max Backlight"));
		$('.PortraitModeTxt').text(Locale.getText("Portrait Mode"));
		$('.OSDPortraitModeTxt').text(Locale.getText("OSD Portrait Mode"));
		$('.ContentRotationTxt').text(Locale.getText("Content Rotation"));
		$('.AspectRatioTxt').text(Locale.getText("Aspect Ratio when rotated"));
		$('.OSDStatusTxt').text(Locale.getText("OSD Portrait Status"));
		$('.ContentStatusTxt').text(Locale.getText("Content Rotation Status"));
		$('#pageTitle').html(Locale.getText('Picture'));
		initPicture();
	};
	Locale.init(env);
</script>
