<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<!--<script src="/js/page/playViaUrl.js"></script>-->
<script src="/js/design/playViaUrl.js"></script>

<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- URL 설정 -->
        <form>
            <fieldset>
                <legend>{{getLanguageText "Play via URL"}}</legend>
                <div class="list-box">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "URL Setting"}}<span class="title-label color-point">{{getLanguageText "Success"}}</span></h3>
                    </div>

                    <div class="field field-flex field-type-switch">
                        <label for="loader" class="field-label">{{getLanguageText "URL Loader"}}</label>
                        <div class="field-form">
                            <div class="switch">
                                <span class="switch-controller"></span>
                                <input type="checkbox" id="loader" name="loader" role="switch" aria-checked="false">
                                <span class="slider"></span>
                            </div>
                        </div>
                    </div>

                    <div class="field field-type-input field-flex field-url-setting">
                        <label for="url-setting" class="field-label">{{getLanguageText "Set URL"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="url-setting" name="url-setting" value="" />
                            </div>
                            <button id="preview" type="button" class="btn btn-preview">{{getLanguageText "Preview"}}</button>
                        </div>
                    </div>

                </div>
            </fieldset>
        </form>
        <!-- URL 설정 -->

    </div>
    <!-- Detail Container -->
    <!-- Button box -->
    <div class="button-container">
        <button id="apply" type="button" class="btn btn-primary btn-submit">{{getLanguageText "Save"}}</button>
    </div>
    <!-- Button box -->
</div>