<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<!--<script src="/js/page/remocon.js"></script>-->
<script src="/js/design/remocon.js"></script>

<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">
        <div class="virtual-controller">
            <div class="zoon-btn">
                <button type="button" class="zoon-in size" value="3" title="{{getLanguageText "Zoom In"}}">{{getLanguageText "Zoom In"}}</button>
                <button type="button" class="zoon-default size" value="2" id="middle" title="{{getLanguageText "Default"}}">{{getLanguageText "Default"}}</button>
                <button type="button" class="zoon-out size" value="1" title="{{getLanguageText "Zoom Out"}}" id="small">{{getLanguageText "Zoom Out"}}</button>
                <button type="button" id="play" class="zoon-play">{{getLanguageText "Play"}}</button>
            </div>

            <div class="controller-body">
                <div id="scr-wrap" class="control-preview">
                    <img id="scr" src="../../assets/images/sample/thumb_controller.png" alt="preview">
                    <div id="screenshotStatus"></div>
                </div>

                <div class="control-area">
                    <div class="control-arrow">
                        <div class="btn-wrap">
                            <button type="button" class="btn-up arrow" onmousedown="showRemote(1)">move to up</button>
                            <button type="button" class="btn-right arrow" onmousedown="showRemote(2)">move to right</button>
                            <button type="button" class="btn-down arrow" onmousedown="showRemote(3)">move to down</button>
                            <button type="button" class="btn-left arrow" onmousedown="showRemote(4)">move to left</button>
                            <button type="button" class="btn-ok arrow" onmousedown="showRemote(5)">OK</button>
                        </div>
                        <img src="../../assets/images/btn_controller_bg.png" alt="">
                    </div>

                    <div class="btn-options">
                        <button type="button" class="btn btn-setting remo" value="menu">{{getLanguageText "Control"}}</button>
                        <button type="button" class="btn btn-homm remo" value="home">{{getLanguageText "Home"}}</button>
                        <button type="button" class="btn btn-external remo" value="inputKey">{{getLanguageText "Input"}}</button>
                        <button type="button" class="btn btn-end remo" value="exit">{{getLanguageText "End"}}</button>
                        <button type="button" class="btn btn-back remo" value="back">{{getLanguageText "Previous"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail Container -->
</div>

<script>
	var env = {{{ json env }}};

	$('button[title=Small]').attr('title', getLanguageText(languageTable, $('button[title=Small]').attr('title')));
	$('button[title=Default]').attr('title', getLanguageText(languageTable, $('button[title=Default]').attr('title')));
	$('button[title=Large]').attr('title', getLanguageText(languageTable, $('button[title=Large]').attr('title')));
	$('button[title=Play]').attr('title', getLanguageText(languageTable, $('button[title=Play]').attr('title')));
</script>
