<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/system.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- ID 설정 -->
        <div class="list-box id-setting">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "Set ID"}}</h3>
            </div>

            <div class="field field-type-input field-flex">
                <label for="id-setting" class="field-label">{{getLanguageText "Set ID"}}(1~1000)</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="id-setting" name="id-setting" value="1" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ID 설정 -->

        <!-- 시스템 정보 -->
        <div class="list-box system-info">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "System Information"}}</h3>
            </div>

            <div class="field field-type-input field-flex">
                <label for="model-name" class="field-label">{{getLanguageText "Model Name"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="model-name" name="model-name" value="75XS4G" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="code-num" class="field-label">{{getLanguageText "Serial Number"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="code-num" name="code-num" value="LGPT008" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="software-varsion" class="field-label">{{getLanguageText "Software Version"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="software-varsion" name="software-varsion" value="01.08.13" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="webos-varsion" class="field-label">webOS {{getLanguageText "Version"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="webos-varsion" name="webos-varsion" value="4.1.0-813 (goldilocks-geumsan)" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="boot-loader" class="field-label">{{getLanguageText "Bootloader Version"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="boot-loader" name="boot-loader" value="4.03.67/4.03.67" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="micom-varsion" class="field-label">Micom {{getLanguageText "Version"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="micom-varsion" name="micom-varsion" value="V4.02.3" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>

            {{#supportMicomFanControl}}
            <div class="field field-type-input field-flex">
                <label for="fanmicom" class="field-label">{{getLanguageText "Fan Micom Version"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="fanmicom" name="fanmicom" value="V4.02.3" />
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>
            {{/supportMicomFanControl}}

        </div>
        <!-- 시스템 정보 -->
    </div>
    <!-- Detail Container -->
</div>
<!-- Content middle right -->

<script>
    var env = {{{json env}}};
    {{#supportMicomFanControl}}
        env.supportMicomFanControl = true;
    {{else}}
        env.supportMicomFanControl = false;
    {{/supportMicomFanControl}}

    // initSystem();
</script>