<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<!--<script src="/js/page/update.js"></script>-->
<script src="/js/design/update.js"></script>

<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- 보안 S/W 업데이트 파일 업로드 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title"><span id="label-sw-upload">{{getLanguageText "Upload secured S/W Update file"}}</span><span class="title-label color-point">({{fileSize maxSize}} {{getLanguageText "available"}})</span></h3>
            </div>

            <div class="control-input-manual">
                <div class="field field-type-file field-flex">
                    <label for="upload" class="field-label" id='upload-label'>{{getLanguageText "Select File"}}</label>
                    <div class="field-form">
                        <div class="file-wrap">
                            <!-- 파일찾기 인풋 -->
                            <div class="file-area">
                                <span id="fileName"></span>
                                <input type="file" name="upload" id="upload" tabindex="-1"/>
                            </div>

                            <!-- 버튼 클릭시 파일찾기(#file-find) 인풋 클릭 -->
                            <button type="button" class="btn" aria-labelledby="label-sw-upload label-find-file" id='upload-submit' onclick="fileThis('upload')">{{getLanguageText "Browse"}}</button>
                        </div>
                    </div>
                </div>
                <div class="upload-button">
                    <button id="upload-confirm" type="button" class="btn btn-large" aria-labelledby="label-sw-upload">{{getLanguageText "Upload"}}</button>
                </div>
            </div>
        </div>
        <!-- 보안 S/W 업데이트 파일 업로드 -->

        <!-- S/W 업데이트 파일 목록 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "S/W Update File list"}}</h3>
            </div>

            <div class="control-input-manual sw-update-table">
                <div class="field field-flex field-type-switch field-micom-update">
                    <label for="micomUpdate" class="field-label" id="micomProgressTitle">{{getLanguageText "Micom Update"}}</label>
                    <div class="field-form">
                        <div class="switch">
                            <span class="switch-controller"></span>
                            <input type="checkbox" id="micomUpdate" name="micomUpdate" role="switch" aria-checked="false">
                            <span class="slider"></span>
                        </div>
                    </div>
                </div>

                {{#if files}}
                <div class="table">
                    <div class="table-wrapper no-scroll">
                        <div class="table-box">
                            <table>
                                <caption>S/W Update File List Table – Consists of filename, update, delete</caption>
                                <thead>
                                <tr>
                                    <th scope="col"><div class="text-block">{{getLanguageText "File Name"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Update"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Delete"}}</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each files}}
                                    <tr class="file-list" name='{{this}}'>
                                        <td>{{this}} ({{fileSize (lookup ../size @index)}})</td>
                                        <td>
                                            <button type="button" class="btn btn-update update"
                                            name='{{this}}'>{{getLanguageText "Update"}}</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-remove delete"
                                            name='{{this}}'>{{getLanguageText "Delete"}}</button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- Data List Bottom - Table -->
                    </div>
                </div>
                {{/if}}

                <!--<div class="table">
                    <div class="table-wrapper no-scroll">
                        <div class="table-box">
                            <table>
                                <caption>Added files List</caption>
                                <thead>
                                <tr>
                                    <th scope="col"><div class="text-block">{{getLanguageText "File Name"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Update"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Delete"}}</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>signage-secured-m16pp-761.geumsan.m16pp-verify-40_usb_V3_SECURED.epk (838.23 MB) (01..)</td>
                                    <td>
                                        <button type="button" class="btn btn-update update">업데이트</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-remove delete">삭제</button>
                                    </td>
                                </tr>
                                <tr class="bg-gray" colspan="3">
                                    <td>signage-secured-m16pp-gld4signage-813-01.08.13_usb_V3_SECURED.epk (863.10 MB) (01.08.13)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        &lt;!&ndash; Data List Bottom - Table &ndash;&gt;
                    </div>
                </div>-->

                {{#if files}}
                <!-- Reflow table -->
                <div class="convert-table-to-list">
                    <div class="table-header">
                        <div class="row">
                            <div class="thead">{{getLanguageText "File Name"}}</div>
                        </div>
                    </div>
                    <ul class="table-body">
                        {{#each files}}
                        <li class="table-row">
                            <div class="summary-data">
                                <div class="row">
                                    <div class="table-cell">
                                        <button type="button" role="listbox" class="btn btn-expand" aria-expanded="false">{{this}} ({{fileSize (lookup ../size @index)}})</button>
                                    </div>
                                </div>
                            </div>
                            <div class="all-data-box">
                                <ul class="all-data">
                                    <li>
                                        <span class="field-label">{{getLanguageText "Update"}}</span>
                                        <span class="field-content align-right">
                                  <button type="button" class="btn btn-update" name='{{this}}'>{{getLanguageText "Update"}}</button>
                                </span>
                                    </li>
                                    <li>
                                        <span class="field-label">{{getLanguageText "Delete"}}</span>
                                        <span class="field-content align-right">
                                            <button type="button" class="btn btn-remove" name='{{this}}'>{{getLanguageText "Delete"}}</button>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {{/each}}
                        <!--<li class="table-row bg-gray">
                            <div class="summary-data">
                                <div class="row">
                                    <div class="table-cell">
                                        <div class="normal-text">
                                            signage-secured-m16pp-761.geumsan.m16pp-verify-36_usb_V3_SECURED.epk (838.23 MB) (01..)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>-->
                    </ul>
                </div>
                {{/if}}

            </div>
        </div>
        <!-- S/W 업데이트 파일 목록 -->

    </div>
    <!-- Detail Container -->
</div>

<script>
    var env = {{{json env}}};
    var supportExt = ['epk'];
    {{#supportMicomFanControl}}
        env.supportMicomFanControl = true;
        supportExt.push('txt');
    {{else}}
        env.supportMicomFanControl = false;
    {{/supportMicomFanControl}}

    env.uploadedFiles = [];
    {{#each files}}
        env.uploadedFiles.push("{{this}}");
    {{/each}}

    env.maxSize = {{maxSize}};

    $('#upload').attr('accept', '.epk, .txt');

    init(env);
</script>
