body {
	background-color: #cdcdcd;
}

a, u {
	text-decoration: none !important;
}

.menuList {
	padding-left: 10px;
	margin-top: 50px;
	display: block;
	list-style-type: none;
	color: white;
}

.menuList>li{
	margin-top: 20px;
}

.menuList>li>a>h4 {
	color:white;
	font-weight: normal;
	font-size: 16px;
}

.curMenu {
}

.curMenu:before {
	content: "";
	display: block;
	background: url("/images/2017UX/icon_dot_n.png") no-repeat;
	width: 12px;
	height: 12px;
	float: left;
	margin: 2px 6px 0 0;
}

.main-body {
	width: 1366px;
	max-width: 1366px;
	display: inline-block;
}

.panelHeader {
	background-color: #000000;
	color: #ffffff;
	height: 90px;
	line-height: 90px;
	font-size: 20px;
	font-weight: bold;
}

#setIP {
	color: #bdbdbd;
	font-size: 15px;
	font-weight: normal;
}

.menuTree {
	background-color: #292929;
	color: #ffffff;
	width: 260px;
	float: left;
	padding: 10px;
	height: 100%;
}

.mainWindow {
	background-color: #cdcdcd;
	width: 1106px;
	float: left;
	height: 90%;
}

.leftDiv {
	float: left;
	padding: 5px;
}

.rightDiv {
	float: right;
	padding: 5px;
}

.innerDiv {
	height: 100%;
}

.outerDiv {
	background-color: white;
	margin : 8px;
}

.cardDiv {
	overflow-y: auto;
	width: 100%;
	padding-right: 20px;
}

.titleCard {
	height: 51px;
	line-height: 51px;
	width: 715;
	margin: 0px 5px 7px 14px;
	padding-left: 15px;
	float: left;
	color: #464646;
	font-size: 20px;
	font-weight: bold;
}

.refreshCard {
	height: 51px;
	width: 325px;
	float: left;
	text-align: right;
	margin: 0px 5px 0px 5px;
	font-size: 14px;
	font-weight: bold;
}

.dashboardCard {
	float: left;
	width: 512px;
	display: inline-block;
	height: 106px;
	margin: 7px 7px 7px 7px;
	padding: 0px;
	background-color: #f2f2f2;
}

.incidentCard {
	width: 1038px;
	height: 300px;
	background-color: #f2f2f2;
	overflow-y: scroll;
}

#incidentTable {
	font-size: 13px;
	color: #464646;
}

.cardHeader {
	height: 49px;
	padding: 10px 14px 0px 14px;
	font-size: 14px;
	font-weight: bold;
	color: #464646;
}

.runTime {
	font-size: 22px;
	font-weight: bold;
	color: #464646;
}

.diskGraph {
	background-color: #d7d7d7;
	width: 484px;
	height: 10px;
}
.diskUsed {
	background-color: #cf0652;
}

#infoTable {
	font-size: 12px;
}

#infoTable th {
	font-weight: normal;
	color: #919191;
	width: 90px;
}

#infoTable td {
	color: #464646;
}

#partitionTable {
	font-size: 12px;
}

#partitionTable td {
	border-left:0px solid #000000;
	border-right:1px solid #cdcdcd;
	border-top:0px solid #000000;
	border-bottom:0px solid #000000;
}

#partitionTable td:last-child {
	border-right:0px solid #cdcdcd;
}

#partitionTable td span{
	font-size: 14px;
	font-weight: bold;
}

#modalTable {
	font-size: 20px;
}

#modalTable th {
	font-weight: normal;
	color: #919191;
	height: 40px;
}

#modalTable td {
	color: #464646;
}

.controlPane > tbody > tr > th {
	border-top: none;
	font-size: 14px;
	padding: 4px;
}

.controlPane > tbody > tr > td {
	border: none;
	font-size: 14px;
	padding: 4px;
}

.cardBtn, .whiteCardBtn, .darkGrayBtn, .mediaToolBarBtn, .calibBtn {
	float: right;
	border: 2px solid;
	border-radius: 15px;
	height: 30px;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	font-size: 13px;
}

.layoutBtn {
	float: left;
}

.cardBtn, .whiteCardBtn {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #cf0652;
}

.whiteCardBtn {
	background-color: #fff;
	border-color: white;
}

.calibBtn{
	color: #bdbdbd;
	background-color: #686868;
	border-color: #686868;
}

.cardBtn:hover, .whiteCardBtn:hover, .calibBtn:hover {
	border-radius: 15px;
	background-color: #cf0652;
	border-color: #cf0652;
	color: #ffffff;
}

.cardBtn:active, .whiteCardBtn:active, .calibBtn:active {
	background-color: #4d4d4d;
	border-color: #cf0652;
	color: #ffffff;
}

.cardBtn:disabled, .whiteCardBtn:disabled {
	background-color: #bdbdbd;
	border-color: #bdbdbd;
	color: #ffffff;
}

.darkGrayBtn {
	background-color: #4d4d4d;
	border: 2px solid #4d4d4d;
	color: white;
}

.darkGrayBtn:hover {
	background-color: #cf0652;
	color:white;
}

.darkGrayBtn:active {
	background-color: #4d4d4d;
	border: 2px solid #cf0652;
}

.darkGrayBtn:disabled {
	background-color: #4d4d4d;
	border: 2px solid #4d4d4d;
	color: #bdbdbd;
}

.mediaToolBarBtn {
	background-color: #686868;
	border: 2px solid #686868;
	color: white;
}

.mediaToolBarBtn:hover {
	background-color: #cf0652;
}

.mediaToolBarBtn:active {
	background-color: #4d4d4d;
	border: 2px solid #cf0652;
}

.overlayBtn {
	margin: 10px 10px 10px 10px;
	background-color: #4d4d4d;
	border: 2px solid #4d4d4d;
	color: white;
	border-radius: 10px;
}

.overlayBtn:hover {
	background-color: #cf0652;
	color:white;
}

.overlayBtn:active {
	background-color: #4d4d4d;
	border: 2px solid #cf0652;
}

.overlayBtn:disabled {
	background-color: #4d4d4d;
	border: 2px solid #4d4d4d;
	color: #bdbdbd;
}

.dashboardCloseBtn {
	background-image: url("../images/2017UX/btn_dashboard_close_n.png");
	width: 30px;
	height: 30px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 5px 5px 0px 0px;
}

.dashboardCloseBtn:hover {
	background-image: url("../images/2017UX/btn_dashboard_close_f.png");
}

.dashboardCloseBtn:active {
	background-image: url("../images/2017UX/btn_dashboard_close_p.png");
}

.btn-plus {
	background-image: url("../images/2017UX/btn_plus_n.png");
	width: 30px;
	height: 30px;
	border: 0px;
	background-color: transparent;
	outline: none;
}

.btn-plus:hover {
	background-image: url("../images/2017UX/btn_plus_f.png");
}

.btn-plus:active {
	background-image: url("../images/2017UX/btn_plus_p.png");
}

.btn-minus {
	background-image: url("../images/2017UX/btn_minus_n.png");
	width: 30px;
	height: 30px;
	border: 0px;
	background-color: transparent;
	outline: none;
}

.btn-minus:hover {
	background-image: url("../images/2017UX/btn_minus_f.png");
}

.btn-minus:active {
	background-image: url("../images/2017UX/btn_minus_p.png");
}

.remoteBG{
	background-image: url("../images/2017UX/remote_bg.png");
	width : 211px;
	height: 490px;
	left: 70px;
	top: 50px;
}

.remoteInputBtn {
	background-image: url("../images/2017UX/btn_remote_input_n.png");
	width: 37px;
	height: 37px;
	position: absolute;
	top : 12px;
	left : 12px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteInputBtn:hover {
	background-image: url("../images/2017UX/btn_remote_input_f.png");
}

.remoteInputBtn:active {
	background-image: url("../images/2017UX/btn_remote_input_p.png");
}

.remoteHomeBtn {
	background-image: url("../images/2017UX/btn_remote_home_n.png");
	width: 37px;
	height: 37px;
	position: absolute;
	top : 12px;
	left : 87px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteHomeBtn:hover {
	background-image: url("../images/2017UX/btn_remote_home_f.png");
}

.remoteHomeBtn:active {
	background-image: url("../images/2017UX/btn_remote_home_p.png");
}

.remoteSettingBtn {
	background-image: url("../images/2017UX/btn_remote_setting_n.png");
	width: 37px;
	height: 37px;
	position: absolute;
	top : 12px;
	left : 162px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteSettingBtn:hover {
	background-image: url("../images/2017UX/btn_remote_setting_f.png");
}

.remoteSettingBtn:active {
	background-image: url("../images/2017UX/btn_remote_setting_p.png");
}

.remoteOkBtn {
	background-image: url("../images/2017UX/btn_remote_ok_n.png");
	width: 61px;
	height: 61px;
	position: absolute;
	top : 123px;
	left : 75px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteOkBtn:hover {
	background-image: url("../images/2017UX/btn_remote_ok_f.png");
}

.remoteOkBtn:active {
	background-image: url("../images/2017UX/btn_remote_ok_p.png");
}

.remoteUpBtn {
	background-image: url("../images/2017UX/btn_remote_up_n.png");
	width: 105px;
	height: 50px;
	position: absolute;
	top : 70px;
	left : 53px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteUpBtn:hover {
	background-image: url("../images/2017UX/btn_remote_up_f.png");
}

.remoteUpBtn:active {
	background-image: url("../images/2017UX/btn_remote_up_p.png");
}

.remoteRightBtn {
	background-image: url("../images/2017UX/btn_remote_rignt_n.png");
	width: 50px;
	height: 105px;
	position: absolute;
	top : 101px;
	left : 139px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteRightBtn:hover {
	background-image: url("../images/2017UX/btn_remote_rignt_f.png");
}

.remoteRightBtn:active {
	background-image: url("../images/2017UX/btn_remote_rignt_p.png");
}

.remoteLeftBtn {
	background-image: url("../images/2017UX/btn_remote_left_n.png");
	width: 50px;
	height: 105px;
	position: absolute;
	top : 101px;
	left : 22px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteLeftBtn:hover {
	background-image: url("../images/2017UX/btn_remote_left_f.png");
}

.remoteLeftBtn:active {
	background-image: url("../images/2017UX/btn_remote_left_p.png")
}

.remoteDownBtn {
	background-image: url("../images/2017UX/btn_remote_down_n.png");
	width: 105px;
	height: 50px;
	position: absolute;
	top : 187px;
	left : 53px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin : 0px 0px 0px 0px;
}

.remoteDownBtn:hover {
	background-image: url("../images/2017UX/btn_remote_down_f.png");
}

.remoteDownBtn:active {
	background-image: url("../images/2017UX/btn_remote_down_p.png")
}

.whiteTextInput {
	border: 2px solid;
	border-radius: 15px;
	height: 35px;
	padding: 1px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	background-color: #fff;
	border-color: white;
}

.whiteTextInput:focus {
	border-color: #cf0652;
}

.normalText{
	font-weight: normal;
	font-size: 10pt;
}

.modalCloseBtn{
	background-image: url("../images/btn_close_07_n.png");
	width: 44px;
	height: 44px;
	border: 0px;
	background-color: transparent;
	outline: none;
}

.modalCloseBtn:hover {
	background-image: url("../images/btn_close_07_f.png");
	width: 44px;
	height: 44px;
	border: 0px;
	background-color: transparent;
}

.modalCloseBtn:active{
	background-image: url("../images/btn_close_07_p.png");
	width: 44px;
	height: 44px;
	border: 0px;
	background-color: transparent;
}

.leftBtn{
	background-image: url("../images/2017UX/btn_toolbar_arrow_l_n.png");
	width: 30px;
	height: 30px;
	border: 0px;
	background-color: transparent;
	outline: none;
}

.leftBtn:hover{
	background-image: url("../images/2017UX/btn_toolbar_arrow_l_f.png");
}

.leftBtn:active{
	background-image: url("../images/2017UX/btn_toolbar_arrow_l_p.png");
}

.leftBtn:disabled{
	background-image: url("../images/2017UX/btn_toolbar_arrow_l_d.png");
}

.rightBtn{
	background-image: url("../images/2017UX/btn_toolbar_arrow_r_n.png");
	width: 30px;
	height: 30px;
	border: 0px;
	background-color: transparent;
	outline: none;
}

.rightBtn:hover{
	background-image: url("../images/2017UX/btn_toolbar_arrow_r_f.png");
}

.rightBtn:active{
	background-image: url("../images/2017UX/btn_toolbar_arrow_r_p.png");
}

.rightBtn:disabled{
	background-image: url("../images/2017UX/btn_toolbar_arrow_r_d.png");
}






.btn-cut-left {
	background-image: url("../images/2017UX/btn_cut_l_n.png");
	width: 35px;
	height: 35px;
	border: 0px;
	background-color: transparent;
	outline: none;
}

.btn-cut-left:hover {
	background-image: url("../images/2017UX/btn_cut_l_f.png");
}

.btn-cut-left:active {
	background-image: url("../images/2017UX/btn_cut_l_p.png");
}

.btn-cut-right {
	background-image: url("../images/2017UX/btn_cut_r_n.png");
	width: 35px;
	height: 35px;
	border: 0px;
	background-color: transparent;
	outline: none;
}

.btn-cut-right:hover {
	background-image: url("../images/2017UX/btn_cut_r_f.png");
}

.btn-cut-right:active {
	background-image: url("../images/2017UX/btn_cut_r_p.png");
}




.img_cut_left{
	position: absolute;
	top: 34px;
	left: 0px;
	height: 146px;
	width: 0px;
	z-index: 10;
	background-image: url("../images/2017UX/img_cut.png");
}


.img_cut_right{
	position: absolute;
	top: 34px;
	right: 0px;
	height: 146px;
	width: 0px;
	z-index: 10;
	background-image: url("../images/2017UX/img_cut.png");
}






.detailModalHeader{
	height:75px;
} 

input[name=selectPitchModal] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5);
	/* IE */
	-moz-transform: scale(1.5);
	/* FF */
	-webkit-transform: scale(1.5);
	/* Safari and Chrome */
	-o-transform: scale(1.5);
	/* Opera */
	padding: 5px;
}

.modal-body label {
	font-size: 18px;
	font-weight: 200;
	margin-left: 10px;
}

.modal-title {
	padding-left: 15px;
	font-size: 24px;
	font-weight: bold;
}

.modal-subTitle {
	padding-left: 30px;
}

.modalContents{
	background-color: #f2f2f2;
	padding: 10px 55px 10px 55px;
	font-size: 15px;
	height: 570px;
} .section{
	float: left;
	width: 100%;
} .header{
	height: 21px;
} .header hr{
	margin-top : 0px;
	border-color: #b7b7b7;
}.title{

}

.modal-top30 {
	top:30%;
}

.modal-top30 span{
	font-size: 17px;
}

#brightnessScheduleTable {
	width: 100%;
	border-collapse: collapse;
}

#brightnessScheduleTable td{
	padding:2px;
}

#brightnessScheduleTable .brightnessButtons {
	border-bottom: 1.5pt solid white;
	padding: 2px;
}

#brightnessScheduleTable .scheduleTxt:hover{
	cursor: pointer;
	color: #ffffff;
	background-color: #cf0652;
}

#brightnessScheduleAddModalTable tr{
	border-bottom: 30px solid transparent;
}

.modalContents .body{
	margin-top: 20px;
}

.detailModalCard{
	font-weight: bold;
	float:left;
	width:33%;
	height:100px;
}.long{
	clear:both;
	width:100%;
}

.updateDIV{
	height: 250px;
	width:100%;
	background-color: #cdcdcd;
	overflow-y: scroll;
}

.updateHeaderTable{
	width:100%;
	background-color: white;
	border-top: 1px solid #a6a6a6;
	border-bottom: 1px solid #a6a6a6;
	height: 50px;
	font-size: 13px;
}

.updateAnounce{
	width : 100%;
	height: 100%;
	text-align: center;
	padding-top: 90px;
}

.updateFileList{
	width: 100%;
	font-size: 13px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.mediaToolBar {
	background-color: #686868;
	height: 60px;
	width:100%;
}

.mediaCard {
	float: left;
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 14px 0px 0px 14px;
	padding: 0px;
	background-color: #f1f1f1;
}

.mediaCard:hover {
	outline:3px solid #cf0652;
}

.mediaThumb{
	width:240px;
	height: 138px;
	background: url('/images/2017UX/image_welcome.png') repeat;
	margin: 5px 5px 5px 5px;
	position: relative;
}

.playTime{
	width: 45px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.6;
	color:white;
	background-color: black;
	position: absolute;
	top:113px;
	left:195px;
	text-align: center;
	padding-top: 2px;
}

.mediaName{
	margin-left: 14px;
	font-weight: bold;
	font-size: 15px;
	color: #464646;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.mediaResolution{
	margin-left: 14px;
	font-size: 13px;
	color: #5b5b5b;
}

.mediaButton{
	float: left;
	margin: 10px 0px 0px 10px;
}

.calibTH{
	height: 20px;
	text-align: center;
	font-size: 15px;
	border-bottom: 1px solid #a6a6a6;
	border-top: 3px solid #686868;
}

.layoutSection{
	margin-top: 30px;
}

.portInfoPanel{
	position: absolute;
	top:0px; left: 0px;
	width:90%;
	height: 90%;
	background-color: #4d4d4d;
	border-radius: 10px;
	margin: 0 auto;
}

.cuttingPanel{
	position: absolute;
	top:0px; left: 0px;
	width:90%;
	height: 380px;
	background-color: #4d4d4d;
	border-radius: 10px;
	margin: 0 auto;
}

.cutted{
	background-color: #a6a6a6;
}

.notcutted{
	background-color: white;
}

.testPatternPanelPanel{
	position: absolute;
	top:0px; left: 0px;
	width:90%;
	height: 90%;
	background-color: #5d5d5d;
	border-radius: 10px;
	margin: 0 auto;
}

.portInfoStatus{
	width:167px;
	height:146px;
	background: url("/images/2017UX/portLayout.png") left top no-repeat;
}

.useRowRect{
	width:42px;
	background-color: red;
	opacity: 0.6;
}

.panel {
	display: none;
	background-color: #bdbdbd;
}

/*for IE10*/
.dropboxType1::-ms-expand, .dropboxType2::-ms-expand, .dropboxType3::-ms-expand {
	display: none;
}

.dropboxType1, .dropboxType2, .dropboxType3 {
	height: 35px;
	border: 0px;
	padding: 0px 35px 0px 20px;
	border-radius: 18px;
	font-size: 14px;
	outline: 0px !important;

}

.dropboxType1, .dropboxType1:focus, .open>.dropboxType1:focus {
	background: url('/images/2017UX/dropbox_type01_l_n.png') no-repeat left, url('/images/2017UX/dropbox_type01_r_n.png') no-repeat right;
	background-color: #4d4d4d;
	border: 2px solid #4d4d4d;
	color: white;
}

.dropboxType1:hover, .open>.dropboxType1:hover {
	background: url('/images/2017UX/dropbox_type01_l_f.png') no-repeat left, url('/images/2017UX/dropbox_type01_r_f.png') no-repeat right;
	background-color: #cf0652;
}

.dropboxType1:active, .open>.dropboxType1:active {
	background: url('/images/2017UX/dropbox_type01_l_n.png') no-repeat left, url('/images/2017UX/dropbox_type01_r_n.png') no-repeat right;
	background-color: #4d4d4d;
	border: 2px solid #cf0652;
}

.dropboxType2, .dropboxType2:focus, .open>.dropboxType2:focus {
	background: url('/images/2017UX/dropbox_type02_l_n.png') no-repeat left, url('/images/2017UX/dropbox_type02_r_n.png') no-repeat right;
	background-color: white;
	border: 2px solid white;
	color: #464646;
}

.dropboxType2:hover, .open>.dropboxType2:hover {
	background: url('/images/2017UX/dropbox_type02_l_f.png') no-repeat left, url('/images/2017UX/dropbox_type02_r_f.png') no-repeat right;
	background-color: #cf0652;
	color: white;
}

.dropboxType2:active, .open>.dropboxType2:active {
	background: url('/images/2017UX/dropbox_type02_l_n.png') no-repeat left, url('/images/2017UX/dropbox_type02_r_n.png') no-repeat right;
	background-color: white;
	color: #464646;
	border: 2px solid #cf0652;
}

.dropboxType3, .dropboxType3:focus, .open>.dropboxType3:focus {
	background: url('/images/2017UX/dropbox_type03_l_n.png') no-repeat left, url('/images/2017UX/dropbox_type03_r_n.png') no-repeat right;
	background-color: #4d4d4d;
	border: 2px solid #4d4d4d;
	color: white;
}

.dropboxType3:hover, .open>.dropboxType3:hover {
	background: url('/images/2017UX/dropbox_type03_l_f.png') no-repeat left, url('/images/2017UX/dropbox_type03_r_f.png') no-repeat right;
	background-color: #cf0652;
	color:white;
}

.dropboxType3:active, .open>.dropboxType3:active {
	background: url('/images/2017UX/dropbox_type03_l_n.png') no-repeat left, url('/images/2017UX/dropbox_type03_r_n.png') no-repeat right;
	background-color: #4d4d4d;
	border: 2px solid #cf0652;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*Custom range*/

input[type=range][class|="custom"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  /*width: 270px;*/
  width:100%;
  margin-top: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

/*range track style*/
input[type=range][class|="custom"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  border: none;
  border-radius: 3px;
}

input[type=range][class|="custom"]::-moz-range-track {
  width: 100%;
  height: 5px;
  border: none;
  border-radius: 3px;
  background-color: #a6a6a6;
}

input[type=range][class|="custom"]::-moz-range-progress {
  width: 100%;
  height: 5px;
  border: none;
  border-radius: 3px;
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-moz-range-progress {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-moz-range-progress {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-moz-range-progress {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-moz-range-progress {
  background: #00b0f0
}

input[type=range][class|="custom"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}


input[type=range][class|=custom]:disabled::-webkit-slider-runnable-track{
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-moz-range-track{
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-moz-range-progress{
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-track{
  background: transparent;
}

/*range thumb style*/
input[type=range][class|="custom"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #CF0652;
  margin-top: -10px;
}

input[type=range][class="custom-grey"]::-webkit-slider-thumb {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-webkit-slider-thumb {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-webkit-slider-thumb {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-webkit-slider-thumb {
  background: #00b0f0
}

input[type=range][class|="custom"]::-moz-range-thumb {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-moz-range-thumb {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-moz-range-thumb {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-moz-range-thumb {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-moz-range-thumb {
  background: #00b0f0
}



input[type=range][class|="custom"]::-ms-thumb {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-ms-thumb {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-ms-thumb {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-ms-thumb {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-ms-thumb {
  background: #00b0f0;
}

input[type=range][class|=custom]:disabled::-webkit-slider-thumb {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-moz-range-thumb {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-thumb {
  background: #A6A6A6;
}


/*range track style - fiil row and high*/
input[type=range][class|="custom"]::-ms-fill-lower {
  background: #CF0652;
}
input[type=range][class|="custom"]:focus::-ms-fill-lower {
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-ms-fill-lower {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-ms-fill-lower {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-ms-fill-lower {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-ms-fill-lower {
  background: #00b0f0;
}

input[type=range][class="custom-grey"]:focus::-ms-fill-lower {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]:focus::-ms-fill-lower {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]:focus::-ms-fill-lower {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]:focus::-ms-fill-lower {
  background: #00b0f0;
}

input[type=range][class|="custom"]::-ms-fill-upper {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-fill-upper {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-fill-lower {
  background: #A6A6A6;
}

input[type=range][class|="custom"]:focus::-ms-fill-lower {
  background: #CF0652;
}
input[type=range][class="custom-grey"]:focus::-ms-fill-lower {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]:focus::-ms-fill-lower {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]:focus::-ms-fill-lower {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]:focus::-ms-fill-lower {
  background: #00b0f0;
}

input[type=range][class|="custom"]:focus {
  outline: none;
}

input[type=range][class|="custom"]:focus::-webkit-slider-runnable-track {
}

input[type=range][class|="custom"]:disabled {
    cursor: not-allowed;
}

@media all and (-ms-high-contrast:none) {
	table.table>tbody>tr>.sliderTd {
		padding: 0px;
	}
	input[type=range][class|="custom"] {
		margin: 0px;
	}
}
input[type=range][class|="custom"] {
	border: none;
}

input[type=checkbox][class="media-checkBox"]{
	display: none;
}

input[type=checkbox][class="media-checkBox"] + label {
	margin : 4px 0px 0px 4px;
	background: url('/images/2017UX/checkbox_n.png') left top no-repeat;
	width: 30px;
	height: 30px;
	cursor:pointer;
}

input[type=checkbox][class="media-checkBox"]:checked + label {
	background: url('/images/2017UX/checkbox_s.png') left top no-repeat;
}

input[type=checkbox][class="switch"]{
	display: none;
}

input[type=checkbox][class="switch"] + label {
	margin : 0px 0px 0px 0px;
	background: url('/images/2017UX/btn_switch_off.png') left top no-repeat;
	width: 58px;
	height: 30px;
	cursor:pointer;
}

input[type=checkbox][class="switch"]:not(:checked):disabled + label {
	background: url('/images/2017UX/btn_switch_off_d.png') left top no-repeat;
}

input[type=checkbox][class="switch"]:checked + label {
	background: url('/images/2017UX/btn_switch_on.png') left top no-repeat;
}

input[type=checkbox][class="switch"]:checked:disabled + label {
	background: url('/images/2017UX/btn_switch_on_d.png') left top no-repeat;
}

input[type="file"][class="addMedia"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

input[type="file"][class="addMedia"] + label{
	float: left;
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 14px 0px 0px 14px;
	padding: 0px;
	background-color: #f1f1f1;
	cursor: pointer;
	text-align: center;
	color: #cf0652;
	font-size: 15px;
	font-weight: normal;
	padding-top: 105px;
}

input[type="file"][class="addMedia"]:hover + label{
	outline:3px solid #cf0652;
}


input[type="file"][class="uploadMedia"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

input[type="file"][class="uploadMedia"] + label{
	float: left;
	margin:15px 0px 0px 30px;
	cursor: pointer;
}




input[type="file"][class="uploadUpdate"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

input[type="file"][class="uploadUpdate"] + label{
	margin:0px 0px 0px 0px;
	cursor: pointer;
}


input[type="password"][class="custom"]{
	border-radius: 15px;
	border: 2px solid #ffffff;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
}

input[type="password"][class="custom"]:hover{
	border-color: #cf0652;
	background-color: #ffffff;
}

input[type="password"][class="custom"]:focus{
	border-color: #cf0652;
	background-color: #ffffff;
}

input[type="password"][class="custom"]:disabled{
	border-color: #a2a2a2;
	background-color: #a2a2a2;
}

input[type="text"][class="custom"]{
	border-radius: 15px;
	border: 2px solid #ffffff;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
}

input[type="text"][class="custom"]:hover{
	border-color: #cf0652;
	background-color: #ffffff;
}

input[type="text"][class="custom"]:focus{
	border-color: #cf0652;
	background-color: #ffffff;
}

input[type="text"][class="custom"]:disabled{
	border-color: #a2a2a2;
	background-color: #a2a2a2;
}

#ntpServerAddr {
	border-color: #efefef;
}

#ntpServerAddr:hover {
	border-color: #cf0652;
}

#ntpServerAddr:focus {
	border-color: #cf0652;
}

#ntpServerAddr:disabled {
	border-color: #a2a2a2;
}

.update_overlay_sc {
    height: 20%;
    width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	filter: alpha(opacity=80);
	z-index: 1000;
    color: white;
}

.update_overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 1000;
	color: white;
}

.ledType_overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.9;
	filter: alpha(opacity=80);
	z-index: 1000;
	color: white;
}

.update_in_progress_sc {
	margin: auto;
	width: 100%;
	height: 10%;
	color: white;
}

.update_in_progress {
	margin: auto;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 45%;
	left: 0;
	color: white;
}

.posToolTip{
	width: 100px;
	height: 20px;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	border : 1px solid grey;
	z-index: 100;
	position: absolute;
	display: none;
}

.modalWarningMessage{
	position: absolute;
	width: 90%;
	left: 5%;
	top: 5%;
}

.systemCardTxt{
	display: inline-block;
	width: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#siServerTable .second label{
	display: inline-block;
	font-weight: 100;
}