.underLine{
	background-color: #cdcdcd;
	width: 50px;
	border : 0px solid black;
	border-bottom : 1px solid black;
	text-align:center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sender{
	position: absolute;
	z-index: 10;
	top: 0px;
	opacity: 0.7;
}

.senderTag{
	position: absolute;
	color: white;
	right: 20px;
	bottom: 10px;
	font-weight: bold;
	font-size: 15pt;
}

.dirImgRight{
	position: absolute;
	background-image: url("../images/2017UX/icon_unit_indi_r.png");
	width: 18px;
	height: 34px;
	right: 0px;
	top: 50%;
	margin-top: -17px;
}

.dirImgLeft{
	position: absolute;
	background-image: url("../images/2017UX/icon_unit_indi_l.png");
	width: 18px;
	height: 34px;
	left: 0px;
	top: 50%;
	margin-top: -17px;
}

.dirImgBottom{
	position: absolute;
	background-image: url("../images/2017UX/icon_unit_indi_b.png");
	width: 34px;
	height: 18px;
	bottom: 0px;
	left: 50%;
	margin-left: -17px;
}

.dirImgTop{
	position: absolute;
	background-image: url("../images/2017UX/icon_unit_indi_t.png");
	width: 34px;
	height: 18px;
	top: 0px;
	left: 50%;
	margin-left: -17px;
}

.unit{
	background-color: white;
	opacity: 0.7;
}

.film{
	border : 1px solid black;
}

.virtual{
	border : 1px dashed black;
}

.mini{
	background-color: #007f00;
	opacity: 0.8
}

.trimPanel{
	position: absolute;
	top: 10px;
	right: -70px;
	width:25%;
	height: 380px;
	background-color: #4d4d4d;
	border-radius: 10px;
	margin: 0 auto;
}

.patternPanel{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20%;
	height: 280px;
	background-color: #4d4d4d;
	border-radius: 10px;
	margin: 0 auto;
}

.patternColor{
	padding-left:30px;
	font-size:13px;
	color: white;
}

.printPattern{
	width: 30px;
	height: 20px;
	background-color: transparent;
	border: 1px solid white;
	margin-left: 10px;
}

.patternColor{
	right: 0px;
	font-size: 10px;
}

.portraitImg{
	transform-origin: top left;
	transform: rotate(90deg) translateY(-100%);
	height : 272px;
	width: 464px;
}

.portraitWrapper{
	width: 272px;
}

.statusUnit{
	position: absolute;
	border: 1px solid black;
	background-color: white;
	opacity: 0.7;
}.powerOff{
	background-color: grey;
	border: 1px solid black;
	opacity: 0.7;
}.noSignal{
	background-color: red;
	border: 1px solid black;
	opacity: 0.7;
}

.colorCalibSub{
	color: white;
	background-color: #686868;
	height: 10px;
	text-align: center;
	font-weight: bold;
}

.colorCalibTable{
	width: 100%;
	height: 191px;
	background-color: #686868;
}

.calibTD1{
	color: white;
	width: 10%;
}

.calibTD2{
	width: 60%;
}

.calibTD3{
	width: 30%;
}

.colorCalibVal{
	background-color: #ffffff;
	border-radius: 15px;
	width:85px;
	height:30px;
	text-align: center;
	padding-top: 7px;
	margin-left: 10px;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=number] {
    -moz-appearance:textfield;
}