.card .card-body {
    width: 100%;
    height: 109px;
}

.card.big .card-body {
    width: 100%;
    height: 191px;
}

.card.summary-inline .card-body {
    display: table;
    text-align: center;
}

.card.summary-inline .card-body .content {
    display: table-cell;
    vertical-align: middle;
}

.card.summary-inline .card-body .content .status {
    padding-top: 0;
}


.card .card-header .card-title.mobile {
    height: 100%;
    display: table;
    padding-top: 0;
}

.card .card-header .card-title.mobile .card_text {
    display: table-cell;
    vertical-align: middle;
}

.card.mobile .card-body {
    width: 100%;
    height: 87px;
}

.card.big-mobile .card-body {
    width: 100%;
    height: 149px;
}

.card.summary-inline .card-body {
    display: table;
    text-align: center;
}

.card.summary-inline .card-body .content {
    display: table-cell;
    vertical-align: middle;
}

.card.summary-inline .card-body .content .status.mobile {
    padding-top: 0;
}
