.grid {
	padding: 0px 0px 0px 0px;
	text-align: right;
	border-style: solid;
	border-color: #c1c1c1;
	border-width: 0px 0px 0px 0px;
	font-size: small;
}

.grid.vrule {
	width: 40px;
}

.grid.active {
	background-color: red;
}

.unit {
	background-color: #cccccc;
	border-style: solid;
	border-color: #c1c1c1;
	border-width: 1px 0px 0px 1px;
	padding: 2px 2px 2px 2px;
	text-align: center;
	font-size: 15px;
}

.unit.rightmost {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
}
.unit.bottom {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.unit.none {
	background-color: #fff;
	border-color: #c1c1c1;
}

.unit.ok {
	background-color: #2dc4ac;
	border-color: #c1c1c1;
	color: #ffffff;
}

.unit.ng {
	background-color: #ff4a4a;
	border-color: #c1c1c1;
	color: #ffffff;
}

.unit.off {
	background-color: #cccccc;
	border-color: #c1c1c1;
	color: #6f6f6f;
}

.unit.sel {
	border-color: #cf0652;
}

.unit.selRight {
	border-color: #c1c1c1 #c1c1c1 #c1c1c1 #cf0652;
}

.unit.selBottom {
	border-color: #cf0652 #c1c1c1 #c1c1c1 #c1c1c1;
}

.editPanel {
	display: none;
	vertical-align: middle;
	text-align: center;
	font-size: 10pt;
	margin: 5px 0px 5px 0px;
}

.table.unit-status > tbody > tr > td {
	font-size: 15px;
	vertical-align: middle;
}

.table.unit-status > tbody > tr > th {
	font-size: 15px;
}

.editTitle {
	height: 34px;
	line-height: 34px;
	font-size: 13pt;
	color: #6f6f6f;
}

#gridPanel {
	width: 920px;
	height: 520px;
	padding-left: 26px;
	border: solid 1px #9f9f9f;
	padding: 5px 5px 5px 5px;
}

#topContainer {
	width: 100%;
	/*height: 750px;*/
	position: relative;
	margin: 0px 0px 0px 0px;
	background-color: white;
}

.infoTitle {
	border-bottom: solid 1px #9f9f9f;
	margin: 20px 10px 20px 10px;
}

#infoDiv, #calUnitDiv, #calModuleDiv, #patternDiv {
	padding: 0px 0px 0px 20px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	background-color: white;
	margin: auto;
	border: solid 1px;
	border-radius: 8px;
}

#calUnitDiv {
	overflow-x: hidden;
	overflow-y: auto;
}

#infoDiv {
	z-index: 1;
}

#calUnitDiv, #patternDiv {
	z-index: 2;
}

#calModuleDiv {
	z-index: 3;
}

#topPatternPanel, #bottomPatternPanel {
	position: relative;
	z-index: 1;
}

.table.gamut {
	vertical-align: middle;
}

.table.gamut th {
	text-align: center;
	vertical-align: middle;
}

input[type="number"].side {
	font-size: 8pt;
	width: 45px;
}

input[type="number"].pattern {
	font-size: 8pt;
	width: 45px;
}

input[type="number"].gamut {
	font-size: 8pt;
	width: 60px;
	margin-left: 20px;
}

p.control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%
}

.btn[disabled] {
	pointer-events: auto;
}

.led-status {
	color: #000;
}

.led-status.ng {
	color: #ff4a4a;
}

.led-status.ok {
	color: #009977;
}

.unitButton {
	width: 44px;
	height:30px;
	background: #ffffff;
	border: 1px solid #a9a9a9;
	font-size: 10pt;
}

.unitButton:active {
	background: #cf0652;
	border: 0px solid #a9a9a9;
	color: #fff;
}

.unitButton.sel {
	background: #ffffff;
	border: 2px solid #cf0652;
}
.unitButton.sel:active {
	background: #cf0652;
	border: 0px solid #a9a9a9;
	color: #fff;
}

.header-fixed {
	width: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
	display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

.header-fixed > tbody {
	overflow-y: auto;
	height: 300px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
	width: 20%;
	float: left;
}
