html {
  height: 100%; }

body {
  padding-top: 0px;
  height: 100%;
  position: relative;
  font-size: 13px;}

* {
  outline: none;
  font-family: 'LG Smart';
}

@font-face {
  font-family: 'LG Smart';
  src: url('/fonts/LGSmHaR.woff') format('woff');
}

@font-face{
  font-family: 'LG Smart';
  src: url('/fonts/LGSmHaB.woff') format('woff');
  font-weight: bold;
}

/*for Custom Input*/

.class_checkbox{
   width: 25px;
   height: 25px;
   background-image: url("../images/checkbox_off.png");
}

.class_checkbox.checked{
   background-image: url("../images/checkbox_on.png");
}


/*Custom Button*/
.img-button{
background-image: url("../images/btn.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 350px;
height: 30px;
border: 0px;
background-color: transparent;
color:#b5b5b5;
font-size: 14pt;
font-weight: bold;
margin: 17px 0px 10px 0px;
left:50%;
}

.img-button-installation{
background-image: url("../images/btn_installation.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 330px;
height: 30px;
border: 0px;
background-color: transparent;
color:#b5b5b5;
font-size: 14pt;
font-weight: bold;
margin: 0px 5px 0px 0px;
}

.img-button-mobile{
background-image: url("../images/btn_mobile.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 250px;
height: 30px;
border: 0px;
background-color: transparent;
color:#b5b5b5;
font-size: 14pt;
font-weight: bold;
margin: 17px 0px 10px 0px;
left:50%;
}

.img-button.small{
width: 225px;
background-image: url("../images/btn_small.png");
}

.img-button.small.smallTxt{
font-size: 12pt;
}


.img-button.xsmall{
width: 170px;
background-image: url("../images/btn_xsmall.png");
}

.img-button.xsmall.smallTxt{
font-size: 12pt;
}

.img-button.xsmall:disabled {
	color: #666;
	cursor: not-allowed;
}

.img-button.back{
width: 34px;
height: 34px;
background-image: url("../images/btn_back_n.png");
margin: 0 0 7 0;
}
.img-button.back:active{
width: 34px;
height: 34px;
background-image: url("../images/btn_back_p.png");
margin: 0 0 7 0;
}

.img-button.cancel{
width: 34px;
height: 34px;
background-image: url("../images/btn_close_n.png");
margin: 0 0 7 0;
}
.img-button.cancel:active{
width: 34px;
height: 34px;
background-image: url("../images/btn_close_p.png");
margin: 0 0 7 0;
}


.img-button-mobile.small{
width: 156px;
background-image: url("../images/btn_mobile_small.png");
margin:0px 0px 0px 0px;
}

.img-button-mobile.small.remo{
font-size:13px;
margin-top:3px;
width:123px;
height:21px;
background-image: url("../images/btn_hotkey_mobile.png");
}

.img-button.small.table{
margin:0px 0px 0px 0px;
}

.img-button.hotkey{
width: 175px;
background-image: url("../images/btn_hotkey.png");
margin:10px 0px 0px 0px;
}

.img-button.hotkey.smallTxt {
font-size: 12pt;
}


.icon_record{
  width:23px;
  height:23px;
  float:left;
  margin:8px 0px 0px 8px;
  background-image: url("../images/ic_record.png");
}

.icon_music{
  width:23px;
  height:23px;
  float:left;
  margin:8px 0px 0px 8px;
  background-image: url("../images/ic_music.png");
}

.icon_photo{
  width:23px;
  height:23px;
  float:left;
  margin:8px 0px 0px 8px;
  background-image: url("../images/ic_photo.png");
}

.img-button-save{
background-image: url("../images/btn_save_n.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 35px;
height: 35px;
border: 0px;
background-color: transparent;
}

.img-button-save:active{
background-image: url("../images/btn_save_p.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 35px;
height: 35px;
border: 0px;
background-color: transparent;
border-color: transparent;
}

.img-button-delete{
background-image: url("../images/btn_delete_n.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 35px;
height: 35px;
border: 0px;
background-color: transparent;
}

.img-button-delete:active{
background-image: url("../images/btn_delete_p.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 35px;
height: 35px;
border: 0px;
background-color: transparent;
border-color: transparent;
}

.img-button-update{
background-image: url("../images/btn_update_n.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 35px;
height: 35px;
border: 0px;
background-color: transparent;
}

.img-button-update:active{
background-image: url("../images/btn_update_p.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 35px;
height: 35px;
border: 0px;
background-color: transparent;
border-color: transparent;
}

.img-button-installation:active{
background-image: url("../images/btn_installation_click.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 330px;
height: 30px;
border: 0px;
background-color: transparent;
color:#ffffff;
font-size: 14pt;
font-weight: bold;
margin: 0px 5px 0px 0px;
}

.img-button-mobile:active{
background-image: url("../images/btn_click_mobile.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 250px;
height: 30px;
border: 0px;
background-color: transparent;
color:#ffffff;
font-size: 14pt;
font-weight: bold;
margin: 17px 0px 10px 0px;
}


.img-button-mobile.small:active{
background-image: url("../images/btn_click_mobile_small.png");
background-position:  0px 0px;
background-repeat: no-repeat;
width: 156px;
height: 30px;
border: 0px;
background-color: transparent;
color:#ffffff;
font-size: 14pt;
font-weight: bold;
margin:0px 0px 0px 0px;
}

.img-button-mobile.small.remo:active{
font-size:13px;
margin-top:3px;
width:123px;
height:21px;
background-image: url("../images/btn_click_hotkey_mobile.png");
}

.img-button.small:active{
width: 225px;
background-image: url("../images/btn_click_small.png");
}

.img-button.xsmall:enabled:active{
width: 170px;
background-image: url("../images/btn_click_xsmall.png");
}

.img-button.hotkey:active{
width: 175px;
background-image: url("../images/btn_click_hotkey.png");
margin:10px 0px 0px 0px;
}

.btn-refresh{
  text-align: left;
  width : 100px;
  height: 20px;
  border-radius: 10px;
  background-image: url("/images/ic_refresh_n.png");
  background-position: 80px 4px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}.btn-refresh.dashboard{
  width :25px;
  background-position:  5px 3px;
}

.btn-refresh:active{
  border: none;
  color: #ffffff;
  text-align: left;
  width : 100px;
  height: 20px;
  border-radius: 10px;
  background-image: url("/images/ic_refresh_p.png");
  background-position: 80px 4px;
  background-repeat: no-repeat;
  background-color: #cf0652;
}.btn-refresh.dashboard:active{
  width :25px;
  background-position:  5px 3px;
}

.dropdown-ampm{
  float: right;
  margin-top: -10;
  margin-right: 90;
  width: 80;
}

.dropdown-ampm.mobile{
  margin-top: -5;
  margin-right: 0;
}

.dropdown-dst{
  margin-top:13px;
}

.input-text-2char{
  width:30px;
  padding: 1px 0;
  text-align: center;
}

.input-text-4char{
  width:50px;
  padding: 1px 0;
  text-align: center;
}

.small-text{
  font-size: 13px;
}

.wrapper-center{
  text-align:center;
  margin:auto;
  font-size: 13pt;
}

.wrapper-right{
  text-align:right;
  margin:auto;
  font-size: 13pt;
  padding-right: 10px;
}

.Portrait-status-subject{
  font-size:13pt;
  color:#6f6f6f;
  padding:10px 0px 0px 10px;
}

.rotation-status-subject{
  font-size:13pt;
  color:#6f6f6f;
  padding:50px 0px 0px 10px;
}

.wrapper-rotation{
  margin-top: 40px;
  margin-bottom: 50px;
  text-align:center;
  font-size: 13pt;
}

.wrapper-Portrait.mobile{
  margin-top: 40px;
  margin-bottom: 50px;
  text-align:center;
  font-size: 13pt;
}

.wrapper-portrait{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
  font-size: 13pt;
}

.img_rotate_90{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.img_rotate_180{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.img_rotate_270{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.wrapper_rotate_img{
  height:400px;
}

.screenshot-message{
  position: absolute;
  left: 10px;
  top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 0, 0, 0.7);
  font-size: 12px;
  font-weight: bold;
  list-style:none;
}

.checkscreen-control{
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
}

.checkscreen-status{
  width:550px;
  padding-top:0px;
  padding-left: 70px;
}

.showcolor-status{
  width:400px;
  margin-left: 70px;
}
.showcolor-status.mobile{
  width:230px;
  margin-left: 30px;
}

.no-border-top{
  border-top: none !important;
}

.no-border-bottom{
  border-bottom: none !important;
}

/*Custom Password*/
input[type=password][class="custom"]{
  width: 350px;
  height: 40px;
  background-image: url("../images/input_box.png");
  background-position:  0px 0px;
  border:0px;
  background-color: transparent;
  padding: 0px 15px 0px 15px;
}


input[type=password][class="custom"  ]:focus{
  width: 350px;
  height: 40px;
  background-image: url("../images/input_box_active.png");
  background-position:  0px 0px;
  border:0px;
  background-color: transparent;
  padding: 0px 15px 0px 15px;
}

input[type=password][class="custom passwd-mobile"] {
  width: 303px;
  height: 40px;
  background-image: url("../images/input_box_mobile.png");
  background-position:  0px 0px;
  border:0px;
  background-color: transparent;
  padding: 0px 15px 0px 15px;
  margin-bottom: 5px;
}


input[type=password][class="custom passwd-mobile"]:focus{
  width: 303px;
  height: 40px;
  background-image: url("../images/input_box_mobile_active.png");
  background-position:  0px 0px;
  border:0px;
  background-color: transparent;
  padding: 0px 15px 0px 15px;
  margin-bottom: 5px;
}

/*Custom Input*/
input[type=text][class="custom"  ]{
  border:0px;
  padding-left: 0px;
}

input[type=text][class="custom"  ]:focus{
  border:1px black;
}


/*Custom Radio*/

input[type=radio][class="custom"  ]:not(old){
  width   : 25px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=radio][class="custom"]:not(old) + label{
  display      : inline-block;
  margin-left  : 0px;
  margin-bottom  :0px;
  padding-left : 50px;
  background   : url('../images/checkBox.png') no-repeat 0 0;
  line-height  : 25px;
}

input[type=radio][class="custom"]:not(old):checked + label{
  background-position : 0 -25px;
}

input[dir=rtl][type=radio][class="custom"]:not(old):checked + label{
  padding-right: 50px;
  background-position : right -25px;
}

input[dir=rtl][type=radio][class="custom"]:not(old) + label{
  padding-right: 50px;
  background-position : right 0px;
}

/*Custom checkbox*/

input[type=checkbox][class="custom"]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox][class="custom"].filter-check:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 1;
}

input[type=checkbox][class="custom"]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 58px;
  background   : url('../images/toggleButton.png') no-repeat 0 0;
  line-height  : 26px;
}

input[type=checkbox][class="custom"]:not(old):checked + label{
  background-position : 0 -26px;
}

input[type=checkbox][class=grey]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox][class=grey]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 58px;
  background   : url('../images/toggleButton_grey.png') no-repeat 0 0;
  line-height  : 26px;
}

input[type=checkbox][class=grey]:not(old):checked + label{
  background-position : 0 -26px;
}


/*Custom range*/

input[type=range][class|="custom"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  /*width: 270px;*/
  width:100%;
  margin-top: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

/*range track style*/
input[type=range][class|="custom"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  border: none;
  border-radius: 3px;
}

input[type=range][class|="custom"]::-moz-range-track {
  width: 100%;
  height: 5px;
  border: none;
  border-radius: 3px;
  background-color: #a6a6a6;
}

input[type=range][class|="custom"]::-moz-range-progress {
  width: 100%;
  height: 5px;
  border: none;
  border-radius: 3px;
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-moz-range-progress {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-moz-range-progress {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-moz-range-progress {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-moz-range-progress {
  background: #00b0f0
}

input[type=range][class|="custom"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}


input[type=range][class|=custom]:disabled::-webkit-slider-runnable-track{
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-moz-range-track{
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-moz-range-progress{
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-track{
  background: transparent;
}

/*range thumb style*/
input[type=range][class|="custom"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #CF0652;
  margin-top: -10px;
}

input[type=range][class="custom-grey"]::-webkit-slider-thumb {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-webkit-slider-thumb {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-webkit-slider-thumb {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-webkit-slider-thumb {
  background: #00b0f0
}

input[type=range][class|="custom"]::-moz-range-thumb {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-moz-range-thumb {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-moz-range-thumb {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-moz-range-thumb {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-moz-range-thumb {
  background: #00b0f0
}



input[type=range][class|="custom"]::-ms-thumb {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-ms-thumb {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-ms-thumb {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-ms-thumb {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-ms-thumb {
  background: #00b0f0;
}

input[type=range][class|=custom]:disabled::-webkit-slider-thumb {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-moz-range-thumb {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-thumb {
  background: #A6A6A6;
}


/*range track style - fiil row and high*/
input[type=range][class|="custom"]::-ms-fill-lower {
  background: #CF0652;
}
input[type=range][class|="custom"]:focus::-ms-fill-lower {
  background: #CF0652;
}

input[type=range][class="custom-grey"]::-ms-fill-lower {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]::-ms-fill-lower {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]::-ms-fill-lower {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]::-ms-fill-lower {
  background: #00b0f0;
}

input[type=range][class="custom-grey"]:focus::-ms-fill-lower {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]:focus::-ms-fill-lower {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]:focus::-ms-fill-lower {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]:focus::-ms-fill-lower {
  background: #00b0f0;
}

input[type=range][class|="custom"]::-ms-fill-upper {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-fill-upper {
  background: #A6A6A6;
}

input[type=range][class|=custom]:disabled::-ms-fill-lower {
  background: #A6A6A6;
}

input[type=range][class|="custom"]:focus::-ms-fill-lower {
  background: #CF0652;
}
input[type=range][class="custom-grey"]:focus::-ms-fill-lower {
  background: #6e6e6e;
}
input[type=range][class="custom-red"]:focus::-ms-fill-lower {
  background: #ff4a4a;
}
input[type=range][class="custom-green"]:focus::-ms-fill-lower {
  background: #2dc4ac;
}
input[type=range][class="custom-blue"]:focus::-ms-fill-lower {
  background: #00b0f0;
}

input[type=range][class|="custom"]:focus {
  outline: none;
}

input[type=range][class|="custom"]:focus::-webkit-slider-runnable-track {
}

input[type=range][class|="custom"]:disabled {
    cursor: not-allowed;
}

/*Custom Select*/

.custom-select {
    border-style:none;
     -webkit-appearance: none;
     -ms-appearance: none;
    appearance: none;
    background: transparent url(../images/arrow_open_n.png) no-repeat right center;
    text-align:center
}

.custom-select:disabled {
    border-style:none;
     -webkit-appearance: none;
     -ms-appearance: none;
    appearance: none;
    background: #EEEEEE url(../images/arrow_open_n.png) no-repeat right center;
    text-align:center;
	cursor: not-allowed;
}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


p.file-info{
  word-break:break-all;
}

.select-outdoormode{
  width:150px;
}

.select-big{
  width:120px;
}
.select-big.mobile{
  width:150px;
}

.select-small{
  width:75px;
}


#page-wrapper .container-fluid{
  padding:35px 0px 0px 35px;
}#page-wrapper .container-fluid.mobile{
  padding:0px 0px 0px 6px;
}

.dashboard-wrapper{
  margin-top: -35px;
}

.top-refresh{
  float:right;
  margin-top: 12px;
  margin-bottom: 5px;
}.top-refresh .refresh{
  float:right;
  margin: 3px 10px 0px 10px;
}.top-refresh.mobile{
  margin-bottom: 0px;
  width : 100%;
}

.top-right-refresh{
  font-weight: normal;
  font-size:13px;
  float:right;
}

.panel-bottom {
  width:620px;}

.panel-bottom.panel-wide {
  width:950px;}

.panel-bottom.panel-mobile {
  width:100%}

.panel-4way{
  float:left;
  width:217px;
  height:217px;
  margin:19px 20px 19px 27px;
}
.panel-4way.mobile{
  float:left;
  width:118px;
  height:118px;
  margin:1px 1px 1px 1px;
}

.panel-hotkey{
  float:right;
  width:175px;
  height:217px;
  margin:0px 26px 0px 0px;
}

.panel-hotkey.mobile{
  float:left;
  width:130px;
  height:160px;
  margin:0px 0px 0px 5px;
}

.log-filter{
  margin-top: 5px;
  float:right;
  font-weight: normal;
  font-size: 15px;
}

.log-pre{
  width:925px;
  max-height:764px;
  height:764px;
}
.log-pre.mobile{
  width:100%;
  max-height:450px;
  height:auto;
}

.table-fan{
  font-size: 16px;
  color: #6f6f6f;
}.table-fan .grey{
  background-color: #f2f2f2;
}.table-fan tr{
  height:35px;
}

.span-fan{
  font-size: 16px;
  color: #6f6f6f;
}

.announce{
  height:80px;
  color: #6f6f6f;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
  margin-top: 10px;
}.announce.mobile{
  height:71px;
  color: #6f6f6f;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
  padding-top: 22px;
}

.media-file-list{
  padding:10px 0px 0px 10px;
}

.user-menu{
  position: absolute;
  left:97px;
  top: 92px;}

.table-update-file{
  font-size: 16px;
  color: #6f6f6f;
}

.dst-time-setting-table{
  width:100%;
}

.dst-time-setting-tr{
  height:40px;
}

.dropdown-li.top-margin3{
  margin-top:25px;
}

.dropdown-li.top-margin2{
  margin-top:40px;
}

.single-menu{
  border-bottom: 1px solid #353535;}

.row > [class*="col-"] {
  /*margin-bottom: 25px;*/
  margin-bottom: 20px; }

.row.no-margin-bottom > [class*="col-"] {
  margin-bottom: 10px; }

.gap-0{
  padding-left: 0px;
  padding-right: 0px; }

.gap-3{
  padding-left: 0px;
  padding-right: 3px; }

.row > .gap-8{
  padding-left: 0px;
  padding-right: 8px; }

.row > .gap-9{
  padding-left: 0px;
  padding-right: 9px; }

.row > .gap-10{
  padding-left: 0px;
  padding-right: 10px;  }

.row.no-margin {
  margin: 0px 0px 0px 0px;  }

.row.no-gap {
  margin-left: 0;
  margin-right: 0; }
  .row.no-gap > [class*="col-"] {
    padding-left: 0;
    padding-right: 0px; }

.no-padding {
  padding: 0px !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.font-weight-300 {
  font-weight: 300; }

.text-indent {
  text-indent: 1em; }

.wide-screen{
  height:254px;
  width: 100%;
  z-index: 100;
}

.navbar {
  z-index: 10001;
  padding-left: 60px;
  -webkit-transition: none;
  transition: none; }
  .navbar > .container, .navbar > .container-fluid {
    z-index: 10001; }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      height: 60px;
      line-height: 60px;
      margin-left: 0px;
      font-weight: 400;
      padding: 0;
      font-size: 1.5em; }
      .navbar > .container .navbar-brand .fa-angle-right, .navbar > .container-fluid .navbar-brand .fa-angle-right {
        margin-left: 5px;
        margin-right: 5px; }
    .navbar > .container .navbar-expand-toggle, .navbar > .container-fluid .navbar-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      float: left;
      -moz-transition: none;
      -webkit-transition: none;
      transition: none;
      opacity: 0.75; }
    .navbar > .container .navbar-expand-toggle .icon, .navbar > .container-fluid .navbar-expand-toggle .icon {
      font-size: 1.4em; }
    .navbar > .container .navbar-right-expand-toggle, .navbar > .container-fluid .navbar-right-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      position: absolute;
      right: 0;
      -moz-transition: none;
      -webkit-transition: none;
      transition: none;
      opacity: 0.75; }
    .navbar > .container .navbar-right-expand-toggle .icon, .navbar > .container-fluid .navbar-right-expand-toggle .icon {
      font-size: 1.4em; }
  .navbar .navbar-breadcrumb {
    margin-left: 0px;
    background-color: transparent;
    padding: 0px;
	float: left;}
    .navbar .navbar-breadcrumb > li {
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      /*font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5em;*/ }
  .navbar .navbar-nav > li > a {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    height: 60px;
    line-height: 60px;
    padding: 0px 20px 0px 20px; }
  .navbar .dropdown-menu {
    width : 180px;
    height: 130px;
    padding: 0;
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    z-index: -1;
    position: absolute;
    left : -53px;
    background: transparent url(../images/popup.png) no-repeat;
    }
    .navbar .dropdown-menu .title {
      /*font-family: 'Roboto Condensed', sans-serif;*/
      padding: 5px 10px;
      /*-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/ }
    .navbar .dropdown-menu .message {
      /*font-family: 'Roboto Condensed', sans-serif;*/
      text-align: center;
      padding: 10px 20px; }
    .navbar .dropdown-menu .notifications.list-group {
      list-style: none;
      padding: 0;
      margin: 0; }
      .navbar .dropdown-menu .notifications.list-group .list-group-item {
        min-width: 250px;
        padding: 8px;
        border: 0;
        border-bottom: 1px solid #EEE; }
        .navbar .dropdown-menu .notifications.list-group .list-group-item .icon {
          margin-right: 5px; }
      .navbar .dropdown-menu .notifications.list-group .badge {
        border-radius: 1em; }
      .navbar .dropdown-menu .notifications.list-group .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px; }
      .navbar .dropdown-menu .notifications.list-group .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px; }
      .navbar .dropdown-menu .notifications.list-group a.list-group-item:hover {
        cursor: pointer; }
  .navbar .dropdown.profile .dropdown-menu {
    width: 305px;
    padding-bottom: 0px;
    text-align: center; }
    .navbar .dropdown.profile .dropdown-menu li.profile-img {
      padding: 0px;
      max-height: 300px;
      overflow: hidden; }
      .navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
        width: 100%;
        height: auto;
        margin: 0px;
        border: 0; }
    .navbar .dropdown.profile .dropdown-menu .profile-info {
      /*font-family: 'Roboto Condensed', sans-serif;*/
      padding: 15px; }
      .navbar .dropdown.profile .dropdown-menu .profile-info .username {
        font-size: 1.8em; }

.app-container {
  min-height: 100%;
  position: relative;
  padding-bottom: 30px;
  background-color:#cdcdcd;}
  .app-container .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 65px;
    -webkit-transition: none;
    transition: none
    font-size: 12px;
    /*font-family: 'Roboto Condensed', sans-serif;*/ }
    .app-container .app-footer .wrapper {
      padding: 10px 35px;
      padding-left: 25px;
      height: 50px;
      line-height: 50px;
      vertical-align: middle; }
  .app-container .content-container {
    margin-right: 0;
    margin-left: 0; }
    .app-container .content-container .side-menu {
      overflow-y: auto;
      z-index: 100000;
      position: fixed;
      width: 60px;
      height: 100%;
      -webkit-transition: none;
      transition: none; }
      .app-container .content-container .side-menu .navbar-header {
        width: 100%;
        border-bottom: 0px solid #e7e7e7; }
        .app-container .content-container .side-menu .navbar-header .navbar-brand {
          width: 455px;
          line-height: 60px;
          /*height: 60px;*/
          height: 281px;
          padding: 0;
          width: 100%;
          overflow: hidden;
          /*font-family: 'Roboto Condensed', sans-serif;*/ }
          .app-container .content-container .side-menu .navbar-header .navbar-brand .icon {
            width: 60px;
            text-align: center;
            display: inline-block; }
          .app-container .content-container .side-menu .navbar-header .navbar-brand .title {
            margin-left: -10px;
            display: none; }
        .app-container .content-container .side-menu .navbar-header .navbar-expand-toggle {
          position: absolute;
          right: 0;
          width: 60px;
          height: 60px;
          background-color: transparent;
          border: 0px;
          -moz-transition: none;
          -webkit-transition: none;
          transition: none;
          opacity: 0.75; }
      .app-container .content-container .side-menu .navbar {
        border: none;
        padding-left: 0px; }
      .app-container .content-container .side-menu .navbar-nav li {
        display: block;
        width: 100%;
        overflow: hidden; }
        .app-container .content-container .side-menu .navbar-nav li a {
          /*font-family: 'Roboto Condensed', sans-serif;*/
          padding: 0 10px 0 10px;
          height: 46px;
          line-height: 46px;
          display: block;
          white-space: nowrap; }
          .app-container .content-container .side-menu .navbar-nav li a .icon {
            margin-left: 0px;
            width: 38px;
            text-align: center;
            font-size: 1.1em;
            display: inline-block; }
          .app-container .content-container .side-menu .navbar-nav li a .title {
            width: 0px;
            white-space: nowrap;
            padding-left: 6px;
            display: none; }
      .app-container .content-container .side-menu .navbar-nav li.dropdown {
        border: 0;
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid #353535;}
        .app-container .content-container .side-menu .navbar-nav li.dropdown ul li a {
          height: 44px;
          line-height: 44px;
          vertical-align: middle;
          padding: 0em 1.2em; }
        .app-container .content-container .side-menu .navbar-nav li.dropdown > a:after {
          content: "";
          position: absolute;
          right: 1em; }
      .app-container .content-container .side-menu .navbar-nav .panel-collapse.in {
        display: none; }
    .app-container .content-container .side-menu:hover {
      width: 250px; }
      .app-container .content-container .side-menu:hover .navbar-header .navbar-brand .title {
        display: inline-block; }
      .app-container .content-container .side-menu:hover .navbar-nav li a .title {
        width: 192px;
        display: inline-block; }
      .app-container .content-container .side-menu:hover .navbar-nav li.dropdown > a:after {
        font-family: FontAwesome;
        content: "\f107";
        position: absolute;
        right: 1em; }
      .app-container .content-container .side-menu:hover .panel-collapse.in {
        display: block; }
    .app-container .content-container .side-body {
      margin-top: 100px; }
      .app-container .content-container .side-body.mobile {
      margin-top: 90px; }
    .app-container .content-container .side-body.padding-top {
      padding-top: 84px; }

.app-container.expanded .app-footer {
  left: 250px; }
  .app-container.expanded .app-footer .wrapper {
    padding-left: 25px; }

.app-container.expanded .content-container .navbar-top {
  padding-left: 270px; }
.app-container.expanded .content-container .side-menu {
  width: 270px; }
  .app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
    display: inline-block; }
  .app-container.expanded .content-container .side-menu .navbar-nav li a .title {
    display: inline-block; }
  .app-container.expanded .content-container .side-menu .navbar-nav li .panel-collapse.in {
    display: block; }
  .app-container.expanded .content-container .side-menu .navbar-nav li.dropdown > a:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    right: 1em; }
  .app-container.expanded .content-container .side-menu .navbar-nav li.dropdown.arabic > a:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    right: 19em; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-top:20px;
  margin-left: -15px;
  margin-right: -15px;
  font-size:30pt;}
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header.mobile, .container > .navbar-collapse, .container > .navbar-header.mobile{
  margin-top:3px;
  margin-left: -15px;
  margin-right: -15px;
  font-size:20pt;}

.page-title {
  /*font-family: 'Roboto Condensed', sans-serif;*/
  margin-left: -10px;
  margin-right: -10px;
  padding: 15px 10px;
  margin-bottom: 0px;
  height: auto; }
  .page-title .title {
    font-size: 2em; }
  .page-title .page-action {
    float: right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle; }

.sub-title {
  /*font-family: 'Roboto Condensed', sans-serif;*/ }
  .sub-title > * {
    display: inline-block; }
  .sub-title h3 {
    margin-right: 10px; }
  .sub-title .description {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 0.9em; }
  .sub-title .action .btn {
    padding: 0 0.5em; }

/* Main body section */
.app-container .side-body {
  margin-left: 60px;
  margin-right: 15px;
  -webkit-transition: none;
  transition: none; }

.app-container.expanded .side-body {
  margin-left: 270px; }

/* small screen */
@media (max-width: 1024px) {
  .navbar {
    padding-left: 0; }
    .navbar .navbar-header {
      width: auto;
      display: block;}
    .navbar .navbar-nav {
      width: auto;
      margin: 0; }
      .navbar .navbar-nav > li {
        display: inline-block; }
    .navbar .navbar-right {
      position: absolute;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;
      -moz-transition: none;
      -webkit-transition: none;
      transition: none; }
      .navbar .navbar-right .open .dropdown-menu {
        position: absolute; }
    .navbar .navbar-right.expanded {
      right: 0; }
  .app-container .navbar-top {
    min-width: 300px; }
  .app-container .content-container .side-menu {
    margin-left: -250px;
    width: 0px; }
  .app-container .content-container .side-body {
    margin-left: 10px; }
  .app-container.expanded .navbar-top {
    min-width: 480px;
    padding-left: 0px; }
  .app-container.expanded .side-menu {
    margin-left: 0px;
    width: 250px; }
  .app-container.expanded .side-body {
    margin-left: 10px; }
  .app-container .app-footer .wrapper, .app-container.expanded .app-footer .wrapper {
    padding-left: 25px; } }

.logo {
  float: right;
  padding-top: 34px;
  padding-right: 43px;
}
.login-sign{
  font-size: 18pt;
  font-weight: bold;
}

.login-panel {
  margin-top: 70px;
  background-color: #CDCDCD;
  border: 0px;
}

.login-message{
  color: red;
}

.login-bar{
  background-color: #363636;
  height:100px;
}

.login-body{
  background-color: #CDCDCD;
}
/* Card */
.card {
  background-color: #FFF;
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  height:172px;}
  .card.mobile {
  background-color: #FFF;
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  height:127px;
  width:initial;}
  .card.big{
    height:254px;}
  .card.big-mobile{
    height:189px;
    width:initial;}
  .card .card-body {
    /*padding: 25px;*/ }
    .card .card-body .sub-title {
      font-size: 1.2em;
      padding: 1.2em 0em 0.4em 0em;
      margin-bottom: 25px; }
      .card .card-body .sub-title .description {
        padding-left: 0.4em;
        font-size: 0.8em;
        opacity: 0.8; }
  .card .card-body.half-padding {
    padding: 12.5px; }
  .card .card-header{
    background-color: #FFF;
    height:63px;}
    .card .card-header.mobile{
    background-color: #FFF;
    height:40px;}
  .card .card-header .card-title {
    /*padding: 1.2em 25px;*/
    font-size:15px;
    font-weight: bold;
    padding-top: 23px;
    padding-left: 15px;
    float: left;
    width:80%;
    color:black;}
    .card .card-header .card-title.mobile {
    /*padding: 1.2em 25px;*/
    font-size:15px;
    font-weight: bold;
    padding-top: 13px;
    padding-left: 15px;
    float: left;
    width:80%;
    color:black;}
    .card .card-header .card-title .title {
      /*font-family: 'Roboto Condensed', sans-serif;*/
      font-size: 1.5em;
      text-decoration: none; }
  .card .card-header .linkarrow {
    /*padding: 1.2em 25px; */
    padding-top: 16px;
    padding-right: 3px;
    float: right;
    width:20%;}
    .card .card-header .linkarrow.mobile {
    /*padding: 1.2em 25px; */
    padding-top: 6px;
    padding-right: 3px;
    float: right;
    width:20%;}
  .card .card-header .linkarrow img {
    /*padding: 1.2em 25px; */
    float: right;}
  .card .card-header .pull-right {
    padding: 0.5em 1em; }
  .card .card-header:after {
    content: '';
    display: block;
    clear: both; }
  .card .card-profile-img img {
    width: 100%;
    height: auto; }
  .card .card-jumbotron {
    padding: 1.5em 1.5em; }

.card:hover .card-header .title {
  text-decoration: none !important; }

.card.summary-inline .card-body {
  /*padding: 20px;*/ }
  .card.summary-inline .card-body .content {
    /*float: right;
    margin: auto;*/}
    .card.summary-inline .card-body .content .title {
      /*font-family: 'Lato', sans-serif;*/
      margin-top: -0.3em;
      font-size: 3.5em;
      text-align: right; }
    .card.summary-inline .card-body .content .sub-title {
      /*font-family: 'Lato', sans-serif;*/
      font-size: 0.9em;
      text-align: right;
      margin-top: -10px;
      margin-bottom: 0;
      padding: 0;
      border-bottom: 0; }
    .card.summary-inline .card-body .content .status{
      padding-top: 48px;
      text-align:center;
      font-size: 18px;
      font-weight: bold;}
      .card.summary-inline .card-body .content .status.mobile{
      padding-top: 35px;
      text-align:center;
      font-size: 18px;
      font-weight: bold;}
      .card.summary-inline .card-body .content .status.mobile.tempSensor{
      padding-top: 25px;}
    .card.summary-inline .card-body .content .status .temperature{
      float:left;
      font-size: 30px;
      margin-top: 15px;}
    .card.summary-inline .card-body .content .status .sensorname{
      float:left;}
    .card.summary-inline .card-body .content .status-has-tail{
      padding-top: 36px;
      text-align:center;
      font-size: 18px;
      font-weight: bold;}
      .card.summary-inline .card-body .content .status-has-tail.mobile{
      padding-top: 25px;
      text-align:center;
      font-size: 18px;
      font-weight: bold;}
    .card.summary-inline .card-body .content .tail{
      text-align:center;
      font-size: 14px;}
.card.summary-inline .card-footer {
  position: absolute;
  top: 217px;
  left: 0px;
  height:37px;
  width: 100%;
  background-color:rgba(223, 226, 223, 0.7);}
  .card.summary-inline .card-footer.mobile {
  position: absolute;
  top: 152px;
  left: 0px;
  height:37px;
  width: 100%;
  background-color:rgba(223, 226, 223, 0.7);}
  .card.summary-inline .card-footer .text{
  padding-top:13px;
  padding-left:10px;
  font-size:13pt;
  float: left;}
  .card.summary-inline .card-footer .button{
  padding-top:6px;
  padding-left:25px;
  float: left;}
  .card.summary-inline .card-footer .refresh{
  padding-top:2px;
  padding-right:2px;
  float: right;}

.card.profile .card-body {
  padding: 0.5em 0.8em; }

.card.profile .card-footer {
  padding: 0.5em 0.8em; }


.card-time {
  background-color: #FFF;
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  height:96px;
  border-bottom:1px solid #6e6e6e;}
  .card-time .date{
    float: left;}
    .card-time .date .day{
      font-size:16px;
      font-weight:bold;
      padding-top:30px;
      padding-left:25px;
      padding-bottom:0px;
    }
    .card-time .date .month-year{
      font-size:16px;
      margin-top:-5px;
      padding-left:25px;
    }
  .card-time .cur-time{
    float: left;
    padding-left:50px;
    padding-top:17px;
    font-size:43px;
    font-weight:bold;}
  .card-time .run-time{
    float:right;
    padding-top:30px;}
    .card-time .run-time .text{
    padding-right:20px;
    text-align: right;
    font-size:13px;}
    .card-time .run-time .time{
    padding-top:-5px;
    padding-right:20px;
    font-size:13px;
    text-align: right;
    font-weight:bold;}

.card-time-mobile {
  background-color: #FFF;
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  border-bottom:1px solid #6e6e6e;}
  .card-time-mobile .date{
    float: left;}
    .card-time-mobile .date .day{
      font-size:16px;
      font-weight:bold;
      padding-top:15px;
      padding-left:25px;
      padding-bottom:0px;
    }
    .card-time-mobile .date .month-year{
      font-size:16px;
      margin-top:-5px;
      padding-left:25px;
    }
  .card-time-mobile .cur-time{
    float: left;
    padding-left:50px;
    padding-top:5px;
    font-size:43px;
    font-weight:bold;}
  .card-time-mobile .run-time{
    float:right;
    padding-top:15px;}
    .card-time-mobile .run-time .text{
    padding-right:20px;
    text-align: right;
    font-size:13px;}
    .card-time-mobile .run-time .time{
    padding-top:-5px;
    padding-right:20px;
    font-size:13px;
    text-align: right;
    font-weight:bold;}



.media-card{
  width:295px;
  height:220px;}
  .media-card .new-tag{
    position: absolute;
    top: 0px;
    left: 15px;}
  .media-card .button{
    position: absolute;
    top: 0px;
    left: 220px;}
  .media-card .mobile.button{
    position: absolute;
    top: 0px;
    left: 255px;}
  .media-card .footer{
    background-color: black;
    color:white;
    height:40px;}
    .media-card .footer .filename{
    font-size: 15px;
    padding-top:9px;
    margin:0px 0px 0px 50px;}


.panel {
  border-radius: 1px;}
  .panel .panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }

.chart {
  padding: 15px; }

.chart.no-padding {
  padding: 0;
  margin-bottom: -5px; }

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 1px;
  border-width: 1px;
  /*font-family: 'Roboto Condensed', sans-serif;*/ }

.btn-group-lg > .btn, .btn-group-lg > .btn-lg {
  border-radius: 1px; }

.progress {
  border-radius: 1px;
  box-shadow: none; }
  .progress .progress-bar {
    box-shadow: none; }

.pagination {
  margin-top: 5px;
  margin-bottom: 5px; }
  .pagination li:first-child > a, .pagination li:first-child span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .pagination li:last-child > a, .pagination li:last-child span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.form-control {
  border-radius: 1px;
  box-shadow: none; }

.bs-example-modal .modal {
  z-index: 100;
  position: relative;
  display: block; }

.modal {
  z-index: 100001; }
  .modal .modal-dialog .modal-header {
    /*font-family: 'Roboto Condensed', sans-serif;*/ }
  .modal .modal-dialog .modal-content {
    border-radius: 1px;
    box-shadow: none; }
  .modal .modal-dialog .modal-footer .btn {
    margin-top: 0;
    margin-bottom: 0; }

.modal-backdrop {
  z-index: 100000; }

.modal-backdrop.in {
  opacity: 0.8; }

.alert {
  border-width: 0px;
  border-radius: 1px; }

.list-group .badge {
  border-radius: 1px; }
/*
.list-group .list-group-item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.list-group .list-group-item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;}
*/
.list-group .list-group-item {
  border-radius: 0px;
  padding: 17px 0px 17px 0px;}
.list-group .list-group-item.mobile {
  border-radius: 0px;
  padding: 1px 1px 1px 1px;
  width: 100px;}

.checkbox3, .radio3 {
  margin-top: 0px;
  margin-bottom: 0px; }

.checkbox-inline {
  margin-bottom: 5px; }

.checkbox3 label, .radio3 label {
  padding: 8px 0 8px 30px; }

.checkbox3 label::before, .radio3 label::before {
  top: 5px; }

.checkbox3 label::after, .radio3 label::after {
  top: 5px; }

.checkbox3 label, .radio3 label, .checkbox-inline, .radio-inline {
  font-weight: normal;
  padding-left: 25px;}

.radio-inline[dir=rtl] {
  font-weight: normal;
  padding-right: 25px;}

.bootstrap-switch {
  border-radius: 1px; }

.thumbnail {
  border-radius: 1px;
  padding: 0; }
  .thumbnail .caption {
    padding: 0.5em 1.2em; }
    .thumbnail .caption .h1, .thumbnail .caption .h2, .thumbnail .caption .h3, .thumbnail .caption h1, .thumbnail .caption h2, .thumbnail .caption h3 {
      margin-top: 15px; }

body.login-page {
  background: url(../../img/app-header-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body.login-page .login-box {
    width: 100%;
    max-width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0; }
    body.login-page .login-box > .title {
      margin-bottom: 1em; }
    body.login-page .login-box > .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0; }
  body.login-page .login-form {
    padding: 0em; }
    body.login-page .login-form .login-header {
      margin-bottom: 1.2em;
      font-size: 1.5em; }
    body.login-page .login-form .login-body {
      padding: 1.5em;
      border-radius: 1px; }
    body.login-page .login-form input {
      margin-bottom: 0.8em;
      margin-top: 0.5em;
      padding: 1.2em 1em;
      font-size: 1.1em;
      border-radius: 1px; }
  body.login-page .login-button .btn {
    padding: 0.5em 2em;
    font-size: 1.1em;
    border-radius: 1px;
    margin-bottom: 0; }
  body.login-page .login-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

@media (max-width: 1024px) {
  body.login-page .login-form .login-header {
    margin-bottom: 1em; }
  body.login-page .login-box {
    width: 100%;
    max-width: 260px; } }

.dataTables_wrapper .row {
  margin-bottom: 0.5em; }

.dataTables_wrapper .top {
  margin-bottom: 6px;
  position: relative; }

.dataTables_wrapper .bottom {
  margin-top: 6px; }

.dataTables_wrapper .top:after, .dataTables_wrapper .bottom:after {
  position: relative;
  clear: both;
  display: block;
  content: ''; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  margin-left: 0;
  border: 0; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  border: 0; }

.dataTables_wrapper tfoot {
  display: none; }

.code-preview {
  width: 100%;
  min-height: 400px; }

.nav-tabs > li {
  margin-bottom: -1px; }
  .nav-tabs > li > a {
    border-radius: 0;
    border: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-radius: 0;
  border-top: 0; }

.tab-content > div {
  padding: 20px; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-bottom-color: transparent; }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left, .tabs-right {
  display: table; }

.tabs-left > .nav-tabs {
  display: table-cell;
  margin-right: 19px; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px; }

.tabs-right > .nav-tabs {
  display: table-cell;
  margin-left: 19px; }

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px; }

.tab:after {
  content: '';
  display: block;
  clear: both; }

.step .nav-tabs {
  border-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px; }
  .step .nav-tabs > li[class^="col-"] {
    padding-left: 0;
    padding-right: 0; }
  .step .nav-tabs > li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .step .nav-tabs > li {
    border-right: 0; }
    .step .nav-tabs > li > a {
      margin-right: 0;
      display: block;
      width: 100%;
      padding: 1em;
      padding-left: 2em;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
      border-bottom: 0; }
      .step .nav-tabs > li > a .icon {
        font-size: 2.5em;
        display: inline-block;
        margin-right: 0.25em;
        vertical-align: middle; }
      .step .nav-tabs > li > a .step-title {
        width: auto;
        display: inline-block;
        vertical-align: middle;
        text-align: left; }
        .step .nav-tabs > li > a .step-title .title {
          font-weight: bold;
          font-size: 1.1em; }
        .step .nav-tabs > li > a .step-title .description {
          font-size: 0.9em; }
    .step .nav-tabs > li > a:hover {
      border-bottom: 0; }
  .step .nav-tabs > li:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(0%, -50%);
    z-index: 100001; }
  .step .nav-tabs > li:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translate(0%, -50%);
    z-index: 100000; }
  .step .nav-tabs > li.active > a, .step .nav-tabs > li.active > a:focus, .step .nav-tabs > li.active > a:hover {
    border: 0;
    border-radius: 0;
    border-bottom: 0; }
  .step .nav-tabs > li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .step .nav-tabs > li:last-child:before, .step .nav-tabs > li:last-child:after {
    display: none; }

.step .tab-content > div {
  padding: 0; }

.step.card-no-padding .nav-tabs {
  margin-bottom: 0px; }
  .step.card-no-padding .nav-tabs > li {
    border-radius: 0; }

.step.card-no-padding .tab-content > div {
  padding: 20px; }

.step.tabs-left .tab-content {
  padding: 5px 15px;
  display: table-cell;
  vertical-align: top; }
  .step.tabs-left .tab-content > div {
    padding: 20px; }

.step.tabs-left .nav-tabs {
  border-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }
  .step.tabs-left .nav-tabs > li[class^="col-"] {
    padding-left: 0;
    padding-right: 0; }
  .step.tabs-left .nav-tabs > li:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  .step.tabs-left .nav-tabs > li {
    border-right: 0px;
    min-width: 250px;
    display: table;
    width: 250px; }
    .step.tabs-left .nav-tabs > li > a {
      margin-right: 0;
      display: table-cell;
      width: 100%;
      padding: 1em;
      padding-left: 2em;
      vertical-align: middle;
      table-layout: fixed;
      white-space: nowrap;
      overflow: hidden; }
      .step.tabs-left .nav-tabs > li > a .icon {
        font-size: 2.5em;
        display: inline-block;
        margin-right: 0.25em;
        vertical-align: middle; }
      .step.tabs-left .nav-tabs > li > a .step-title {
        width: auto;
        display: inline-block;
        vertical-align: middle; }
        .step.tabs-left .nav-tabs > li > a .step-title .title {
          font-weight: bold;
          font-size: 1.1em; }
        .step.tabs-left .nav-tabs > li > a .step-title .description {
          font-size: 0.9em; }
    .step.tabs-left .nav-tabs > li > a:hover {
      border-bottom: 0; }
  .step.tabs-left .nav-tabs > li:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 10000;
    display: none; }
  .step.tabs-left .nav-tabs > li:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translate(0%, -50%);
    z-index: 10000;
    display: none; }
  .step.tabs-left .nav-tabs > li.active > a, .step.tabs-left .nav-tabs > li.active > a:focus, .step.tabs-left .nav-tabs > li.active > a:hover {
    border: 0;
    border-radius: 0;
    border-bottom: 0; }
  .step.tabs-left .nav-tabs > li.active:after, .step.tabs-left .nav-tabs > li.active:before {
    display: block; }
  .step.tabs-left .nav-tabs > li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

@media (max-width: 1024px) {
  .step .nav-tabs > li:after {
    display: none; }
  .step .nav-tabs > li:before {
    display: none; } }

.loader-container {
  display: none; }

.loader .loader-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1003; }

.loader:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  border-radius: 1px; }

.pricing-table .pt-header {
  text-align: center;
  padding: 1em; }
  .pricing-table .pt-header .plan-pricing .pricing {
    font-size: 2.5em; }
  .pricing-table .pt-header .plan-pricing .pricing-type {
    opacity: 0.9; }

.pricing-table .pt-body {
  padding: 1em;
  text-align: center; }
  .pricing-table .pt-body .plan-detail {
    padding: 0;
    margin: 0;
    list-style: none; }

.pricing-table .pt-footer {
  padding: 0.75em;
  text-align: center; }

.icons-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .icons-list > li {
    float: left;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 8px; }
    .icons-list > li span {
      display: block; }
    .icons-list > li .glyphicon {
      font-size: 1.5em; }
    .icons-list > li .glyphicon-class {
      margin-top: 8px;
      font-size: 0.75em; }

.icons-list:after {
  content: '';
  display: block;
  position: relative;
  clear: both; }

.row.example > [class*='col-'] > div {
  background-color: #EEE;
  padding: 10px;
  border: 1px solid #DDD; }

.breadcrumb {
  margin-bottom: 0; }
  .breadcrumb > li + li:before {
    font-family: FontAwesome;
    content: '\f105';
    margin-right: 3px; }

.message-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .message-list > a > li {
    border-bottom: 1px dotted #EEE;
    padding: 8px; }
    .message-list > a > li > .message-block {
      padding-left: 70px;
      min-height: 60px; }
      .message-list > a > li > .message-block .username {
        font-size: 12px;
        font-weight: bold; }
      .message-list > a > li > .message-block .message-datetime {
        font-size: 10px;
        color: #AAA; }
      .message-list > a > li > .message-block .message {
        font-size: 12px; }
    .message-list > a > li .profile-img {
      width: 60px;
      height: 60px; }
  .message-list > a:hover li {
    background-color: rgba(0, 0, 0, 0.01); }

.bs-example > * {
  margin-bottom: 20px; }

.bs-example > *:last-child {
  margin-bottom: 5px; }

.landing-page {
  /*font-family: 'Roboto Condensed', sans-serif;*/ }
  .landing-page .navbar .navbar-toggle {
    position: absolute;
    right: 0;
    border-radius: 0;
    border: 0;
    height: 44px;
    padding: 0 15px; }
  .landing-page .app-header {
    padding-top: 100px;
    background-image: url("../img/app-header-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0; }
    .landing-page .app-header .app-logo {
      margin-bottom: 20px; }
    .landing-page .app-header .app-description {
      margin-bottom: 40px; }
  .landing-page .app-content-a, .landing-page .app-content-b {
    padding-top: 50px;
    padding-bottom: 20px; }
  .landing-page .app-content-b.feature-1 {
    background-image: url("../img/bg/picjumbo.com_HNCK3558.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0; }
  .landing-page .app-content-b.contact-us {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/contact-us-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0; }
    .landing-page .app-content-b.contact-us .contact-us-header {
      font-weight: 300;
      font-size: 46px; }
    .landing-page .app-content-b.contact-us .contact-us-description {
      font-weight: 300;
      font-size: 18px;
      opacity: 0.9;
      text-indent: 40px; }
    .landing-page .app-content-b.contact-us form {
      margin-top: 20px; }
      .landing-page .app-content-b.contact-us form input {
        padding: 10px;
        width: 100%;
        border: 0px; }
  .landing-page .app-content-header {
    font-weight: 300;
    font-size: 46px; }
  .landing-page .app-content-description {
    font-weight: 300;
    font-size: 18px; }
  .landing-page .app-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0; }
    .landing-page .app-footer p {
      margin: 0; }
  .landing-page .navbar-affix {
    width: 100%;
    height: 60px;
    border-top: 2px rgba(78, 205, 196, 0.8);
    -webkit-transition: none;
    transition: none;
    position: fixed;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4);
    box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4); }
  .landing-page .navbar.affix {
    z-index: 4000;
    background-color: rgba(255, 255, 255, 0.95) !important;
    height: 60px;
    opacity: 1;
    margin-top: 0px; }
  .landing-page .navbar-affix.affix li a {
    height: 60px;
    line-height: 60px; }
  .landing-page .navbar-affix.affix .navbar-nav > li > a {
    background-color: transparent;
    font-weight: 400;
    color: #333; }
  .landing-page .navbar {
    padding-left: 0px;
    background-color: transparent;
    box-shadow: none; }
    .landing-page .navbar .navbar-right {
      position: relative;
      right: 0; }
    .landing-page .navbar .navbar-header {
      border-bottom: 0px solid #e7e7e7; }
      .landing-page .navbar .navbar-header .navbar-brand {
        width: 45px;
        line-height: 60px;
        height: 60px;
        padding: 0;
        width: 100%;
        overflow: hidden;
        padding-left: 0px;
        /*font-family: 'Roboto Condensed', sans-serif;*/ }
        .landing-page .navbar .navbar-header .navbar-brand .icon {
          width: 50px;
          text-align: center;
          display: inline-block; }
        .landing-page .navbar .navbar-header .navbar-brand .title {
          margin-left: -10px;
          display: inline-block; }
      .landing-page .navbar .navbar-header .navbar-expand-toggle {
        position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: 0px;
        -moz-transition: none;
        -webkit-transition: none;
        transition: none;
        opacity: 0.75; }

@media only screen and (max-width: 1024px) {
  .landing-page .navbar .navbar-header .navbar-brand {
    padding-left: 15px; } }

.row-example > [class*="col-"] {
  margin-bottom: 0px; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

.navbar-wrapper .navbar .container {
  width: auto; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px; }

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */ }

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 1024px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px; }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 1024px) {
  .featurette-heading {
    margin-top: 100px;
    margin-bottom: 20px; } }


@media (min-width: 1025px) {
	.main-body-lg {
		width: 1280px;
		max-width: 1280px;
		display: inline-block;
		background-color:#cdcdcd;
	}
}

@media (min-width: 1024px) {
	.main-body-xs {
		width: 1024px
		display: inline;
	}
}

@media (min-width: 600px) {
  .col-mo-1, .col-mo-2, .col-mo-3, .col-mo-4, .col-mo-5, .col-mo-6, .col-mo-7, .col-mo-8, .col-mo-9, .col-mo-10, .col-mo-11, .col-mo-12 {
    float: left;
  }
  .col-mo-12 {
    width: 100%;
  }
  .col-mo-11 {
    width: 91.66666667%;
  }
  .col-mo-10 {
    width: 83.33333333%;
  }
  .col-mo-9 {
    width: 75%;
  }
  .col-mo-8 {
    width: 66.66666667%;
  }
  .col-mo-7 {
    width: 58.33333333%;
  }
  .col-mo-6 {
    width: 50%;
  }
  .col-mo-5 {
    width: 41.66666667%;
  }
  .col-mo-4 {
    width: 33.33333333%;
  }
  .col-mo-3 {
    width: 25%;
  }
  .col-mo-2 {
    width: 16.66666667%;
  }
  .col-mo-1 {
    width: 8.33333333%;
  }
  .col-mo-pull-12 {
    right: 100%;
  }
  .col-mo-pull-11 {
    right: 91.66666667%;
  }
  .col-mo-pull-10 {
    right: 83.33333333%;
  }
  .col-mo-pull-9 {
    right: 75%;
  }
  .col-mo-pull-8 {
    right: 66.66666667%;
  }
  .col-mo-pull-7 {
    right: 58.33333333%;
  }
  .col-mo-pull-6 {
    right: 50%;
  }
  .col-mo-pull-5 {
    right: 41.66666667%;
  }
  .col-mo-pull-4 {
    right: 33.33333333%;
  }
  .col-mo-pull-3 {
    right: 25%;
  }
  .col-mo-pull-2 {
    right: 16.66666667%;
  }
  .col-mo-pull-1 {
    right: 8.33333333%;
  }
  .col-mo-pull-0 {
    right: auto;
  }
  .col-mo-push-12 {
    left: 100%;
  }
  .col-mo-push-11 {
    left: 91.66666667%;
  }
  .col-mo-push-10 {
    left: 83.33333333%;
  }
  .col-mo-push-9 {
    left: 75%;
  }
  .col-mo-push-8 {
    left: 66.66666667%;
  }
  .col-mo-push-7 {
    left: 58.33333333%;
  }
  .col-mo-push-6 {
    left: 50%;
  }
  .col-mo-push-5 {
    left: 41.66666667%;
  }
  .col-mo-push-4 {
    left: 33.33333333%;
  }
  .col-mo-push-3 {
    left: 25%;
  }
  .col-mo-push-2 {
    left: 16.66666667%;
  }
  .col-mo-push-1 {
    left: 8.33333333%;
  }
  .col-mo-push-0 {
    left: auto;
  }
  .col-mo-offset-12 {
    margin-left: 100%;
  }
  .col-mo-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-mo-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-mo-offset-9 {
    margin-left: 75%;
  }
  .col-mo-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-mo-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-mo-offset-6 {
    margin-left: 50%;
  }
  .col-mo-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-mo-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-mo-offset-3 {
    margin-left: 25%;
  }
  .col-mo-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-mo-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-mo-offset-0 {
    margin-left: 0;
  }
}

.update_overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 1000;
}

.update_in_progress {
	margin: auto;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 45%;
	left: 0;
	color: white;
}

.dropdown-select {
	width: 80%;
	text-align: left;
}

.dropdown-select.mobile {
	width: 95%;
	text-align: left;
}

.caret {
	top: 45%;
	right: 25%;
	position: absolute;
}
.caret.mobile {
	top: 45%;
	right: 7%;
	position: absolute;
}

.langItem {
	height: 50px;
	vertical-align: middle;
}

.media-image-box {
  width: 295px;
  height: 166px;
  overflow: hidden;
}

.media-image-box .default-thumb-iamge {
  width: 331px;
  height: 248px;
  margin-top: -36px;
}