<div class='modalContents'>
	<div class='section'>
			<div style='float:right;'>
				<table class='refreshCard'>
					<tr>
						<td><span class='tempUnitTxt'>Temperature Unit</span></td>
						<td id=tempUnitSelect width=100></td>
					</tr>
				</table>
				<table class='refreshCard'>
					<tr>
						<td><span class='autoRefreshTxt'>Auto Refresh</span></td>
						<td id=modalRefreshSelect width=123></td>
						<td><button id='chartRefresh' class='whiteCardBtn'><span class='refreshTxt'>REFRESH</span></button></td>
					</tr>
				</table>
			</div>
		<div class='header' style='margin:30px 0px 20px 0px;'>
				<span class='title'><span class='systemBoxTxt'>System Box</span></span>
				<hr/>
		</div>

		<div class='body'>
			<div style='height:360px;' id='canvasWrapper'>
				<canvas id="modalTempChart">
			</div>
			<table id='pagingTable' style='width:100%'>
				<tr>
					<td style='width:33%;'>
						<div style='float:left;'>
							<button type='button' id='prevChartBtn' class='leftBtn'></button>
						</div>
						<div style='margin:7px 0px 0px 40px;'>
							<div id='prevText' style='font-size: 14px; font-weight: bold;'>AM</div>
						</div>
					</td>
					<td style='width:33%; font-weight: bold;' align="center" >
						<span id='chartDate'></span>
					</td>
					<td style='width:33%;'>
						<div style='float:right;'>
							<button type='button' id='nextChartBtn' class='rightBtn'></button>
						</div>
						<div style='float:right; margin:7px 10px 0px 0px;'>
							<div id='nextText' style='font-size: 14px; font-weight: bold;'>Next Day</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('.refreshTxt').text(Locale.getText("Refresh"));
			$('.autoRefreshTxt').text(Locale.getText("Auto Refresh"));
			$('.tempUnitTxt').text(Locale.getText("Temperature Unit"));
			$('.systemBoxTxt').text(Locale.getText("System Box"));

			if (env.locale === 'ar-SA') {
				$('.tempUnitTxt').css('float', 'left');
				$('.tempUnitTxt').css('padding-left', '10px');
				$('#pagingTable').attr('dir', 'ltr');
			}

			init();
		};
		Locale.init(env);
	});
</script>