<div>
	<div style='height:450px; overflow-y: scroll'>
		<table id='moduleCalibTable' style='width:100%; background-color: white;'></table>
	</div>
	<table style='width:100%; margin-top:20px;'>
		<tr>
			<td>
				<button type='button' class='whiteCardBtn' id='moduleCalibReset' style='float:left;'><span class='resetTxt'>RESET</span></button>
			</td>
			<td>
				<button type='button' class='whiteCardBtn' id='moduleCalibOK'> &nbsp; &nbsp; <span class='okTxt'>OK</span> &nbsp; &nbsp; </button>
				<button type='button' id='moduleCalibCancel' data-dismiss="modal" class='whiteCardBtn' style='margin-right: 10px;'><span class='cancelTxt'>CANCEL</span></button>
			</td>
		</tr>
	</table>
</div>
<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('.miniTxt').text(Locale.getText("Mini Module"));
			$('.moduleTxt').text(Locale.getText("Modules"));
			$('.resetTxt').text(Locale.getText("Reset"));
			$('.okTxt').text(Locale.getText("OK"));
			$('.cancelTxt').text(Locale.getText("Cancel"));
			$('#moduleCalirationModalTitle').text(Locale.getText("Module Calibration"));

			if (env.locale === 'ar-SA') {
				$('#modalWarningMessage').css('direction', 'rtl');
			}

			init();
		};
		Locale.init(env);
	});
</script>