<div>
	<div style='width: 825px; float: left;'>
		<div class='senderSetting' style='float: left; margin-bottom: 10px; width:100%;'>
			<table style='width:100%;'>
				<tr>
					<td style='width:50%'>
						<button id=addSenderBtn class='cardBtn layoutBtn'><span class='addSenderTxt'>Add Sender</span></button>
						<button id=removeSenderBtn class='cardBtn layoutBtn' style='margin-left: 10px;' disabled><span class='deleteTxt'>DELETE</span></button>
					</td>
					<td style='padding-left:25%;'>
						<button id=patternAllOn class='cardBtn layoutBtn' disabled>
						<span class='testPatternTxt'>TEST PATTERN</span></button>
					</td>
				</tr>
			</table>
		</div>
		<div class='unitSetting' style='float: left; margin-bottom: 10px; width:100%; display: none;'>
			<table style='width:100%;'>
				<tr>
					<td style='width:50%'>
						<button id=addUnitBtn class='cardBtn layoutBtn'><span class='addUnitTxt'>ADD UNIT</span></button>
						<button id=removeUnitBtn class='cardBtn layoutBtn' style='margin-left: 10px;'><span class='deleteTxt'>DELETE</span></button>
					</td>
				</tr>
			</table>
		</div>
		<div id ='senderSetting' class='senderSetting'>
			<div id="layoutEditorCanvasWraper" style='width:825px; margin-top:35px; position: relative;'>
				<img id='backgroundImg' style='position: absolute; left: 0px; top: 0px; width:824px; height:464px;'>
			</div>
		</div>

		<div class='unitSetting' style='display: none'>
			<div id="unitEditWraper" style='width:980px; height:541px; margin-top:35px; position: relative; overflow: hidden; padding-bottom: 1px;'>
				<img id='unitBackgroundImg' style='width: 100%; height:100%; position: absolute; left: 0px; top: 0px;'>
			</div>
		</div>

	</div>
	<div id ='layoutControlPanel' style='width: 280px; height:550px; float: left; overflow-x: hidden; overflow-y: hidden; position: relative; margin-left: 20px;'>

		<div class='senderSetting' id='layoutInfoPanel' style='position: absolute; top:0px; left: 0px;'>
			<div class='layoutSection'>
				<h4 style='margin-bottom: 0px;'>
					<table>
						<tr>
							<td>
								<div id='senderSelect'>Sender</div>
							</td>
							<td id='propertyTxtTD'>
								<span class='propertyTxt' style='font-weight: bold;'>
									Property
								</span>
							</td>
						</tr>
					</table>
					<hr style='margin: 3px;  border-top: 1px solid #b7b7b7;'>
				</h4>
				<table class='table controlPane' style='width:100%;'>
					<tr>
						<th colspan=3><span class='inputDirTxt'>Input Direction</span></th>
					</tr>
					<tr>
						<td colspan=3>
							<div id='inputSelect'></div>
						</td>
					</tr>

					<tr>
						<th colspan=3><span class='positionTxt'>Position</span></th>
					</tr>
					<tr>
						<td colspan=3>
							X<input type='number' class='underLine' id='senderX' name='left' min='0'>
							Y<input type='number' class='underLine' id='senderY' name='top' min='0'>
						</td>
					</tr>
					<tr>
						<th colspan=3><span class='resolutionTxt'>Resolution</span></th>
					</tr>
					<tr>
						<td colspan=3>
							<input type='number' class='underLine' id='senderW' name='width' disabled="true">
							X
							<input type='number' class='underLine' id='senderH' name='height' min='270' max='540' disabled="true">
						</td>
					</tr>
					<tr>
						<th colspan=3>
							<span class='componentTxt'>Component</span>
						</th>
					</tr>
					<tr>
						<td style='width:45%;'>
							<span id='unitCount'></span>
						</td>
					</tr>
					<tr>
						<td colspan=3>
							<button id='unitSetting' class='cardBtn layoutBtn' disabled>
								<span class='unitSettingTxt'>Unit setting</span>
							</button>
						</td>
						
					</tr>
				</table>
			</div>

			<div class='layoutSection'>
				<h4 style='margin-bottom: 0px;'>
					<span class='pysicalTxt' style='font-weight: bold;'>
					</span>
					<hr style='margin: 3px;  border-top: 1px solid #b7b7b7;'>
				</h4>
				<table class='table controlPane' style='width:100%;'>
					<tr>
						<th colspan=3>
							<span class='pitchTxt'>Pitch</span> : <span id='pixelPitchTxt'></span>
						</th>
					</tr>
					<tr>
						<th colspan=3>
							<span class='toMainScreenTxt'>Distance to main screen</span>
						</th>
					</tr>
					<tr>
						<td colspan=3>
							<div id='inputSelect'></div>
						</td>
					</tr>
					<tr>
						<td colspan=3>
							X<input type='number' class='underLine' id='physicalX' min='0'>(cm)
							Y<input type='number' class='underLine' id='physicalY' min='0'>(cm)
						</td>
					</tr>
				</table>
			</div>

		</div>


		<div class='unitSetting' id='unitProperty' style='position: absolute; top:0px; left: 0px; width:210px; display: none;'>
			<div class='layoutSection'>
				<h4 style='margin-bottom: 0px;'>
					<span class='unitPropertyTxt' style='font-weight: bold;'>
						Unit Property
					</span>
					<hr style='margin: 3px;  border-top: 1px solid #b7b7b7;'>
				</h4>
				<table class='table controlPane' style='width:100%;'>



					<tr>
						<th colspan=3><span class='positionTxt'>Position</span></th>
					</tr>
					<tr>
						<td colspan=3>
							X<input type='number' class='underLine' id='unitX' name='left' min='0'>
							Y<input type='number' class='underLine' id='unitY' name='top' min='0'>
						</td>
					</tr>


					<tr>
						<th colspan=3>
							<span class='portSelectionTxt'>Port Selection</span>
						</th>
					</tr>
					<tr>
						<td colspan=3>
							<div id='portSelect'></div>
						</td>
					</tr>

					<tr>
						<th colspan=3><span class='rowsTxt'>Rows</span></th>
					</tr>
					<tr>
						<td colspan=3>
							<div id='rowSelect'></div>
						</td>
					</tr>

					<tr>
						<th colspan=3><span class='miniTxt'>Mini Module</span></th>
					</tr>
					<tr>
						<td colspan=3>
							<div id='miniSelect'></div>
						</td>
					</tr>

					<tr>
						<th colspan=3>
							<span class='trimmingTxt'>Trimming</span>
						</th>
					</tr>
					<tr>
						<td colspan=2>
							<span class='leftPortTxt'>Left Port</span>
						</td>
					</tr>
					<tr>
						<td>
							<input type='number' class='underLine' id='trimLeft' name='left' min='0' style='width:20px; float: left; margin-top: 5px;' disabled>
							<button id='cutLeft' class='cardBtn layoutBtn cutting' disabled>
								<span class='cutEdgeTxt'>CUT EDGE</span>
							</button>
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<span class='rightPortTxt'>Right Port</span>
						</td>
					</tr>
					<tr>
						<td>
							<input type='number' class='underLine' id='trimRight' name='left' min='0' style='width:20px; float: left; margin-top: 5px;' disabled>
							<button id='cutRight' class='cardBtn layoutBtn cutting' disabled>
								<span class='cutEdgeTxt'>CUT EDGE</span>
							</button>
						</td>
					</tr>

					<tr>
						<th colspan=3><span class='testPatternTxt'>Test Pattern</span></th>
					</tr>
					<tr>
						<td colspan=3>
							<button id='patternOn' class='cardBtn layoutBtn' disabled>
								<span class='testPatternOnTxt'>TEST PATTERN ON</span>
							</button>
						</td>
					</tr>

				</table>
			</div>
		</div>
	</div>

	<div class='trimPanel' id='cuttingPanel' style='display: none;'>
		<div style='width:90%; color:white; margin-left: 15px;'>
			<h3 style='margin-top: 15px;'><span id='cuttingSubject'></span><hr style='margin: 3px;'></h3>
		</div>

		<div style='width:200px; margin:20px 0px 20px 40px;'>
			<input class=custom id='cuttingRange' type=range min=0 max=27 value=0 step=1>
		</div>

		<table id='edgeTable' style='width: 200px; height: 200px; margin-left:40px; background-color: white;'>
		</table>

		<div style='margin: 10px 0px 0px 50px;'>
			<button id=cutCancelBtn class='cardBtn layoutBtn' style='margin-left: 10px;'><span class='CancelTxt'>CANCEL</span></button>
			<button id=cutOKBtn class='cardBtn layoutBtn' style='margin-left: 10px;'>&nbsp;&nbsp;&nbsp;&nbsp;<span class='OkTxt'>OK</span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
		</div>
	</div>


	<div class='patternPanel' id='patternPanel' style='display: none;'>
		<div style='width:90%; color:white; margin-left: 15px;'>
			<h3 style='margin-top: 15px;'>
				<table>
					<tr>
						<td>
							<span class='testPatternTxt' style='color:white;font-size:16px;'>Test Pattern</span>
						</td>
						<td>
							<div class='patternColor'>
								<span class='colorTxt'>Color</span>
							</div>
						</td>
						<td>
							<div class='printPattern'></div>
						</td>
					</tr>
				</table>
				<hr style='margin: 3px;'>
			</h3>
		</div>

		<div style='width:200px; margin:20px 0px 20px 40px;'>
			<table style='width:100%; height:50%;'>
				<tr>
					<td style='color:white; font-weight: bold; padding-top: 8px; width:10%;'>
						<span class='RTxt'>R</span>:
					</td>
					<td style='width:70%;'>
						<input class='custom' id='patternRangeR' type=range min=0 max=255 value=0>
					</td>
					<td style='width:20%; padding: 8px 0px 0px 10px;'>
						<span class='patternVal' id='patternRangeRVal'>0</span>
					</td>
				</tr>
				<tr>
					<td style='color:white; font-weight: bold; padding-top: 8px;'>
						<span class='GTxt'>G</span>:
					</td>
					<td>
						<input class='custom' id='patternRangeG' type=range min=0 max=255 value=0>
					</td>
					<td style='width:20%; padding: 8px 0px 0px 10px;'>
						<span class='patternVal' id='patternRangeGVal'>0</span>
					</td>
				</tr>
				<tr>
					<td style='color:white; font-weight: bold; padding-top: 8px;'>
						<span class='BTxt'>B</span>:
					</td>
					<td>
						<input class='custom' id='patternRangeB' type=range min=0 max=255 value=0>
					</td>
					<td style='width:20%; padding: 8px 0px 0px 10px;'>
						<span class='patternVal' id='patternRangeBVal'>0</span>
					</td>
				</tr>

			</table>
		</div>

		<div style='margin: 10px 0px 0px 50px;'>
			<button id='patternDone' class='cardBtn layoutBtn' style='margin-left: 10px;'><span class='doneTxt'>Done</span></button>
		</div>
	</div>

</div>
<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('.addSenderTxt').text(Locale.getText("Add Sender"));
			$('.propertyTxt').text(Locale.getText("Property"));
			$('.addUnitTxt').text(Locale.getText("Add Unit"));
			$('.deleteTxt').text(Locale.getText("Delete"));
			$('.testPatternTxt').text(Locale.getText("Test Pattern"));
			$('.colorTxt').text(Locale.getText("Color"));
			$('.DoneTxt').text(Locale.getText("Done"));
			$('.ModulesTxt').text(Locale.getText("Modules"));
			$('.rowTxt').text(Locale.getText("Row"));
			$('.columnTxt').text(Locale.getText("Column"));
			$('.frameTxt').text(Locale.getText("Frame"));
			$('.inputDirTxt').text(Locale.getText("Input Direction"));
			$('.positionTxt').text(Locale.getText("Position"));
			$('.resolutionTxt').text(Locale.getText("Resolution"));
			$('.componentTxt').text(Locale.getText("Component"));
			$('.unitSettingTxt').text(Locale.getText("Unit Settings"));
			$('.pysicalTxt').text(Locale.getText("Physical Layout"));
			$('.pitchTxt').text(Locale.getText("Pixel Pitch"));
			$('.toMainScreenTxt').text(Locale.getText("Distance to main screen"));
			$('.unitPropertyTxt').text(Locale.getText("Unit Property"));
			$('.portSelectionTxt').text(Locale.getText("Port Selection"));
			$('.portSettingTxt').text(Locale.getText("Port Settings"));
			$('.rowsTxt').text(Locale.getText("Rows"));
			$('.miniTxt').text(Locale.getText("Mini Module"));
			$('.trimmingTxt').text(Locale.getText("Trimming"));
			$('.leftPortTxt').text(Locale.getText("Left Port"));
			$('.rightPortTxt').text(Locale.getText("Right Port"));
			$('.cutEdgeTxt').text(Locale.getText("Cut Edge"));
			$('.testPatternOnTxt').text(Locale.getText("Test Pattern On"));
			$('.RTxt').text(Locale.getText("R"));
			$('.GTxt').text(Locale.getText("G"));
			$('.BTxt').text(Locale.getText("B"));
			$('.resetTxt').text(Locale.getText("Reset"));
			$('.refreshTxt').text(Locale.getText("Refresh"));
			$('.OkTxt').text(Locale.getText("OK"));
			$('.CancelTxt').text(Locale.getText("Cancel"));

			if (env.locale === 'ar-SA') {
				$('#modalWarningMessage').css('direction', 'rtl');
			}

			init();
		};
		Locale.init(env);
	});
</script>