<div style='position: relative;'>
	<div id='calibUnitSelect'></div>
	<button type='button' id='unitCalibResetBtn' class='calibBtn' style='position: absolute; top:-30px; left:340px;'>RESET</button>
	<table style='width:100%; margin-top:20px;'>

		<tr style='height:40px;'>
			<td style='color: #ffffff; font-size: 14px; font-weight: bold; width:25%;'>R</td>
			<td>
				<input class=custom id='unitCalibR' type=range min=0 max=255 style='margin-top: 0px;'>
			</td>
			<td style='width:30%;'>
				<div id='unitCalibRVal' style='background-color: #ffffff; border-radius: 15px; width:85px; height:30px; text-align: center; padding-top: 7px; margin-left: 40px;'></div>
			</td>
		</tr>

		<tr style='height:40px;'>
			<td style='color: #ffffff; font-size: 14px; font-weight: bold; width:25%;'>G</td>
			<td>
				<input class=custom id='unitCalibG' type=range min=0 max=255 style='margin-top: 0px;'>
			</td>
			<td style='width:30%;'>
				<div id='unitCalibGVal' style='background-color: #ffffff; border-radius: 15px; width:85px; height:30px; text-align: center; padding-top: 7px; margin-left: 40px;'></div>
			</td>
		</tr>

		<tr style='height:40px;'>
			<td style='color: #ffffff; font-size: 14px; font-weight: bold; width:25%;'>B</td>
			<td>
				<input class=custom id='unitCalibB' type=range min=0 max=255 style='margin-top: 0px;'>
			</td>
			<td style='width:30%;'>
				<div id='unitCalibBVal' style='background-color: #ffffff; border-radius: 15px; width:85px; height:30px; text-align: center; padding-top: 7px; margin-left: 40px;'></div>
			</td>
		</tr>
	</table>
	<table style='width:100%; margin-top:20px;'>
		<tr>
			<td style='color: #ffffff; font-size: 14px; width:35%;'>
				<input type='checkbox' class='media-checkBox' id='applyAllUnit' /><label for='applyAllUnit' name='applyAllUnit'></label>
				<div style='float: right; margin-top: 10px;'>apply to all units</div>
			</td>
			<td>
				<button type='button' id='unitCalibOK' class='whiteCardBtn' data-dismiss="modal"> &nbsp; &nbsp; OK &nbsp; &nbsp; </button>
				<button type='button' id='unitCalibCancel' class='whiteCardBtn' style='margin-right: 10px;'>CANCEL</button>
			</td>
		</tr>
	</table>
</div>