<div class='modalContents'>
	<div class='section'>
		<div class='header'>
			<span id="generalTxt" class='title'>General</span>
			<hr/>
		</div>
		<div class='body'>
			<div class='detailModalCard long'>
				<span id="signageNameTxt">Signage Name</span><br/>
				<input type="text" id="signageName" class="whiteTextInput" placeholder="Input host name" maxlength="20" style='font-size:12pt;'>
			</div>
			<div class='detailModalCard'>
				<span id="languageTxt">Language</span><br/>
				<div id='languageSelect'></div>
			</div>
			<div class='detailModalCard'>
				<span id="inputTxt">Input</span><br/>
				<div id='inputSelect'></div>
			</div>
			<div class='detailModalCard'>
				<span id="pitchTxt">Pitch</span><br/>
				<div id='ledPitchSelect'></div>
			</div>
			<div class='detailModalCard' style='display:none;'>
				<span id="">Transparent LED Type</span><br/>
				<div id='ledTypeSelect'></div>
			</div>
		</div>
	</div>

	<div class='section'>
		<div class='header'>
			<span id="timedateTxt" class='title'>Time & Date</span>
			<hr/>
		</div>
		<div class='body'>
			<div class='detailModalCard'>
				<span id="continentTxt">Continent</span><br/>
				<div id='continentSelect'></div>
			</div>
			<div class='detailModalCard'>
				<span id="countryTxt">Country</span><br/>
				<div id='countrySelect'></div>
			</div>
			<div class='detailModalCard'>
				<span id="cityTxt">City</span><br/>
				<div id='citySelect'></div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('#generalTxt').text(Locale.getText("general"));
			$('#signageNameTxt').text(Locale.getText("Signage Name"));
			$('#languageTxt').text(Locale.getText("Language"));
			$('#inputTxt').text(Locale.getText("Input"));
			$('#timedateTxt').text(Locale.getText("Time & Date"));
			$('#continentTxt').text(Locale.getText("Continent"));
			$('#countryTxt').text(Locale.getText("Country/Territory"));
			$('#cityTxt').text(Locale.getText("City"));
			$('#pitchTxt').text(Locale.getText("Pitch"));
			init();
		};
		Locale.init(env);
	});
</script>