<div>
	<div id='posToolTip' class='posToolTip'></div>
	<div style='width: 725px; float: left;'>
		<div style='float: left; margin-bottom: 10px;'>
			<table width=700>
				<tr>
					<td style='width:18%'>
						<button id=autoDetectBtn class='cardBtn layoutBtn'><span class='autoDetectTxt'>AUTO DETECT</span></button>
					</td>
					<td style='width:14%'>
						<button id=addUnitBtn class='cardBtn layoutBtn'><span class='addUnitTxt'>ADD UNIT</span></button>
					</td>
					<td style='width:20%'>
						<button id=removeUnitBtn class='cardBtn layoutBtn'><span class='deleteTxt'>DELETE</span></button>
					</td>
					<th class='LEDSignageRes'>
						Unit Resolution
					</th>
					<td class='LEDSignageRes'>
						<div id=resolSelect></div>
					</td>
					<td style='padding-left:200px;'>
						<button id=testBtn class='cardBtn layoutBtn'><span class='testPatternTxt'>TEST PATTERN</span></button>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<div id="layoutEditorCanvasWraper" style='width:702; height:394; overflow:scroll'>
				<canvas id="layoutEditorCanvas" width=960 height=540></canvas>
			</div>
		</div>
		<div style='margin:30px 0px 0px 50px; width:300px; float:left'>
			<div style='float:left'>
				<div style='width:30px; float:left; margin:-3px 10px 0px 0px;'>
					<button id='layoutZoom-minus' class='btn-minus'></button>
				</div>

				<div id='layoutZoomRangeDIV' style='float:left; width:130px;'>
				<input class=custom id='layoutZoomRange' type=range min=0 max=4 value=0>
				</div>

				<div style='width:30px; float:left; margin:-3px 0px 0px 10px;'>
					<button id='layoutZoom-plus' class='btn-plus'></button>
				</div>
			</div>
		</div>
		<div style='margin:25px 100px 0px 0px; width:200px; float:right'>
			<button class='whiteCardBtn' id='layoutRefresh'><span class='refreshTxt'>REFRESH</span></button>
		</div>
	</div>
	<div id ='layoutControlPanel' style='width: 310px; height:100%; float: left; overflow: auto; position: relative;'>

		<div id='layoutInfoPanel' style='position: absolute; top:0px; left: 0px; width:100%;'>
			<div id=propertyDiv>
				<h4>Property<hr style='margin: 3px;'></h4>
				<table class='table controlPane' style='width:60%;'>
					<tr>
						<th colspan=3><span class='ModulesTxt'>Modules</span>(<span class='rowTxt'>Row</span> X <span class='columnTxt'>Column</span>)</th>
					</tr>
					<tr>
						<td id='layout_1' style='width:45%;'><div id=unitRowSelect></div></td>
						<td style='padding-top: 10px;'>X</td>
						<td id='layout_2' style='width:45%;'><div id=unitColumnSelect></div></td>
					</tr>
					<tr>
						<td colspan=3><button id=portSetBtn class='cardBtn layoutBtn'><span class='portSettingTxt'>PORT SETTINGS</span></button></td>
					</tr>
				</table>
			</div>
			<div class='layoutSection'>
				<h4><span class='frameTxt'>Frame</span><hr style='margin: 3px;'></h4>
				<table class='table controlPane' style='width:60%;'>
					<tr>
						<th colspan=3><span class='rowTxt'>Row</span> X <span class='columnTxt'>Column</span></th>
					</tr>
					<tr>
						<td style='width:45%;'><div id=frameRowSelect></div></td>
						<td style='padding-top: 10px;'>X</td>
						<td style='width:45%;'><div id=frameColumnSelect></div></td>
					</tr>
					<tr>
						<th colspan=3><span class='positionTxt'>Position</span></th>
					</tr>
					<tr>
						<td style='width:45%;'><input type=number id=frameX min=0 max=120 style='width:70px;'></td>
						<td style='padding-top: 10px;'>:</td>
						<td style='width:45%;'><input type=number id=frameY min=0 max=67 style='width:70px;'></td>
					</tr>
				</table>
			</div>

			<div class='physicalSection'>
				<h4><span class='physicalTxt'>Physical Layout</span><hr style='margin: 3px;'></h4>
				<table class='table controlPane' style='width:60%;'>
					<tr>
						<th colspan=3><span class='pixelpitchTxt'>Pixel Pitch(mm)</span></th>
					</tr>
					<tr>
						<td colspan=3><div id=pitchSelect></div></td>
					</tr>
					<tr>
						<th colspan=3><span class='positionTxt'>Position</span>(cm)</th>
					</tr>
					<tr>
						<td style='width:45%;'><input type=number id=physicalX min=0 max=100000 step=1 value=0 style='width:70px;'></td>
						<td style='padding-top: 10px;'>:</td>
						<td style='width:45%;'><input type=number id=physicalY min=0 max=100000 step=1 value=0 style='width:70px;'></td>
					</tr>
				</table>
			</div>

		</div>
		<div class='portInfoPanel' id='portInfoPanel' style='display: none;'>
			<div style='width:90%; color:white; margin-left: 15px;'>
				<h3 style='margin-top: 15px;'>
					Port Settings
					<button id=portResetBtn class='cardBtn layoutBtn' style='float:right;'><span class='resetTxt'>Reset</span></button>
					<hr style='margin: 3px;'>
				</h3>
				<table class='table controlPane' style='width:60%; color:white; margin-bottom: 0px;'>
					<tr>
						<th><span class='inputDirTxt'>Input Direction</span></td>
					</tr>
					<tr>
						<td><div id=inputDirSelect></div></td>
					</tr>
					<tr>
						<th><span class='rowTxt'>Row</span></td>
					</tr>
					<tr>
						<td><div id=portRowSelect></div></td>
					</tr>
					<tr>
						<th><span class='columnTxt'>Column</span></td>
					</tr>
				</table>
				<div id='portView'>
					<table>
						<tr>
							<td style='padding-right: 10px;'>
								<button type='button' id='cutLeftBtn' class='btn-cut-left cutting'></button>
							</td>
							<td>
								<div style='position: relative;'>
									<div id='rightEdge' class='img_cut_right'></div>
									<div id='leftEdge' class='img_cut_left'></div>
									<table style='width: 60%;'>
										<tr>
											<td>
												<input id='Column1' name='1' type="checkbox" class="media-checkBox">
												<label for="Column1">&nbsp;</label>
											</td>
											<td>
												<input id='Column2' name='2' type="checkbox" class="media-checkBox">
												<label for="Column2">&nbsp;</label>
											</td>
											<td>
												<input id='Column3' name='3' type="checkbox" class="media-checkBox">
												<label for="Column3">&nbsp;</label>
											</td>
											<td>
												<input id='Column4' name='4' type="checkbox" class="media-checkBox">
												<label for="Column4">&nbsp;</label>
											</td>
										</tr>
										<tr>
											<td colspan=4>
											<div class='portInfoStatus' style='position: relative;'>
												<div id='UseRow1' class='useRowRect' name='1' style='position: absolute;'></div>
												<div id='UseRow2' class='useRowRect' name='2' style='position: absolute;'></div>
												<div id='UseRow3' class='useRowRect' name='3' style='position: absolute;'></div>
												<div id='UseRow4' class='useRowRect' name='4' style='position: absolute;'></div>
												<img id="inputUp" src="/images/2017UX/icon_pop_indi_b.png" width="38px" height="20" style='position: absolute; left:64.5px; bottom:0px; display: none;'>
												<img id="inputDown" src="/images/2017UX/icon_pop_indi_t.png" width="38px" height="20" style='position: absolute; left:64.5px; display: none;'>
											</div>
											</td>
										</tr>
									</table>
								</div>
							</td>
							<td style='padding-left: 10px;'>
								<button type='button' id='cutRightBtn' class='btn-cut-right cutting'></button>
							</td>
						</tr>
					</table>
				</div>
				<div style='margin-top:20px;'>
					<button id=portCancelBtn class='cardBtn layoutBtn' style='margin-left: 10px;'><span class='CancelTxt'>CANCEL</span></button>
					<button id=portOKBtn class='cardBtn layoutBtn' style='margin-left: 10px;'>&nbsp;&nbsp;&nbsp;&nbsp;<span class='OkTxt'>OK</span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
				</div>
			</div>
		</div>
		<div class='cuttingPanel' id='cuttingPanel' style='display: none;'>
			<div style='width:90%; color:white; margin-left: 15px;'>
				<h3 style='margin-top: 15px;'><span id='cuttingSubject'></span><hr style='margin: 3px;'></h3>
			</div>

			<div style='width:200px; margin:20px 0px 20px 40px;'>
				<input class=custom id='cuttingRange' type=range min=0 max=14 value=0 step=2>
			</div>

			<table id='edgeTable' style='width: 200px; height: 200px; margin-left:40px; background-color: white;'>
			</table>

			<div style='margin: 10px 0px 0px 50px;'>
				<button id=cutCancelBtn class='cardBtn layoutBtn' style='margin-left: 10px;'><span class='CancelTxt'>CANCEL</span></button>
				<button id=cutOKBtn class='cardBtn layoutBtn' style='margin-left: 10px;'>&nbsp;&nbsp;&nbsp;&nbsp;<span class='OkTxt'>OK</span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
			</div>
		</div>

	</div>
</div>
<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('.autoDetectTxt').text(Locale.getText("Auto Detect"));
			$('.addUnitTxt').text(Locale.getText("Add Unit"));
			$('.deleteTxt').text(Locale.getText("Delete"));
			$('.testPatternTxt').text(Locale.getText("Test Pattern"));
			$('.ModulesTxt').text(Locale.getText("Modules"));
			$('.rowTxt').text(Locale.getText("Row"));
			$('.columnTxt').text(Locale.getText("Column"));
			$('.frameTxt').text(Locale.getText("Frame"));
			$('.positionTxt').text(Locale.getText("Position"));
			$('.inputDirTxt').text(Locale.getText("Input Direction"));
			$('.portSettingTxt').text(Locale.getText("Port Settings"));
			$('.resetTxt').text(Locale.getText("Reset"));
			$('.refreshTxt').text(Locale.getText("Refresh"));
			$('.OkTxt').text(Locale.getText("OK"));
			$('.CancelTxt').text(Locale.getText("Cancel"));
			init();
		};
		Locale.init(env);
	});
</script>