<div>
	<div style='width: 725px; float: left;'>
		<div style='float: left;'>
			<table width=700>
				<tr>
					<td>
						<button id=autoDetectBtn class='cardBtn layoutBtn'>AUTO DETECT</button>
					</td>
					<td>
						<button id=addUnitBtn class='cardBtn layoutBtn'>ADD</button>
					</td>
					<td>
						<button id=removeUnitBtn class='cardBtn layoutBtn'>REMOVE</button>
					</td>
					<th class='LEDSignageRes'>
						Unit Resolution
					</th>
					<td class='LEDSignageRes'>
						<div id=resolSelect></div>
					</td>
					<td>
						<button id=testBtn class='cardBtn layoutBtn'>TEST PATTERN</button>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<canvas id="layoutEditorCanvas" width=960 height=540></canvas>
		</div>
	</div>
	<div style='width: 310px; height:550px; float: left; overflow: auto; position: relative;'>

		<div id='layoutInfoPanel' style='position: absolute; top:0px; left: 0px;'>
			<div class='layoutSection'>
				<h4>Frame<hr style='margin: 3px;'></h4>
				<table class='table controlPane' style='width:60%;'>
					<tr>
						<th colspan=3>Module(Row X Column)</th>
					</tr>
					<tr>
						<td style='width:45%;'><div id=frameRowSelect></div></td>
						<td style='padding-top: 10px;'>X</td>
						<td style='width:45%;'><div id=frameColumnSelect></div></td>
					</tr>
					<tr>
						<th colspan=3>Position X:Y</th>
					</tr>
					<tr>
						<td style='width:45%;'><input type=number id=frameX min=0 max=1920></td>
						<td style='padding-top: 10px;'>:</td>
						<td style='width:45%;'><input type=number id=frameY min=0 max=1080></td>
					</tr>
				</table>
			</div>
			<div class='layoutSection'>
				<h4>Align<hr style='margin: 3px;'></h4>
				<table class='table controlPane' style='width:60%;'>
					<tr>
						<th>Daisy Start by</td>
					</tr>
					<tr>
						<td><div id=daisyFromSelect></div></td>
					</tr>
					<tr>
						<th>Daisy Direction</td>
					</tr>
					<tr>
						<td><div id=daisyDirSelect></div></td>
					</tr>
					<tr>
						<td><button id=rearrBtn class='cardBtn layoutBtn'>REARRANGE</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class='portInfoPanel' id='portInfoPanel' style='display: none;'>
			<div style='width:90%; color:white; margin-left: 15px;'>
				<h3 style='margin-top: 15px;'>Port Settings<hr style='margin: 3px;'></h4>
				<table class='table controlPane' style='width:60%; color:white; margin-bottom: 0px;'>
					<tr>
						<th>Input Direction</td>
					</tr>
					<tr>
						<td><div id=inputDirSelect></div></td>
					</tr>
					<tr>
						<th>Rows</td>
					</tr>
					<tr>
						<td><div id=portRowSelect></div></td>
					</tr>
					<tr>
						<th>Columns</td>
					</tr>
				</table>
				<table style='margin-left: 50px; width: 60%;'>
					<tr>
						<td>
							<input id='Column1' name='1' type="checkbox" class="media-checkBox">
							<label for="Column1">&nbsp;</label>
						</td>
						<td>
							<input id='Column2' name='2' type="checkbox" class="media-checkBox">
							<label for="Column2">&nbsp;</label>
						</td>
						<td>
							<input id='Column3' name='3' type="checkbox" class="media-checkBox">
							<label for="Column3">&nbsp;</label>
						</td>
						<td>
							<input id='Column4' name='4' type="checkbox" class="media-checkBox">
							<label for="Column4">&nbsp;</label>
						</td>
					</tr>
					<tr>
						<td colspan=4>
						<div class='portInfoStatus' style='position: relative;'>
							<div id='UseRow1' class='useRowRect' name='1' style='position: absolute;'></div>
							<div id='UseRow2' class='useRowRect' name='2' style='position: absolute;'></div>
							<div id='UseRow3' class='useRowRect' name='3' style='position: absolute;'></div>
							<div id='UseRow4' class='useRowRect' name='4' style='position: absolute;'></div>
							<img id="inputUp" src="/images/2017UX/icon_pop_indi_b.png" width="38px" height="20" style='position: absolute; left:64.5px; bottom:0px; display: none;'>
							<img id="inputDown" src="/images/2017UX/icon_pop_indi_t.png" width="38px" height="20" style='position: absolute; left:64.5px; display: none;'>
						</div>
						</td>
					</tr>
				</table>
				<div style='margin-top: 20px;'>
					<button id=portCancelBtn class='cardBtn layoutBtn' style='margin-left: 10px;'>CANCEL</button>
					<button id=portOKBtn class='cardBtn layoutBtn' style='margin-left: 10px;'>&nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
</div>
