<script src="/js/modal/log.js"></script>
<div class='modalContents' style='padding:0px 0px 0px 0px; background-color: white;'>
	<div style='height:10%;'>
		<div style='float:right;margin:10px 10px 10px 10px;'>
			<div id='logFilter'></div>
		</div>
	</div>
	<div style='border-top:1px solid #a6a6a6; border-bottom:1px solid #a6a6a6; padding:10px 10px 10px 10px;'>
		<table style='width:100%; font-weight: bold;'>
			<tr>
				<td style='width:25%;'><span class='dateTxt'>Data</span></td>
				<td style='width:25%;'><span class='sensorTxt'>Sensor</span></td>
				<td style='width:25%;'><span class='eventTxt'>Event</span></td>
				<td style='width:25%;'><span class='stateTxt'>State</span></td>
			</tr>
		</table>
	</div>
	<pre id='logpre' class='pre-scrollable log-pre' style='border:none; max-height: 430px; height:430px; margin-bottom: 0px;'>
	</pre>

	<div style='width:100%;height:50px;background-color: #cdcdcd;'>
		<div style='padding:15px 15px 15px 15px; margin-left: 40%;font-size: 10pt; color:#666666;'>
			<div style='float:left; margin-top: 8px;'><span class='rowsPerPageTxt'>Rows per Page</span></div>
			<div style='float:left; margin-left: 10px;' id='logPerPage'></div>
			<div style='float:left; margin-top: 8px; margin-left: 40px; width:90px'><span id='currentLogPage'></span></div>
			<div style='float:left; margin-left: 10px;'>
				<button type='button' id='prevPageBtn' class='leftBtn'></button>
				<button type='button' id='nextPageBtn' class='rightBtn' style='margin-left: 10px;'></button>
			</div>
		</div>

		<div ></div>
	</div>
</div>
<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('.dateTxt').text(Locale.getText("Date"));
			$('.sensorTxt').text(Locale.getText("Sensor"));
			$('.eventTxt').text(Locale.getText("Event"));
			$('.stateTxt').text(Locale.getText("State"));
			$('.dateTxt').click(function(){
					sortArray(sortOrder[0],4);
					var pnum = Number( $('#logPerPageDrop').text())
					printLog(pnum);
					sortOrder[0] = !sortOrder[0]
			});
			$('.sensorTxt').click(function(){
					sortArray(sortOrder[1],0);
					var pnum = Number( $('#logPerPageDrop').text())
					printLog(pnum);
					sortOrder[1] = !sortOrder[1]
			});
			$('.eventTxt').click(function(){
					sortArray(sortOrder[2],1);
					var pnum = Number( $('#logPerPageDrop').text())
					printLog(pnum);
					sortOrder[2] = !sortOrder[2]
			});
			$('.stateTxt').click(function(){
					sortArray(sortOrder[3],3);
					var pnum = Number( $('#logPerPageDrop').text())
					printLog(pnum);
					sortOrder[3] = !sortOrder[3]
			});
			$('.rowsPerPageTxt').text(Locale.getText("Rows per Page"));
			init();
		};
		Locale.init(env);
	});
</script>