<div>
	<table id='moduleCalibTable' style='width:100%; background-color: white;'></table>
	<table style='width:100%; margin-top:20px;'>
		<tr>
			<td>
				<button type='button' class='whiteCardBtn' id='moduleCalibReset' style='float:left;'>RESET</button>
			</td>
			<td>
				<button type='button' class='whiteCardBtn' id='moduleCalibOK'> &nbsp; &nbsp; OK &nbsp; &nbsp; </button>
				<button type='button' id='moduleCalibCancel' data-dismiss="modal" class='whiteCardBtn' style='margin-right: 10px;'>CANCEL</button>
			</td>
		</tr>
	</table>
</div>