<div class='modalContents'>
	<div class='section'>
		<div class='header'>
			<span class='title'><span class='generalTxt'>General</span></span>
			<hr/>
		</div>

		<div class='body'>
			<div class='detailModalCard'>
				<span class='signageNameTxt'>Signage Name</span> <br/>
				<div id='modalSignageName' class='normalText'></div>
			</div>
			<div class='detailModalCard'>
				<span class='modelNameTxt'>Model Name</span> <br/>
				<div id='modalModelName' class='normalText'></div>
			</div>
			<div class='detailModalCard'>
				<span class='serialNumberTxt'>Serial Number</span> <br/>
				<div id='modalSerialNumber' class='normalText'></div>
			</div>
			<div class='detailModalCard'>
				<button class='whiteCardBtn' id='goFirstUseBtn' style='float:left; margin-top: -40px;'><span class='firstUseTxt'>GO TO FIRST USE</span></button>
			</div>
		</div>
	</div>

	<div class='section'>
		<div class='header'>
			<span class='title'><span class='versionTxt'>Version</span></span>
			<hr/>
		</div>
		<div class='body'>
			<div class='detailModalCard'>
				<span class='webosVersionTxt'>webOS Ver.</span> <br/>
				<div id='modalWebosVersion' class='normalText'></div>
			</div>
			<div class='detailModalCard'>
				<span class='swVersionTxt'>SW Ver. </span><br/>
				<div id='modalFirmwareVersion' class='normalText'></div>
			</div>
			<div class='detailModalCard'>
				<span class='micomVersionTxt'>Micom Ver. </span><br/>
				<div id='modalMicomVersion' class='normalText'></div>
			</div>
			<div class='detailModalCard'>
				<span class='bootLoaderVersionTxt'>Bootloader Ver.</span><br/>
				<div id='modalBootLoaderVersion' class='normalText'></div>
			</div>
			<div class='detailModalCard' id='fpgaVer' style='display: none;'>
				<span class='FPGAVersionTxt'>FPGA Ver.</span> <br/>
				<div id='FPGAVersion' class='normalText' style='width: 400px;'></div>
			</div>
			<div class='detailModalCard'>
			</div>
			<div class='detailModalCard'>
				<button class='whiteCardBtn' id='goUpdateBtn' style='float:left; margin-top: -40px;'><span class='updateTxt'>UPDATE</span></button>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('.generalTxt').text(Locale.getText("general"));
			$('.signageNameTxt').text(Locale.getText("Signage Name"));
			$('.modelNameTxt').text(Locale.getText("Model Name"));
			$('.serialNumberTxt').text(Locale.getText("Serial Number"));
			$('.firstUseTxt').text(Locale.getText("Go To First Use"));
			$('.versionTxt').text(Locale.getText("version"));
			$('.webosVersionTxt').text(Locale.getText("webOS Version"));
			$('.swVersionTxt').text(Locale.getText("S/W Ver."));
			$('.micomVersionTxt').text(Locale.getText("Micom Version"));
			$('.bootLoaderVersionTxt').text(Locale.getText("Bootloader Version"));
			$('.FPGAVersionTxt').text(Locale.getText("FPGA Version"));
			$('.updateTxt').text(Locale.getText("Update"));
			if (env.locale === 'ar-SA') {
				var addChar = "\u202B";
				$('.webosVersionTxt').text(addChar + Locale.getText("webOS Version"));
				$('.swVersionTxt').text(addChar + Locale.getText("S/W Ver."));
				$('.micomVersionTxt').text(addChar + Locale.getText("Micom Version"));
				$('.bootLoaderVersionTxt').text(addChar + Locale.getText("Bootloader Version"));
				$('.FPGAVersionTxt').text(addChar + Locale.getText("FPGA Version"));
			}
			init();
		};
		Locale.init(env);
	});
</script>