<div class='testPatternPanelPanel' id='testPatternPanel' style='display:none;width:324px; height:230px; position: absolute; left:730px; top:80px;'>
	<div style='width:90%; color:white; margin-left: 15px;'>
		<h3 style='margin-top: 15px;'><span class='testPatternTxt'>Test Pattern</span><hr style='margin: 3px;'></h4>
		<table class='table controlPane' style='width:100%; color:white; margin-bottom: 0px;'>
			<tr>
				<th><span class='colorTxt'>Color</span></td>
				<td></td>
				<td>
					<div id='patternColor' style='width:50px; height:25px; border: 1px solid white; background-color: black;'></div>
				</td>
			</tr>
			<tr>
				<th><span class='brightnessTxt'>Brightness</span></th>
				<td width="50%">
					<input class=custom id=patternBrightness type=range min=0 max=100 value=0>
				</td>
				<td>
					<div id='patternBrightnessVal' style='color:black; width:50px; height:25px; background-color: white; border-radius: 10px; text-align: center;'></div>
				</td>
			</tr>
			<tr>
				<th><span class='allUnitTxt'>All Unit</span></th>
				<td></td>
				<td>
					<input id='patternAll' type="checkbox" class=switch>
					<label for="patternAll"></label>
				</td>
			</tr>
		</table>
		<div style='margin-top: 20px;'>
			<button id=testDoneBtn class='cardBtn layoutBtn' style='margin-left: 10px;'><span class='DoneTxt'>DONE</span></button>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		Locale.callback = function() {
			$('.testPatternTxt').text(Locale.getText("Test Pattern"));
			$('.colorTxt').text(Locale.getText("Color"));
			$('.brightnessTxt').text(Locale.getText("Brightness"));
			$('.allUnitTxt').text(Locale.getText("All Units"));
			$('.DoneTxt').text(Locale.getText("Done"));
			init();
		};
		Locale.init(env);
	});
</script>