<div id='warningMessage' class='modalWarningMessage'></div>
<div class='modalContents' style='overflow:scroll;'>
	<div class='section'>
		<div class='header'>
			<span class='title' id='uploadTitle'>Upload FW update File(<span id='firm'></span>)</span>
			<hr/>
		</div>
		<div class='body'>
			<div class='updateDIV'>
				<table class='updateHeaderTable'>
					<tr>
						<th><span class='fileNameTxt'>File Name</span></th>
						<th style='width:10%; text-align:center;'><span class='updateTxt'>Update</span></th>
						<th style='width:10%; text-align:center;'><span class='deleteTxt'>Delete</span></th>
					</tr>
				</table>
				<div>
					<div class='updateAnounce' id='firmAnounce'>
						<span class='anounceTxt'>Select a file to upload</span>
					</div>
				</div>
				<table id='updateFileTable' class='table table-striped updateFileList'>
				</table>
			</div>
			<div>
				<form method='post' action='/upload' enctype="multipart/form-data" name="uploadForm">
					<div style='float:left;'>
						<input type='file' name='uploadFW' id='upload' class='uploadUpdate' accept=".epk">
						<label for="upload" class='cardBtn'><span class='fileSelectTxt'>FILE SELECT</span></label>
					</div>
					<div style='float:right;'>
						<span id='fileName'></span>
						<span>
							<input type=submit class='cardBtn' value='UPLOAD' name='firmWare' id='submit'>
						</span>
					</div>
				</form>
			</div>
			
		</div>
	</div>

	<div class='section' style='margin-top: 50px;'>
		<div class='header'>
			<span class='title' id='FPGATitle'>Upload FPGA update File()</span>
			<hr/>
		</div>
		<div class='body'>
			<div class='updateDIV'>
				<table class='updateHeaderTable'>
					<tr>
						<th><span class='fileNameTxt'>File Name</span></th>
						<th style='width:10%; text-align:center;'><span class='updateTxt'>Update</span></th>
						<th style='width:10%; text-align:center;'><span class='deleteTxt'>Delete</span></th>
					</tr>
				</table>
				<div class='updateAnounce' id='FPGAAnounce'>
					<span class='anounceTxt'>Select a file to upload</span>
				</div>
				<table id='FPGAFileTable' class='table table-striped updateFileList'>
				</table>
			</div>
			<div>
				<form method='post' action='/upload' enctype="multipart/form-data" name="uploadForm">
					<div style='float:left;'>
						<input type='file' name='uploadFPGA' id='FPGAupload' class='uploadUpdate' accept=".hexout">
						<label for="FPGAupload" class='cardBtn'><span class='fileSelectTxt'>FILE SELECT</span></label>
					</div>
					<div style='float:right;'>
						<span id='FPGAfileName'></span>
						<span>
							<input type=submit class='cardBtn' value='UPLOAD' name='FPGA' id='submit'>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script>
	var title = Locale.getText("Upload secured S/W Update file (XXX GB available)").replace('GB', '').replace('XXX', modalfreeSpace);
	$('#uploadTitle').text(title);
	title = Locale.getText("Upload FPGA Update file (XXX GB available)").replace('GB', '').replace('XXX', modalfreeSpace);

	if( env.locale == 'ru-RU' || env.locale == 'fi-FI'){
		title = title.replace('GB', '');
	}

	$('#FPGATitle').text(title);

	if(env.ledFilmType == 'color'){
		$('#FPGAupload').attr('accept', '.img');
	}
	$('.fileNameTxt').text(Locale.getText('File Name'));
	$('.updateTxt').text(Locale.getText('Update'));
	$('.deleteTxt').text(Locale.getText('Delete'));
	$('.anounceTxt').text(Locale.getText('Select a file to upload'));
	$('.fileSelectTxt').text(Locale.getText('File Select'));
	$('input[type=submit]').attr('value',Locale.getText('Upload'));
</script>