<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-group.js"></script>
<script src="/js/locale.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-wide">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<table class='table'>
					<tr>
						<th>Secure Word</th>
						<th>Generated Key</th>
						<th></th>
					<tr>
					<tr>
						<td><input type=text class=form-control id=secureWord></td>
						<td><span id=genKeyVal></span></td>
						<td><button id=genKey class='btn'>Generate</button></td>
					</tr>
					<tr>
						<th>Current Key</th>
						<th></th>
					</tr>
					<tr>
						<td colspan=2><input type=text id=curKeyVal class=form-control></span></td>
						<td><button class=btn id=changeKey>Change</button></td>
					</tr>
				</table>
				Refresh Time : <input type=number min=10 max=600 value=60 id=refreshTime> Sec.
				<br>
				<br>
				<div class=col-md-12 id=groupDiv>
				</div>
				<table class='table' id=addToGroup>
					<tr>
						<th>HTTPS</th>
						<th>IP</th>
						<th>Port</th>
						<th>Add</th>
					</tr>
					<tr>
						<td><input type=checkbox checked id='https'></td>
						<td><input type=text class=form-control id='ip'></td>
						<td><input type=text class=form-control id='port'></td>
						<td><button class='btn btn-default' id='addPeer'>Add</button></td>
					</tr>
				</table>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<div class="modal fade" tabindex="-1" role="dialog" id='statusModal'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id='statusModalTitle'></h4>
			</div>
			<div class="modal-body" id='statusModalBody'>
				<table class='table'>
					<tr>
						<th>Time</th>
						<td id='modalTime'></td>
					</tr>
					<tr>
						<th>Temperature</th>
						<td id='modalTemperature'></td>
					</tr>
					<tr>
						<th>Network</th>
						<td id='modalNetwork'></td>
					</tr>
					<tr>
						<th>Fan</th>
						<td id='modalFan'></td>
					</tr>
					<tr>
						<th>Door</th>
						<td id='modalDoor'></td>
					</tr>
					<tr>
						<th>Version</th>
						<td id='modalVer'></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
var env = {{{json env}}};
var localPeers = [];
var refreshTimer = undefined;
var removeIndex = -1;

socket.on('return', function(msg) {
	refreshPeers();
});

function refreshData() {
	localPeers.forEach(function(peer, index) {
		getPeerScreen(index, function(ret) {
			$('#screen' + index).attr('src', ret.url);
		});

		getPeerIncidents(index, function(incidents) {
			$('#incidents' + index).removeClass('btn-danger btn-primary');
			$('#incidents' + index).addClass(incidents.returnValue ? 'btn-primary' : 'btn-danger');
			var detail = incidents.detail.replace(/\n/g, '<br>');
			$('#incidents' + index).attr('data-content', detail);
			$('#incidents' + index).html(incidents.message);
		});

	});
}

function refreshPeers() {
	function genAddress(peer) {
		var ret = 'http' + (peer.https ? 's' : '') + '://';
		ret += peer.ip;
		ret += ':' + peer.port;

		return ret;
	}

	$('#groupDiv').empty();
	getPeers(function(peers, i) {
		localPeers = peers;
		peers.forEach(function(peer, i) {
			var addr = genAddress(peer);
			console.log(addr);
			var div = '<div class=col-md-4><div style="background-color:#eee;"><center>'
						+ '<img id="screen' + i + '" height=100 src="/images/screenshot_noimage_small.png"/><br>'
						+ '<a href="' + addr + '" target="_blank">' + addr + '</a>&nbsp;&nbsp;<button class="btn btn-xs btn-default" id="removePeer' + i + '"><i class="fa fa-trash" aria-hidden="true"></i></button><br>'
						+ 'Incidents(NG/Total) <button class="btn btn-xs" id="incidents' + i + '" data-toggle="popover" title="Incidents" data-content="" data-placement="right" data-html="true"></button><br>'
						+ '<button class="btn btn-success" id="status' + i + '">Show Status</button>'
					+ '</center></div></div>';
			$('#groupDiv').append(div);
			$(function () {
				$('[data-toggle="popover"]').popover()
			});
			$('#status' + i).click(function() {
				getPeerStatus(i, function(status) {
					console.log(status);
					var ret = JSON.stringify(status, null, '&nbsp;').replace(/\n/g, '<br>');
					$('#statusModalTitle').html(addr);
					$('#modalTime').html(status.time.current);
					$('#modalTemperature').html(JSON.stringify(status.temperature, null, ' '));
					$('#modalNetwork').html(status.wired.ipAddress);
					$('#modalDoor').html(JSON.stringify(status.door.status, null, ' '));
					$('#modalFan').html(JSON.stringify(status.fan, null, ' '));
					$('#modalVer').html(status.info.firmwareVersion);
					$('#statusModal').modal();
				});
			});
		});

		$('[id^=removePeer]').click(function() {
			var id = $(this).attr('id');
			var index = Number(id.substring(10));
			removeIndex = index;
			$('#modalRemovePeer').modal();
		});

		if (refreshTimer) {
			clearInterval(refreshTimer);
		}
		refreshData();
		refreshTimer = setInterval(refreshData, Number($('#refreshTime').val()) * 1000);
	});
}

$(document).ready(function(){
	$('#genKey').click(function() {
		createSecureKey($('#secureWord').val(), function(msg) {
			$('#genKeyVal').html(msg);
		});
	});

	$('#changeKey').click(function() {
		setSecureKey($('#curKeyVal').val());
	});

	getSecureKey(function(key) {
		$('#curKeyVal').val(key);
	});

	refreshPeers();

	$('#addPeer').click(function() {
		addPeer($('#https').prop('checked'), $('#ip').val(), $('#port').val());
		$('#ip').val('');
		$('#port').val('');
	});

	addConfirmModal('modalRemovePeer', 'Remove?', 'Do you want to remove?', function() {
		removePeer(removeIndex);
	});

	$('#refreshTime').change(function() {
		var time = Number($(this).val());
		if (time < 10 || time > 600) {
			return;
		}
		if (refreshTimer) {
			clearInterval(refreshTimer);
		}
		console.log(time);
		refreshTimer = setInterval(refreshData, time * 1000);
	});
});
</script>
