<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<link href="/css/led.css" rel="stylesheet">
<div class="row">
	<center><ul class=pagination id=pager></ul></center><br/>
    <div class="col-md-12">
        <div class="panel panel-default panel-wide">
            <div class="panel-heading" role="tab">
				<h4 class='panel-title'>
					Humidity
					<div class="top-right-refresh">
						<button class="btn-refresh RefreshTxt" onclick='window.location.reload();'></button>
					</div>
				</h4>
				<hr>
            </div>
            <div class="panel-body" id=backlightPanel>
                <div class="col-md-10">
					<div class='col-md-12'>
						<canvas id="backlightChart"></canvas>
					</div>
                </div>
                <div class="col-md-2" id='backlightLegend'>
				</div>
            </div>
		</div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->
<script>
var defaultHistorySize = 50;
var totalHistorySize = 0;
var chartPage = {{page}};

if (chartPage < 1) {
	chartPage = 1;	
}

var pageSet = 10;

var start = (chartPage - 1) * defaultHistorySize;
var end = start + defaultHistorySize;

var currentTime = '{{currentTime}}';

var env = undefined;
</script>

<script src="/js/page/charts.js"></script>

<script>


function initChart() {
	getCurrentTime(function(msg) {
		currentTime = msg.current;
	});
	startHumidChart();
}

function drawHumidityChart(humidityData) {
	if (!humidityData || !humidityData.returnValue) {
		showWarning(Locale.getText("History is not yet collected"));
		return;
	}
	var labels = createLabels(humidityData.history.length, humidityData.interval);
	var chartData = {};
	chartData.labels = labels;
	chartData.datasets = [];

	humidityData.history.forEach(function(val, index) {
		humidityData.history[index] = humidityData.history[index]/10;

		if(humidityData.history[index] < 0){
			humidityData.history[index] = 0;
		}
	});

	var backlightSet = {
		label: "Humidity(%)",
		fillColor: "rgba(0, 0, 0, 0)",
		strokeColor: color[0],
		pointColor: color[0],
		data: humidityData.history.reverse()
	};
	chartData.datasets.push(backlightSet);

	var max = -999;
	humidityData.history.forEach(function(val) {
		if (val > max) {
			max = val;
		}
	});

	chartOption.scaleOverride = false;
	chartOption.scaleBeginAtZero = true;

    var ctx = document.getElementById("backlightChart").getContext("2d");
    var backlightChart = new Chart(ctx).Line(chartData, chartOption);
	backlightChart.update();

	var legend = backlightChart.generateLegend();
	$('#backlightLegend').append(legend);

	addRtlDir();
}

function startHumidChart() {
	getHumidityHistory(start, end, function(humidMsg) {
		console.log(humidMsg);
		totalHistorySize = humidMsg.queueSize;
		drawPager();
		drawHumidityChart(humidMsg);
	});
}

function drawPager() {
	var maxPage = Math.ceil(totalHistorySize / defaultHistorySize);

	function addNav(page, label) {
		if (page > maxPage) {
			page = maxPage;
		}
		if (page < 1) {
			page = 1;
		}
		var html = "<li><a href='humid?page=" + page + "'><span aria-hidden=true>" + label + "</span></a></li>";
		$('#pager').append(html);
	}

	var prevSet = chartPage + pageSet;
	var prevOne = chartPage + 1;

	addNav(prevSet, Locale.getText("Prev.") + pageSet);
	if (pageSet > 5) {
		addNav(prevOne, "&laquo;");
	}

	var startSet = (Math.ceil(chartPage / pageSet) - 1) * pageSet + 1;
	var endSet = startSet + pageSet - 1;
	if (endSet > maxPage) {
		console.log('bigger::'+maxPage);
		endSet = maxPage;
	}

	for (var i = endSet; i >= startSet; --i) {
		html = '<li ';
		if (i == chartPage) {
			html += 'class=active';
		}
		html += '><a href="humid?page=' + i + '">' + i;

		html += '</a></li>';

		$('#pager').append(html);
	}

	var nextSet = chartPage - pageSet;
	var nextOne = chartPage - 1;
	if (pageSet > 5) {
		addNav(nextOne, "&raquo;");
	}
	addNav(nextSet, Locale.getText("Next") + pageSet);
}

$(document).ready(function() {
	env = {{{json env}}}
	init();
	chartOption.legendTemplate = "<ul class=list-group><% for (var i=0; i<datasets.length; i++){%><li class=list-group-item><span class=badge style=\"background-color:<%=datasets[i].strokeColor%>\">&nbsp;</span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>";

	$('#pageTitle').html('Humidity');
	initChart();
});


</script>
