<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			Factory Menu Page
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/'>Go to Dashboard</a>
            </div>
            <div class="panel-body" id="fanDiv">
				<h4>Raw Data</h4>
				<table class=table>
					<tr>
						<th>Device Raw Data</th>
						<td><button><a href='/factorymenu/deviceRawData'>Download as JSON file</a></td>
					</tr>
					<tr>
						<th>Chart History (Temperature, Fan RPM, Backlight, EyeQ)</th>
						<td><button><a href='/factorymenu/chartRaw'>Download as CSV file</a></button></td>
					</tr>
				</table>
				<br>
				<h4>Configs</h4>
				<table class='table'>
					<tr>
						<th>Chart Refresh Interval</th>
						<td><input type='number' id=historyInterval value=60> Seconds</td>
						<td><button id=applyChartConfig>Apply</button></td>
					</tr>
					<tr>
						<td></td>
						<td cols=2><button id=clearHistory>Clear History Data</button></td>
					</tr>
					{{#supportXE}}
					<tr>
						<th>Stalled Image Interval</th>
						<td><input type='number' id=stalledInterval min=1 max=10> Minutes</td>
						<td><button id=applyStalledConfig>Apply</button></td>
					</tr>
					{{/supportXE}}
					<tr>
						<th>Filter alarm(ΔT)</th>
						<td><input type='number' id=deltaTemperature min=0 max=100> °C</td>
						<td><button id=applyDeltaTemperature>Apply</button></td>
					</tr>
					<tr>
						<th>Test Pattern</th>
						<td>
							<input type="checkbox" id="patOn" class=grey>
							<label for="patOn">&nbsp;</label>
						</td>
						<td>
							<select id=pattern class=form-control disabled>
								<option value=0>Gray 31 color</option>
								<option value=1>Gray 63 color</option>
								<option value=2>Gray 191 color</option>
								<option value=3>Gray 223 color</option>
								<option value=4>Gray 254 color</option>
								<option value=5 selected>White color</option>
								<option value=6>Red color</option>
								<option value=7>Green color</option>
								<option value=8>Blue color</option>
								<option value=9>Black color</option>
								<option value=10>RGB color</option>
								<option value=11>Gray 127 color</option>
								<option value=12>Red 127 color</option>
								<option value=13>Green 127 color</option>
								<option value=14>Blue 200 color</option>
								<option value=15>Flicker color</option>
								<option value=17>Gray 247 color</option>
								<option value=18>Gray 159 color</option>
								<option value=19>Gray 2 color</option>
								<option value=20>Gray 125 color</option>
								<option value=21>Cinema color</option>
								<option value=22>Gray 127 div6 color</option>
								<option value=23>Gray 0 div6 color</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Factory Keys(<a href='/remocon'>Remocon</a>)</th>
						<td colspan=2>
							<button id=instop class=factory>In Stop</button>
							<button id=instart class=factory>In Start</button>
							<button id=adj class=factory>Adj</button>
						</td>
					</tr>
					<tr>
						<th>Serial Baudrate</th>
						<td colspan=2>
							<select id=baudrate>
								<option>9600</option>
								<option>115200</option>
							</select>
						</td>
					</tr>
				</table>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>
var env = {{{json env}}};
$(document).ready(function(){
	getHistoryInterval(function(msg) {
		$('#historyInterval').val(msg.historyIntervalSeconds);
	});

	getVideoStillStatus(function(msg) {
		$('#stalledInterval').val(msg['period(minutes)']);
	});

	getSystemSettings('commercial', ['filterAlarmDeltaTemp'], function(msg){
		console.log(msg);
		$('#deltaTemperature').val(msg.filterAlarmDeltaTemp);
	});

	$('#applyChartConfig').click(function() {
		setHistoryInterval($('#historyInterval').val());
	});

	$('#clearHistory').click(function() {
		clearHistory();
	});

	$('#applyStalledConfig').click(function() {
		resetStalledImage($('#stalledInterval').val());
	});

	$('#applyDeltaTemperature').click(function() {
		setSystemSettings('commercial', { filterAlarmDeltaTemp: $('#deltaTemperature').val() },function(msg){
			console.log(msg);
		});
	});

	$('#pageTitle').html('Factory Menu Index');

	$('#patOn').change(function() {
		var checked = $('#patOn').prop('checked');
		var pat = $('#pattern').val();

		$('#pattern').prop('disabled', !checked);

		testPattern(checked, pat);
	});
	$('#pattern').change(function() {
		var pat = $(this).val();
		testPattern(true, pat);
	});

	$('.factory').click(function() {
		var code = $(this).attr('id');

		if (!confirm('Are you sure to send ' + code + ' code?')) {
			return;
		}

		sendRemocon(code);

		alert('redirecting to remocon page to enter password');
		window.location = '/remocon';
	});

	getSystemProperties(['serialBaudRate'], function(msg) {
		var baudrate = msg.serialBaudRate;
		$('#baudrate').val(baudrate);
		console.log(baudrate);
	});

	$('#baudrate').change(function() {
		var baudrate = $(this).val();
		setSystemProperties({
			serialBaudRate: baudrate
		});
	});
});
</script>
