<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/common.js"></script>
<link href="/css/led.css" rel="stylesheet">

<style style="text/css">
/* Define the hover highlight color for the table row */
td{
	font-family: Consolas;
	font-size: 14pt;
	text-align: center;
}
tr:hover {
	background-color: #eeeeee;
}
input[type=checkbox]
{
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	padding: 10px;
}
</style>

Slave Address <select id=slave></select>
<br>
<br>
<br>
<table id=bitmap class=hoverTable>
	<tr>
		<td>Subaddr</td>
		<td width=30px>7</td>
		<td width=30px>6</td>
		<td width=30px>5</td>
		<td width=30px>4</td>
		<td>|</td>
		<td width=30px>3</td>
		<td width=30px>2</td>
		<td width=30px>1</td>
		<td width=30px>0</td>
		<td width=60px>HEX</td>
		<td width=60px>BIN</td>
	</tr>
</table>


<script>

var startAddr = 0x00;

function toBinStr(val) {
	return ("000000000000000" + val.toString(2)).substr(-8);
}

function toHexStr(val) {
	return '0x' + (("000000000000000" + val.toString(16)).substr(-2));
}

for (var i = 0; i <= 60; ++i) {
	$('#slave').append('<option>' + (i * 2) + '</option>');
}

$('#slave').val(2);

for (var i = startAddr; i <= startAddr + 0x7F; ++i) {
	var row = '<tr><td>0x' + i.toString(16) + '</td>'
	for (var j = 0; j != 8; ++j) {
		row += '<td><input type=checkbox name="sub' + i.toString(16) + '" value="' + (7 - j) + '"></td>';
		if (j == 3) {
			row += '<td>|</td>'
		}
	}
	row += '<td id="val' + i.toString(16) + '">0x00</td>';
	row += '<td id="bin' + i.toString(16) + '">00000000</td>';
	row += '</tr>';
	$('#bitmap').append(row);
}

function getI2C_wrap(slave, startAddr) {
	getI2C(slave, startAddr, function(msg) {
		var start = startAddr;
		if (!msg.returnValue) {
			alert('Error!');
			$('input').prop('checked', false);
			return;
		}
		msg.result.bytes.forEach(function(val, idx) {
			var sub = start + idx;
			var name = 'sub' + sub.toString(16);
			$('#val' + sub.toString(16)).html(toHexStr(val));
			$('#bin' + sub.toString(16)).html(toBinStr(val));
			for (var i = 0; i != 8; ++i) {
				$('[name="' + name + '"][value="' + i + '"]').prop('checked', (val & (1 << i)) != 0);
			}
		});

		if (startAddr < 0x76) {
			getI2C_wrap(slave, startAddr + 0x15);
		}
	});
}

getI2C_wrap(2, 0x00);

$('#slave').change(function() {
	getI2C_wrap(parseInt($(this).val(), 10), 0x00);
});

addHandler();
function addHandler() {
	$('[type=checkbox]').change(function() {
		var name = $(this).attr('name');
		var val = 0;
		$('[name="' + name + '"]').each(function(idx) {
			if ($(this).prop('checked')) {
				val += 1 << $(this).val();
			}
		});

		var subaddr = name.substring(3);
		$('#val' + subaddr).html(toHexStr(val));
		$('#bin' + subaddr).html(toBinStr(val));
		
		var slave = $('#slave').val();
		setI2C(parseInt(slave, 10), parseInt(subaddr, 16), val);
	});
}

</script>
