<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-ledFilm.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/common.js"></script>
<script src="/js/page/factorymenu-ledfilm.js"></script>

<script>
	//Initializing table contents by removing previous data
	function init_tbody(senderNum){
		$('#sender'+senderNum+'>tbody').children("tr:not(:first)").remove();
	}

	//displaying information about sendingMAC by creating table rows dynamically
	function display_sendingMAC(senderNum){
		getSendingMAC(senderNum*2, function(msg){
			if(msg.returnValue==true){
				for(var i = 0; i<=17; i++){
					var indexi_0 = eval("msg.result.sendingMAC.index"+i+"['0']");
					var indexi_1 = eval("msg.result.sendingMAC.index"+i+"[1]");
					if(indexi_0 =="00" && indexi_1=="00")
						continue;
					else{
						var str = "index"+i+": "+indexi_0+" "+indexi_1;
						var contents ="<tr>";
						contents += "<td id='num'></td>";
						contents += "<td id='smac'></td>";
						contents += "<td id='rmac'></td>";
						contents += "<td id='info'></td>";
						contents += "</tr>";
						$('#sender'+senderNum+'>tbody:last').append(contents);

						$('#num').attr("id", 'num'+senderNum+'_'+i.toString());
						$('#smac').attr("id", 'smac'+senderNum+'_'+i.toString());
						$('#rmac').attr("id", 'rmac'+senderNum+'_'+i.toString());
						$('#info').attr("id", 'info'+senderNum+'_'+i.toString());
						
						$('#num'+senderNum+'_'+i.toString()).append(i);
						$('#smac'+senderNum+'_'+i.toString()).append(str);
					}
				}
			}
			else{
				$('#sender'+senderNum+'>tbody:last').append(
					$('<tr>').append(
						$('<td id="num"+senderNum.toString()>').text("-"),
						$('<td id="smac"+senderNum.toString()>').text("NG:Disconnected"),
						$('<td id="rmac"+senderNum.toString()>'),
						$('<td id="info"+senderNum.toString()>').text("-")
					)
				);

			}
		});
	}

	//displaying information about receivedMAC in tables
	function display_receivedMAC(senderNum){
		getReceivedMac(senderNum*2, function(msg){
			if(msg.returnValue==true){
				for(var i = 0; i<=17; i++){
					var indexi_0 = eval("msg.result.receiverMAC.index"+i+"['0']");
					var indexi_1 = eval("msg.result.receiverMAC.index"+i+"[1]");
					if(indexi_0 =="00" && indexi_1=="00")
						continue;
					else{  //meaningful value
						var str = indexi_0+" "+indexi_1;
						var check=0;
						for(var j = 0; j<=17; j++){
							if($('#smac'+senderNum+'_'+j.toString()).length == 0){
								continue;
							}
							else{
								if(str==$('#smac'+senderNum+'_'+j.toString()).text().substr(8,5)){ 
									$('#rmac'+senderNum+'_'+j.toString()).append(str);
									var button = '<input type="button" value ="click" id="ubut" />';
									$('#info'+senderNum+'_'+j.toString()).append(button);
									$('#ubut').attr("id", 'ubut'+senderNum+'_'+j.toString());
									check++;
								}
							}
						}

						if(check==0){
							$('#sender'+senderNum+'>tbody:last').append(
									$('<tr>').append(
										$('<td style="color: red">').append("-"),
										$('<td style="color: red">').append("-"),
										$('<td style="color: red">').append(indexi_0+" "+indexi_1+"<br />"),
										$('<td style="color: red">').append("NG: Missing Sending MAC")
									)
							);
						}
					}
				}

				for(var k = 0; k<=17; k++){
					if($('#num'+senderNum+'_'+k.toString()).length){
						if($('#rmac'+senderNum+'_'+k.toString()).text()==""){
							$('#rmac'+senderNum+'_'+k.toString()).text("-");
							$('#info'+senderNum+'_'+k.toString()).text("NG: missing Received MAC");
											
							$('#num'+senderNum+'_'+k.toString()).css("color", "red");
							$('#rmac'+senderNum+'_'+k.toString()).css("color", "red");
							$('#smac'+senderNum+'_'+k.toString()).css("color", "red");
							$('#info'+senderNum+'_'+k.toString()).css("color", "red");
						}
					}
				}

				var arrFilmGain = new Array(18);
				for(let i = 0; i<=17; i++){
					if($('#ubut'+senderNum+'_'+i.toString()).length){
						arrFilmGain[i] = "<FilmGain information>" + "\n";
						for(let j = 0; j<=3; j++){
							getFilmGain(senderNum*2, i, j, function(msg){
								arrFilmGain[i] += "film"+j+": R: "+ msg.result.R+"  G: "+msg.result.G+"  B: "+msg.result.B+"\n";
							});
						}
					}
				}

				for(let i=0; i<=17; i++){
					if($('#ubut'+senderNum+'_'+i.toString()).length){
						$('#ubut'+senderNum+'_'+i.toString()).on("click", function(){
							alert(arrFilmGain[i]);
						});
					}
				}
			}
			else
				$('#rmac'+senderNum).text("NG: Disconnected");	
		});
	}

	//integrated function for displaying the whole for each sender
	function display_sender_tables(senderNum){
		if($("input:checkbox[id=box"+senderNum+"]").is(":checked")==true){
			init_tbody(senderNum);
			display_sendingMAC(senderNum);
			display_receivedMAC(senderNum);
			$('#mac'+senderNum).show();
		}
		else
			$('#mac'+senderNum).hide();
	}
</script>

<link href="/css/led.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED Film Admin
        </h1>
    </div>
    
    <div class="col-md-12">
    <div style="width:293px; height:200px;float:left;border:0px;">
    		<img src="/images/system_controller.png" width='293' height='193'>
    	</div>
    
    	<div style="width:30px;height:200px;float:left;">
    		<hr id="su_line" style="margin-top: 20px;margin-bottom: 20px; border: 0; border-top: 5px solid black;"/>
    	</div>
    	
    	<div style="width:293px; height:200px;float:left;border:0px;">
    		<img src="/images/unit_controller.png" width='293' height='193'>
    	</div>

     <div class="panel panel-default">
          <div class="panel-heading" role="tab">
              <h4 class="panel-title">
					Unit Sender Information
              </h4>
              <hr/>
     		</div>
     	<table class='table'>
				<tbody>
					<tr>
						<td class="first">Status</td>
						<td class="sender1" id ="status1"></td>
						{{#exceptOneBoxFilm}}
						<td class="sender2" id ="status2"></td>
						<td class="sender3" id ="status3"></td>
						<td class="sender4" id ="status4"></td>
						{{/exceptOneBoxFilm}}
					</tr>
					<tr>
						<td class="first">Position</td>
						<td class="sender1" id ="position1"></td>
						{{#exceptOneBoxFilm}}
						<td class="sender2" id ="position2"></td>
						<td class="sender3" id ="position3"></td>
						<td class="sender4" id ="position4"></td>
						{{/exceptOneBoxFilm}}
					</tr>
					<tr>
						<td class="first">Input Direction</td>
						<td class="sender1" id ="direction1"></td>
						{{#exceptOneBoxFilm}}
						<td class="sender2" id ="direction2"></td>
						<td class="sender3" id ="direction3"></td>
						<td class="sender4" id ="direction4"></td>
						{{/exceptOneBoxFilm}}
					</tr>
					<tr>
						<td class="first">FPGA Version</td>
						<td class="sender1" id ="version1"></td>
						{{#exceptOneBoxFilm}}
						<td class="sender2" id ="version2"></td>
						<td class="sender3" id ="version3"></td>
						<td class="sender4" id ="version4"></td>
						{{/exceptOneBoxFilm}}
					</tr>
				</tbody>
		</table>
     </div>
     
      <div class="panel panel-default">
          <div class="panel-heading" role="tab">
              <h4 class="panel-title">
					Received MAC & Sending MAC Information
              </h4>
              <hr/>
     		</div>
     		<table class='table'>
     			<tbody>
     			<tr>	
     				<td class="first">Sender Number</td>
     				<form>
						<td class="second"> 1 <input type="checkbox" id="box1" onclick="display_sender_tables(1);" name="sender" value="zero"></td>
						{{#exceptOneBoxFilm}}
						<td class="second"> 2 <input type="checkbox" id="box2" onclick="display_sender_tables(2);" name="sender" value="one"></td>
						<td class="second"> 3 <input type="checkbox" id="box3" onclick="display_sender_tables(3);" name="sender" value="two"></td>
						<td class="second"> 4 <input type="checkbox" id="box4" onclick="display_sender_tables(4);" name="sender" value="three"></td>
						{{/exceptOneBoxFilm}}
					</form>
     			</tr>
     			</tbody>
     		</table>
     	</div>


     	<div class="panel panel-default" id="mac1">
         	<div class="panel-heading" role="tab">
          		<h5 class="panel-title">Sender1</h5>
         	</div>
         	<table class = 'table' id="sender1">
     			<tbody>
     			<tr>
     				<td class="first">index#</td>
     				<td class="first">Sending MAC</td>
     				<td class="first">Received MAC</td>
     				<td class="first">Unit Info</td>
     			</tr>
     			</tbody>
     		</table>
     	</div>
		{{#exceptOneBoxFilm}}
     	<div class="panel panel-default" id="mac2">
         	<div class="panel-heading" role="tab">
          		<h5 class="panel-title">Sender2</h5>
         	</div>
         	<table class = 'table' id="sender2">
     			<tbody>
     			<tr>
     				<td class="first">index#</td>
     				<td class="first">Sending MAC</td>
     				<td class="first">Received MAC</td>
     				<td class="first">Unit Info</td>
     			</tr>
     			</tbody>
     		</table>
     	</div>
     	<div class="panel panel-default" id="mac3">
         	<div class="panel-heading" role="tab">
          		<h5 class="panel-title">Sender3</h5>
         	</div>
         	<table class = 'table' id="sender3">
     			<tbody>
     			<tr>
     				<td class="first">index#</td>
     				<td class="first">Sending MAC</td>
     				<td class="first">Received MAC</td>
     				<td class="first">Unit Info</td>
     			</tr>
     			</tbody>
     		</table>
     	</div>
     	<div class="panel panel-default" id="mac4">
         	<div class="panel-heading" role="tab">
          		<h5 class="panel-title">Sender4</h5>
         	</div>
         	<table class = 'table' id="sender4">
     			<tbody>
     			<tr>
     				<td class="first">index#</td>
     				<td class="first">Sending MAC</td>
     				<td class="first">Received MAC</td>
     				<td class="first">Unit Info</td>
     			</tr>
     			</tbody>
     		</table>
     	</div>
		{{/exceptOneBoxFilm}}
        <!--
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					init FPGA Config
					<span id='retInitConfig' style='color:green'><span>
                </h4>
                <hr/>
            </div>

			<button class='img-button xsmall' id=initConfig style='margin: 10 10 10 10;'>Start</button>

			<span class='initStep' id='step1' style='margin-left:40px; font-weight:bold;'>1. Init FPGA</span>
			<span class='initStep' id='step2' style='margin-left:30px; font-weight:bold;'>2. set Addr</span>
			<span class='initStep' id='step3' style='margin-left:30px; font-weight:bold;'>3. Reboot FPGA</span>
        </div>
        -->
		<div class="panel panel-default">
          	<div class="panel-heading" role="tab">
              	<h4 class="panel-title">
					LED Layout
              	</h4>
              	<hr/>
     		</div>
			<table class='table'>
				<tbody>
					<tr>
						<th>Export Layout</th>
						<td><button><a href='/factorymenu/ledFilm/getLedLayout'>Download</a></button></td>
					</tr>
					<tr>
						<th>Import Layout</th>
						<td><input type='file' name='uploadLayout' id='uploadLayout' class='uploadLayout' accept='.json,application/json'></td>
						<td><button id="layoutAutoBtn" disabled>Set Automatically</button></td>
					</tr>
					<tr>
						<th>Test Pattern</th>
						<td>
							<select id='factorySender'>
								<option value=2>Sender 1</option>
								{{#exceptOneBoxFilm}}
								<option value=4>Sender 2</option>
								<option value=6>Sender 3</option>
								<option value=8>Sender 4</option>
								{{/exceptOneBoxFilm}}
							</select>
							<select id='factoryUnit' disabled></select>
						</td>
						<td>
							<input type="checkbox" id='factoryTestPatternOn' name="factTestPattern" disabled>
							<label for="factTestPattern">Test Pattern</label>
						</td>
					</tr>
				</tbody>
			</table>
     	</div>

    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>
var arrDirection = ['Right', 'Left', 'Bottom', 'Top'];
var numOfUnits = 0;
var check_status = 0; 
function init_checkbox(){
	$("#mac1").hide();
	$("#mac2").hide();
	$("#mac3").hide();
	$("#mac4").hide();
}

function showStatus(senderIdx){
	var slave = (senderIdx+1)*2;
	var senderNum = senderIdx+1;

	getFpgaStatus(senderIdx, function(msg){
		if(msg.result.powerStatus && msg.result.signalStatus){
			check_status++;
			$('#status'+senderNum).text("true");
		}
		else
			$('#status'+senderNum).text("false");
	});

	getPosition(slave,function(msg){
		if(msg!=null){
			var str = "x: " + msg.x + " y: " +msg.y;
			$('#position'+senderNum).text(str);
		}
		else
			$('#position'+senderNum).text("ERROR");
	});

	getInputDirection(slave, function(msg){
		if(msg!=null){
			var dir = arrDirection[msg.inputDirection];
			$('#direction'+senderNum).text(dir);
		}
		else
			$('#direction'+senderNum).text("ERROR");
	});

	getFpgaVersionColor(slave, function(msg){
		if(msg.returnValue)
			$('#version'+senderNum).text(msg.result.version2nd.toString(16));
		else
			$('#version'+senderNum).text("ERROR");
	});
}

$(document).ready(function(){
	for(let i = 0; i<=3; i++)
		showStatus(i);
	setTimeout(function(){
		console.log(check_status);
		$('#su_line').css("border-top", check_status == 4 ? "5px solid green" : "5px solid red");
	}, 300);
	init_checkbox();	
	$('#pageTitle').html('LED Film Admin');

	initLedfilm();
});
</script>