<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/common.js"></script>
<link href="/css/led.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED Signage Admin
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/'>Go to Dashboard</a>
            </div>
            <div class="panel-body" id="fanDiv">
				<h4>LED Open Detection (LOD)</h4>
				<table class=table>
					<tr>
						<th width=60%>Download Static LOD Status (CSV file)</th>
						<td><button id=lodData>Download</button></td>
					</tr>
					<tr>
						<th>Live LOD</th>
						<td>
							<input id='liveLOD' type="checkbox" class="grey">
							<label for="liveLOD">&nbsp;</label>
						</td>
					</tr>
				</table>
				<table class='table table-striped header-fixed' id='liveLodTable' style='display: none;'>
					<thead>
						<tr>
							<td colspan=5># of LOD : <span id=numLOD>0</span></td>
						</tr>
						<tr>
							<th>Unit</td>
							<th>Module</td>
							<th>V</td>
							<th>H</td>
							<th>Color</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>
var lodTimer = undefined;

function compareLocation(l1, l2) {
	var a1 = l1.split(',');	
	var a2 = l2.split(',');

	for (var i = 0; i != 4; ++i) {
		var n1 = Number(a1[i]);
		var n2 = Number(a2[i]);

		if (n1 > n2) {
			return 1;
		}
		if (n1 < n2) {
			return -1;
		}
	}

	return 0;
}

function showLiveLod(data) {
	$('#liveLodTable > tbody').empty();

	var keys = Object.keys(data);
	keys.sort(compareLocation);

	$('#numLOD').html(keys.length);

	keys.forEach(function(key) {
		var loc = key.split(',');
		var row = '<tr><td>' + (Number(loc[0]) / 2) + '</td><td>' + loc[1] + '</td><td>'
			+ loc[2] + '</td><td>' + loc[3] + '</td><td>' + data[key] + '</td></tr>'

		$('#liveLodTable > tbody:last').append(row);
	});
}

function lodTimerCallback() {
	liveLOD(function(ret) {
		showLiveLod(ret.data);
	});
}

$(document).ready(function(){
	var env = undefined;

	getUnitConfig(function(ret) {
		env = ret;
	});

	$('#lodData').click(function() {
		$('#liveLOD').prop('checked', false).change();
		overlayControl(true, "LED Open Detection...<br>Wait for 5 seconds...");
		showPattern(0, true, 1023,  1023,  1023);
		setTimeout(function() {
			setTimeout(function() {
				location.reload();
			}, env.onUnits.numOn * 10 * 1000);
			window.location = 'lodData';
		}, 5 * 1000);
	});

	liveLOD(function(ret) {
		$('#liveLOD').prop('checked', ret.isRunning);

		if (ret.isRunning) {
			lodTimer = setInterval(lodTimerCallback, 10 * 1000);
			$('#liveLodTable').show();
			showLiveLod(ret.data);
		}
	});

	$('#liveLOD').click(function() {
		var checked = $(this).prop('checked');
		startLiveLOD(checked, function(ret) {});

		if (checked) {
			lodTimer = setInterval(lodTimerCallback, 10 * 1000);
			$('#liveLodTable').show();
		} else {
			clearInterval(lodTimer);
			lodTimer = undefined;
			$('#liveLodTable > tbody').empty();
			$('#liveLodTable').hide();
			$('#numLOD').html('0');
		}
	});

	$('#pageTitle').html('LED Sigange Admin');
});

var env = {{{json env}}};
</script>
