<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/common.js"></script>
<script src="/js/page/range.js"></script>
<link href="/css/led.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED Signage Admin
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/'>Go to Dashboard</a>
            </div>
            <div class="panel-body" id="fanDiv">
				<h4>Configs<h4>
				<table class=table>
					<tr>
						<th width=60%>Hide OSD</th>
						<td>
							<input id='hideOsd' type="checkbox" class="grey">
							<label for="hideOsd">&nbsp;</label>
						</td>
					</tr>
					<tr>
						<th width=60%>IR Lock</th>
						<td>
							<input id='irLock' type="checkbox" class="grey">
							<label for="irLock">&nbsp;</label>
						</td>
					</tr>
					<tr>
						<th>Dynamic Brightness</th>
						<td>
							<button id=dbcOn>ON</button> <button id=dbcOff>Off</button>
						</td>
					</tr>
					<tr>
						<th>DPM</th>
						<td>
							<button id=dpmOff>DPM Off</button>
						</td>
					</tr>
				</table>

				<h4>Pattern<h4>
				<table class=table>
					<tr>
						<td>
							<input type=radio name=pattern value=Off checked>Off
						</td>
						<td>
							<input type=radio name=pattern value=R>Red
						</td>
						<td>
							<input type=radio name=pattern value=G>Green
						</td>
						<td>
							<input type=radio name=pattern value=B>Blue
						</td>
					</tr>
						<td>
							<input type=radio name=pattern value=W>White
						</td>
						<td>
							<input type=radio name=pattern value=Y>Yellow
						</td>
						<td>
							<input type=radio name=pattern value=M>Magenta
						</td>
						<td>
							<input type=radio name=pattern value=C>Cyan
						</td>
					</tr>
				</table>

				<h4>Edge Brightness Control<h4>
				<table class=table>
					<tr>
						<th width=60%>Unit ID</th>
						<td>
							<select id=edgeSlave>
							</select>
						</td>
					</tr>
					<tr>
						<td>Target Internal Pixel Offset : <input type=number id=avgEdgeOffset min=0 max=50 value=5></td>
						<td><button id=applyAvgEdge>Apply Average Edge</button></td>
					</tr>
					<tr>
						<td colspan=2>
							<input type=radio name=edgeColor value=3 checked>White&nbsp;&nbsp;&nbsp;<input type=radio name=edgeColor value=0>Red&nbsp;&nbsp;&nbsp;<input type=radio name=edgeColor value=1>Green&nbsp;&nbsp;&nbsp;<input type=radio name=edgeColor value=2>Blue
						</td>
					</tr>
					<tr>
						<td><button id=edgeApply>Apply</button><button id=edgeReset>Unit Factory Reset</button><!--<button id=edgeSaveFactory>Save Factory</button>--><button id=edgeSaveUser>Save User</button></td>
						<td><button id=edgeSaveUserAll>Save User for ALL</button></td>
					</tr>
					<tr>
						<td colspan=2>
							<table border=1>
								<tr>
									<td>0~200%</td>
									<td><input id=edge_0_0 type=number min=0 max=100 step=0.1 value=100>%</td>
									<td><input id=edge_1_0 type=number min=0 max=100 step=0.1 value=100>%</td>
									<td></td>
								</tr>
								<tr>
									<td><input id=edge_0_1 type=number min=0 max=100 step=0.1 value=100>%</td>
									<td bgcolor=#dddddd width=100px height=100px align=center>1</td>
									<td bgcolor=#dddddd width=100px height=100px align=center>2</td>
									<td><input id=edge_1_3 type=number min=0 max=100 step=0.1 value=100>%</td>
								</tr>
								<tr>
									<td><input id=edge_2_1 type=number min=0 max=100 step=0.1 value=100>%</td>
									<td bgcolor=#dddddd width=100px height=100px align=center>3</td>
									<td bgcolor=#dddddd width=100px height=100px align=center>4</td>
									<td><input id=edge_3_3 type=number min=0 max=100 step=0.1 value=100>%</td>
								</tr>
								<tr>
									<td></td>
									<td><input id=edge_2_2 type=number min=0 max=100 step=0.1 value=100>%</td>
									<td><input id=edge_3_2 type=number min=0 max=100 step=0.1 value=100>%</td>
									<td></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<h4>Internal Edge Control<h4>
				<table class=table>
					<tr>
						<th width=60%>Unit ID</th>
						<td>
							<select id=internalSlave>
							</select>
						</td>
					</tr>
					<tr>
						<th>Bank</th>
						<td>
							<select id=internalBank>
								<option value=0>1. Top Left</option>
								<option value=1>2. Top Right</option>
								<option value=2>3. Bottom Left</option>
								<option value=3>4. Bottom Right</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Color</th>
						<td>
							<input type=radio name=internalColor value=3 checked>White&nbsp;&nbsp;&nbsp;<input type=radio name=internalColor value=0>Red&nbsp;&nbsp;&nbsp;<input type=radio name=internalColor value=1>Green&nbsp;&nbsp;&nbsp;<input type=radio name=internalColor value=2>Blue
						</td>
					</tr>
					<tr>
						<th>Edge</th>
						<td>
							<input type=radio name=internalEdge value=0 checked>Top&nbsp;&nbsp;<input type=radio name=internalEdge value=2>Bottom&nbsp;&nbsp;<input type=radio name=internalEdge value=1>Left&nbsp;&nbsp;<input type=radio name=internalEdge value=3>Right&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<th>Percent (0~200)</th>
						<td><input type=number id=internalPercent min=0 max=100 value=100>%</td>
					</tr>
					<tr>
						<td colspan=2><button id=internalApply>Apply</button><button id=internalReset>Unit Factory Reset</button><!--<button id=pixelSaveFactory>Save Factory</button>--><button id=internalSaveUser>Save User</button></td>
					</tr>
					<tr>
				</table>

				<h4>Pixel Brightness Control<h4>
				<table class=table>
					<tr>
						<th width=60%>Unit ID</th>
						<td>
							<select id=pixelSlave>
							</select>
						</td>
					</tr>
					<tr>
						<th>Bank</th>
						<td>
								<select id=pixelBank>
								<option value=0>1. Top Left</option>
								<option value=1>2. Top Right</option>
								<option value=2>3. Bottom Left</option>
								<option value=3>4. Bottom Right</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>V (0~179)</th>
						<td><input type=number id=pixelV value=0 min=0 max=179></td>
					</tr>
					<tr>
						<th>H (0~191)</th>
						<td><input type=number id=pixelH value=0 min=0 max=191></td>
					</tr>
					<tr>
						<th>Percent (0~200)</th>
						<td><input type=number id=pixelPercent min=0 max=100 value=100>%</td>
					</tr>
					<tr>
						<td colspan=2><button id=pixelApply>Apply</button><button id=pixelReset>Unit Factory Reset</button><!--<button id=pixelSaveFactory>Save Factory</button>--><button id=pixelSaveUser>Save User</button></td>
					</tr>
					<tr>
				</table>

				<h4>Low Grey Scale Enhancement (LGSE) & Interference</h4>
				<table class=table>
					<tr>
						<th width=60%>Unit ID</th>
						<td colspan="2">
							<select id=lgseSlave value=1>
							</select>
						</td>
					</tr>
					<tr>
						<th width=60%>Module # (LGSE Only)</th>
						<td colspan="2">
							<select id=lgseModule value=1>
							</select>
						</td>
					</tr>
					<tr>
						<th width=60%>LGSE Red</th>
						<td class="second">
							<input class=custom id=lgseRed type=range min=0 max=15 value=0>
						</td>
						<td class="third">
							<span id=lgseRedVal style="display:inline-block; width:100px;"></span>
						</td>
					</tr>
					<tr>
						<th width=60%>LGSE Green</th>
						<td class="second">
							<input class=custom id=lgseGreen type=range min=0 max=15 value=0>
						</td>
						<td class="third">
							<span id=lgseGreenVal style="display:inline-block; width:100px;"></span>
						</td>
					</tr>
					<tr>
						<th width=60%>LGSE Blue</th>
						<td class="second">
							<input class=custom id=lgseBlue type=range min=0 max=15 value=0>
						</td>
						<td class="third">
							<span id=lgseBlueVal style="display:inline-block; width:100px;"></span>
						</td>
					</tr>
					<tr>
						<th width=60%>Interference Red</th>
						<td class="second">
							<input class=custom id=interferenceRed type=range min=0 max=3 value=0>
						</td>
						<td class="third">
							<span id=interferenceRedVal style="display:inline-block; width:100px;"></span>
						</td>
					</tr>
					<tr>
						<th width=60%>Interference Green</th>
						<td class="second">
							<input class=custom id=interferenceGreen type=range min=0 max=3 value=0>
						</td>
						<td class="third">
							<span id=interferenceGreenVal style="display:inline-block; width:100px;"></span>
						</td>
					</tr>
					<tr>
						<th width=60%>Interference Blue</th>
						<td class="second">
							<input class=custom id=interferenceBlue type=range min=0 max=3 value=0>
						</td>
						<td class="third">
							<span id=interferenceBlueVal style="display:inline-block; width:100px;"></span>
						</td>
					</tr>
					<tr>
						<td colspan=3 align=center>
							<button class='img-button xsmall' id=configSave style='margin: 0 0 7 0;'><span class=SaveTxt>Save</span></button>
						</td>
					</tr>
				</table>
                
                <h4>Mini LED Randomize Pixel<h4>
				<table class=table>
					<tr>
						<th width=60%>Unit ID</th>
						<td>
							<select id=miniSlave>
							</select>
						</td>
					</tr>
					<tr>
						<th>Bank</th>
						<td>
								<select id=miniBank>
								<option value=0>1. Top Left</option>
								<option value=1>2. Top Right</option>
								<option value=2>3. Bottom Left</option>
								<option value=3>4. Bottom Right</option>
							</select>
						</td>
					</tr>
                    <tr>
                        <th>Reset Gain</th>
                        <td><input type=number id=miniResetGainVal value=800 min=0 max=1023><button id=miniResetGain>Reset</button></td>
                    </tr>
                    <tr>
						<th>Color</th>
                        <td>
							<input type=radio name=miniColor value=0>Red&nbsp;&nbsp;&nbsp;<input type=radio name=miniColor value=1>Green&nbsp;&nbsp;&nbsp;<input type=radio name=miniColor value=2>Blue&nbsp;&nbsp;&nbsp;<input type=radio name=miniColor value=3>White
                        </td>
                    </tr>
					<tr>
						<th>Medium Gain</th>
						<td><input type=number id=miniMidGain value=800 min=0 max=1023></td>
					</tr>
					<tr>
						<th>Randomize Range</th>
						<td><input type=number id=miniRange value=40 min=0 max=200></td>
					</tr>
					<tr>
						<th>Position</th>
						<td><input type=number id=miniPosStart value=0 min=0 max=180> ~ <input type=number id=miniPosEnd value=90 min=0 max=180></td>
					</tr>
					<tr>
						<td colspan=2><button id=miniApply>Apply</button></td>
					</tr>
					<tr>
				</table>


            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>

function overlayForSeconds(seconds, msg) {
	overlayControl(true, Locale.getText('Apply') + '....');
	setTimeout(function() {
		overlayControl(false);
	}, seconds * 1000);
}
$(document).ready(function(){
	var env = undefined;

	getUnitConfig(function(ret) {
		env = ret;
	});

	getConfigs(function(msg) {
		$('#hideOsd').prop('checked', msg.configs["commercial.disableOsd"]);
	});

	getSystemSettings('hotelMode', ['enableIrRemote'], function(msg) {
		$('#irLock').prop('checked', msg.enableIrRemote !== 'normal');
	});

	$('#hideOsd').change(function() {
		var checked = $(this).prop('checked');
		setConfigs(checked);
		setMouseVisibility(checked ? false : true);
	});

	$('#irLock').change(function() {
		var checked = $(this).prop('checked');
		setSystemSettings('hotelMode', {
			enableIrRemote: checked ? 'blockAll' : 'normal'
		});
	});

	function convertColorTempTxt(val) {
		if (val == 0) {
			return val;
		};
		if (val < 0) {
			return 'Warm' + Math.abs(val);
		}
		return 'Cool' + val;
	}

	$('[name=pattern]').click(function() {
		var value = $(this).val();
		var on = (value != 'Off');
		var R = (value == 'R' || value == 'Y' || value == 'M' || value == 'W') ? 1023 : 0;
		var G = (value == 'G' || value == 'Y' || value == 'C' || value == 'W') ? 1023 : 0;
		var B = (value == 'B' || value == 'C' || value == 'M' || value == 'W') ? 1023 : 0;
		showPattern(0, on, R, G, B);
	});

	$('#dbcOn').click(function() {
		setPMControl(true);
	});
	$('#dbcOff').click(function() {
		setPMControl(false);
	});
	$('#dpmOff').click(function() {
		setSystemSettings('commercial', {
			dpmMode: 'off'
		});
	});

	$('#lgseSlave').append('<option>All Units</option>');
	for (var i = 1; i <= 60; ++i) {
		$('#pixelSlave').append('<option>' +  i +  '</option>');
		$('#edgeSlave').append('<option>' +  i +  '</option>');
		$('#internalSlave').append('<option>' +  i +  '</option>');
		$('#lgseSlave').append('<option>' +  i +  '</option>');
		$('#miniSlave').append('<option>' +  i +  '</option>');
	}

	$('#lgseModule').append('<option>All Modules</option>');
	for (var i = 1; i <= 4; ++i) {
		$('#lgseModule').append('<option>' +  i +  '</option>');
	}

	$('#pixelApply').click(function() {
		overlayForSeconds(1, 'Applying...');
		var slave = $('#pixelSlave').val() * 2;
		var bank = $('#pixelBank').val();
		var pixelV = $('#pixelV').val();
		var pixelH = $('#pixelH').val();
		var coeff = $('#pixelPercent').val();
		setPixelBrightness(slave, bank, pixelV, pixelH, Number(coeff) / 100.0);
		$('#pixelPercent').val('100');
	});

	$('#pixelReset').click(function() {
		var slave = $('#pixelSlave').val() * 2;
		overlayControl(true, 'Loading...');
		loadCalibrationData(slave, 'factory', function() {
			overlayControl(false);
		});
	});

	$('#edgeApply').click(function() {
		overlayForSeconds(8, 'Applying...');
		var slave = $('#edgeSlave').val() * 2;
		$('[id^="edge_"]').each(function() {
			var idStr = $(this).attr('id');
			var id = idStr.split('_');
			var rgbw = $('[name=edgeColor]:checked').val()

			setEdgeBrightness(slave, id[1], id[2], Number($(this).val()) / 100.0, rgbw);
			$(this).val(100);
		});
	});

	$('#edgeReset').click(function() {
		var slave = $('#edgeSlave').val() * 2;
		overlayControl(true, 'Loading...');
		loadCalibrationData(slave, 'factory', function() {
			overlayControl(false);
		});
	});

	$('#internalApply').click(function() {
		overlayForSeconds(1, 'Applying...');
		var slave = $('#internalSlave').val() * 2;
		var rgbw = $('[name=internalColor]:checked').val()
		setEdgeBrightness(slave, $('#internalBank').val(), $('[name=internalEdge]:checked').val(), Number($('#internalPercent').val()) / 100.0, rgbw);
		$('#internalPercent').val('100');
	});

	$('#internalReset').click(function() {
		var slave = $('#internalSlave').val() * 2;
		overlayControl(true, 'Loading...');
		loadCalibrationData(slave, 'factory', function() {
			overlayControl(false);
		});
	});

	$('#pageTitle').html('LED Sigange Admin');

	function saveToFlash(slave, user) {
		var i2cSlave = slave == 0 ? 2 : slave;

		overlayControl(true, Locale.getText('Apply') + '....');
		getI2C(i2cSlave, 0x12, function(msg) {
			var val = msg.result.bytes[0];
			if (user) {
				val |= 0x08;
			} else {
				val &= 0xf7;
			}
			saveCalibrationData(slave, -1, function(ret) {
				setI2C(slave, 0x12, val);
				getI2C(i2cSlave, 0x7e, function(msg2) {
					var val = msg2.result.bytes[0];
					val |= 0x80;
					setI2C(slave, 0x7e, val);
					overlayControl(false);
				});
			});
		});
	}

	$('#pixelSaveUser').click(function() {
		var slave = $('#pixelSlave').val() * 2;
		saveToFlash(slave, true);
	});
	$('#edgeSaveUser').click(function() {
		var slave = $('#edgeSlave').val() * 2;
		saveToFlash(slave, true);
	});
	$('#edgeSaveUserAll').click(function() {
		var slave = 0;
		saveToFlash(slave, true);
	});
	$('#internalSaveUser').click(function() {
		var slave = $('#internalSlave').val() * 2;
		saveToFlash(slave, true);
	});

	$('#edgeSlave').change(function() {
		$('[id^="edge_"]').val('100');
	});
	
	$('#internalSlave').change(function() {
		$('#internalPercent').val('100');
	});

	$('#pixelSlave').change(function() {
		$('#pixelPercent').val('100');
	});


	$('#applyAvgEdge').click(function() {
		var slave = $('#edgeSlave').val() * 2;
		var offset = $('#avgEdgeOffset').val();

		overlayControl(true, Locale.getText('Apply') + '....');
		setAverageEdgeGain(slave, offset, function() {
			overlayControl(false);	
		});
	});

	function lgseInterfereLoadFailureCheck(type, rgb, retVal) {
		if (typeof lgseInterfereLoadFailureCheck.finalRetVal === 'undefined') {
			lgseInterfereLoadFailureCheck.finalRetVal = true;
		}

		if (!retVal) {
			lgseInterfereLoadFailureCheck.finalRetVal = false;
		}

		if (type === "interference" && rgb === "b") {
			if (!(lgseInterfereLoadFailureCheck.finalRetVal)) {
				setTimeout(alert, 100, ("Cannot Load LGS/Interference Settings of Unit #" + $('#lgseSlave').val() + "/Module #" + $('#lgseModule').val()));
			}
			lgseInterfereLoadFailureCheck.finalRetVal = true;
		}
	}

	function refreshLgseInterfereSlaveModule() {
		var rgb = [
			"r",
			"g",
			"b"
		];
		var redGreenBlue = [
			"Red",
			"Green",
			"Blue"
		];

		for (var i = 0; i < 3; i++) {
			var lgseIdName = 'lgse' + redGreenBlue[i];
			var interfereIdName = 'interference' + redGreenBlue[i];

			(function() {
				var index = i;
				var lgseName = lgseIdName;
				var interfereName = interfereIdName;

				getLgseInterfereVal($('#lgseSlave').val() * 2, $('#lgseModule').val() - 1, "lgse", rgb[index], function(msg) {
					if (msg.returnValue) {
						$('#' + lgseName).prop("disabled", false);
						$('#' + lgseName).val(msg.result.getVal);
						$('#' + lgseName + 'Val').html(msg.result.getVal);
						checkRangeUI(lgseName, 0, 15);
					} else {
						$('#' + lgseName).val(0);
						$('#' + lgseName + 'Val').html(0);
						checkRangeUI(lgseName, 0, 15);
						$('#' + lgseName).prop("disabled", true);
						lgseInterfereLoadFailureCheck("lgse", rgb[index], false);
					}
				});

				getLgseInterfereVal($('#lgseSlave').val() * 2, $('#lgseModule').val() - 1, "interference", rgb[index], function(msg) {
					if (msg.returnValue) {
						$('#' + interfereName).prop("disabled", false);
						$('#' + interfereName).val(msg.result.getVal);
						$('#' + interfereName + 'Val').html(msg.result.getVal);
						checkRangeUI(interfereName, 0, 3);
					} else {
						$('#' + interfereName).val(0);
						$('#' + interfereName + 'Val').html(0);
						checkRangeUI(interfereName, 0, 3);
						$('#' + interfereName).prop("disabled", true);
						lgseInterfereLoadFailureCheck("interference", rgb[index], false);
					}
				});
			})();
		}
	}

	refreshLgseInterfereSlaveModule();

	$('#lgseSlave').change(refreshLgseInterfereSlaveModule);
	$('#lgseModule').change(refreshLgseInterfereSlaveModule);

	function refreshLgseInterfereVal(eventData) {
		var rgbIndex;
		var rgb = [
			"r",
			"g",
			"b"
		];
		var redGreenBlue = [
			"Red",
			"Green",
			"Blue"
		];

		if (eventData.data.rgb === "r") {
			rgbIndex = 0;
		} else if (eventData.data.rgb === "g") {
			rgbIndex = 1;
		} else if (eventData.data.rgb === "b") {
			rgbIndex = 2;
		}

		var idName = eventData.data.type + redGreenBlue[rgbIndex];
		var val = $('#' + idName).val();

		$('#' + idName + 'Val').html(val);
		var givenLgseSlaveNum;
		var givenLgseModuleNum;
		if ($('#lgseSlave').val() === 'All Units') {
			givenLgseSlaveNum = 0;
		} else {
			givenLgseSlaveNum = $('#lgseSlave').val() * 2;
		}
		if ($('#lgseModule').val() === 'All Modules') {
			givenLgseModuleNum = -1;
		} else {
			givenLgseModuleNum = $('#lgseModule').val() - 1;
		}
		setLgseInterfereVal(givenLgseSlaveNum, givenLgseModuleNum, eventData.data.type, rgb[rgbIndex], val, function(ret) {
			if (!ret) {
				alert("Cannot Set LGSE/Interference Value!");
				$('#' + idName).val(0);
				$('#' + idName + 'Val').html(0);
				$('#' + idName).prop("disabled", true);
			}
		});
	}

	$('#lgseRed').change({type: "lgse", rgb: "r"}, refreshLgseInterfereVal).on('input', function() {
		checkRangeUI('lgseRed', 0, 15);
	});
	$('#lgseGreen').change({type: "lgse", rgb: "g"}, refreshLgseInterfereVal).on('input', function() {
		checkRangeUI('lgseGreen', 0, 15);
	});
	$('#lgseBlue').change({type: "lgse", rgb: "b"}, refreshLgseInterfereVal).on('input', function() {
		checkRangeUI('lgseBlue', 0, 15);
	});
	$('#interferenceRed').change({type: "interference", rgb: "r"}, refreshLgseInterfereVal).on('input', function() {
		checkRangeUI('interferenceRed', 0, 3);
	});
	$('#interferenceGreen').change({type: "interference", rgb: "g"}, refreshLgseInterfereVal).on('input', function() {
		checkRangeUI('interferenceGreen', 0, 3);
	});
	$('#interferenceBlue').change({type: "interference", rgb: "b"}, refreshLgseInterfereVal).on('input', function() {
		checkRangeUI('interferenceBlue', 0, 3);
	});

	$('#configSave').click(function() {
		saveConfig(0);
	});

    $('#miniApply').click(function() {
        var unit = $('#miniSlave').val();
        var slave = unit * 2;
        var bank = $('#miniBank').val();
        if (!confirm("Reset R/G/B Gain for UNIT #" + unit + " Bank #" + (bank + 1) + " ?")) {
            return;
        }

		var color = $('[name=miniColor]:checked').val()
        var medGain = $('#miniMidGain').val();
        var range = $('#miniRange').val();
        var start = $('#miniPosStart').val();
        var end = $('#miniPosEnd').val();

        setRandomPixelGain(slave, bank, medGain, start, end, color, range, function(msg) {
            console.log(msg);
        });
    });

    $('#miniResetGain').click(function() {
        var unit = $('#miniSlave').val();
        var slave = unit * 2;
        var bank = $('#miniBank').val();
        if (!confirm("Reset R/G/B Gain for UNIT #" + unit + " Bank #" + (bank + 1) + " ?")) {
            return;
        }

        var gain = $('#miniResetGainVal').val();

        setPixelCalibration(slave, bank, gain, function(msg) {
            console.log(msg);
        });
    });
});

var env = {{{json env}}};
</script>
