<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/common.js"></script>
<link href="/css/led.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			Video Scaler Admin
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/'>Go to Dashboard</a>
            </div>
            <div class="panel-body" id="fanDiv">
				<h4>Video Scaler<h4>
	            <table class="table">
					<tbody>
						<tr id=colorTempTr>
							<td class="first">Video Scaler</td>
							<td class="second">
								<input id='scalerOn' type="checkbox" class="grey">
								<label for="scalerOn">&nbsp;</label>
							</td>
							<td class="third">
							</td>
						</tr>
						<tr id=colorTempTr>
							<td class="first">Reference Resolution</td>
							<td class="second">
								<input type=number id=refW min=0 max=10000>x<input type=number id=refH min=0 max=10000>
							</td>
							<td class="third">
							</td>
						</tr>
						<tr id=colorTempTr>
							<td class="first">Custom Resolution</td>
							<td class="second">
								<input id='customOn' type="checkbox" class="grey">
								<label for="customOn">&nbsp;</label>
								@ <input type=number id=originalW min=0 max=10000>x<input type=number id=originalH min=0 max=10000>
							</td>
						</tr>

						<tr>
							<td class="first">Input Window</td>
							<td class="second">
								<table class=table>
									<tr>
										<td>X</td>
										<td><input id=inX type=number min=0 max=10000></td>
									</tr>
									<tr>
										<td>Y</td>
										<td><input id=inY type=number min=0 max=10000></td>
									</tr>
									<tr>
										<td>Width</td>
										<td><input id=inW type=number min=0 max=10000></td>
									</tr>
									<tr>
										<td>Height</td>
										<td><input id=inH type=number min=0 max=10000></td>
									</tr>
								</table>
							</td>
							<td class="third">
							</td>
						</tr>
						<tr>
							<td class="first">Output Window</td>
							<td class="second">
								<table class=table>
									<tr>
										<td>X</td>
										<td><input id=outX type=number min=0 max=10000></td>
									</tr>
									<tr>
										<td>Y</td>
										<td><input id=outY type=number min=0 max=10000></td>
									</tr>
									<tr>
										<td>Width</td>
										<td><input id=outW type=number min=0 max=10000></td>
									</tr>
									<tr>
										<td>Height</td>
										<td><input id=outH type=number min=0 max=10000></td>
									</tr>
								</table>
							</td>
							<td class="third">
							</td>
						</tr>
					</tbody>				
				</table>
				<center>
				<button id="customApply" class="img-button ApplyTxt">Apply</button>
				</center>
				<br><br>
				<h4>Controller Group</h4>
				<table class=table id=groupTable>
					<thead>
						<tr>
							<th rowspan=2>IP</th><th colspan=2>Control</th><th colspan=2>DBC</th>
						</tr>
						<tr>
							                     <td>Master</td><td>Slave</td><td>Master</td><td>Slave</td>
						</tr>
					</thead>
				</table>
				<center>
				<button id="groupApply" class="img-button ApplyTxt">Apply</button>
				</center>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>

$(document).ready(function(){
	var env = undefined;

	getSystemSettings("commercial", ["ledResolutionWindow"], function(ret) {
		$('#scalerOn').prop('checked', ret.ledResolutionWindow.on);
		$('#customOn').prop('checked', ret.ledResolutionWindow.custom);
		$('#refW').val(ret.ledResolutionWindow.reference.w);
		$('#refH').val(ret.ledResolutionWindow.reference.h);
		$('#originalW').val(ret.ledResolutionWindow.referenceOriginal.w);
		$('#originalH').val(ret.ledResolutionWindow.referenceOriginal.h);

		$('#inX').val(ret.ledResolutionWindow.input.x);
		$('#inY').val(ret.ledResolutionWindow.input.y);
		$('#inW').val(ret.ledResolutionWindow.input.w);
		$('#inH').val(ret.ledResolutionWindow.input.h);

		$('#outX').val(ret.ledResolutionWindow.output.x);
		$('#outY').val(ret.ledResolutionWindow.output.y);
		$('#outW').val(ret.ledResolutionWindow.output.w);
		$('#outH').val(ret.ledResolutionWindow.output.h);
	});

	$('#customApply').click(function() {
		$('#applyModal').modal();
	});

	addConfirmModal('applyModal', Locale.getText('Apply') + '?', '', function() {
		var setting = {
			on: $('#scalerOn').prop('checked'),
			custom: $('#customOn').prop('checked'),
			reference: {
				w: $('#refW').val(),
				h: $('#refH').val()
			},
			referenceOriginal: {
				w: $('#originalW').val(),
				h: $('#originalH').val()
			},

			input: {
				x: $('#inX').val(),
				y: $('#inY').val(),
				w: $('#inW').val(),
				h: $('#inH').val()
			},
			output: {
				x: $('#outX').val(),
				y: $('#outY').val(),
				w: $('#outW').val(),
				h: $('#outH').val()
			}
		};
	
		setSystemSettings("commercial", {
			ledResolutionWindow: setting
		});
	});

	var sharedIp = [];
	var curIp = undefined;

	function addIpRow(ip, isCurController) {
		$('#groupTable').append('<tr><td class=first>' + ip + (isCurController ? ' (This)' : '') + '</td>'
			+ '<td><input type=checkbox class=grey id=master_con_' + ip + '><label for=master_con_' + ip + '>&nbsp;</label></td>'
			+ '<td><input type=checkbox class=grey id=slave_con_' + ip + '><label for=slave_con_' + ip + '>&nbsp;</label></td>'
			+ '<td><input type=checkbox class=grey id=master_dbc_' + ip + '><label for=master_dbc_' + ip + '>&nbsp;</label></td>'
			+ '<td><input type=checkbox class=grey id=slave_dbc_' + ip + '><label for=slave_dbc_' + ip + '>&nbsp;</label></td>'
			+ '</tr>');
	}

	function getIpFromCheckbox(checkbox) {
		return checkbox.attr('id').split('_')[2];
	}

	function masterHandler(e) {
		var prefix = $(this).attr('id').substr(0, 11);
		var ip = getIpFromCheckbox($(this)).replace(/\./gi, '\\\.');
		var checked = $(this).prop('checked');

		$('[id^="' + prefix + '"]').prop('checked', false);
		$(this).prop('checked', checked);

		if (checked) {
			var slavePrefix = prefix.replace('master', 'slave');
			$('#' + slavePrefix + ip).prop('checked', false);
		}
	}

	function slaveHandler() {
		var prefix = $(this).attr('id').substr(0, 10);
		var checked = $(this).prop('checked');
		var ip = getIpFromCheckbox($(this)).replace(/\./gi, '\\\.');
		if (checked) {
			var masterPrefix = prefix.replace('slave', 'master');
			$('#' + masterPrefix + ip).prop('checked', false);
		}
	}

	function setupGroupCheckbox() {
		getGroupFile('control', function(ret) {
			$('#master_con_' + ret.master.replace(/\./gi, '\\.')).prop('checked', true);
			for (var i = 0; i < ret.numSlaves; ++i) {
				$('#slave_con_' + ret.slaves[i].replace(/\./gi, '\\.')).prop('checked', true);
			}
		});

		getGroupFile('dbc', function(ret) {
			$('#master_dbc_' + ret.master.replace(/\./gi, '\\.')).prop('checked', true);
			for (var i = 0; i < ret.numSlaves; ++i) {
				$('#slave_dbc_' + ret.slaves[i].replace(/\./gi, '\\.')).prop('checked', true);
			}
		});

	}

	getNetworkStatus(function(ret) {
		curIp = ret.wired.ipAddress;
		addIpRow(curIp, true);
		getSharedIpList(function(ret) {
			sharedIp = ret.result.sharedIpList;
			sharedIp.forEach(function(ip) {
				addIpRow(ip);
			});

			$('[id^="master"]').change(masterHandler);
			$('[id^="slave"]').change(slaveHandler);

			setupGroupCheckbox();
		});
	});

	function applyGroup(type) {
		var result = '';
		var numMaster = 0;
		var prefix = type == 'dbc' ? 'dbc' : 'con';

		$('[id^="master_' + prefix + '_"]').each(function() {
			if ($(this).prop('checked')) {
				++numMaster;
				result += getIpFromCheckbox($(this)) + '\n';
			}
		});

		var numSlave = 0;
		var slaveSel = '';

		$('[id^="slave_' + prefix + '_"]').each(function() {
			if ($(this).prop('checked')) {
				++numSlave;
				slaveSel += getIpFromCheckbox($(this)) + '\n';
			}
		});

		result += numSlave + '\n' + slaveSel;

		setGroupFile(type, result);

	}

	$('#groupApply').click(function() {
		overlayControl(true, 'Applying');
		applyGroup('dbc');
		applyGroup('control');
		setTimeout(function() {
			overlayControl(false);
		}, 1000);
	});

	$('#pageTitle').html('Video Scaler Admin');
});

var env = {{{json env}}};

</script>
