<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<div class="row">
	<div class="col-md-12">
		<!-- Basic Status Here -->
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title ChangePasswdTxt"></h4>
				<hr>
			</div>
			<table class='table'>
				<tbody>
				<tr>
					<td class="td-component-title CurrentPasswdTxt">
						<br>
						<input type="password" name="current" id="current" class="custom passwd-mobile">
					</td>
				</tr>
				<tr>
					<td class="td-component-title NewPasswdTxt">
						<br>
						<input type="password" name="passwd" id="passwd" class="custom passwd-mobile">
					</td>
				</tr>
				<tr>
					<td class="td-component-title ConfirmPasswdTxt">
						<br>
						<input type="password" name="check" id="check" class="custom passwd-mobile">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel-bottom panel-mobile">
			<div class="wrapper-center">
				<a href="/dashBoard">
					<button class='img-button-mobile small CancelTxt' id='cancel'></button>
				</a>
				<button class='img-button-mobile small ApplyTxt' id='change'></button>
			</div>
		</div>
	</div>
</div>

<script>
	var env = {{{ json env }}};
	Locale.callback = function () {
		$('.CurrentPasswdTxt').prepend(Locale.getText("Current Password"));
		$('.NewPasswdTxt').prepend(Locale.getText("New Password"));
		$('.ConfirmPasswdTxt').prepend(Locale.getText("Confirm New Password"));
		$('.ChangePasswdTxt').text(Locale.getText("Change Password"));
		$('.ApplyTxt').text(Locale.getText("Apply"));
		$('.CancelTxt').text(Locale.getText("Cancel"));
		$('#pageTitle').html(Locale.getText('Change Password'));
	};
	Locale.init(env);
</script>
<script src="/js/page/changePasswd.js"></script>
