<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<link href="/css/led.css" rel="stylesheet">
<div class="row">
	<!--<div class="top-refresh">
		<button class="btn-refresh" onclick='window.location.reload();'>Refresh</button>
	</div>-->
	<div>
		<center><ul class=pagination id=pager></ul></center>
	</div>
	<br/>
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
				<h4 class='panel-title'><span class='TemperatureTxt'></span>
					<div class="top-right-refresh">
						<button class="btn-refresh RefreshTxt" onclick='window.location.reload();'></button>
					</div>
					<button id=celButton class=unitButton>°C</button><button id=fahrButton class=unitButton>°F</button>
				</h4>
				<hr>
			</div>
            <div class="panel-body" id=tempPanel>
				<div class='col-mo-10'>
 	               	<canvas id="tempChart"></canvas>
				</div>
                <div class="col-mo-2" id='tempLegend'>
				</div>
            </div>
		</div>
		{{#supportFan}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
				<h4 class='panel-title'>
					<strong><span class=FanRPMTxt></span></strong>
				</h4>
				<hr>
            </div>
            <div class="panel-body" id=fanPanel>
				<div class='col-mo-10'>
                    <canvas id="fanChart"></canvas>
				</div>
                <div class="col-mo-2" id='fanLegend'>
				</div>
            </div>
		</div>
		{{/supportFan}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
				<h4 class='panel-title'>
					{{#supportLedSignage}}
						<strong><span class=ContrastTxt></span>/<span class=EyeQTxt></span></strong>
					{{else}}
						{{#supportLocale}}
							<strong><span class=BacklightTxt></span>/<span class=EyeQTxt></span></strong>
						{{else}}
							<strong>Backlight/EyeQ sensor</strong>
						{{/supportLocale}}
					{{/supportLedSignage}}
				</h4>
				<hr>
            </div>
            <div class="panel-body" id=backlightPanel>
				<div class='col-mo-10'>
					<canvas id="backlightChart"></canvas>
                </div>
                <div class="col-mo-2" id='backlightLegend'>
				</div>
            </div>
		</div>
		{{#env.supportBrighness}}
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<strong>
						<span class="BrightnessTxt"></span>
					</strong>
				</h4>
				<hr>
			</div>
			<div class="panel-body" id="brightnessPanel">
				<div class="col-mo-10">
					<canvas id="brightnessChart"></canvas>
				</div>
				<div class="col-mo-2" id="brightnessLegend">
				</div>
			</div>
		</div>
		{{/env.supportBrighness}}
		{{#env.supportAcCurrent}}
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<strong>
						<span class="AcCurrentTxt"></span>
					</strong>
				</h4>
				<hr>
			</div>
			<div class="panel-body" id="AcCurrentPanel">
				<div class='col-mo-10'>
					<canvas id="AcCurrentChart"></canvas>
				</div>
				<div class="col-mo-2" id="AcCurrentLegend">
				</div>
			</div>
		</div>
		{{/env.supportAcCurrent}}
	</div>
</div><!-- /.col-md-12 -->
<!-- /.row -->
<script>
var defaultHistorySize = 30;
var chartPage = {{page}};

if (chartPage < 1) {
	chartPage = 1;
}

var pageSet = 5;

var start = (chartPage - 1) * defaultHistorySize;
var end = start + defaultHistorySize;

var currentTime = '{{currentTime}}';
var env = undefined;
</script>

<script src="/js/page/charts.js"></script>

<script>
function initChart() {
	getCurrentTime(function(msg) {
		currentTime = msg.current;
		startTemperatureChart(tempSensors);
		{{#supportFan}}
			startFanChart();
		{{/supportFan}}
		startBacklightChart();

		{{#env.supportBrighness}}
			startBrightnessChart();
		{{/env.supportBrighness}}
		{{#env.supportAcCurrent}}
			startAcCurrentChart();
		{{/env.supportAcCurrent}}
	});

	$('#pageTitle').html(Locale.getText('Charts'));
}

$(document).ready(function(){
	env = {{{json env}}}
	init();
	chartOption.legendTemplate = "<ul class=list-group><% for (var i=0; i<datasets.length; i++){%><li class=\"list-group-item mobile float-left\"><span class=badge style=\"background-color:<%=datasets[i].strokeColor%>\">&nbsp;</span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>";

	{{#each env.curTempSensor}}
	tempSensors.push({id: "{{id}}", name: "{{name}}"});
	{{/each}}

{{#supportFan}}
	{{#each env.fan}}
	fans.push({id: "{{id}}", name: "{{name}}"});
	{{/each}}
{{/supportFan}}

	Locale.callback = function() {
		$('.TemperatureTxt').text(Locale.getText("Temperature"));
		$('.BacklightTxt').text(Locale.getText("Backlight"));
		$('.FanRPMTxt').text(Locale.getText("Fan RPM"));
		$('.ContrastTxt').text(Locale.getText("Contrast"));
		$('.EyeQTxt').text('\u202B ' + Locale.getText("EyeQ sensor").replace(' ', '\u202C'));
		$('.RefreshTxt').text(Locale.getText("Refresh"));
		$('.BrightnessTxt').text(Locale.getText("Brightness"));
		$('.AcCurrentTxt').text(Locale.getText("AC Current"));
		initChart();
	};

	Locale.init(env);
	if (env.locale == 'ar-SA') {
		$('.col-md-2').css('float', 'right');
		$('.col-md-10').css('float', 'right');
	}
});
</script>
