<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/checkscreen.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title CheckScreenTxt">
					<span id='checkScreenReturn'></span>
				</h4>
				<hr>
			</div>
			<table class='table'>
			<tbody>
				<tr>
					<td class="first"><span class='CheckScreenTxt'></span></td>
					<td class="second">
						<div class="wrapper-center">
							<input id='isCheckScreenOn' type="checkbox" class="grey">
							<label for="isCheckScreenOn">&nbsp;</label>
						</div>
					</td>
					<td class="third"></td>
				</tr>
			</tbody>
			</table>
			{{#supportOutdoorCheckScreen}}
			<div class="panel-body">
				<div class="col-md-12">
					<div class='col-md-6'>
						<span class='StatusTxt'></span> :&nbsp;
						<span id=calibrated>Reading...</span>
					</div>
				</div>
				<div class="col-md-12">
					<table class='table table-bordered table-striped'>
						<thead><tr>
							<th><span class='PositionTxt'></span></th>
							<th><span class='WidthTxt'></span></th>
							<th><span class='HeightTxt'></span></th>
						</tr></thead>
						<tr>
							<td><span id=position></span></td>
							<td><span id=width></span></td>
							<td><span id=height></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-default panel-mobile">
			<div class="panel-body">
				<div class="col-md-12">

					<table class='table'>
					<tbody>
						<tr>
							<td class="first"><span class='ShowColorTxt'></span></td>
							<td class="second">
								<div class="wrapper-center">
									<input type=checkbox id='showColor' class=grey>
									<label for='showColor'>&nbsp;</label>
								</div>
							</td>
							<td class="third"></td>
						</tr>
						<tr>
							<td class="first"><span class='StatusTxt'></span></td>
							<td class="second">
								<div class="wrapper-center">
									<div class="wrapper-center">
										<span id=valid></span>
									</div>
								</div>
							</td>
							<td class="third"></td>
						</tr>
					</tbody>
					<table class='table showcolor-status showColorStatus mobile'>
						<tr>
							<td class='showcolor-subject no-border-top DrawTxt'></td>
							<td class='showcolor-object no-border-top'>
								<div style="float:left;">
									<div style="width:50px; height:40px;">
										<img src='/images/image_draw.png'>
									</div>
									<div id=drawColor style="width:40px; height:24px; position:relative; top: -38px; left: 4px">
									</div>
								</div>
							</td>
						</tr>
						<tr class='no-border-bottom'>
							<td class='showcolor-subject'><span class='SensorTxt'></span></td>
							<td class='showcolor-object'>
								<div style="width:50px; height:40px;">
									<img src='/images/image_sensor.png'>
								</div>
								<div id=sensorColor style="width:36px; height:25px; position:relative; top: -36px; left: 6px">
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			{{/supportOutdoorCheckScreen}}
		</div>
		{{#supportXE}}
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<span class='BLUStatusTxt'></span>
					<span id='checkScreenReturn'></span>
				</h4>
				<hr>
			</div>
			<table class='table'>
			<tbody>
				<tr>
					<td class="first"><span class='BLUStatusTxt'></span></td>
					<td class="second">
						<div class="wrapper-center">
							<span id="BLUReturn"></span>
						</div>
					</td>
					<td class="third"></td>
				</tr>
			</tbody>
			</table>
		</div>
		{{/supportXE}}

		{{#env.supportPsuStatus}}
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					PSU Status
					<span id='checkScreenReturn'></span>
				</h4>
				<hr>
			</div>
			<table class='table'>
			<tbody>
				{{#for 1 env.psuNum 1}}
				<tr>
					<td class="first">PSU #{{this}}</td>
					<td class="second">
						<div class="wrapper-center">
							<span id="PSU{{this}}Status"></span>
						</div>
					</td>
					<td class="third"></td>
				</tr>
				{{/for}}
			</tbody>
			</table>
		</div>
		{{/env.supportPsuStatus}}
		</div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
var env = {{{json env}}};
$(document).ready(function(){
	{{#supportOutdoorCheckScreen}}
		XEcheckScreen();
	{{else}}
		normalCheckScreen();
	{{/supportOutdoorCheckScreen}}

	{{#env.supportPsuStatus}}
		getPUSStatus();
	{{/env.supportPsuStatus}}

	Locale.callback = function() {
		$('.CheckScreenTxt').text(Locale.getText("CheckScreen"));
		$('.StatusTxt').text(Locale.getText("Status"));
		$('.PositionTxt').text(Locale.getText("Position"));
		$('.WidthTxt').text(Locale.getText("Width"));
		$('.HeightTxt').text(Locale.getText("Height"));
		$('.ShowColorTxt').text(Locale.getText("Show Color"));
		$('.SensorTxt').text(Locale.getText("Sensor"));
		$('.BLUStatusTxt').text(Locale.getText("BLU Status"));
		$('#pageTitle').html(Locale.getText("CheckScreen"));
		$('.DrawTxt').html(Locale.getText('Draw'));
	};

	Locale.init(env);
});
</script>
