<link href="/css/dashboard.css" rel="stylesheet">

<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>

<script src='/js/page/dashboard.js'></script>
	<div class="dashboard-wrapper">
		<div class="top-refresh mobile">
			<input class=custom id='dataRefresh' type="checkbox">
			<label for="dataRefresh" class=5minRefreshTxt></label>
			<div class='refresh'>
				<button class="btn-refresh" onclick='getAllData();'></button>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-mo-12 col-xs-12 gap-3">
				<div class="card-time-mobile">
					<div class="date">
						<div class="day">
							<span id="day"></span>
						</div>
						<div class="month-year">
							<span id="monthYear"></span>
					</div>
					</div>
					<div class="cur-time">
						<span id="curTime"></span>
					</div>
					<div class="run-time">
						<div class="text RunTimeSinceTxt"></div>
						<div class="time"><span id='upTime'></span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-mo-6 col-xs-12 gap-3">
				<div class="card big-mobile summary-inline"  style="height:189px;">
					<div class="card-body">
						<div class="content">
							<center><img id=scr class="wide-screen" style="height:189px"></center>
							<div id='blackScr' style='background-color: black; width: 100%; height: 189px; color: white;'><center>Screen Power Off</center></div>
							<div class="screenshot-message" id="screenshotStatus"></div>
						</div>
					</div>
					<div class="card-footer mobile">
						<div class="text 10secAutoTxt">
						</div>
						<div class="button">
							<input class=custom id='captureRefresh' type="checkbox">
							<label for="captureRefresh">&nbsp;</label>
						</div>
						<div class="refresh" onclick="$('#scr').click();">
							<img src="/images/btn_refresh_n.png">
						</div>
					</div>
				</div>
			</div>
			<div class="col-mo-6 col-xs-12 gap-3">
				<div class="card big-mobile green summary-inline" id="tempCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text TemperatureTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/charts">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile tempSensor">
								{{#each env.curTempSensor}}
								<div class="temperature">
								<span id='{{id}}Temp'>-</span>
								</div>
								{{/each}}
							</div>
							<div class="status">
								{{#each env.curTempSensor}}
								<div class="sensorname {{name}}Txt">
								</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="networkCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text NetworkTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/network">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile"><span id='ip'>Loading..</span></div>
							<div class="tail"><span id='wan'></span></div>
						</div>
					</div>
				</div>
			</div>
			{{#supportLedSignage}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="ledCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text LedUnitsTxt"></div>
						</div>
						<!--<div class="linkarrow mobile">
							<a href="/ledControl">
								<img src="/images/btn_more_n.png">
							</a>
						</div>-->
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile"><span id='ledUnit'>Loading..</span></div>
						</div>
					</div>
				</div>
			</div>
			{{else}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="doorCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text DoorTxt"></div>
						</div>
						<div class="linkarrow mobile">
							{{#supportXE}}
							<a href="/door">
								<img src="/images/btn_more_n.png">
							</a>
							{{/supportXE}}
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							{{#supportXE}}
							<div class="status mobile"><span id='door'>Loading..</span></div>
							{{else}}
							<div class="status mobile"><span id='door' class='DoorNoneTxt'>None</span></div>
							{{/supportXE}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="fanCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text FanTxt"></div>
						</div>
						<div class="linkarrow mobile">
							{{#supportFan}}
							<a href="fan">
								<img src="/images/btn_more_n.png">
							</a>
							{{/supportFan}}
						</div>
					</div>
					<div class="card-body mobile">
						<div class="content">
							{{#supportFan}}
							<div class="status mobile"><span id='fan'>Loading..</span></div>
							{{else}}
							<div class="status mobile"><span id='fan' class='FanNoneTxt'>None</span></div>
							{{/supportFan}}
						</div>
					</div>
				</div>
			</div>
			{{#supportXE}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="BLUCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text BLUTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/checkScreen">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile"><span id='BLU'>Loading..</span></div>
						</div>
					</div>
				</div>
			</div>
			{{/supportXE}}
			{{#isSupportedCheckScreen}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="screenCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text CheckScreenTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/checkScreen">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile"><span id='checkScreen'>Loading..</span></div>
						</div>
					</div>
				</div>
			</div>
			{{/isSupportedCheckScreen}}
			{{/supportLedSignage}}
			{{#env.supportPsuStatus}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="PSUCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text">PSU Status</div>
						</div>
						<div class="linkarrow mobile">
							<a href="/checkScreen">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div id="signal-status" class="status mobile"><span id='PSU'>Loading..</span></div>
						</div>
					</div>
				</div>
			</div>
			{{/env.supportPsuStatus}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile summary-inline" id="signalCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text SignalTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/device">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div id="signal-status" class="status mobile"><span id='signal'>Loading..</span></div>
							<div class="tail"><span id='stall'></span></div>
						</div>
					</div>
				</div>
			</div>
			{{#env.supportBrighness}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile green summary-inline" id="brighnessCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text BrightnessTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/charts">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile"><span id='brightness'>Loading..</span></div>
						</div>
					</div>
				</div>
			</div>
			{{/env.supportBrighness}}
			{{#env.supportAcCurrent}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile green summary-inline" id="acCurrentCard">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text AcCurrentTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/charts">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile"><span id='acCurrent'>Loading..</span></div>
						</div>
					</div>
				</div>
			</div>
			{{/env.supportAcCurrent}}
			<div class="col-mo-4 col-xs-6 gap-3">
				<div class="card mobile green summary-inline">
					<div class="card-header mobile">
						<div class="card-title mobile">
							<div class="card_text SoftwareVerTxt"></div>
						</div>
						<div class="linkarrow mobile">
							<a href="/system">
								<img src="/images/btn_more_n.png">
							</a>
						</div>
					</div>
					<div class="card-body">
						<div class="content">
							<div class="status mobile"><span id='firmware'>Loading..</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title LogAfterTxt"></h4>
				<hr>
			</div>
			<table class='table' id='incidentTable' style="font-size:10px;">
				<thead>
				<tr>
					<th style="padding-bottom:23px;"><span class=CategoryTxt></span>
					<th><span class=SensorTxt></span>
					<br><span class=EventTxt></span>
					<th><span class=StartTxt></span>
					<br><span class=EndTxt></span>
					<th><span class=StatusTxt></span>
					<br><span class=DurationTxt></span>
				</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
			<!--
			<div class="wrapper-center">
				<a href='/downloadIncidents?name=log.json'><button class='img-button-mobile'>DOWNLOAD LOG</button></a>
			</div>
			-->
		</div>
	</div>
<script>
var env = {};

$(document).ready(function(){
	env = {{{json env}}}

	{{#supportFan}}
		env.supportFan = true;
	{{/supportFan}}

	{{#supportLedFilm}}
		console.log('supportLedFilm::load ledFilm.js');
		$.getScript("/js/client-ledFilm.js",function(response,status){
		});
	{{/supportLedFilm}}

	Locale.callback = function() {
		$('.RunTimeSinceTxt').text(Locale.getText("Run Time Since Last Power Up"));
		$('.10secAutoTxt').text(Locale.getText("10 sec Auto Refresh"));
		$('.5minRefreshTxt').text(Locale.getText("5 min. Refresh"));
		$('.TemperatureTxt').text(Locale.getText("Temperature"));
		$('.NetworkTxt').text(Locale.getText("Network"));
		$('.DoorTxt').text(Locale.getText("Door"));
		$('.DoorNoneTxt').text(Locale.getText("None"));
		$('.FanTxt').text(Locale.getText("Fan"));
		$('.FanNoneTxt').text(Locale.getText("None"));
		$('.BLUTxt').text(Locale.getText("BLU Status"));
		$('.CheckScreenTxt').text(Locale.getText("CheckScreen"));
		$('.SignalTxt').text(Locale.getText("Signal"));
		$('.SoftwareVerTxt').text(Locale.getText("Software Version"));
		$('.LogAfterTxt').text(Locale.getText("Log after Power Up"));
		$('.LedUnitsTxt').text(Locale.getText("LED Unit"));
		$('.CategoryTxt').text(Locale.getText("Category"));
		$('.SensorTxt').text(Locale.getText("Sensor"));
		$('.EventTxt').text(Locale.getText("Event"));
		$('.StatusTxt').text(Locale.getText("Status"));
		$('.StartTxt').text(Locale.getText("Start Time"));
		$('.EndTxt').text(Locale.getText("End Time"));
		$('.DurationTxt').text(Locale.getText("Duration"));
		$('.DownloadLogTxt').text(Locale.getText("DOWNLOAD LOG"));
		$('.BottomTxt').text(Locale.getText("Bottom"));
		$('.TopTxt').text(Locale.getText("Top"));
		$('.MainTxt').text(Locale.getText("Main"));
		$('.BrightnessTxt').text(Locale.getText("Brightness"));
		$('.AcCurrentTxt').text(Locale.getText("AC Current"));

		init();
	};
	Locale.init(env);
});
</script>
