<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/range.js"></script>
<script src="/js/page/device.js"></script>
<div class="row">
	<div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
{{#supportLedSignage}}
                    LED <span class='ScreenTxt'></span> <span id='backlightReturn'></span>
{{else}}
                    <span class='BacklightTxt'></span> <span id='backlightReturn'></span>
{{/supportLedSignage}}
                </h4>
                <hr>
            </div>
            <table class='table'>
				<tbody>
					<tr>
						<td class="td-component-title ScreenTxt"></td>
						<td class="td-component">
							<input id='btnScreen' type="checkbox" class="grey">
							<label for="btnScreen">&nbsp;</label>
						</td>
					</tr>
{{#supportLedSignage}}
					<tr class="with-component">
						<td class="td-component-title ContrastTxt"></td>
						<td class="td-component">
							<span id=contrastVal></span>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="component mobile">
							<input class=custom id=contrast type=range min=0 max=100>
						</td>						
					</tr>	
{{else}}
					<tr class="with-component">
						<td class="td-component-title BacklightTxt"></td>
						<td class="td-component">
							<span id=backlightVal></span>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="component mobile">
							<input class=custom id=backlight type=range min=0 max=100>
						</td>						
					</tr>	
{{/supportLedSignage}}
				</tbody>				
			</table>
        </div>
    </div>
</div>

{{#notSupportLedSignage}}
<div class="row">
	<div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class='pmModeTxt'></span> <span id='pmModeReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
				<tbody>
					<tr class="with-component">
						<td class="first mobile"><span class='PmModeMenuTxt'></span></td>
						<td class="second mobile">
						</td>
						<td class="third mobile text"/>
					</tr>
					<tr>
						<td colspan="3" class="component mobile">
							<div id='pmModeSelect'></div>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
        	<div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class='SoundTxt'></span> <span id='soundReturn'></span>
                </h4>
                <hr>
            </div>
            
            <table class='table'>
            	<tbody>
	        		<tr class="with-component">
						<td class="first mobile"><span class='VolumeTxt'></span></td>
						<td class="second mobile">
							<span id='volumn-val'> </span>
	        			</td>
						<td class="third mobile text"/>
	        		</tr>
	        		<tr>
	        			<td colspan="3" class="component mobile">
							<input class=custom type=range id="volumn-level" min=0 max=100> 
						</td>
	        		</tr>
	        		<tr>
						<td class="td-component-title"><span class='MuteTxt'></span></td>
						<td class="td-component">
							<input id='muted' type="checkbox" class="grey">
	        				<label for="muted">&nbsp;</label>
	        			</td>
	        		</tr>	
        		</tbody>				
			</table>
			
        </div>
    </div>
</div>
{{/notSupportLedSignage}}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
					<span class='SelectInputTxt'></span> <span id='inputReturn'></span>
                </h4>
                <hr>
            </div>
			<div>
				<ul id='inputList' class='inputListRadio list-group'>
				</ul>
			</div>
        </div>
    </div>
</div><!-- /.col-lg-12 -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel-bottom panel-mobile">
			<div class="wrapper-center BoardRebootTxt">
			</div>
			<div class="wrapper-center">
				<button id="btnReboot" class="img-button-mobile RebootTxt"></button>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	env = {{{json env}}}
	{{#supportFan}}
		env.supportFan = true;
	{{/supportFan}}

	Locale.callback = function() {
		$('.BacklightTxt').text(Locale.getText("Backlight"));
		$('.pmModeTxt').text(Locale.getText("Power Off Management"));
		$('.PmModeMenuTxt').text(Locale.getText("PM Mode"));
		$('.SoundTxt').text(Locale.getText("Sound Control"));
		$('.VolumeTxt').text(Locale.getText("Volume"));
		$('.MuteTxt').text(Locale.getText("Mute"));
		$('.ContrastTxt').text(Locale.getText("Contrast"));
		$('.SelectInputTxt').text(Locale.getText("Select Input Source"));
		$('.BoardRebootTxt').text(Locale.getText("Digital Board Reboot"));
		$('.RebootTxt').text(Locale.getText("Reboot"));
		$('.ScreenTxt').text(Locale.getText("SCREEN"));
		initDevice();
	};

	Locale.init(env);

});
</script>
