<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/door.js"></script>

<style>
	.flat-blue .table > tbody > tr > td.td-component-small.td-component-small-expand {
		width: 80px;
	}
</style>

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class='DoorSensorStatusTxt'></span>
                </h4>
				<hr>
            </div>
			<table class='table' id='doorTable'>
				<tr>
					<td class=first width=20%><strong><span class='SensorTxt'></span>
					<td class=first><strong><span class='StatusTxt'></span>
				</tr>
				<tbody>

				</tbody>
			</table>
        </div>
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class='DoorControlTxt'></span> <span id='doorReturn'></span>
                </h4>
				<hr>
            </div>
			<table class='table'>
				<tr>
					<td class=td-component-title><span class='ControlTypeTxt'></span> </td>
					<td class=td-component>
						<div id='muteOption'></div>
					</td>
				</tr>
				<tr>
					<td class="td-component-title"><span class='ResetMuteTxt'></span></td>
					<td class="td-component">
						<button class='img-button-mobile small table' id='reset'><span class='ResetTxt'></span></button>
					</td>
				</tr>
			</table>
			<table class='table'>
				<tr>
					<td class="td-component-title-big"><span class='ResetMuteNeedTxt'></span></td>
					<td class="td-component-small td-component-small-expand"><span id=lockout>False</span></td>
				</tr>
			</table>

        </div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
var env = {{{json env}}}

$(document).ready(function(){

	Locale.callback = function() {
		$('.DoorSensorStatusTxt').text(Locale.getText("Door Sensor Status"));
		$('.SensorTxt').text(Locale.getText("Sensor"));
		$('.StatusTxt').text(Locale.getText("Status"));
		$('.DoorControlTxt').text(Locale.getText("Door Control"));
		$('.ControlTypeTxt').text(Locale.getText("Control Type"));
		$('.ResetMuteTxt').text(Locale.getText("Reset Mute"));
		$('.ResetTxt').text(Locale.getText("Reset"));
		$('.ResetMuteNeedTxt').text(Locale.getText("Reset Mute' is Needed"));
		$('#pageTitle').html(Locale.getText("Door Monitor"));
		initDoor(env);
	};

	Locale.init(env);
});
</script>