<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/fan.js"></script>
<div class="row">
    <div class="col-md-12">
		<div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
					<span class='CurrentFanRPMTxt'></span>
					<div class="top-right-refresh">
						<button class="btn-refresh" id='refresh'><span class='RefreshTxt'></span></button>
					</div>
                </h4>
                <hr>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
					{{#each env.curTempSensor}}
					{{name}}: <span id='{{id}}Temp' class="span-fan">-</span>°C&nbsp;
					{{/each}}
					{{#each env.fan}}
                    <table id='{{id}}RPM' class="table table-fan">
						<thead>
						<tr>
							<th colspan=2 class="fan_name">{{name}} Fan</th>
						</tr>
						<tr class="grey">
							<th width=40%>ID</th>
							<th>RPM</th>
						</tr>
						</thead>
						<tbody> </tbody>
                    </table>
					{{/each}}
				</div>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->
<script>
var fans = [];
var tempSensors = [];
var env = {{{json env}}}

$(document).ready(function(){
	{{#each env.fan}}
	fans.push({id: "{{id}}", name: "{{name}}"});
	{{/each}}
	{{#each env.curTempSensor}}
	tempSensors.push({id: "{{id}}", name: "{{name}}"});
	{{/each}}


	$('#refresh').click(function() {
		refreshSensor();
	});

	refreshSensor();

	Locale.callback = function() {
		$('.CurrentFanRPMTxt').text(Locale.getText("Current Fan RPM"));
		$('.RefreshTxt').text(Locale.getText("Refresh"));
		$('#pageTitle').html(Locale.getText("Fan Status"));
	};

	Locale.init(env);
});
</script>
