<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<div class="row">
    <div class="col-lg-12">
        <!-- Basic Status Here -->
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title MenuLanguageTxt">
                </h4>
                <hr>
            </div>
			<div class='panel col-lg-12' id=langTable>
			</div>
        </div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->

<script>
$(document).ready(function(){
	env = {{{json env}}}

	function drawLanguageSelect() {
		$.getJSON('/resources/languageTable.json', function(table) {
			table.languages.forEach(function(lang) {
				var code = lang.languageCode;
				if (code == 'ar' && env.addLanguage != 'ar') {
					return;
				}
				$('#langTable').append('<div class="col-lg-4 langItem">'
					+ '<input class=custom type=radio id=' + code + ' name=lang value="' + lang.languageCode + '">'
					+ '<label for=' + code + ' style="margin-top:10px; font-size: 15px; font-weight: normal;">' + lang.name + '</label></div>');
			});

			$('[name=lang]').change(function() {
				//overlayControl(true, 'Changing Menu Language...');
				setMenuLanguage($(this).val());

				/*
				setTimeout(function() {
					overlayControl(false);
				}, 5000);
				*/
			});

			getMenuLanguage(function(ret) {
				var langParse = ret.split('-');
				var langCode = langParse[0];
				if (langCode == 'pt') {
					langCode = ret;
				}
				langCode += (langParse.length == 2) ? '' : '-' + langParse[1];

				$('#' + langCode).attr('checked', true);
			});
		});
		$('#pageTitle').html(Locale.getText('Menu Language'));
	}

	
	Locale.callback = function() {
		$('.MenuLanguageTxt').text(Locale.getText("Menu Language"));
		drawLanguageSelect();
	};

	Locale.init(env);
});
</script>
