<link href="/css/log.css" rel="stylesheet">
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/log.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 id="fileName" class="panel-title mobile">
					<span class=FileNameTxt></span> : {{curFile}}
				</h4>
				<hr>
				<div id='filter'></div>
			</div>
				<div id='log' class='log-pre mobile'></div>

				<center>
				<ul class="pagination pagination-sm">
				{{#each files}}
					<li {{{isCurFile this ../curFile}}}><a href='/logFile?file={{this}}&filter={{../filter}}'>{{logNumber this}}</a></li>
				{{/each}}
				</ul>
				</center>

		</div>
		</div>
</div>

<script>
var logJson = {{{json log}}};
$(document).ready(function(){
	env = {{{json env}}}
	{{#supportFan}}
		env.supportFan = true;
	{{/supportFan}}

	Locale.callback = function() {
		$('.FileNameTxt').text(Locale.getText("File Name"));
		$('.DownloadLogTxt').text(Locale.getText("DOWNLOAD LOG"));
		initLog("{{curFile}}", "{{filter}}");
	};

	Locale.init(env);
});
</script>
