<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/media.js"></script>

<div class="row">
<!--
	<div class="col-lg-12">
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					Media file Upload ({{fileSize maxSize}} available)
				</h4>
				<hr>
			</div>
			<div class='announce mobile'>
				Select a file to upload
			</div>
			<div>
				<form method='post' action='/upload' enctype="multipart/form-data" name="uploadForm">
					<span class='btn btn-default btn-file'>
						Browse a file to upload<input type='file' name='upload' id='upload'>
					</span>
					<span id='fileName'></span>
					<span>
						<input type=submit class='btn btn-default' value='Upload'>
					</span>
				</form>
			</div>
			<div id=progress class='col-md-12'>
			<div class='col-md-3'>
				Upload Progress
			</div>
			<div class='col-md-9'>
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id='uploadProgress'>
					Not In Progress
					</div>
				</div>
     		</div>
			</div>
		</div>
	</div>
-->
    <div class="col-lg-12">
        <!-- Basic Status Here -->
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<span class=MediaFileListTxt></span> {{curDir}}</h4>
				<div id=filter></div>
				<hr>
			</div>
			<!--<div class="panel-body">-->			
				<div class='col-xs-12 col-mo-12 col-md-12 media-file-list'>
				{{#each dirs }}
					<div class='col-xs-12 col-mo-6 col-md-6 col-lg-4'>
						<div class="media-card">
							<span name='{{this}}' class='dir'><img src="/images/folder-icon.png" class='img-responsive'> </span>
							<div class="footer">
								<div class='icon' name='{{this}}'></div>
								<div class="filename">
									{{fileName this}}
								</div>
							</div>
						</div>
					</div>
				{{/each}}

				{{#each files }}
					<div class='col-xs-12 col-mo-6 col-md-6 col-lg-4'>
						<div class="media-card">
							{{#isNew this ../newFiles}}
							<div class="new-tag">
								<img src="../images/tag_new.png">
							</div>
							{{/isNew}}
							<span id='{{@index}}' name='{{this}}' class='img'><img src="/images/video-ddd.png" class='img-responsive'> </span>
							<div class="footer">
								<div id='{{@index}}' class='icon' name='{{this}}'></div>
								<div class="filename">
									<span data-toggle='tooltip' title='{{this}}'>{{fileName this}}</span>
								</div>
							</div>
							<div class="button mobile">
								<button class='btn img-button-delete' action='del' id='{{@index}}' name='{{this}}'></button>
							</div>
						</div>
					</div>
				{{/each}}
				</div>
			<!--</div>-->
		</div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
curFiles = [];
env = {{{json env}}};
$(document).ready(function(){
	maxSize = {{maxSize}};

	$('[data-toggle="tooltip"]').tooltip();

	{{#each dirs}}
		curFiles.push('{{this}}');
	{{/each}}
	{{#each files}}
		curFiles.push('{{this}}');
	{{/each}}

	Locale.callback = function() {
		$('.SelectFileTxt').text(Locale.getText("Select a file to upload"));
		$('.BrowseFileTxt').text(Locale.getText("Browse a file to upload"));
		$('.MediaFileListTxt').text(Locale.getText("Media file List"));
		var title = Locale.getText('Media file Upload (XXX GB available)').replace('GB', '').replace('XXX', '\u202A{{fileSize maxSize}}\u202C');
		$('#mediaTitle').text(title);
		$('#submit').attr('value', Locale.getText('upload'));

		init('{{curDir}}', '{{filter}}');
	};

	Locale.init(env);
});
</script>
