<html>
<script>
function checkResolution() {
	if(screen.width > 1024) {
		var newPath = window.location.pathname.replace(/mobile$/, '')
											  .replace(/mobile\//, '');
		console.log(newPath);
		window.location.replace(newPath);
	}
}

checkResolution();

window.onresize = checkResolution;

</script>
<head>
    <title>LG Control Manager</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/flat-admin.js"></script>

    <script src="/js/page/common.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/flat-blue.css">
</head>

<body class="flat-blue mobile">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top navbar-overlay">
                <div class="container-fluid mobile">
                    <div class="navbar-header mobile">
                        <button type="button" class="navbar-expand-toggle">
							<img src='/images/ic_header_menu_n.png'>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active"><span id='pageTitle'></span></li>
                        </ol>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <img src="/images/LG_logo.png" class="logo"></img>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <!--<a class="navbar-brand" href="/changePasswd">-->
                                <div width="270px" height="281">
                                    <img src="/images/image_01.png" width="270px" height="281" id="navbar-background">
                                    <div  class="user-menu">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <img src="/images/profile_photo_default.png">
                                            </a>
                                            <ul class="dropdown-menu user-profile animated fadeInDown" style="z-index: 100;">
                                                {{#supportLocale}}
												<li class="title dropdown-li top-margin3">
                                                    <a href="/language" class="dropdown-a" style='font-size: 10pt; padding: 2pt 0pt 2pt 0pt; font-weight: normal;'>
														<center><span class='LanguageSettingTxt'>Language Setting</span></center>
                                                    </a>
                                                </li>
												<li class="title dropdown-li">
                                                    <a href="/changePasswd" class="dropdown-a" style='font-size: 9.5pt; padding: 2pt 0pt 2pt 0pt; font-weight: normal;'>
														<center><span class=ChangePasswdTxt>Change Password</span></center>
                                                    </a>
                                                </li>
                                                <li class="title dropdown-li">
                                                    <a href="/logout" class="dropdown-a" style='font-size: 10pt; padding: 2pt 0pt 2pt 0pt; font-weight: normal;'>
														<center><span class=LogoutTxt>Logout</span></center>
                                                    </a>
                                                </li>
												{{else}}
												<li class="title dropdown-li top-margin2">
                                                    <a href="/changePasswd" class="dropdown-a">
                                                        Change Password
                                                    </a>
                                                </li>
                                                <li class="title dropdown-li">
                                                    <a href="/logout" class="dropdown-a">
                                                        Logout
                                                    </a>
                                                </li>
												{{/supportLocale}}
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            <!--</a>-->
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="single-menu">
                                <a href="/mobile/dashBoard">
                                    <span class="title DashboardTxt"></span>
                                </a>
                            </li>

                            <li class="single-menu">
                                <a href="/mobile/device">
                                    <span class="title DeviceControlTxt">Device Control</span>
                                </a>
                            </li>

                            <li class="single-menu">
                                <a href="/mobile/remocon">
                                    <span class="title VirtualControllerTxt">Virtual Controller</span>
                                </a>
                            </li>



                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-element">
                                    <span class="title SystemSettingsTxt">System Settings</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-element" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="/mobile/picture"><span class=PictureTxt></span></a>
                                            </li>
                                            <li><a href="/mobile/network"><span class=NetworkTxt></span></a>
                                            </li>
                                            <li><a href="/mobile/time"><span class=TimeTxt></span></a>
                                            </li>
                                            {{#notSupportLedSignage}}
                                            {{#isSupportedCheckScreen}}
                                            <li><a href="/mobile/checkScreen"><span class=CheckScreenTxt></span></a>
                                            </li>
                                            {{/isSupportedCheckScreen}}
                                            {{/notSupportLedSignage}}
                                            {{#supportXE}}
                                            <li><a href="/mobile/door"><span class=DoorMonitorTxt></span></a>
                                            </li>
                                            <!--<li><a href="/mobile/emergency">Emergency Control</a>
                                            </li>-->
                                            {{/supportXE}}
                                            <li><a href="/mobile/update"><span class='SwUpdateTxt'></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-table">
                                    <span class="title InformationTxt">Information</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-table" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="/mobile/charts"><span class=ChartTxt></span></a>
                                            </li>
											{{#supportFan}}
                                            <li><a href="/mobile/fan"><span class=FanStatusTxt></span></a>
                                            </li>
                                            {{/supportFan}}
                                            <li><a href="/mobile/logFile"><span class=LogTxt></span></a>
                                            </li>
                                            <li><a href="/mobile/system"><span class=SystemInfoTxt></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="single-menu">
                                <a href="/mobile/media">
                                    <span class="title MediaLibTxt"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>

            <!-- Page Content -->
			<div class='main-body-lg main-body-xs'>
                <div class="side-body mobile">
                    <div id="page-wrapper">
                        <div id='warningMessage'>
                        </div>
						<!--
						<div style='width:1010px; max-width:1010px; display: inline-block;'>
						-->
                        <div class="container-fluid mobile">
                        {{{ body }}}
                        </div>
                        <!-- /.container-fluid -->
                        <div class='container-fluid' id='alertMessage'></div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script>
    $(document).ready(function(){
        var imageIndex = (Math.floor(Math.random()*10)%4) +1;
        var imageSrc = '/images/image_0'+imageIndex+'.png';
        $('#navbar-background').attr('src', imageSrc);
		$('#pageTitle').css('font-size', '16pt');
    });
</script>

</html>
