<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/network.js"></script>

<style>
	.line_space {
		font-size: 1px;
	}

	input[type=text] {
		font-size: 12pt;
		width: 100%;
	}
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title SignageNameTxt">
                    <span id='networkReturn'></span>
                </h4>
                <hr>
				<input type="text" id="signageName" class='form-control' maxlength="20" style="font-family: none">
            </div>
            <div class="panel-heading" role="tab" id="headingOne">
				<br>
                <h4 class="panel-title">
                    <span class=WiredTxt></span> - <span id=wiredConnection></span>
                </h4>
                <hr>
                <div id='filter'></div>
            </div>
			<table class='table' id='wiredPanel'>
				<tbody>
					<tr id="dhcpLow">
						<td class="td-component-title SetAutoTxt"></td>
						<td class="td-component">
							<input id='dhcp' type="checkbox" class="grey">
							<label for="dhcp">&nbsp;</label>
						</td>
					</t>
					<tr>
						<td class="td-component-title IpAddrTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="ip">
						</td>
					</tr>
					<tr id="netMask_low">
						<td class="td-component-title SubnetMaskTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="netMask" >
						</td>
					</tr>
					<tr id="netPrefix_low">
						<td class="td-component-title SubnetPrefixTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="netPrefix" >
						</td>
					</tr>
					<tr>
						<td class="td-component-title GatewayTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="gateway" >
						</td>
					</tr>
					<tr>
						<td class="td-component-title DnsServerTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="dns" >
						</td>
					</tr>
					<tr>
						<td class="td-component-title MacAddrTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type='text' id="mac" disabled>
						</td>
					</tr>
				</tbody>
			</table>
			{{#supportWifi}}
			<div class="panel-heading" role="tab" id="headingWifi">
				<br>
				<h4 class="panel-title WiFiTxt" id="wifiTitle">
					- <span id=wifiConnection></span>
				</h4>
				<hr>
				<div id='wifiFilter'></div>
			</div>
			<table class='table' id='wifiPanel'>
				<tbody>
					<tr id="dhcpwifiLow">
						<td class="td-component-title SetAutoTxt"></td>
						<td class="td-component">
							<input id='dhcpwifi' type="checkbox" class="grey">
							<label for="dhcpwifi">&nbsp;</label>
						</td>
					</tr>
					<tr>
						<td class="td-component-title IpAddrTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="ipwifi" >
						</td>
					</tr>
					<tr id="netMaskwifi_low">
						<td class="td-component-title SubnetMaskTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="netMaskwifi" >
						</td>
					</tr>
					<tr id="netPrefixwifi_low">
						<td class="td-component-title SubnetPrefixTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="netPrefixwifi" >
						</td>
					</tr>
					<tr>
						<td class="td-component-title GatewayTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="gatewaywifi" >
						</td>
					</tr>
					<tr>
						<td class="td-component-title DnsServerTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type="text" id="dnswifi" >
						</td>
					</tr>
					<tr>
						<td class="td-component-title MacAddrTxt" colspan="2">
							<div class="line_space">&nbsp;</div>
							<input type='text' id="macwifi" disabled>
						</td>
					</tr>
				</tbody>
			</table>
			{{/supportWifi}}
		</div>
	</div>
</div><!-- /.col-md-12 -->
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel-bottom panel-mobile">
			<div class="wrapper-center">
				<button id="apply" class="img-button-mobile ApplyTxt"></button>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	env = {{{json env}}};
	env.secured = {{env.secured}};
	env.port = {{env.port}};
    env.supportIPv6 = {{env.supportIPv6}};
	Locale.callback = function() {
		$('.SignageNameTxt').prepend(Locale.getText("Signage Name"));
		$('.SetAutoTxt').text(Locale.getText("Set Automatically"));
		$('.WiredTxt').text(Locale.getText("Wired"));
		$('.IpAddrTxt').prepend(Locale.getText("IP Address"));
		$('.SubnetMaskTxt').prepend(Locale.getText("Subnet Mask"));
		$('.GatewayTxt').prepend(Locale.getText("Gateway"));
		$('.DnsServerTxt').prepend(Locale.getText("DNS Server"));
		$('.MacAddrTxt').prepend(Locale.getText("MAC Address"));
		$('.ApplyTxt').text(Locale.getText("Apply"));
		$('.SubnetPrefixTxt').prepend(Locale.getText("Subnet prefix length"));
		$('.WiFiTxt').prepend(Locale.getText("Wi-Fi"));
		init(env, filter);
	};
	Locale.init(env);
});
</script>
