<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/picture.js"></script>

<div class="row">
    <div  class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class=PictureSettingsTxt></span> <span id='pictureReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tr>
					<td class="td-component-title PictureModeTxt">
					</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="pictureModeSelect"></div>
						</div>
					</td>
					<td class='td-component'>
						<span id='modified' class='small-text' style='font-size: 9pt'></span>
					</td>
				</tr>
				<tr>
					<td class="td-component-title EnergySavingTxt">
					</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="energySavingSelect"></div>
						</div>
					</td>
					<td class='td-component-small'>
					</td>
				</tr>
			</table>
			{{#supportMinMaxBacklight}}
			<table class='table' id="min-max-table">
				<tr>
					<td class="td-component-title">
						<span class='MinBacklightTxt'></span>
					</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="MinBacklightSelect"></div>
						</div>
					</td>
					<td class='td-component-small'>
					</td>
				</tr>
				<tr>
					<td class="td-component-title">
						<span class='MaxBacklightTxt'></span>
					</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="MaxBacklightSelect"></div>
						</div>
					</td>
					<td class='td-component-small'>
					</td>
				</tr>
			</table>
			{{/supportMinMaxBacklight}}
		</div>
	</div>
</div>

{{#notSupportLedSignage}}
<div class="row">
    <div  class="col-lg-12">
        <div class="panel panel-default panel-mobile long">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
					<span class='PortraitModeTxt'></span> <span id='portraitReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tbody>
					<tr>
						<td class="td-component-title"><span class='OSDPortraitModeTxt'></span></td>
						<td class="td-component">
							<div class="wrapper-right">
								<div id='portrait'></div>
							</div>
						</td>
						<td class='td-component-small'></td>
					</tr>
					<tr>
						<td class="td-component-title"><span class='ContentRotationTxt'></span></td>
						<td class="td-component">
							<div class="wrapper-right">
								<div id='rotation'></div>
							</div>
						</td>
						<td class='td-component-small'></td>
					</tr>
					<tr>
						<td class="td-component-title"><span class='AspectRatioTxt'></span></td>
						<td class="td-component">
							<div class="wrapper-right">
								<div id='aspectRatio'></div>
							</div>
						</td>
						<td class='td-component-small'></td>
					</tr>
				</tbody>
			</table>
			<div class="wrapper_rotate_img">
				<div class="Portrait-status-subject">
					<span class='OSDStatusTxt'></span>
				</div>
				<div class="wrapper-portrait">
					<img id="rotation_off" src="../images/rotation_off_n.png">
					<img id="rotation_90" src="../images/rotation_90_n.png">
					<img id="rotation_180" src="../images/rotation_180_n.png">
					<img id="rotation_270" src="../images/rotation_270_n.png">
				</div>

				<div class="rotation-status-subject">
					<span class='ContentStatusTxt'></span>
				</div>
				<div class="wrapper-rotation">
					<img src="../images/picture_image_01.png" id="rotate_img">
				</div>
			</div>
        </div>
    </div>
</div>
{{/notSupportLedSignage}}
<!-- /.col-lg-12 -->
<!-- /.row -->
<script>
	var env = {{{json env}}}
	Locale.callback = function() {
		$('.PictureSettingsTxt').text(Locale.getText("Picture Settings"));
		$('.PictureModeTxt').text(Locale.getText("Picture Mode"));
		$('.EnergySavingTxt').text(Locale.getText("Energy Saving"));
		$('.MinBacklightTxt').text(Locale.getText("Min Backlight"));
		$('.MaxBacklightTxt').text(Locale.getText("Max Backlight"));
		$('.PortraitModeTxt').text(Locale.getText("Portrait Mode"));
		$('.OSDPortraitModeTxt').text(Locale.getText("OSD Portrait Mode"));
		$('.ContentRotationTxt').text(Locale.getText("Content Rotation"));
		$('.AspectRatioTxt').text(Locale.getText("Aspect Ratio when rotated"));
		$('.OSDStatusTxt').text(Locale.getText("OSD Portrait Status"));
		$('.ContentStatusTxt').text(Locale.getText("Content Rotation Status"));
		$('#pageTitle').html(Locale.getText('Picture'));
		initPicture();
	};
	Locale.init(env);
	$('.dropdown-toggle').css('font-size', '8pt');
	$('.dropdown-menu').css('font-size', '8pt');
</script>
