<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/remocon.js"></script>

<div class="row">
    <div class="col-lg-12">
        <!-- Basic Status Here -->
        <div class="row no-margin">
            <div class="col-mo-9 col-xs-12 gap-0">
				<button type='button' class='btn btn-default play' id="play" title="Play"><i class="fa fa-play"></i></button>
				<div class="content" id=scr-wrap>
					<img id=scr width=100%>
				</div>
				<span id="screenshotStatus"></span>
			</div>
			<div class="col-mo-3 col-xs-12 gap-0">
				<div class="content col-mo-12 col-xs-6">
					<div class="panel-4way mobile">
						<img id="p_1" src="/images/remote_p_1_small.png" style="z-index:5; position:absolute; top: 3px; left: 34px; visibility:hidden;">
						<img id="p_2" src="/images/remote_p_2_small.png" style="z-index:5; position:absolute; top: 20px; left: 91px; visibility:hidden;">
						<img id="p_3" src="/images/remote_p_3_small.png" style="z-index:5; position:absolute; top: 77px; left: 35px; visibility:hidden;">
						<img id="p_4" src="/images/remote_p_4_small.png" style="z-index:5; position:absolute; top: 20px; left: 18px; visibility:hidden;">
						<img id="p_5" src="/images/remote_p_ok_small.png" style="z-index:5; position:absolute; top: 32px; left: 46px; visibility:hidden;">
						<img src="/images/remote_bg_small.png" usemap="#map_remote" style="position:absolute;" alt="" />
						<map name="map_remote">
							<area class='4way-imagemap' shape="poly" coords="2,1,117,1,79,38,58,31,39,35" href="#" onmousedown="showRemote(1)">
							<area class='4way-imagemap' shape="poly" coords="82,39,117,1,117,117,80,80,85,60" href="#" onmousedown="showRemote(2)">
							<area class='4way-imagemap' shape="poly" coords="39,79,60,86,79,79,116,116,1,117" href="#"onmousedown="showRemote(3)">
							<area class='4way-imagemap' shape="poly" coords="1,2,35,38,31,61,38,78,1,117" href="#" onmousedown="showRemote(4)">
							<area class='4way-imagemap' shape="circle" coords="59,59,28" href="#" onmousedown="showRemote(5)">
						</map>
					</div>
				</div>
				<div class="col-mo-12 col-xs-6">
					<div class="panel-hotkey mobile">
						<button id="apply" class="img-button-mobile remo small hotkey SettingTxt" value="menu">Setting</button>
						<button id="apply" class="img-button-mobile remo small hotkey HomeTxt" value="home">Home</button>
						<button id="apply" class="img-button-mobile remo small hotkey InputTxt" value="inputKey">Input</button>
						<button id="apply" class="img-button-mobile remo small hotkey ExitTxt" value="exit">Exit</button>
						<button id="apply" class="img-button-mobile remo small hotkey BackTxt" value="back">Back</button>
						<button id="apply" class="img-button-mobile remo small hotkey InstallTxt" value="signage" style='font-size: 8pt;'>Installation</button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
	var env = {{{json env}}};
	Locale.callback = function() {
		$('.SettingTxt').text(Locale.getText("Setting"));
		$('.HomeTxt').text(Locale.getText("Home"));
		$('.InputTxt').text(Locale.getText("Input"));
		$('.ExitTxt').text(Locale.getText("Exit"));
		$('.BackTxt').text(Locale.getText("Back"));
		$('.InstallTxt').text(Locale.getText("Installation Menu"));
		$('#pageTitle').html(Locale.getText('Virtual Controller'));
		$('#pageTitle').css('font-size', '18pt');

		$('button[title=Play]').attr('title', Locale.getText($('button[title=Play]').attr('title')));
	};

	Locale.init(env);
</script>
