<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/system.js"></script>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-mobile">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title SystemInfoTxt"></h4>
        <hr>
      </div>
          <table class="table">
            <tbody>
              <tr>
                <td class="td-component-title ModelNameTxt"></td>
                <td class="td-component"><span id='model'></span></td>
              </tr>
              <tr>
                <td class="td-component-title SerialNumberTxt"></td>
                <td class="td-component"><span id='serial'></span></td>
              </tr>
              <tr>
                <td class="td-component-title SoftwareVerTxt"></td>
                <td class="td-component"><span id='firmware'></span></td>
              </tr>
              <tr>
                <td class="td-component-title webOSVerTxt"></td>
                <td class="td-component"><span id='webos'></span></td>
              </tr>
              <tr>
                <td class="td-component-title BootloaderVerTxt"></td>
                <td class="td-component"><span id='bootloader'></span></td>
              </tr>
              <tr>
                <td class="td-component-title MicomVerTxt"></td>
                <td class="td-component"><span id='micom'></span></td>
              </tr>
            {{#supportXE}}
              <tr>
                <td class="td-component-title FanMicomVerTxt"></td>
                <td class="td-component"><span id='fanmicom'></span></td>
              </tr>
            {{/supportXE}}
			       </tbody>
		      </table>
    </div>
  </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
var env = {};

$(document).ready(function(){
	env = {{{json env}}}
	{{#supportMicomFanControl}}
		env.supportMicomFanControl = true;
	{{else}}
		env.supportMicomFanControl = false;
	{{/supportMicomFanControl}}

  Locale.callback = function() {
		$('.ModelNameTxt').text(Locale.getText("Model Name"));
		$('.SerialNumberTxt').text(Locale.getText("Serial Number"));
		$('.SoftwareVerTxt').text(Locale.getText("Software Version"));
		$('.webOSVerTxt').text(Locale.getText("webOS Version"));
		$('.BootloaderVerTxt').text(Locale.getText("Bootloader Version"));
		$('.MicomVerTxt').text(Locale.getText("Micom Version"));
		$('.FanMicomVerTxt').text(Locale.getText("Fan Micom Version"));
  		$('.SystemInfoTxt').html(Locale.getText('System Information'));
  		$('#pageTitle').html(Locale.getText('System Information'));
		init();
	};

	Locale.init(env);
});
</script>
