<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/time.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class=TimeTxt></span> <span class=SettingTxt></span> <span id='ntpReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tr>
					<td class="td-component-title SetAutoTxt"></td>
					<td class="td-component">
						<div class="wrapper-right">
							<input id='useNTP' type="checkbox" class="grey">
							<label for="useNTP">&nbsp;</label>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<div class="row" id='time-date'>
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class=TimeTxt></span> & <span class=DateTxt></span> <span class=SettingTxt></span> <span id='setCurrentTimeReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tr>
					<td class="td-component-title TimeTxt"></td>
					<td class="td-component">
						<input type='text' class='input-text-2char' id='hour' size=2 maxlength=2>: <input type='text' class='input-text-2char' id='minute' size=2 maxlength=2>
						<div id='ampm' class='dropdown-ampm mobile'></div>
					</td>
				</tr>
				<tr>
					<td class="td-component-title DateTxt"></td>
					<td class="td-component">
						<input type='text' class='input-text-2char' id='month' size=2 maxlength=2> /
						<input type='text' class='input-text-2char' id='day' size=2 maxlength=2> /
						<input type='text' class='input-text-4char' id='year' size=4 maxlength=4>
					</td>
				</tr>
			</table>
			<table class='table'>
				<tr>
					<td class="td-component-title DaylightTxt"></td>
					<td class="td-component">
						<input id='useDST' type="checkbox" class="grey">
						<label for="useDST">&nbsp;</label>
					</td>

				</tr>
			</table>
			<table class='table dstTable'>
				<tr>
					<td class="td-component-title StartTimeTxt"></td>
					<td class="td-component">
						<table>
							<tr>
								<td class=MonthTxt></td>
								<td style="width:90px;"><div id='dstStartMonth'></td>
							</tr>
							<tr>
								<td class=WeekTxt></td>
								<td style="width:90px;"><div id='dstStartWeek'></div></td>
							</tr>
							<tr>
								<td class=WeekdayTxt></td>
								<td style="width:90px;"><div id='dstStartWeekday'></div></td>
							</tr>
							<tr>
								<td class=HourTxt></td>
								<td style="width:90px;"><div id='dstStartHour'></td>
							</tr>
						</table>
						<!--month : <input type='text' id='dstStartMonth' size=2 maxlength=2><br>
						week <div id='dstStartWeek'></div> <br>
						Weekday <div id='dstStartWeekday'></div> <br>
						Hour : <input type='text' id='dstStartHour' size=2 maxlength=2>-->
					</td>

				</tr>
				<tr>
					<td class="td-component-title EndTimeTxt"></td>
					<td class="td-component">
						<table>
							<tr>
								<td class=MonthTxt></td>
								<td style="width:90px;"><div id='dstEndMonth'></td>
							</tr>
							<tr>
								<td class=WeekTxt></td>
								<td style="width:90px;"><div id='dstEndWeek'></div></td>
							</tr>
							<tr>
								<td class=WeekdayTxt></td>
								<td style="width:90px;"><div id='dstEndWeekday'></div></td>
							</tr>
							<tr>
								<td class=HourTxt></td>
								<td style="width:90px;"><div id='dstEndHour'></td>
							</tr>
						</table>
						<!--month : <input type='text' id='dstEndMonth' size=2 maxlength=2><br>
						week <div id='dstEndWeek'></div> <br>
						Weekday <div id='dstEndWeekday'></div> <br>
						Hour : <input type='text' id='dstEndHour' size=2 maxlength=2>-->
					</td>

				</tr>
			</table>
		</div>
		<div class="wrapper-center">
			<button id="time-apply" class="img-button-mobile">{{languageTable.time.Apply}}</button>
		</div>
	</div>
</div>

<div class="row" id='time-zone'>
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class=TimeZoneTxt></span> <span id='setCityReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tr>
					<td class="td-component-title ContinentTxt"></td>
					<td class="td-component">
						<div id='continent'></div>
					</td>
				</tr>
				<tr>
					<td class="td-component-title CountryTxt"></td>
					<td class="td-component">
						<div id='country'></div>
					</td>
				</tr>
				<tr>
					<td class="td-component-title CityTxt"></td>
					<td class="td-component">
						<div id='city'></div>
					</td>
				</tr>
			</table>
		</div>
		<div class="wrapper-center">
			<button id="time-zone-apply" class="img-button-mobile ApplyTxt"></button>
		</div>
	</div>
</div>

<script>
var env = {{{json env}}};
Locale.callback = function() {
	$('.SetAutoTxt').text(Locale.getText("Set Automatically"));
	$('.SettingTxt').text(Locale.getText("Setting"));
	$('.TimeZoneTxt').text(Locale.getText("Time Zone"));
	$('.ContinentTxt').text(Locale.getText("Continent"));
	$('.CountryTxt').text(Locale.getText("Country/Territory"));
	$('.CityTxt').text(Locale.getText("City"));
	$('.ApplyTxt').text(Locale.getText("Apply"));
	$('.TimeTxt').text(Locale.getText("Time"));
	$('.DateTxt').text(Locale.getText("Date"));
	$('.DaylightTxt').text(Locale.getText("Daylight Saving Time"));
	$('.StartTimeTxt').text(Locale.getText("Start Time"));
	$('.EndTimeTxt').text(Locale.getText("End Time"));
	$('.MonthTxt').text(Locale.getText("Month"));
	$('.WeekTxt').text(Locale.getText("Week"));
	$('.WeekdayTxt').text(Locale.getText("Weekday"));
	$('.HourTxt').text(Locale.getText("Hour"));
	initTime();
};

Locale.init(env);
</script>
