<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/update.js"></script>

<div class="row">
<!--
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    Upload secured S/W Update file ({{fileSize maxSize}} available)
                </h4>
				<hr>
            </div>
			<div class='announce mobile'>
				Select a file to upload
			</div>
			<div>
				<form method='post' action='/upload' enctype="multipart/form-data" name="uploadForm">
					<span class='btn btn-default btn-file'>
						Browse<input type='file' name='upload' id='upload'>
					</span>
					<span id=fileName></span>
					<span>
						<input type=submit class='btn btn-default' value='Upload'>
					</span>
				</form>
			</div>
			<div id='upload-prog' class='col-md-12'>
				<div class='col-md-3'>
					File Upload Progress
				</div>
				<div class='col-md-9'>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id='uploadProgress'>
						Not In Progress
						</div>
					</div>
				</div>
			</div>
			<div id='update-prog' class='col-md-12'>
				<div class='col-md-3'>
					Update Progress
				</div>
				<div class='col-md-9'>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id='updateProgress'>
						Not In Progress
						</div>
					</div>
				</div>
			</div>
			<div id='micom-prog' class='col-md-12'>
				<div class='col-md-3'>
					Micom Progress
				</div>
				<div class='col-md-9'>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id='micomProgress'>
						Not In Progress
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->
	<div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title UpdateFileListTxt">
                </h4>
				<hr>
				<input class=custom id='micomUpdate' type="checkbox"><label for="micomUpdate" class=MicomUpdateTxt></label>
            </div>
				{{#if files}}
					<table class='table table-update-file'>
						<tr>
							<th class=FileNameTxt>File Name</th>
							<th class=UpdateTxt>Update</th>
							<th class=DeleteTxt>Delete</th>
						</tr>
						{{#each files }}
						<tr class='file-list'>
							<td>
								<p class="file-info mobile" name='{{this}}'>
									{{this}}({{fileSize (lookup ../size @index)}})
								</p>
							</td>
							<td><button class='btn img-button-update update' name='{{this}}' disabled></button></td>
							<td><button class='btn img-button-delete delete' name='{{this}}'></button></td>
						</tr>
						{{/each}}
					</table>
				{{/if}}
        </div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
var env = {{{json env}}};
var supportExt = ['epk'];
$(document).ready(function(){
	{{#supportMicomFanControl}}
		env.supportMicomFanControl = true;
		supportExt.push('txt');
	{{else}}
		env.supportMicomFanControl = false;
	{{/supportMicomFanControl}}

	env.uploadedFiles = [];
	{{#each files}}
		env.uploadedFiles.push("{{this}}");
	{{/each}}

	env.maxSize = {{maxSize}};

	Locale.callback = function() {
		$('.SelectFileTxt').text(Locale.getText("Select a file to upload"));
		$('.BrowseTxt').text(Locale.getText("Browse"));
		$('.UpdateFileListTxt').text(Locale.getText("S/W Update file list"));
		$('.MicomUpdateTxt').text(Locale.getText("Micom Update"));
		$('.FileNameTxt').text(Locale.getText("File Name"));
		$('.UpdateTxt').text(Locale.getText("Update"));
		$('.UploadTxt').text(Locale.getText("upload"));
		$('.DeleteTxt').text(Locale.getText("Delete"));

		var title = Locale.getText("Upload secured S/W Update file (XXX GB available)").replace('GB', '').replace('XXX', '\u202A{{fileSize maxSize}}\u202C');
		$('#uploadTitle').text(title);
		$('#submit').attr('value', Locale.getText('upload'));
		init(env);
		$('#pageTitle').html(Locale.getText('S/W Update'));
	};

	Locale.init(env);

	$('#upload').attr('accept', '.epk, .txt');
	$('#upload').click(function(e) {
		var userAgent = window.navigator.userAgent;
		if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i)) {
			showWarning('Uploading file is not allowed in iPhone or iPad');
			e.preventDefault();
		}
	});
});
</script>
