{{#supportLedSignage20}}
<script type="text/javascript" src="/assets/lib/jquery-3.6.0.min.js"></script>
<!--<script src="/js/jquery.min.js"></script>-->
<!--<script src="/js/bootstrap.min.js"></script>-->
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
{{#supportLedSignage}}
<script src="/js/client-led.js"></script>
{{/supportLedSignage}}
{{#supportLedFilm}}
<script src="/js/client-ledFilm.js"></script>
{{/supportLedFilm}}
<script src="/js/locale.js"></script>
<script src="/js/design/ledSignage/common.js"></script>
<script src="/assets/lib/index.umd.js"></script>
<script src="/assets/lib/focus-trap.umd.js"></script>
<script>
    var languageTable = {{{json languageTable}}};
</script>
<script src="/js/design/ledSignage/ledCanvas.js"></script>
<!--<script src='/js/page/dashboard.js'></script>-->
<!--<script src="/js/Chart.min.js"></script>-->
<!--<script src='/js/page/charts.js'></script>-->
<!--<script src='/js/page/ledDashboard.js'></script>-->

<!--<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/2017ux.css">
<link rel="stylesheet" type="text/css" href="/css/colorFilm.css">-->

<link rel="stylesheet" type="text/css" href="/assets/default/fonts.css" />
<link rel="stylesheet" type="text/css" href="/assets/default/reset.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/header.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/side_bar.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/form.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/filter.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/lang_rtl.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/control_led_w3/popup_edit_layout.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/control_led_w3/popup_ntp_server.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/control_led_w3/popup_schedule.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/control_led_w3/popup_media_delete.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/control_led_w3/control_led_w3_common.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/control_led_w3/control_led_w3_my_common.css" />

<body>
<div class="loading">
    <div class="loading-icon"></div>
</div>

<div id="ROOT_CONTAINER" class="wrapper">
    <div class="dashboard">
        <!--
          header를 로드하기 위한 컨테이너 입니다.
          이곳에 header.html의 <div class="header-container"> 가 로드 됩니다.
          개발 시 해당 컨테이너는 무시하시고,
          header-container를 컴포넌트로 개발하시면 됩니다.
        -->
        <div class="header-box">
            <!-- Begin Header Container -->
            <div class="header-container control-led-w3">
                <header>
                    <!-- Left side -->
                    <div class="left-side">
                        <!--
                          D : 로그인 화면에서는 btn-hamburger 버튼 삭제 바랍니다.
                        -->
                        <button type="button" class="btn btn-hamburger mobile-only"><span class="ir">open menu</span></button>
                        <a href="/" class="logo">
                            <img src="../../assets/images/header_ctrlmngr_logo.svg" alt="LED Control Manager logo" />
                        </a>
                    </div>
                    <!-- Left side -->

                    <!-- Right side -->
                    <div class="right-side">
                        <ul class="features">
                            <!-- Account -->
                            <li>
                                <!--
                                  D : 로그인 화면에서는 Sign Out 버튼 삭제 바랍니다.
                                -->
                                <button type="button" class="btn-signout">{{getLanguageText "Logout"}}</button>
                            </li>
                        </ul>
                    </div>
                    <!-- Right side -->
                </header>
            </div>
            <!-- End Header Container -->
        </div>

        <!-- Content Container -->
        <div class="content-container">
            <!--
            GNB를 로드하기 위한 컨테이너 입니다.
            이곳에 gnb_content.html의 <div class="side-bar"> 가 로드 됩니다.
            개발 시 해당 컨테이너는 무시하시고,
            side-bar를 컴포넌트로 개발하시면 됩니다.
          -->
            <div class="gnb-box">
                <!-- Side Bar -->
                <div class="side-bar">
                    <!-- Side Top -->
                    <div class="side-top">
                        <!--
                            side-bar Collapsed 일 때 햄버거 버튼 title : 메인 메뉴를 펼칩니다.
                            side-bar Expand 일 때 햄버거 버튼 title : 메인 메뉴를 접습니다.
                          -->
                        <button type="button" class="btn-hamburger">
                            <div class="menu-tooltip">Menu Extension</div>
                        </button>
                        <div class="side-logo">
                            <img src="/assets/images/menu_ctrlmngr_logo.svg" alt="LG webOS Signage logo">
                        </div>

                    </div>
                    <!-- Side Top -->

                    <!-- Side Bottom -->
                    <div class="side-bottom">
                        <nav>
                            <!-- Main menu Depth 1 -->
                            <ul id="main-menu" class="main-menu" role="menu">

                                <li class="menu-led-dashboard parent-menu focus" >
                                    <!-- 활성화된 메뉴 aria-selected 속성을 true로 설정합니다. -->
                                    <button type="button" class="btn-main-menu" role="menuitem" name="ledDashboard" aria-selected="false">{{getLanguageText "Dashboard"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Dashboard"}}</div>
                                </li>

                                <li class="menu-led-control parent-menu" >
                                    <!-- 활성화된 메뉴 aria-selected 속성을 false로 설정합니다. -->
                                    <button type="button" class="btn-main-menu" role="menuitem" name="ledControl" aria-selected="false">{{getLanguageText "Control"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Control"}}</div>
                                </li>

                                <li class="menu-led-media parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem" name="ledMedia" aria-selected="false">{{getLanguageText "Media"}}</button>
                                    <div class="menu-tooltip">{{getLanguageText "Media"}}</div>
                                </li>
                                {{#support365Care}}
                                <li class="menu-lgc parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem" name="ledSignage365Care" aria-selected="false">LG ConnectedCare</button>
                                    <div class="menu-tooltip">LG ConnectedCare</div>
                                </li>
                                {{/support365Care}}

                                <li class="menu-led-server parent-menu" >
                                    <button type="button" class="btn-main-menu" role="menuitem" name="ledSiserver" aria-selected="false">SI {{getLanguageText "Server"}}</button>
                                    <div class="menu-tooltip">SI {{getLanguageText "Server"}}</div>
                                </li>

                            </ul>
                            <!-- Main menu Depth 1 -->
                        </nav>

                    </div>
                    <!-- Side Bottom -->
                </div>
                <!-- Side Bar -->
            </div>

            <!-- Content Box -->
            <div id="go-content" role="main" class="content-box">
                <!-- Content top -->
                {{{body}}}
                <!-- Content middle -->
            </div>
            <!-- Content Box -->
        </div>
        <!-- Content Container -->

        <!-- Footer Container -->
        <div class="footer-container">
        </div>
        <!-- Footer Container -->
    </div>
    {{> edit_layout_modal }}
    {{> ntp_server_modal }}
    {{> schedule_modal }}

</div>
    <script src="/assets/lib/Chart.bundle.min.js"></script>
</body>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/ui_loader.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>

<script>
	getNetworkStatus(function(msg) {
		var connection = msg.wired.state === 'connected' ? msg.wired : msg.wifi;
		$('#setIP').html(connection.state === 'connected' ? connection.ipAddress : "Not Connected");
	});

	$("[href]").each(function() {
		if (this.href == window.location.href) {
			$(this).addClass("curMenu");
		}

		if(window.location.href.indexOf('#') > -1){
			if( window.location.href.indexOf(this.href) > -1 ){
				$(this).addClass("curMenu");
			}
		}
	});

	if( window.location.href.indexOf('ledDashboard') != -1 ){
		$('.menuTree').css('height', '100%');
	}else{
		$('.menuTree').css('height', $('.mainWindow').height());
	}

	Locale.callback = function() {
		$('.controlManagerTxt').text(Locale.getText("Control Manager"));
		$('.dashboardTxt').text(Locale.getText("Dashboard"));
		$('.controlTxt').text(Locale.getText("Control"));
		$('.mediaTxt').text(Locale.getText("Media"));
		$('.signage365CareTxt').text(Locale.getText("LG ConnectedCare"));
		$('.siserverTxt').text("SI " + Locale.getText("Server"));
		init();
	};
	Locale.init(env);

</script>
{{else}}
This model does not support LED Signage v2.0
{{/supportLedSignage20}}