<script src="/js/design/range.js"></script>
<script src="/js/design/ledSignage/ledControl.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src='/js/design/ledSignage/control_picture.js'></script>
<script src="/js/design/ntpServerSetting.js"></script>
<script src='/js/design/ledSignage/control_time.js'></script>
<script src="/js/design/ledSignage/layoutUtil.js"></script>
{{#supportLedFilm}}
{{#isMonoFilm}}
<script src="/js/design/modal/filmLayout.js"></script>
<script src="/js/modal/filmCalibraion.js"></script>
{{else}}
<script src="/js/design/modal/colorFilmLayout.js"></script>
<script src="/js/design/ledSignage/drawColorUnit.js"></script>
<script src="/js/design/modal/colorFilmCalibration.js"></script>
{{/isMonoFilm}}
<script src="/js/design/ledSignage/brightnessSchedule.js"></script>
{{else}}
<script src="/js/modal/LEDLayout.js"></script>
{{/supportLedFilm}}

<!-- Content top -->
<div class="content-top">
    <div class="top-left">
        <h1>{{getLanguageText "Control"}}</h1>
    </div>
</div>
<!-- Content top -->

<!-- Content middle -->
<div class="content-middle">
    <div class="content-middle-box">
        <!-- 고유 클래스 : .control-video -->
        <div class="content-middle-right">
            <!-- control left -->
            <div class="control-box left">
                <div class="ctrl-header">
                    <div class="hd-left">
                        <h2 class="page-title">LG SINAGE WEBOS3</h2>
                    </div>
                    <div class="hd-right">
                        <button type="button" id="btn-edit-layout" class="btn btn-layout-edit">{{getLanguageText "Layout Editor"}}</button>
                        <!-- 비활성화 클래스 : .disabled -->
                        <button type="button" class="btn btn-refresh" id="controlRefresh">{{getLanguageText "Refresh"}}</button>
                    </div>
                </div>
                <div class="ctrl-body" id="statusCanvasWrapper">
                    <canvas class="preview-area" id="statusCanvas"></canvas>
                    <!--<div class="preview-area no-signal">
                        <p class="prev-title">No Signal</p>
                        <p>Please check the input connection</p>
                    </div>-->
                </div>
            </div>
            <!-- control right -->
            <div id="controlPanel" class="control-box right">
                <!-- 제어 항목 -->
                <div class="ctrl-area control-items">
                    <div class="ctrl-header">
                        <div class="hd-left">
                            <div class="field field-type-dropdown">
                                <div id="label-control-title" class="field-label">{{getLanguageText "Control Item"}}</div>
                                <div class="field-form">
                                    <div id="control-item-dropdown" class="dropdown type-c">
                                        <button type="button" id="play-time-hour" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="label-control-title play-time-hour"  aria-activedescendent="option-picture" aria-expanded="false">Time</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" role="listbox" aria-labelledby="label-control-title">
                                                <li class="list" role="option" id="option-picture">Picture</li>
                                                <li class="list" role="option" id="option-external">Input</li>
                                                <li class="list" role="option" id="option-controller">Virtual Controller</li>
                                                <li class="list" role="option" id="option-network">Network</li>
                                                <li class="list" role="option" id="option-time">Time</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hd-right">
                            <button type="button" class="btn btn-ctrl-reset" id="pictureResetBtn">{{getLanguageText "Reset"}}</button>
                            <button type="button" class="btn btn-primary btn-ctrl-save" id="btn-ctrl-save">{{getLanguageText "Save"}}</button>
                            <button type="button" class="btn btn-pc-save" id="btn-pc-save">{{getLanguageText "Save as PC Time"}}</button>
                        </div>
                    </div>
                    <div class="ctrl-body">
                        {{> control_picture}}
                        {{> control_external}}
                        {{> control_controller}}
                        {{> control_network}}
                        {{> control_time}}

                    </div>
                    <div id="btn-network-save" class="button-container">
                        <button type="button" class="btn btn-primary btn-ctrl-save">{{getLanguageText "Save"}}</button>
                    </div>
                </div>
                <!-- NTP 서버 설정 -->
                <div id="ctrl-bottom-ntp" class="ctrl-area server-items">
                    <div class="ctrl-header">
                        <div class="hd-left">
                            <div class="field field-flex field-ntp">
                                <div class="field-label">NTP {{getLanguageText "Server"}} {{getLanguageText "SETTING"}}</div>
                                <div class="field-form">
                                    <button type="button" class="btn btn-setting" id="btn-ntp-server">{{getLanguageText "SETTING"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 목록 -->
                <div id="ctrl-bottom-list" class="ctrl-area">
                    <div class="ctrl-header">
                        <div class="hd-left">
                            <div class="field">
                                <div class="field-label">List</div>
                            </div>
                        </div>
                    </div>
                    <div class="ctrl-body">
                        <div class="ctrl-list" id="brightnessScheduleList">
                            <!-- 목록이 없을 경우 노출 -->
                            <div class="no-data">{{getLanguageText "There is no list."}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="detailPanel" class="control-box right" style="display: none">
                <!-- 제어 항목 -->
                <div class="ctrl-area control-items">
                    <div class="ctrl-body">
                        <div class="field field-table">
                            <div class="field-label">{{getLanguageText "Unit"}}</div>
                            <div class="field-form">
                                <div class="table table-row">
                                    <table class="has-not-header">
                                        <caption>Unit detail</caption>
                                        <colgroup>
                                            <col style="width: 40%;">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{getLanguageText "Power"}}</th>
                                            <td id="unitPower">OK</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{getLanguageText "Signal"}}</th>
                                            <td id="unitSignal">OK</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{getLanguageText "Unit Temperature"}}</th>
                                            <td id="unitTemp">35</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="field field-flex">
                            <div id="label-module" class="field-label">{{getLanguageText "Modules"}}</div>
                            <div class="field-form">
                                <div class="field-button">
                                    <button id="moduleCalBtn" type="button" class="btn" aria-describedby="label-module">{{getLanguageText "Calibration"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="button" class="btn btn-primary" id="detailCloseBtn">{{getLanguageText "Close"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content middle -->
</div>
{{> schedule_modal}}
{{> color_calibration_modal}}

<script>
var env = {{{json env}}};

var mainCanvas = {
    rectList: [],
    scaleScreen: 702 / 1920,
    resolX: 384,
    resolY: 360,
    viewPort: {
        x: 0,
        y: 0,
        w: 5 * this.resolX,
        h: 3 * this.resolY
    },
    dragging: false,
    img: new Image(),
    canvas: undefined,
    ctx: undefined
};

mainCanvas.canvas = document.getElementById("statusCanvas");
mainCanvas.ctx = mainCanvas.canvas.getContext("2d");

mainCanvas.canvas.width= 1920 * mainCanvas.scaleScreen;
mainCanvas.canvas.height = 1080 * mainCanvas.scaleScreen;

var defaultCtx = statusCanvas.getContext("2d");

statusCanvas.addEventListener("mousedown", mouseDown, false);
defaultCtx.scale(mainCanvas.scaleScreen, mainCanvas.scaleScreen);

var outer = {
	width: 1920,
	height: 1080
};

var currPath = undefined;

function mouseDown(e) {
    var config = LayoutEditorModal.config;

    refreshLed(mainCanvas);
    playCapture();

    var pos = getMousePos(e);
    pos.x = pos.x / (config.scaleScreen * config.editorScale);
    pos.y = pos.y / (config.scaleScreen * config.editorScale);

    var rects = getSelectedRect(mainCanvas, pos)

    if (rects.length <= 0) {
        return;
    }

    selected = rects[0];

    if (!selected) {
        return;
    }

    curUnit = selected;

    drawUnitSelect();
    $('#controlPanel').css('display', 'none');
    $('#detailPanel').css('display', 'block');
    console.log('mouse is down e')
    // 테스트 위한- 여기에 changeDropdownLabel() 이랑 aria

    unitSelectHandler(curUnit.id, curUnit)
}

var overallStatusTimer = undefined;

function getOverallLedStatus() {
    if( env.supportLedFilm && (env.ledFilmType === 'color') ){
        $('#unitCalBtn').css('display', 'none');
        getSystemSettings('commercial', ['ledLayout'], function(ret){
            drawColorUnit(ret);
        });
        return;
    }

    getLedConfig(function(ret) {
        drawFromConfig(ret, mainCanvas);
        getOverallStatusHandler();
        overallStatusTimer = setInterval(getOverallStatusHandler, 5000);
    });
}

function showRemote(index){
    var buttonID = "p_"+index;
    var direction = ["up", "right", "down", "left", "ok"];

    $("#"+buttonID).css("visibility", "visible");

    setTimeout(function(){
        $("#"+buttonID).css("visibility", "hidden");
    }, 100);

    sendRemocon(direction[index-1]);
    playCapture();
}

var refreshTimer = undefined;
var refreshCounter = 0;

function playCapture() {
    refreshCounter = 0;
    if (refreshTimer) {
        clearInterval(refreshTimer);
    }
    refreshTimer = setInterval(function() {
        refreshLed(mainCanvas);
        // 테스트 위한-
        if (++refreshCounter === 10) {
            clearInterval(refreshTimer);
            refreshTimer = undefined;
        }
    }, 1000);
}

var LayoutEditorModal;
{{#supportLedFilm}}
LayoutEditorModal = FilmLayoutEditorModal;
{{else}}
LayoutEditorModal = LedLayoutEditorModal;
{{/supportLedFilm}}

$(function(){

    initLed(1.5, mainCanvas);

    $('#detailCloseBtn').on('click', function() {
        $('#detailPanel').css('display', 'none');
        $('#controlPanel').css('display', 'block');
    });

    var env = {{{json env}}};
    getOverallLedStatus();

    setUpPicturePanel();
    setUpNetworkPanel();
    setUpTimePanel();
    setUpScalerPanel();
    setupInputList();
    initBrightnessSchedule();

    $('#controlRefresh').on('click', function() {
        refreshLed(mainCanvas);
    });

    currPath = window.location.href.split('#');
    if(currPath.length > 1){
        if (currPath[1] === 'calibration') {
            if (env.ledFilmType === 'color') {
                LayoutEditorModal.init();
            } else {
                getLedConfig(function(config){
                    curUnit = config.unitList[0];

                    mainCanvas.rectList = config.unitList;
                    LayoutEditorModal.config.rectList = config.unitList;

                    drawUnitSelect();
                    $('#controlPanel').css('display', 'none');
                    $('#detailPanel').css('display', 'block');
                    // setDropButtonText('unitSelect', curUnit.id, true);
                    // unitSelectHandler(curUnit.id, curUnit);
                    LayoutEditorModal.init();
                });
            }
        } else if (currPath[1] === 'pattern') {
            LayoutEditorModal.init('pattern');
            showMyModal('layoutEditorModal');
        } else if (currPath[1] === 'network') {
            defaultControlItem = 'network';
            LayoutEditorModal.init();
        }
    } else {
        LayoutEditorModal.init();
    }


    $("button.remo").on('click', function() {
        var command = $(this).val();
        getOSDLockMode(function(msg) {
            if(msg.settings.enableOsdVisibility === "off") {
                if( (command === "menu") || (command === "home") || (command === "inputKey") ){
                    return;
                } else {
                    sendRemocon(command);
                    playCapture();
                }
            } else {
                sendRemocon(command);
                playCapture();
            }
        });
    });

    unitCalirationModal.init();

    $('#unitCalBtn').click(function(){
        unitCalirationModal.modal();
    });

    moduleCalirationModal.init();

    $('#moduleCalBtn').on('click', function(){
        moduleCalirationModal.modal();
    });

    $('#zoomRange').mousedown(function(){
        zoomStart = $(this).val();
    });

    $('#zoomRange').mouseup(function(){
        var zoomEnd = 1 + $(this).val()*0.5;
        $('#statusCanvas').css('width', parseInt($('#statusCanvasWrapper').css('width')) * zoomEnd);
        refreshLed(mainCanvas);
    });

    $('#zoomRange').on('input', function() {
        checkRangeUI('zoomRange', 0, 4);
    });

    $('#zoom-minus').click(function() {
        var value = $('#zoomRange').val();
        if(value>0){
            value--;
            $('#zoomRange').val(value);
            $('#zoomRange').mousedown();
            $('#zoomRange').mouseup();
            checkRangeUI('zoomRange', 0, 4);
        }
    });

    $('#zoom-plus').click(function() {
        var value = $('#zoomRange').val();
        if(value<4){
            value++;
            $('#zoomRange').val(value);
            $('#zoomRange').mousedown();
            $('#zoomRange').mouseup();
            checkRangeUI('zoomRange', 0, 4);
        }
    });

    setSystemSettings('commercial', {'ledFilmColorTempSensing' : 'on' });

});
</script>
