<!--<script src="/js/modal/log.js"></script>-->
<script src="/js/design/modal/firstUse.js"></script>
<!--<script src="/js/modal/update.js"></script>-->
<!--<script src="/js/modal/system.js"></script>-->
<!--<script src='/js/modal/temperature.js'></script>-->
<script src='/js/design/ledSignage/ledDashboard.js'></script>
<!-- Content top -->
<div class="content-top">
    <div class="top-left">
        <h1>{{getLanguageText "Dashboard"}}</h1>
    </div>
    <!-- 새로고침 -->
    <div class="last-update">
        <div class="field field-type-dropdown field-flex">
            <div id="label-refesh" class="field-label">{{getLanguageText "Auto Refresh"}}</div>
            <div class="field-form">
                <div id="auto-refresh-dropdown" class="dropdown type-c">
                    <button type="button" id="auto-refresh-dropdown-btn" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-refesh auto-refresh-dropdown-btn" aria-activedescendent="auto-refresh-dropdown-0">None</button>
                    <div class="dropdown-menu">
                        <ul class="lists" role="listbox" aria-labelledby="label-refesh">
                            <li class="list" >
                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                            </li>
                            <li class="list" >
                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                            </li>
                            <li class="list" >
                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 비활성화 클래스 : .disabled -->
                <button type="button" class="btn btn-refresh" id="dashboardRefresh">{{getLanguageText "Refresh"}}</button>
            </div>
        </div>
    </div>
</div>
<!-- Content top -->

<!-- Content middle -->
<div class="content-middle">
    <div class="content-middle-box">
        <!-- 시간 -->
        <div class="time-wrap">
            <a href="#" class="item-wrap">
                <div class="island-item-left">
                    <div class="item-text" id="current-date">
                        <span>2021, 09, 30 <strong>Thursday</strong></span>
                    </div>
                </div>
                <div class="island-item-center">
                    <div class="real-time">
                        <span class="hour">08</span><span class="setperate">{{getLanguageText "Hour"}}</span>
                        <span class="min">33</span><span class="setperate">{{getLanguageText "Mins"}}</span>
                        <span class="sec">25</span><span class="ir">Second</span>
                    </div>
                </div>
                <div class="island-item-right">
                    <div class="item-text">
                        <span class="text-small">{{getLanguageText "Run Time Since Last Power Up"}}</span>
                        <span id="uptime">6days 8hours 33min</span>
                    </div>
                    <div class="island-btn">
                        <button type="button" class="btn btn-restart" id="rebootBtn">{{getLanguageText "Reboot"}}</button>
                    </div>
                </div>
            </a>
        </div>
        <!-- rows -->
        <div class="row-wrapper">
            <div class="row half">
                <!-- HDMI – 신호 없음 -->
                <div class="island island-hdmi">
                    <div class="title-wrap">
                        <h2 class="title" id="source">HDMI – {{getLanguageText "No Signal"}}</h2>
                        <button class="btn btn-refresh" id="canvasRefresh">{{getLanguageText "Refresh"}}</button>
                    </div>
                    <div class="item-wrap" id="mainCanvasWrapper">
                        <canvas id="canvas"></canvas>
                        <!-- <img src="../../assets/images/sample/thumb_dashboard.png" alt=""> -->

                        <!-- no signal 상태 -->
                        <!--<div class="no-signal">
                            <p class="prev-title">{{getLanguageText "No Signal"}}</p>
                            <p>Please check the input connection</p>
                        </div>-->
                    </div>
                </div>
                <!-- 온도 -->
                <div class="island island-temperature">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "Temperature"}}<span id="tempUnit">(°C)</span></h2>
                        <!--
                          테이블 출력시 버틑명 : 차트 보기
                          차트 출력시 버튼명 : 도표 보기
                        -->
                        <button class="btn btn-small" id="btn-temp-more" data-name="chart">Table</button>
                        <button class="btn btn-detail" id="btn-temp-detail">{{getLanguageText "details"}}</button>
                    </div>
                    <div class="item-wrap">
                        <div class="graph-box" style="height:243px;" id="temperature-chart">
                            <canvas id="myTemp-chart" aria-label="temperature-chart" aria-labelledby="chart-description" role="img"></canvas>
                        </div>


                        <div class="temperature-box" id="temperature-table" style="display: none">
                            <div class="inner-title">
                                {{getLanguageText "Temperature"}} {{getLanguageText "Sensor"}} Table
                            </div>
                            <div class="table-temperature">
                                <div class="table-inner">
                                    <table id="myTemp-table">
                                        <caption>Temperature sensor (Celsius/Fahrenheit) Data</caption>
                                        <colgroup>
                                            <col style="width: 77px;">
                                            <col style="width: 77px;">

                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">

                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">

                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">

                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">

                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                            <col style="width: 120px;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th scope="col" class="bg-th">Item</th>
                                            <th scope="col">{{getLanguageText "Hours"}}</th>

                                            <th scope="col"><div class="text-block">22:09</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>

                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>

                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>

                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>

                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                            <th scope="col"><div class="text-block">22:10</div></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row" colspan="2">{{getLanguageText "Top"}}</th>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">{{getLanguageText "Bottom"}}</th>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>

                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                            <td>-40℉</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="2">{{getLanguageText "Main"}}</th>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>

                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>

                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>

                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>

                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                            <td>35℃</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row half">
                <!-- 저장장치 -->
                <div class="island island-storage">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "Storage"}}</h2>
                        <button class="btn btn-edit" onclick="moveHere('/ledSignage/ledMedia')">{{getLanguageText "Manage"}}</button>
                    </div>
                    <div class="item-wrap">
                        <div class="storage-bar">
                            <div class="bar diskUsed" style="width:30%;"></div>
                        </div>
                        <div class="storage-text">
                            <p><span class="ir">Usage</span><span id="usedTxt">0.24GB</span></p>
                            <p class="total"><span class="ir">Total</span><span id="totalTxt">4.03GB</span></p>
                        </div>
                    </div>
                </div>
                <!-- 시스템 정보 -->
                <div class="island island-system">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "System Information"}}</h2>
                        <button class="btn btn-small" id="btn-system-more">{{getLanguageText "More"}}</button>
                    </div>
                    <div class="item-wrap">
                        <!-- 테이블 -->
                        <div class="table table-row">
                            <table class="has-not-header">
                                <caption>{{getLanguageText "Model Name"}}, {{getLanguageText "Serial Number"}}, {{getLanguageText "webOS Version"}} Data</caption>
                                <tbody>
                                <tr>
                                    <th scope="row">{{getLanguageText "Model Name"}}</th>
                                    <td id="modelName">WEBOS3</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{getLanguageText "webOS Version"}}</th>
                                    <td id="webosVer">3.3.0-35 <br>(dreadlocks-deua)</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{getLanguageText "Bootloader Version"}}</th>
                                    <td id="bootVer">4.02.31/4.02.31</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 테이블 -->
                        <div class="table table-row">
                            <table class="has-not-header">
                                <caption>{{getLanguageText "S/W Ver"}}, {{getLanguageText "Bootloader Version"}}, {{getLanguageText "Micom Version"}} Data</caption>
                                <tbody>
                                <tr>
                                    <th scope="row">{{getLanguageText "Serial Number"}}</th>
                                    <td id="serial">SKJY1107</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{getLanguageText "S/W Ver"}}</th>
                                    <td id="swVer">05.63.40</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{getLanguageText "Micom Version"}}</th>
                                    <td id="micomVer">V3.33.5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Go to first use POPUP -->
                    <div class="popup-goto" id='firstUseCard'>
                        <div class="top-wrap">
                            <button class="btn btn-small" id="firstUseCardClose" aria-labelledby="goto-tit-id close-goto">{{getLanguageText "Close"}}</button>
                        </div>
                        <div class="goto-wrap">
                            <h3 class="goto-title" id="goFirstUse"><span>{{getLanguageText "Welcome to LG WebOS"}}</span>{{getLanguageText "Go To First Use"}}</h3>
                        </div>
                    </div>
                    <!-- //Go to first use POPUP -->
                </div>
            </div>

            <div class="row half">
                <!-- LED 유닛 상태 -->
                <div class="island island-led-unit">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "LED Unit Status"}}</h2>
                        <button class="btn btn-small" onclick="moveHere('/ledSignage/ledControl')">{{getLanguageText "More"}}</button>
                    </div>
                    <div class="item-wrap">
                        <div class="label-bar" id="normalUnit">
                            <div>{{getLanguageText "Normal"}}</div>
                        </div>
                        <div class="label-bar red-bar" id="NGUnit">
                            <div>Not OK</div>
                        </div>
                        <div class="label-bar" id="offUnit">
                            <div>{{getLanguageText "Power Off"}}</div>
                        </div>
                    </div>
                </div>
                <!-- LED 특징 -->
                <div class="island island-led">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "LED Features"}}</h2>
                    </div>
                    <div class="item-wrap">
                        <a href="/ledSignage/ledControl#calibration" class="label-bar blue-bar icon-color">
                            <div>
                                <span class="label-title">{{getLanguageText "Calibration"}}</span>
                            </div>
                        </a>
                        <a href="/ledSignage/ledControl#pattern" class="label-bar yellow-bar icon-pattern">
                            <div>
                                <span class="label-title">{{getLanguageText "Test Pattern"}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="island island-log">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "Log Report"}}</h2>
                        <button class="btn btn-detail" id="btn-log-more" onclick="togglePopup('btn-log-more', 'log-popup')">{{getLanguageText "details"}}</button>
                    </div>
                    <div class="item-wrap">
                        <div class="table">
                            <div class="table-wrapper">
                                <div class="table-box">
                                    <table id="incidentTable">
                                        <caption>{{getLanguageText "Log Report"}} List</caption>
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="text-block">{{getLanguageText "Date"}}</div>
                                            </th>
                                            <th scope="col">
                                                <div class="text-block">{{getLanguageText "Sensor"}}</div>
                                            </th>
                                            <th scope="col">
                                                <div class="text-block">{{getLanguageText "Event"}}</div>
                                            </th>
                                            <th scope="col">
                                                <div class="text-block">{{getLanguageText "State"}}</div>
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>2021-05-14 20:18:51</td>
                                            <td>{{getLanguageText "Signal"}}</td>
                                            <td>{{getLanguageText "Input"}}</td>
                                            <td>{{getLanguageText "OK"}}</td>
                                        </tr>
                                        <tr>
                                            <td>2021-05-14 20:18:43</td>
                                            <td>{{getLanguageText "LED Unit"}}</td>
                                            <td>{{getLanguageText "Power"}} S#1</td>
                                            <td>NG</td>
                                        </tr>
                                        <tr>
                                            <td>2021-05-11 13:46:37</td>
                                            <td>{{getLanguageText "Signal"}}</td>
                                            <td>{{getLanguageText "Input"}}</td>
                                            <td>NG</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Data List Bottom - Table -->
                            </div>
                        </div>

                        <!-- Reflow table -->
                        <div class="convert-table-to-list">
                            <div class="table-header">
                                <div class="row">
                                    <div class="thead">{{getLanguageText "Date"}}</div>
                                    <div class="thead">{{getLanguageText "Sensor"}}</div>
                                </div>
                            </div>
                            <ul class="table-body" id="incidentTableReflow">
                                <li class="table-row">
                                    <div class="summary-data">
                                        <div class="row">
                                            <div class="table-cell center">2021-05-14 <br>20:18:51</div>
                                            <div class="table-cell">
                                                <button type="button" role="listbox" class="btn btn-expand"
                                                        aria-expanded="false">{{getLanguageText "Signal"}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-data-box">
                                        <ul class="all-data">
                                            <li>
                                                <span class="field-label">{{getLanguageText "Event"}}</span>
                                                <span class="field-content">{{getLanguageText "Input"}}</span>
                                            </li>
                                            <li>
                                                <span class="field-label">{{getLanguageText "State"}}</span>
                                                <span class="field-content">{{getLanguageText "OK"}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content middle -->
{{> temperature_modal}}
{{> system_modal}}
{{> update_modal}}
{{> log_modal}}
{{> first_use_modal}}

<script>

isDashboard = true;

var log = {{{json log.log}}};
var env = {{{json env}}};
var modalfreeSpace = '{{fileSize freeSpace}}';
var modaltotalSpace = '{{fileSize totalSpace}}';
var tempSensors = [];
var chartPage = 1;
var defaultHistorySize = 20;
{{#each env.curTempSensor}}
tempSensors.push({id: "{{id}}", name: "{{name}}"});
{{/each}}

env.updateFiles = [];
{{#each updateFiles}}
	env.updateFiles.push("{{this}}");
{{/each}}

$('#dashboardRefresh').on('click', function(){
    initInformation();
});

function showSpaceGraph() {
	getDiskSpace(function(ret){
		var totalSpace = ret[0];
		var freeSpace = ret[1];
		var used = ((totalSpace - freeSpace) / totalSpace) * 100;
		$('.diskUsed').css('width', used + '%');
		var usedSpace = ((totalSpace / Math.pow(1024, 3)) - (freeSpace / Math.pow(1024, 3)) ).toFixed(2) ;
		totalSpace = (totalSpace / Math.pow(1024, 3)).toFixed(2);
		$('#usedTxt').html(usedSpace + 'GB');
		$('#totalTxt').html(totalSpace+'GB');
	});
}

var mainCanvas = {
    rectList: [],
    scaleScreen: 0.266,
    resolX: 384,
    resolY: 360,
    viewPort: {
        x: 0,
        y: 0,
        w: 5 * this.resolX,
        h: 3 * this.resolY
    },
    dragging: false,
    img: new Image(),
    canvas: undefined,
    ctx: undefined
}

mainCanvas.canvas =  document.getElementById("canvas");
mainCanvas.canvas.width= 1920 * mainCanvas.scaleScreen;
mainCanvas.canvas.height = 1080 * mainCanvas.scaleScreen;

mainCanvas.ctx = canvas.getContext("2d");
mainCanvas.canvas.addEventListener("mousedown", mouseDown, false);

function mouseDown(e) {
    refreshLed(mainCanvas);
}

$('#canvasRefresh').on('click', function(){
    refreshLed(mainCanvas);
});

mainCanvas.ctx.scale(mainCanvas.scaleScreen, mainCanvas.scaleScreen);

var outer = {
	width: 1920,
	height: 1080
};

function initInformation() {
    // language 때문에
    setCurTimeDash(env.locale);

    getNewLog(function(ret){
        log = ret;
        getLog();
    });

    getLedConfig(function(ret) {
        drawFromConfig(ret, mainCanvas);
        getOverallStatusHandler();
        setInterval(getOverallStatusHandler, 5000);
    });

    var tempCount = 0;
    var tempOK = true;
    env.curTempSensor.forEach(function(sensor) {
        getTemp(sensor.id, function(msg) {
            ++tempCount;
            if (!msg || !msg.returnValue) {
                $('#' + sensor.id + 'Temp').html('-');
                tempOK = false;
            } else {
                readTempType(function(tempType){
                    if ( !tempType.isCelsius ) {
                        $('#' + sensor.id + 'Temp').html( Math.floor( (msg.temperature)*1.8 + 32) + '°F' );
                    }else{
                        $('#' + sensor.id + 'Temp').html(msg.temperature + '°C');
                    }
                });
            }

            if (tempCount === env.curTempSensor.length) {
                setBackground($('#tempCard'), tempOK);
            }
        });
    });

    getHdmiInput(function(ret) {
        var label = {
            HDMI_1: 'HDMI',
            HDMI_2: 'DVI',
            HDMI_3: 'DP'
        };

        var input = label[ret];
        getForegroundAppInfo(function(ret) {
            if (ret.appId === 'com.webos.app.photovideo') {
                input = 'Photo&Video';
            }

            $('#source').html(input);

            isNoSignal(function(msg) {
                var text = 'OK';

                if (!msg || msg.noSignal) {
                    $('#source').append(' - ' + getLanguageText(languageTable, 'No Signal'));
                    return;
                }

                getVideoSize(function(msg) {
                    if (!msg || !msg.returnValue) {
                        $('#source').append(' - ' + getLanguageText(languageTable, 'No Signal'));
                        return;
                    }
                    var text = msg.width + "x" + msg.height;
                    $('#source').append(' - ' + text);
                });
            });
        });

    });

    getBasicInfo(function(msg) {
        $('#modelName').html(msg.modelName);
        $('#serial').html(msg.serialNumber);
        $('#swVer').html(msg.firmwareVersion);
        $('#micomVer').html(msg.micomVersion);
        $('#bootVer').html(msg.bootLoaderVersion);
    });

    getWebOSInfo(function(msg) {
        $('#webosVer').html(msg.core_os_release + " <br>(" + msg.core_os_release_codename + ")</>");
    });

    showSpaceGraph();

    // 그래프는 일단 건너뛰고
    // showTempGraph('tempChart');

    initLed(5, mainCanvas);
    refreshLed(mainCanvas);

    checkUnitStatusHandler();

    $('#firstUseCardClose').on('click', function(){
        $('#firstUseCard').css('display', 'none');
    });

    readTempType(function(tempType){
        isCelsius = tempType.isCelsius;
        if( isCelsius == true ){
            $('#tempUnit').html('(°C)');
        }else{
            $('#tempUnit').html('(°F)');
        }
    });
}

function initModal() {
    firstUseModal.init();

    $('#goFirstUse').on('click', function () {
        firstUseModal.modal();
    });
}

$(document).ready(function() {
    initInformation();
    initModal();

	firstUseDone(function(done){
		if(done)
			$('#firstUseCard').hide();
	});

    if(env.supportLedFilm){
        $('#mainCanvasWrapper').css('width', 512);
        $('#mainCanvasWrapper').css('height', 285);
    }

	Locale.callback = function() {
		$('.autoRefreshTxt').text(Locale.getText("Auto Refresh"));
		$('.runTimeTxt').text(Locale.getText("Run Time"));
		$('.powerupTxt').text(Locale.getText("Since Last Power Up"));
		$('.refreshTxt').text(Locale.getText("Refresh"));
		$('.rebootTxt').text(Locale.getText("Reboot"));
		$('.TemperatureTxt').text(Locale.getText("Temperature"));
		$('.moreTxt').text(Locale.getText("More"));
		$('.storageTxt').text(Locale.getText("Storage"));
		$('.manageTxt').text(Locale.getText("Manage"));
		$('.systemInfoTxt').text(Locale.getText("System Info."));
		$('.modelNameTxt').text(Locale.getText("Model Name"));
		$('.serialNumberTxt').text(Locale.getText("Serial Number"));
		$('.webOSVersionTxt').text(Locale.getText("webOS Version"));
		$('.swVerTxt').text(Locale.getText("S/W Ver."));
		$('.micomVersionTxt').text(Locale.getText("Micom Version"));
		$('.bootloaderVerTxt').text(Locale.getText("Bootloader Version"));
		$('.LEDUnitStatusTxt').text(Locale.getText("LED Unit Status"));
		$('.normalTxt').text(Locale.getText("Normal"));
		$('.NGTxt').text(Locale.getText("NG"));
		$('.powerOffTxt').text(Locale.getText("Power Off"));
		$('.LEDFeaturesTxt').text(Locale.getText("LED Features"));
		$('.calibrationTxt').text(Locale.getText("Calibration"));
		$('.testPatternTxt').text(Locale.getText("Test Pattern"));
		$('.logReportTxt').text(Locale.getText("Log Report"));
		$('.welcomeMessage').text(Locale.getText("Welcome to LG WebOS"));
		$('.goFirstUseTxt').text(Locale.getText("Go To First Use"));
		$('#rebootModalModalOK').text(Locale.getText("OK"));
		$('#rebootModalModalCancel').text(Locale.getText("Cancel"));

		if (env.locale === 'ar-SA') {
			var addChar = "\u202B"
			$('.LEDUnitStatusTxt').text(addChar + Locale.getText("LED Unit Status"));
			$('.LEDFeaturesTxt').text(addChar + Locale.getText("LED Features"));
			$('.welcomeMessage').text(addChar + Locale.getText("Welcome to LG WebOS"));
			$('.runTime').css('direction', 'rtl');
		}

		if( Locale.getText("Go To First Use").length > 18 ){
			$('.goFirstUseTxt').css('font-size', 15);
		}

		if( Locale.getText("Reboot?").length > 15 ){
			$('#rebootModalTitle').html("<marquee>"+Locale.getText("Reboot?")+"</marquee>");
		}

		init();
	};
	Locale.init(env);
	// setCurTimeDash(env.locale);
    // myDropdownBinding("languageSelect");
    // makeKeyDownDropdown("languageSelect");
});

</script>
