<div class="row">
	<div class="col-lg-8">
		<h3>{{getLanguageText "First Use"}}</h3>
		<table class=table>
			<tr>
				<td><h4>{{getLanguageText "Language"}}</h4></td>
				<td><select id=language class=form-control></select></td>
			</tr>
		</table>
		<h4>{{getLanguageText "Input"}}</h4>
		<table id=inputTable class=table style='font-size: 10pt; background-color: white;'>
		</table>
		<h4>{{getLanguageText "Time & Date"}}</h4>
		<table class='table'>
			<tr>
				<td class="first ContinentTxt">{{getLanguageText "Continent"}}</td>
				<td class="second">						 
					<div id='continent'></div>
				</td>
			</tr>
			<tr>
				<td class="first CountryTxt">{{getLanguageText "Country/Territory"}}</td>
				<td class="second">						 
					<div id='country'></div>
				</td>
			</tr>
			<tr>
				<td class="first CityTxt">{{getLanguageText "City"}}</td>
				<td class="second">						 
					<div id='city'></div>
				</td>
			</tr>
			<tr>
				<td><button id=configure>Apply & Configure LED Units</button></td>
			</tr>
		</table>
	</div>
</div>

<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/ledCanvas.js"></script>
<script src="/js/page/common.js"></script>
<script src="/js/page/time.js"></script>
<script>
setupInputList();

$.getJSON('/resources/languageTable.json', function(table) {
	table.languages.forEach(function(lang) {
		var code =lang.languageCode;
		$('#language').append('<option value="' + lang.languageCode + '">' + lang.name + '</option>');
	});

	$('#language').change(function() {
		setMenuLanguage($(this).val());
	});

	getMenuLanguage(function(ret) {
		var langParse = ret.split('-');
		var langCode = langParse[0];
		if (langCode == 'pt') {
			langCode = ret;
		}
		langCode += (langParse.length == 2) ? '' : '-' + langParse[1];

		$('#language').val(langCode);
	});
});

$('#configure').click(function() {
	window.location.href = 'ledConfig'
});

initTime();

var env = {{{json env}}};
Locale.init(env);

</script>
