<style type="text/css">
    #media-add-file-area {
        display: none;
    }
</style>

<!-- Content top -->
<div class="content-top">
    <div class="top-left">
        <h1>Media</h1>
    </div>
</div>
<!-- Content top -->

<!-- Content middle -->
<div class="content-middle">
    <div class="content-middle-box">
        <!-- Content middle right -->
        <div class="content-middle-right control-madia">
            <!-- List Container -->
            <div class="list-elements">
                <div class="list-inner">

                    {{#each files }}
                    <!-- element -->
                    <div class="element">
                        <!-- checkbox -->
                        <div class="checkbox">
        <!--                    <input type="checkbox" name="media-checkbox-type" id="checkbox-1" checked />-->
                            <input class="media-checkBox" type="checkbox" name="media-checkbox-type" id='{{this}}'/>
                            <label for='{{this}}' aria-labelledby='{{this}}'></label><!-- 웹 접근성 수정 1st -->
                        </div>
                        <!-- element items -->
                        <div class="element-top">
                            <!-- 웹 접근성 수정 1st -->
                            <a href="javascript:void(0);" class="list-link" role="button">
                                <div class="image-box">
                                    <img class="img" src="../../assets/images/sample/thumb_sample_sm_01.png" id='{{@index}}' name='{{this}}' alt="thumb">
                                    <span class="icon-scale">view larger</span>
                                </div>
                                <div id="temp-name-01" class="device-state">
                                    {{this}}
                                </div>
                            </a>
                            <!-- //웹 접근성 수정 1st -->
                        </div>
                        <div class="element-bottom">
                            <button type="button" id='down_{{@index}}' name='{{this}}' class="btn btn-export" aria-describedby="temp-name-01" aria-haspopup="true">{{getLanguageText "Export"}}</button><!-- 웹 접근성 수정 1st -->
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
            <!-- List Container -->

            <!-- Button box -->
            <div class="button-container">
                <div id="media-add-file-area" class="file-area">
                    <span id="media-add-fileName"></span>
                    <input class="upload_disable" type="file" id="media-add-file"/>
                </div>
                <button type="button" class="btn btn-delete-media" id="btn-media-delete" disabled>{{getLanguageText "REMOVE"}}</button>
                <button type="button" class="btn btn-delete-export" id="btn-media-export" disabled>{{getLanguageText "Export"}}</button>
                <button type="button" class="btn btn-primary btn-add-media" onclick="mediaAddClick()">{{getLanguageText "Add Media"}}</button>
            </div>
            <!-- Button box -->
        </div>
    </div>
</div>
{{> media_delete_modal }}
{{> thumbnail_modal }}
<!-- Content middle right -->

<script src="/js/design/ledSignage/ledMedia.js"></script>
<script>
var movie = ["avi", "mp4", "wmv", 'divx', 'asf', 'm4v', 'mov',
			'3gp', '3g2', 'mkv', 'ts', 'trp', 'tp', 'mts',
			'mpg', 'mpeg', 'dat', 'vob'];
var image = ["png", "bmp", "jpg", 'jpeg', 'jpe'];
var maxSize = {{maxSize}};
var curDir = '{{curDir}}'
var env = {{{json env}}};
var mediaFiles = [];
var selectedFile = [];

function escapeSpecialChar(str) {
	return str.replace(/&#x([0-9A-Fa-f]{2});/g, function() {
		return String.fromCharCode(parseInt(arguments[1], 16));
	});
}

function showSpaceGraph() {
	var freeSpace = '{{freeSpace}}';
	var totalSpace = '{{totalSpace}}';
	var used = ((totalSpace - freeSpace) / totalSpace) * 100;
	$('.diskUsed').css('width', used + '%');
	$('.freeSpace').css('display', 'inline');

	var usedSpace = ((totalSpace / Math.pow(1024, 3)) - (freeSpace / Math.pow(1024, 3)) ).toFixed(2) ;
	totalSpace = (totalSpace / Math.pow(1024, 3)).toFixed(2);
	$('.sizeTxt').html( usedSpace+'GB / '+totalSpace+'GB' );
}

{{#each files}}
	mediaFiles.push(escapeSpecialChar('{{this}}'));
{{/each}}
socket.on("thumbnail", function(msg) {
	if (!msg.result.returnValue) {
		return;
	}
	var newSrc = "/tmp/tnm/" + encodeURIComponent(msg.fileName + "_.jpg");
	$("#" + msg.id).attr('src', newSrc);
});

$(document).ready(function() {
	Locale.callback = function() {
		$('.uploadTxt').text(Locale.getText("Upload"));
		$('.exportTxt').text(Locale.getText("Export"));
		$('.deleteTxt').text(Locale.getText("Delete"));
		$('.addMediaTxt').text(Locale.getText("Add Media"));
		// init();
	};
	Locale.init(env);
	// showSpaceGraph();
	mediaInit('{{curDir}}');
});
</script>