<link href="/css/led.css" rel="stylesheet">
<h3>Device Control</h3>
<div class="row">
	<div class="col-lg-12">
		<div class='col-lg-8' style='padding: 0pt'>
			<button type='button' class='btn btn-default' id=play title="Play"><i class="fa fa-play"></i></button>
			<button type='button' class='btn btn-default' id=stop title="Pause"><i class="fa fa-stop"></i></button>
			<select>
				<option>ID</option>
				<option>Temperature</option>
				<option>Current</option>
			</select>
			<br>
			<canvas id="canvas" width=960 height=540></canvas>
			
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#status" aria-controls="status" role="tab" data-toggle="tab">Status</a></li>
				<li role="presentation"><a href="#system" aria-controls="status" role="tab" data-toggle="tab">System Info.</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane" id="system">
					<table class="table" style='font-size: 10pt;'>
						<tbody>
							<tr>
								<td class="wide ModelNameTxt">Model Name</td>
								<td class=""><span id='model'></span></td>
								<td class="third"></td>
							</tr>
							<tr>
								<td class="wide SerialNumberTxt">Serial No.</td>
								<td class=""><span id='serial'></span></td>
								<td class="third"></td>
							</tr>
							<tr>
								<td class="wide SoftwareVerTxt">S/W Ver.</td>
								<td class=""><span id='firmware'></span></td>
								<td class="third"></td>
							</tr>
							<tr>
								<td class="wide webOSVerTxt">webOS Ver.</td>
								<td class=""><span id='webos'></span></td>
								<td class="third"></td>
							</tr>
							<tr>
								<td class="wide BootloaderVerTxt">Booloader Ver.</td>
								<td class=""><span id='bootloader'></span></td>
								<td class="third"></td>
							</tr>
							<tr>
								<td class="wide MicomVerTxt">Micom Ver.</td>
								<td class=""><span id='micom'></span></td>
								<td class="third"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane in active" id="status">
					<table class='table' style='font-size: 10pt;'>
						<tbody>
							<tr>
								<td class="PowerTxt">Power</td>
								<td class="" colspan=2><span id=unitPower class=led-status>-</span></td>
							</tr>
							<tr>
								<td class="SignalTxt">Signal</td>
								<td class="" colspan=2><span id=unitSignal class=led-status>-</span></td>
							</tr>
							<tr>
								<td class="UnitTempTxt">Unit Temperature</td>
								<td class="led-status">
									<span id=unitTemp>-</span><span class='tempUnit'>-</span>
									<!--
									<a href="javascript:void(0);" id="toggle-temperature" style="text-decoration:none; color:#6f6f6f;">
										(<span id="celsius">°C</span>/<span id="fahrenheit">°F</span>)
									</a>
									-->
								</td>
								<td class='third'><button id=celButton class=unitButton>°C</button><button id=fahrButton class=unitButton>°F</button></td>
							</tr>
						</tbody>				
					</table>
					<br>
					<table class='table gamut' style='font-size: 10pt;'>
						<tr bgcolor='#f2f2f2'>
							<th class='ModuleTxt'>Module</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
						</tr>
						<tr>
							<td class=TemperatureTxt>Temperature</td>
							<td class=led-status>
								<span id=moduleTemp1>-</span><span class='tempUnit'>-</span>
							</td>
							<td class=led-status>
								<span id=moduleTemp2>-</span><span class='tempUnit'>-</span>
							</td>
							<td class=led-status>
								<span id=moduleTemp3>-</span><span class='tempUnit'>-</span>
							</td>
							<td class=led-status>
								<span id=moduleTemp4>-</span><span class='tempUnit'>-</span>
							</td>
						</tr>
						<tr>
							<td class=CurrentTxt>Current</th>
							<td class=led-status>
								<span id=moduleCurrent1>-</span><span>mA</span>
							</td>
							<td class=led-status>
								<span id=moduleCurrent2>-</span><span>mA</span>
							</td>
							<td class=led-status>
								<span id=moduleCurrent3>-</span><span>mA</span>
							</td>
							<td class=led-status>
								<span id=moduleCurrent4>-</span><span>mA</span>
							</td>
						</tr>
						<!--
						<tr>
							<td>LED Open Detection</th>
							<td><span id=moduleLOD1 class=led-status>-</span></td>
							<td><span id=moduleLOD2 class=led-status>-</span></td>
							<td><span id=moduleLOD3 class=led-status>-</span></td>
							<td><span id=moduleLOD4 class=led-status>-</span></td>
						</tr>
						-->
					</table>
				</div>
			</div>
		</div>
		<div class='col-lg-4' style='padding: 0pt'>
			<div class=panelHeader>
				<center><h4><a id='picture' class=panelTitle>Picture</a> <span id=pictureReturn></span></h4>
			</div>
			<div id='picturePanel' class=panel>
				<table class=table style='font-size: 10pt; background-color: white;'>
					<tr>
						<td>Picture Mode</td>
						<td>
							<select id=pictureMode>
								<option value=vivid>Vivid</option>
								<option value=normal>Standard</option>
								<option value=eco>APS</option>
								<option value=cinema>Cinema</option>
								<option value=sports>Sports</option>
								<option value=game>Game</option>
								<option value=expert1>Expert</option>
							</select>
							<span id=pictureModified></span>
						</td>
					</tr>
					<tr>
						<td>Brightness</td>
						<td><input type=number class=picture id=brightness min=0 max=100></td>
					</tr>
					<tr>
						<td>Contrast</td>
						<td><input type=number class=picture id=contrast min=0 max=100></td>
					</tr>
					<tr>
						<td>Sharpness</td>
						<td><input type=number class=picture id=sharpness min=0 max=50></td>
					</tr>
					<tr>
						<td>Color</td>
						<td><input type=number class=picture id=color min=0 max=100></td>
					</tr>
					<tr>
						<td>Tint</td>
						<td><input type=number class=picture id=tint min=-50 max=49></td>
					</tr>
					<tr>
						<td>Gamma</td>
						<td>
							<input type=radio name=gamma value=low>Low<br>
							<input type=radio name=gamma value=medium checked>Medium<br>
							<input type=radio name=gamma value=high1>High1<br>
							<input type=radio name=gamma value=high2>High2<br>
						</td>
					</tr>
					<tr>
						<td>Color Temperature</td>
						<td id=colorTempCell>
						</td>
					</tr>
				</table>
			</div>
			<div class=panelHeader>
				<center><h4><a id='input' class=panelTitle>Input</a> <span id=inputReturn></span></h4>
			</div>
			<div id='inputPanel' class=panel>
				<!-- TODO add Photo&Video app. -->
				<table id=inputTable class=table style='font-size: 10pt; background-color: white;'>
				</table>
			</div>
			<div class=panelHeader>
				<center><h4><a id='calib' class=panelTitle>Calibration</a></h4>
			</div>
			<div id='calibPanel' class=panel>
				<h5>Gamut</h5>
				<table class=table style='font-size: 10pt;'>
					<tr>
						<td><input id=gamut00 type=number min=-3 max=3 step=0.01></td>
						<td><input id=gamut01 type=number min=-3 max=3 step=0.01></td>
						<td><input id=gamut02 type=number min=-3 max=3 step=0.01></td>
					</tr>
					<tr>
						<td><input id=gamut10 type=number min=-3 max=3 step=0.01 value=0></td>
						<td><input id=gamut11 type=number min=-3 max=3 step=0.01 value=1></td>
						<td><input id=gamut12 type=number min=-3 max=3 step=0.01 value=0></td>
					</tr>
					<tr>
						<td><input id=gamut20 type=number min=-3 max=3 step=0.01 value=0></td>
						<td><input id=gamut21 type=number min=-3 max=3 step=0.01 value=0></td>
						<td><input id=gamut22 type=number min=-3 max=3 step=0.01 value=1></td>
					</tr>
				</table>

				<table class='table' style='font-size: 10pt;'>
					<tr>
						<td>Module</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<td>BC</td>
						<td><input id=moduleBC1 type=number min=0 max=5></td>
						<td><input id=moduleBC2 type=number min=0 max=5></td>
						<td><input id=moduleBC3 type=number min=0 max=5></td>
						<td><input id=moduleBC4 type=number min=0 max=5></td>
					</tr>
					<tr>
						<td>CCR</td>
						<td><input id=ccR1 type=number min=0 max=511></td>
						<td><input id=ccR2 type=number min=0 max=511></td>
						<td><input id=ccR3 type=number min=0 max=511></td>
						<td><input id=ccR4 type=number min=0 max=511></td>
					</tr>
					<tr>
						<td>CCG</td>
						<td><input id=ccG1 type=number min=0 max=511></td>
						<td><input id=ccG2 type=number min=0 max=511></td>
						<td><input id=ccG3 type=number min=0 max=511></td>
						<td><input id=ccG4 type=number min=0 max=511></td>
					</tr>
					<tr>
						<td>CCB</td>
						<td><input id=ccB1 type=number min=0 max=511></td>
						<td><input id=ccB2 type=number min=0 max=511></td>
						<td><input id=ccB3 type=number min=0 max=511></td>
						<td><input id=ccB4 type=number min=0 max=511></td>
					</tr>
				</table>
			</div>

			<div class=panelHeader>
				<center><h4><a id='pattern' class=panelTitle>Test Pattern</a></h4>
			</div>
			<div id='patternPanel' class=panel>
				<table class=table style='font-size: 10pt;'>
					<tr>
						<td>
							<input type=radio name=pattern value=Off checked>Off
						</td>
						<td>
							<input type=radio name=pattern value=roll>Rolling
						</td>
						<td></td>
						<td></td>
					</tr>
						<td>
							<input type=radio name=pattern value=R>Red
						</td>
						<td>
							<input type=radio name=pattern value=G>Green
						</td>
						<td>
							<input type=radio name=pattern value=B>Blue
						</td>
						<td>
							<input type=radio name=pattern value=W>White
						</td>
					</tr>
						<td>
							<input type=radio name=pattern value=Y>Yellow
						</td>
						<td>
							<input type=radio name=pattern value=M>Magenta
						</td>
						<td>
							<input type=radio name=pattern value=C>Cyan
						</td>
						<td></td>
					</tr>
				</table>
			</div>

			<div class=panelHeader>
				<center><h4><a id='media' class=panelTitle>Media</a></h4>
			</div>
			<div id='mediaPanel' class=panel>
				<table class=table style='font-size: 10pt;'>
					<tr>
						<td><input type=radio checked>Internal Media</td>
						<td><input type=radio>USB</td>
					</tr>
					<tr>
						<td><input type=radio name=mediaType value=PHOTO>Photo</td>
						<td><input type=radio name=mediaType value=VIDEO checked>Video</td> 
					</tr>
				</table>
				<center>
				<button id=playMedia class=btn><i class="fa fa-play"></i></button>
				<button id=stopMedia class=btn><i class="fa fa-stop"></i></button>
				<button id=pauseMedia class=btn><i class="fa fa-pause"></i></button>
				<button id=resumeMedia class=btn><i class="fa fa-refresh"></i></button><br>
				<button class=btn><a href='/ledSignage/media'>Upload media files</a></button>
				</center>
			</div>

			<div class=panelHeader>
				<center><h4><a id='power' class=panelTitle>Power</a></h4>
			</div>
			<div id='powerPanel' class=panel>
				<table id=inputTable class=table style='font-size: 10pt; background-color: white;'>
					<tr>
						<td>Screen</td>
						<td>
							<input id='btnScreen' type="checkbox" class="grey">
							<label for="btnScreen">&nbsp;</label>
						</td>
					</tr>
					<tr>
						<td colspan=2><button id=reboot>Reboot</button></td>
					</tr>
				</table>
			</div>

			<div class=panelHeader>
				<center><h4><a id='remocon' class=panelTitle>Virtual Controller</a></h4>
			</div>
			<div id='remoconPanel' class=panel style='padding: 0px 10px 0px 0px;'>
				<div class="panel-4way mobile">
					<img src="/images/remote_bg_small.png" usemap="#map_remote" alt="" />
					<map name="map_remote">
						<area class='4way-imagemap' shape="poly" coords="2,1,117,1,79,38,58,31,39,35" href="#" onmousedown="showRemote(1)">
						<area class='4way-imagemap' shape="poly" coords="82,39,117,1,117,117,80,80,85,60" href="#" onmousedown="showRemote(2)">
						<area class='4way-imagemap' shape="poly" coords="39,79,60,86,79,79,116,116,1,117" href="#"onmousedown="showRemote(3)">
						<area class='4way-imagemap' shape="poly" coords="1,2,35,38,31,61,38,78,1,117" href="#" onmousedown="showRemote(4)">
						<area class='4way-imagemap' shape="circle" coords="59,59,28" href="#" onmousedown="showRemote(5)">
					</map>
				</div>
				<div class="panel-hotkey mobile">
					<button id="apply" class="img-button-mobile remo small hotkey" value="menu">Setting</button>
					<button id="apply" class="img-button-mobile remo small hotkey" value="home">Home</button>
					<button id="apply" class="img-button-mobile remo small hotkey" value="inputKey">Input</button>
					<button id="apply" class="img-button-mobile remo small hotkey" value="exit">Exit</button>
					<button id="apply" class="img-button-mobile remo small hotkey" value="back">Back</button>
					<button id="apply" class="img-button-mobile remo small hotkey" value="signage">Installation Menu</button>
				</div>
			</div>

		</div>
	</div>
</div>

<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/page/ledCanvas.js"></script>
<script src="/js/page/common.js"></script>
<script>
var rectList = [];
var scaleScreen = 0.38;
var resolX = 384;
var resolY = 360;
var viewPort = {
	x: 0,
	y: 0,
	w: 5 * resolX,
	h: 3 * resolY
};
var dragging = false;

var img = new Image();

var canvas = document.getElementById("canvas");
canvas.width= 1920 * scaleScreen;
canvas.height = 1080 * scaleScreen;

var ctx = canvas.getContext("2d");

canvas.addEventListener("mousedown", mouseDown, false);
/*
document.addEventListener("keydown", keydown, false);
document.addEventListener("mouseup", mouseUp, false);
document.addEventListener("mousemove", mouseMove, false);
$('body').on('contextmenu', 'canvas', function(e){ return false; });
*/

ctx.scale(scaleScreen, scaleScreen);

var outer = {
	width: 1920,
	height: 1080
};

function mouseDown(e) {	
	if ($('#play').prop('disabled') == false) {
		refreshLed();
	}
	var pos = getMousePos(e);
	var rects = getSelectedRect(pos)
	
	if (rects.length <= 0) {
		return;
	}

	selected = rects[0];

	if (!selected) {
		return;
	}
	curUnit = selected;

	sensorTimerHandler();

	loadGamut(curUnit.id);
	loadBC_CC(curUnit.id);

	draw();
}

function getPictureModeVal() {
	getPictureMode(function(msg) {
		var modified = msg.pictureSettingModified;
		var mode = msg.pictureMode;
		$('#pictureMode').val(mode);
		$('#pictureModified').html(modified[mode] ? 'User' : '');
		getPictureVal();
	});
}

function getPictureVal() {
	getPictureDBVal(['gamma', 'brightness', 'contrast', 'sharpness', 'color', 'tint'], function(msg) {
		$('#brightness').val(msg.brightness);
		$('#contrast').val(msg.contrast);
		$('#sharpness').val(msg.sharpness);
		$('#color').val(msg.color);
		$('#tint').val(msg.tint);
		$("input:radio[name=gamma][value='" + msg.gamma + "']").prop("checked", true);
	});
};

var colorTemp;

$('#pictureMode').change(function() {
	setPictureMode($(this).val());
	setTimeout(getPictureVal, 100);
});

$('input.picture').change(function() {
	var setting = {};
	setting[$(this).attr('id')] = $(this).val();
	setPictureDBVal(setting, "picture");
});

$('[name=gamma]').click(function() {
	setPictureDBVal({
		gamma: $(this).val()
	}, 'picture');
});

$('.panelTitle').click(function() {
	$('.panel').hide();
	$('#' + $(this).attr('id') + 'Panel').show();

	if ($(this).attr('id') == 'picture') {
		getPictureModeVal();
	}
});

function showRemote(index){
	var buttonID = "p_"+index;
	var direction = ["up", "right", "down", "left", "ok"];

	$("#"+buttonID).css("visibility", "visible");

	setTimeout(function(){
	  $("#"+buttonID).css("visibility", "hidden");
	}, 100);

	$('#play').click();
	sendRemocon(direction[index-1]);
}


$("button.remo").click(function() {
	$('#play').click();
	sendRemocon($(this).val());
});

//TODO: paint test pattern color in ViewPort 
var patternIdx = 0;
var patternTimer = undefined;

$('[name=pattern]').click(function() {
	var value = $(this).val();

	if (value == 'roll') {
		if (patternTimer) {
			return;
		}
		patternIdx = 0;
		rollingPattern();
		patternTimer = setInterval(rollingPattern, 1000);
		return;
	}

	clearInterval(patternTimer);
	patternTimer = undefined;
	var on = (value != 'Off');
	var R = (value == 'R' || value == 'Y' || value == 'M' || value == 'W') ? 1023 : 0;
	var G = (value == 'G' || value == 'Y' || value == 'C' || value == 'W') ? 1023 : 0;
	var B = (value == 'B' || value == 'C' || value == 'M' || value == 'W') ? 1023 : 0;
	showPattern(0, on, R, G, B);
});

function rollingPattern() {
	var color = patternIdx + 1;
	var r = color & 0x01 ? 1023 : 0;
	var g = color & 0x02 ? 1023 : 0;
	var b = color & 0x04 ? 1023 : 0;

	showPattern(0, true, r, g, b);

	patternIdx = (patternIdx + 1) % 7;
}

$('#playMedia').click(function() {
	playMedia('/', $('[name=mediaType]:checked').val());
});
$('#stopMedia').click(function() {
	playMedia('/', 'STOP');
});
$('#pauseMedia').click(function() {
	playMedia('/', 'PAUSE');
});
$('#resumeMedia').click(function() {
	playMedia('/', 'RESUME');
});

$('#calib').click(function() {
	loadGamut(curUnit.id);
	loadBC_CC(curUnit.id);
});

function secToTime(sec) {
	if (sec == 0) {
		return "-"
	}
	var hour = Math.floor(sec / 60 / 60);
	var min = Math.floor(sec / 60) % 60;
	sec = sec % 60;

	return "" + hour + "H " + min + "M " + sec + "S";
}

function addIncident(inc) {
	currentTime = currentTime.replace(" ", "T");
	var startTime = inc.startTime.replace(" ", "T");

	var isNG = inc.state == 'NG';
	var duration = inc.duration;

	if (duration == 0 && inc.endTime.length > 0 && inc.startTime.length > 0) {
		duration = (new Date(currentTime)).getTime() - (new Date(startTime)).getTime();
		duration = Math.round(duration / 1000);
	}

	if (duration < 0) {
		duration = 0;
	}

	$('#incidentTable > tbody:last').prepend(
		'<tr>'
		//+ '<td>' + inc.category + '</td>'
		+ '<td>' + inc.category + "(" + inc.sensor + ')</td>'
		+ '<td>' + inc.event + '</td>'
		+ '<td>' + (isNG ? "<font color=red>" : "") + inc.state + '</td>'
		+ '<td>' + inc.startTime + '</td>'
		+ '<td>' + inc.endTime + '</td>'
		+ '<td>' + secToTime(duration) + '</td></tr>');
}

function initTempUnit() {
	function unitButtonHandler() {
		if(!isCelsius){
			$('.tempUnit').html('°F');
			$('#fahrButton').addClass('sel');
			$('#celButton').removeClass('sel');
		}else{
			$('.tempUnit').html('°C');
			$('#celButton').addClass('sel');
			$('#fahrButton').removeClass('sel');
		}
		writeTempType(isCelsius);
		sensorTimerHandler();
	}
	$('#celButton').click(function(){
		isCelsius = true;
		unitButtonHandler();
	});

	$('#fahrButton').click(function(){
		isCelsius = false;
		unitButtonHandler();
	});

	readTempType(function(tempType){
		if (tempType.isCelsius) {
			$('.tempUnit').html('°C');
			$('#celButton').addClass('sel');
			$('#fahrButton').removeClass('sel');
		}else{
			$('.tempUnit').html('°F');
			$('#fahrButton').addClass('sel');
			$('#celButton').removeClass('sel');
		}
		isCelsius = tempType.isCelsius;
	});
}

function convertTemp(temp) {
	if (!isCelsius) {
		return (Number(temp) * 1.8 + 32).toFixed(1);
	} 
	return temp
}

function sensorTimerHandler() {
	getLedTemperature(curUnit.id * 2, function(msg) {
		if (!msg || !msg.temperature) {
			$('#unitTemp').html('-');
			$('[id^=moduleTemp]').html('-');
			return;
		}

		$('#unitTemp').html(convertTemp(msg.temperature[0])).next().show().parent()
			.toggleClass('ng', !msg.isOk[0]);

		if (msg.temperature[0] <= -128) {
			$('#unitTemp').html('NG').next().hide();
		}

		for (var i = 1; i != 5; ++i) {
			$('#moduleTemp' + i).html(convertTemp(msg.temperature[i])).next().show().parent()
				.toggleClass('ng', !msg.isOk[i]);

			if (msg.temperature[i] <= -128) {
				$('#moduleTemp' + i).html('NG').next().hide();
			}
		}
	});
	
	getLedCurrent(curUnit.id * 2, function(msg) {
		if (!msg || !msg.current) {
			$('[id^=moduleCurrent]').html('-');
			return;
		}

		for (var i = 0; i != 4; ++i) {
			$('#moduleCurrent' + (i + 1)).html(msg.current[i].toFixed(2)).next().show().parent()
				.toggleClass('ng', !msg.isOk[i]);

			if (msg.current[i] <= -128) {
				$('#moduleCurrent' + (i + 1)).html('NG').next().hide();
			}
		}
	});

	getLedSignalStatus(curUnit.id * 2, function(msg) {
		$('#unitSignal').html(msg.isSignalOk ? 'OK' : 'NG')
			.toggleClass('ok', msg.isSignalOk)
			.toggleClass('ng', !msg.isSignalOk);
	});

	getLedPowerStatus(curUnit.id * 2, function(msg) {
		$('#unitPower').html(msg.isPowerOk ? 'OK' : 'NG')
			.toggleClass('ok', msg.isPowerOk)
			.toggleClass('ng', !msg.isPowerOk);
	});

	/*
	getLedLOD(curUnit.id * 2, function(msg) {
		if (!msg || !msg.isOk) {
			$('[id^=moduleLOD]').html('-');
			return;
		}

		for (var i = 0; i != 4; ++i) {
			$('#moduleLOD' + (i + 1)).html(msg.isOk[i] ? "OK" : "NG")
				.toggleClass('ok', msg.isOk[i])
				.toggleClass('ng', !msg.isOk[i]);
		}
	});
	*/
}

$(document).ready(function(){

var env = {{{json env}}};

initLed(1.5);

initTempUnit();
setupInputList();
getPictureModeVal();

getSystemSettings("commercial", ["ledColorTemp"], function(ret) {
	colorTemp = ret.ledColorTemp;
	var curTemp = colorTemp.curTemp;
	if (curTemp == undefined) {
		curTemp = 9300;
	}
	for (var key in colorTemp) {
		if (Number(key)) {
			$('#colorTempCell').append('<input type=radio name=colorTemp value="' + key + '" ' + (key == curTemp ? 'checked' : '') + '>' + key + 'K<br>');
		}
	}
	$('[name=colorTemp]').click(function() {
		var temp = $(this).val();
		overlayControl(true, 'Color Temperature ' + temp + 'K', '.main-body');
		ccVal = colorTemp[temp];

		setBC_CC(0, -1, 4, ccVal.R, ccVal.G, ccVal.B);

		colorTemp.curTemp = temp;
		setSystemSettings("commercial", {
			ledColorTemp: colorTemp
		});

		setTimeout(function() {
			saveCalibrationData(0, -1);
			setTimeout(function() {
				overlayControl(false);
			}, 2000);
		}, 1000);
	});
});

getLedConfig(function(ret) {
	drawFromConfig(ret);
	sensorTimerHandler();
	setInterval(sensorTimerHandler, 5000);
	getOverallStatusHandler();
	setInterval(getOverallStatusHandler, 5000);
});

getBasicInfo(function(msg) {
	$('#firmware').html(msg.firmwareVersion);
	$('#micom').html(msg.micomVersion);
	$('#serial').html(msg.serialNumber);
	$('#bootloader').html(msg.bootLoaderVersion);
	$('#model').html(msg.modelName);
});

getWebOSInfo(function(msg) {
	$('#webos').html(msg.core_os_release + " (" + msg.core_os_release_codename + ")");
});

$('.panel').hide();
$('#picturePanel').show();

});
</script>
