<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<!--<script src="/js/page/signage_pin.js"></script>-->
<!--<link rel="stylesheet" href="/css/signage_style.css">-->
<!--<script src="/js/page/ledSignage365Care.js"></script>-->
<script src="/js/design/ledSignage/ledConnectedCare.js"></script>


<!-- Content top -->
<div class="content-top">
    <div class="top-left">
        <h2>LG ConnectedCare</h2>
    </div>
</div>
<!-- Content top -->
<!-- Content middle -->
<div class="content-middle">
    <div class="content-middle-box">
        <!-- Content middle right -->
        <div class="content-middle-right control-connected">
            <!-- Detail Container -->
            <div id="365CareNotInstall" class="control-container">
                <div class="list-box-title">
                    <h3 class="connected-service-box-title">{{getLanguageText "Enable or disable {apptitle} service on this device"}}</h3>
                </div>

                <div class="list-box">
                    <div class="title-box">
                        <h4 class="section-title">{{getLanguageText "LG ConnectedCare App"}}</h4>
                    </div>
                    <div class="field field-flex field-available">
                        <div id="title-available" class="field-label">{{getLanguageText "Available to Installation"}}</div>
                        <div class="field-form">
                            <div class="btn-group">
                                <button type="button" class="btn" id="btn-install" aria-labelledby="title-available btn-install">{{getLanguageText "Install"}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detail Container -->
            <div id="365CareInstalled" style="display: none;" class="control-container">
                <div class="list-box-title">
                    <h3 class="connected-service-box-title">{{getLanguageText "Enable or disable {apptitle} service on this device"}}</h3>
                </div>

                <!-- LG ConnectedCare 앱 -->
                <div class="list-box app-info-box">
                    <div class="title-box">
                        <h4 class="section-title field-flex">
                            <label for="appEnable" class="title">{{getLanguageText "LG ConnectedCare App"}}</label>
                            <div class="switch">
                                <span class="switch-controller"></span>
                                <!-- 활성화 시 aria-checked="true" -->
                                <input type="checkbox" id="appEnable" name="appEnable" role="switch" aria-checked="false">
                                <span class="slider"></span>
                            </div>
                        </h4>
                    </div>

                    <div class="field field-type-input field-app-id field-flex">
                        <label for="app-id" class="field-label">{{getLanguageText "Account"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                <input type="text" class="readonly" readonly id="app-id" name="app-id" value="Num : 099916 / Name : qetest1" />
                                <button type="button" class="btn-input-remove hide">input delete</button>
                            </div>
                        </div>
                    </div>

                    <div class="field field-type-input field-app-version field-flex">
                        <label for="appVersion" id="appVersion-label" class="field-label">{{getLanguageText "Ver"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                <input type="text" class="readonly" readonly id="appVersion" name="appVersion" value="Ver.1.0.0" />
                                <button type="button" class="btn-input-remove hide">input delete</button>
                            </div>
                            <div class="field-button">
                                <button type="button" class="btn btn-app-updata" id="scUpdateCheck" aria-labelledby="app-version-label app-version-btn">{{getLanguageText "Check for Update"}}</button>
                                <button type="button" class="btn btn-app-updata" id="scUpdate" aria-labelledby="app-version-label app-version-btn" style="display: none;">{{getLanguageText "Check for Update"}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="field field-type-input field-server-state field-flex">
                        <label for="serverStatus" class="field-label">{{getLanguageText "Server Status"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                <input type="text" class="readonly" readonly id="serverStatus" name="serverStatus" value="{{getLanguageText 'Connected'}}" />
                                <button type="button" class="btn-input-remove hide">input delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 초기화 -->
                <div class="list-box app-reset-box">
                    <div class="title-box">
                        <h4 class="section-title field-flex">
                            <div id="reset-label" class="title">{{getLanguageText "Reset"}}</div>
                            <div class="field-button">
                                <button type="button" id="connected-reset" class="btn btn-app-reset" aria-labelledby="reset-label">{{getLanguageText "Reset"}}</button>
                            </div>
                        </h4>
                    </div>
                </div>

            </div>
            <!-- Detail Container -->


        </div>
        <!-- Content middle right -->
    </div>
</div>
<!-- Content middle -->
{{> connected_account_modal }}
{{> connected_account_confirm_modal }}
{{> connected_network_error_modal }}
{{> connected_timezone_error_modal }}
{{> connected_reset_modal }}
{{> connected_install_progress_modal }}
{{> connected_install_success_modal }}
{{> connected_install_failed_modal }}
{{> connected_update_progress_modal }}
{{> connected_update_success_modal }}
{{> connected_update_failed_modal }}


<script>
//var appVersion='';
//var accountName='';
//var currentStatus = '';
var env = {{{json env}}};

    $(document).ready(function(){
        // getContents365Care();
        // getSystemSetting365Care();
        // change365Enable();
        // getModalonNetwork();

        /*Locale.callback = function() {
            $('.scSubtitleTxt').text(Locale.getText('Enable or disable {apptitle} service on this device').replace('{apptitle}', Locale.getText('LG ConnectedCare app')));
            $('.scAppTitleTxt').text(Locale.getText('LG ConnectedCare App'));
            $('.scAvailableTxt').text(Locale.getText('Available to Installation'));
            $('.scInstallTxt').text(Locale.getText('Install'));
            $('.scAccountTxt').text(Locale.getText('Account'));
            $('.scNumberTxt').text(Locale.getText('Number'));
            $('.scAccNameTxt').text(Locale.getText('Name'));
            $('.scVersionTxt').text(Locale.getText('Version'));
            $('.scCheckUpdateTxt').text(Locale.getText('Check for Update'));
            $('.scUpdateTxt').text(Locale.getText('Update'));
            $('.scServerStatusTxt').text(Locale.getText('Server Status'));
            $('.scResetTxt').text(Locale.getText('Reset'));

            // init();
        };*/
        Locale.init(env);
    });
initInputPin();
</script>
