<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/locale.js"></script>
<!--<script src="/js/page/ledSiserver.js"></script>-->
<script src="/js/design/ledSignage/ledSiserver.js"></script>

<!-- Content top -->
<div class="content-top">
    <div class="top-left">
        <h1>SI Server</h1>

        <!-- BreadCrumb -->
        <div class="breadcrumb"></div>
        <!-- BreadCrumb -->
    </div>
</div>
<!-- Content top -->

<!-- Content middle -->
<div class="content-middle">
    <div class="content-middle-box">

        <!-- Content middle right -->
        <div class="content-middle-right">
            <!-- Detail Container -->
            <div class="control-container">

                <form>
                    <fieldset>
                        <legend>SI Server</legend>

                        <div class="list-box">
                            <div class="field field-type-input field-flex">
                                <label for="siServerIPAddr" class="field-label">{{getLanguageText "SI Server IP"}}</label>
                                <div class="field-form">
                                    <div class="input-box">
                                        <input type="text" id="siServerIPAddr" name="siServerIPAddr" value="0.0.0.0" />
                                    </div>
                                </div>
                            </div>

                            <div class="field field-type-input field-flex">
                                <label for="pnum" class="field-label">{{getLanguageText "Port Number"}} (0~65535)</label>
                                <div class="field-form">
                                    <div class="input-box">
                                        <input type="text" id="pnum" name="pnum" maxlength="5" min="0" max="65535"
                                               step="1" value="0" pattern="[0-9]{5}" />
                                    </div>
                                </div>
                            </div>


                            <div class="field field-flex field-type-switch">
                                <div class="field-label">{{getLanguageText "Secure Connection"}}</div>
                                <div class="field-form">
                                    <div class="switch">
                                        <label for="scEnable" class="switch-controller" >{{getLanguageText "Secure Connection"}}</label>
                                        <input type="checkbox" id="scEnable" name="scEnable" role="switch" aria-checked="false">
                                        <span class="slider"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="field field-flex field-type-radio">
                                <div class="field-label">{{getLanguageText "Application Launch Mode"}}</div>
                                <div class="field-form">
                                    <div class="radio">
                                        <input type="radio" name="appLaunchModeRadio" id="none" checked value="none">
                                        <label for="none">{{getLanguageText "None"}}</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="appLaunchModeRadio" id="local" value="local">
                                        <label for="local">{{getLanguageText "Local"}}</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="appLaunchModeRadio" id="remote" value="remote">
                                        <label for="remote">{{getLanguageText "REMOTE"}}</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="appLaunchModeRadio" id="USB" value="usb">
                                        <label for="USB">USB</label>
                                    </div>
                                </div>
                            </div>

                            <!-- 앱 실행 모드 : 로컬 상태 -->
                            <div class="field field-flex" id="local-upgrade-field" style="display: none">
                                <div class="field-label">{{getLanguageText "Local Application Upgrade"}}</div>
                                <div class="field-form">
                                    <div class="field-button">
                                        <button type="button" class="btn btn-upgrades" id="localUpgradeUSB"  to="local" from="usb">USB</button>
                                        <button type="button" class="btn btn-upgrades" id="localUpgradeRemote" to="local" from="remote">{{getLanguageText "REMOTE"}}</button>
                                    </div>
                                </div>
                            </div>

                            <div class="field field-flex field-type-radio" id="app-time-field" style="display: none">
                                <div class="field-label">{{getLanguageText "Application Type"}}</div>
                                <div class="field-form">
                                    <div class="radio">
                                        <input type="radio" name="appTypeRadio" id="zip">
                                        <label for="zip">ZIP</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="appTypeRadio" id="ipk" checked="">
                                        <label for="ipk">IPK</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 앱 실행 모드 : 로컬 상태 -->

                            <!-- 앱 실행 모드 : USB 상태 -->
                            <div class="field field-flex" id="usb-field" style="display: none">
                                <div class="field-label"> USB Application <br>Upgrade</div>
                                <div class="field-form">
                                    <div class="field-button">
                                        <button type="button" class="btn btn-upgrades" id="usbUpgradeRemote" to="usb" from="remote">{{getLanguageText "REMOTE"}}</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 앱 실행 모드 : USB 상태 -->

                            <div class="field field-flex field-type-switch field-type-combo">
                                <label for="fqdnAddr" class="field-label">{{getLanguageText "Fully Qualified Domain Name"}}</label>
                                <div class="field-form">
                                    <div class="switch">
                                        <label for="fqdnEnable" class="switch-controller" >Active</label>
                                        <input type="checkbox" id="fqdnEnable" name="fqdnEnable" role="switch" aria-checked="false">
                                        <span class="slider"></span>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" id="fqdnAddr" name="fqdnAddr" value="http" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="field field-flex field-type-switch">
                                <div class="field-label">{{getLanguageText "Auto Set"}}</div>
                                <div class="field-form">
                                    <div class="switch">
                                        <label for="asEnable" class="switch-controller" >{{getLanguageText "Auto Set"}}</label>
                                        <input type="checkbox" id="asEnable" name="asEnable" role="switch" aria-checked="false"
                                               checked>
                                        <span class="slider"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="field field-flex field-type-switch field-type-combo">
                                <div class="field-label">{{getLanguageText "Proxy"}}</div>
                                <div class="field-form">
                                    <div class="switch">
                                        <label for="proxyEnable" class="switch-controller" >{{getLanguageText "Proxy"}}</label>
                                        <input type="checkbox" id="proxyEnable" name="proxyEnable" role="switch" aria-checked="false">
                                        <span class="slider"></span>
                                    </div>
                                    <div class="field-button">
                                        <button type="button" class="btn disabled" id="proxySetting" disabled>{{getLanguageText "SETTING"}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>



            </div>
            <!-- Detail Container -->
            <!-- Button box -->
            <div class="button-container">
                <button type="button" class="btn btn-primary btn-submit" id="btnReset">{{getLanguageText "Reset"}}</button>
            </div>
            <!-- Button box -->
        </div>
        <!-- Content middle right -->

    </div>
</div>
<!-- Content middle -->
{{> proxy_modal }}

<script>
var env = {{{json env}}};
    $(document).ready(function(){
        Locale.callback = function() {
            $('.scSubtitleTxt').text(Locale.getText('Server'));
            $('.serverIpTxt').text(Locale.getText('SI Server IP'));
            $('.pnumTxt').text(Locale.getText('Port Number'));
            $('.scTxt').text(Locale.getText('Secure Connection'));
            $('.fqdnTxt').text(Locale.getText('Fully Qualified Domain Name'));
            $('.appLaunchModeTxt').text(Locale.getText('Application Launch Mode'));
            $('.appTypeTxt').text(Locale.getText('Application Type'));
            $('.localUpgradeTxt').text(Locale.getText('Local Application Upgrade'));
            $('.usbUpgradeTxt').text(Locale.getText('USB Application Upgrade'));
            $('.autosetTxt').text(Locale.getText('Auto Set'));
            $('.proxyTxt').text(Locale.getText('Proxy'));
            $('.proxySetTxt').text(Locale.getText('SETTING'));
            $('.resetTxt').text(Locale.getText('RESET'));
            $('.noneTxt').text(Locale.getText('None'));
            $('.localTxt').text(Locale.getText('Local'));
            $('.remoteTxt').text(Locale.getText('Remote'));
            $('.remoteBtnTxt').text(Locale.getText('REMOTE'));
            // init();
        };
        Locale.init(env);
        // siServerInit();
        /*if(env.locale === "ar-SA"){
            $(".second span").removeAttr("style");
            $(".layoutBtn").removeClass("layoutBtn");
            $("input[type='radio']").removeAttr("dir");
        }*/
    });
</script>
