.redslider input[type=range]::-webkit-slider-thumb {
    border: 4px solid #a50034;
    cursor: pointer;
}

.greyslider input[type=range]::-webkit-slider-thumb {
    border: 4px solid #f1f1f1;
    cursor: not-allowed;
}

.redslider input[type=range]::-ms-thumb {
    border: 4px solid #a50034;
    cursor: pointer;
}

.greyslider input[type=range]::-ms-thumb {
    border: 4px solid #f1f1f1;
    cursor: not-allowed;
}

.item-wrap {
    min-height: 115px;
}

.side-bar .side-top > .side-logo {
    margin-top: 34px;
}

/* line 145, scss/elements/dropdown.scss */
.dropdown .dropdown-menu .lists .list a:hover, a:focus {
    background-color: #efefef;
    text-decoration: underline;
}

/* line 149, scss/elements/dropdown.scss */
.dropdown .dropdown-menu .lists .list a:active, a.activated {
    background-color: #cccccc;
    text-decoration: none;
    border: 2px solid #a50034;
}

.control-input-manual.sw-update-table .table-wrapper table tbody {
    height: auto;
}

#temp-title span {
    cursor: pointer;
}


@media screen and (max-width:991px) {
    .item-wrap {
        height: auto;
    }
}

.btn-lnb #toggle-btn {
    display: none !important;
}