.statusUnit {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
}

.redslider input[type=range]::-webkit-slider-thumb {
    border: 4px solid #a50034;
    cursor: pointer;
}

.greyslider input[type=range]::-webkit-slider-thumb {
    border: 4px solid #f1f1f1;
    cursor: not-allowed;
}

.redslider input[type=range]::-ms-thumb {
    border: 4px solid #a50034;
    cursor: pointer;
}

.greyslider input[type=range]::-ms-thumb {
    border: 4px solid #f1f1f1;
    cursor: not-allowed;
}